<form class="MakeRelative">
  <div class="clearfix content">
    <div class="row" [ngStyle]="{'display' : displayTitle ? 'block': 'none'}">
      <!-- <div class="col-sm-12 col-md-12 feeChargesheader">
                <h4 class="main-header">
                        {{ 'Fees&ChargesDetails.FormTitle' | translate }}
                        <span class="fa fa-times" (click)="onClick(0)"></span>
                </h4> -->
      <div class="col-sm-5 col-md-5">
      </div>
      <div class="col-sm-7 col-md-7 text-right xt-center" *ngIf="!formOnLoadError">
      </div>
    </div>
    <div class="alert alert-danger" *ngIf="formOnLoadError">{{formOnLoadErrorMsg}}</div>
    <div *ngIf="!formOnLoadError">
      <div class="clearfix bi-reponsive" [ngClass]="{'display-border' : displayBorder}">
        <div class="form-group pb10">
          <div class="col-12  col-sm-3 col-md-3 res-pr-hide" [hidden]="ChargeDescription.isHidden()">
            <div class="clr-brown fieldLegend">
              <label class="clr-brown" [ngClass]="{'mandatory': ChargeDescription.mandatory}">
                {{ 'Fees&ChargesDetails.ChargeDescription' | translate}}
              </label>
            </div>
            <app-combo-box #ChargeDescription category="2" fieldID="ChargeDescription" [formCode]="formCode"
              placeholder="Select" (blur)="genericOnBlur('ChargeDescription', $event)"
              domainObjectUrl="/MSTGENERALPARAM/{VALUE1}" doServerUrl="/masters" domainObjectCode="MSTGENERALPARAM">
            </app-combo-box>
          </div>
          <div class="col-12  col-sm-3 col-md-3 res-pr-hide" [hidden]="ChargeType.isHidden()">
            <div class="clr-brown fieldLegend">
              <label class="clr-brown" [ngClass]="{'mandatory': ChargeType.mandatory}">
                {{ 'Fees&ChargesDetails.ChargeType' | translate}}
              </label>
            </div>
            <app-combo-box #ChargeType category="2" fieldID="ChargeType" [formCode]="formCode" placeholder="Select"
              (blur)="genericOnBlur('ChargeType', $event)" placeholder="Select"
              domainObjectUrl="/MSTGENERALPARAM/{VALUE1}" doServerUrl="/masters" domainObjectCode="MSTGENERALPARAM">
            </app-combo-box>
          </div>
          <div class="col-12  col-sm-3 col-md-3 res-pr-hide" [hidden]="PartyType.isHidden()">
            <div class="clr-brown fieldLegend">
              <label class="clr-brown" [ngClass]="{'mandatory': PartyType.mandatory}">
                {{ 'Fees&ChargesDetails.PartyType' | translate}}
              </label>
            </div>
            <app-combo-box #PartyType category="2" fieldID="PartyType" [formCode]="formCode"
              (blur)="genericOnBlur('PartyType', $event)" placeholder="Select"
              domainObjectUrl="/MSTGENERALPARAM/{VALUE1}" doServerUrl="/masters" domainObjectCode="MSTGENERALPARAM">
            </app-combo-box>
          </div>
          <div class="col-12  col-sm-3 col-md-3 res-pr-hide" [hidden]="PartyName.isHidden()">
            <div class="clr-brown fieldLegend">
              <label class="clr-brown" [ngClass]="{'mandatory': PartyName.mandatory}">
                {{ 'Fees&ChargesDetails.PartyName' | translate}}
              </label>
            </div>
            <app-combo-box #PartyName category="2" fieldID="PartyName" [formCode]="formCode"
              (blur)="genericOnBlur('PartyName', $event)" placeholder="Select"
              domainObjectUrl="/MSTGENERALPARAM/{VALUE1}" doServerUrl="/masters" domainObjectCode="MSTGENERALPARAM">
            </app-combo-box>
          </div>

          <div class="col-12  col-sm-3 col-md-3 res-pr-hide" [hidden]="ChargeBasis.isHidden()">
            <div class="clr-brown fieldLegend">
              <label class="clr-brown" [ngClass]="{'mandatory': ChargeBasis.mandatory}">
                {{ 'Fees&ChargesDetails.ChargeBasis' | translate}}
              </label>
            </div>
            <rlo-ui-radio #ChargeBasis fieldID="ChargeBasis" [formCode]="formCode" placeholder="Select"
              domainObjectUrl="/MSTGENERALPARAM/{VALUE1}" doServerUrl="/masters" domainObjectCode="MSTGENERALPARAM"
              (blur)="genericOnBlur('ChargeBasis', $event)" (change)="ChargeBasis_change('ChargeBasis', $event)">
            </rlo-ui-radio>
          </div>
          <div style="min-height: 0px;height: 15px;" class="col-12 col-sm-12 col-md-12"></div>

          <div class="col-12  col-sm-3 col-md-3 res-pr-hide" [hidden]="ChargeRate.isHidden()">
            <div class="clr-brown fieldLegend">
              <label class="clr-brown">
                {{ 'Fees&ChargesDetails.ChargeRate' | translate}}
              </label>
            </div>
            <app-text-box #ChargeRate fieldID="ChargeRate" [formCode]="formCode"
              (blur)="genericOnBlur('ChargeRate', $event)"></app-text-box>
          </div>
          <!-- <div class="col-12  col-sm-3 col-md-3 res-pr-hide" [hidden]="ChargeAmount.isHidden()">
                <div class="clr-brown fieldLegend">
                <label class="clr-brown">
                {{ 'Fees&ChargesDetails.ChargeAmount' | translate}}
                </label>
                </div>
                <app-amount #ChargeAmount fieldID="ChargeAmount" [formCode]="formCode" (blur)="genericOnBlur('ChargeAmount', $event)"></app-amount>
                </div> -->
          <div class="col-12  col-sm-3 col-md-3 res-pr-hide" [hidden]="Currency.isHidden()">
            <div class="clr-brown fieldLegend">
              <label class="clr-brown">
                {{ 'Fees&ChargesDetails.Currency' | translate}}</label>
            </div>
            <app-combo-box #Currency category="2" fieldID="Currency" [formCode]="formCode" placeholder="Select"
              domainObjectUrl="/MstCurrencyDetails/{CurrencySrc}" doServerUrl="/masters"
              domainObjectCode="MstCurrencyDetails" (blur)="genericOnBlur('Currency', $event)"
              (change)="Currency_change('Currency', $event)">
            </app-combo-box>
          </div>
          <div class="col-12  col-sm-3 col-md-3 res-pr-hide" [hidden]="ChargeAmt.isHidden()">
            <div class="clr-brown fieldLegend">
              <label class="clr-brown">
                {{ 'Fees&ChargesDetails.ChargeAmt' | translate}}
              </label>
            </div>
            <app-amount #ChargeAmt fieldID="ChargeAmt" [formCode]="formCode"
              (blur)="genericOnBlur('ChargeAmt', $event)"></app-amount>
          </div>
          <div class="col-12  col-sm-3 col-md-3 res-pr-hide" [hidden]="LocalAmount.isHidden()">
            <div class="clr-brown fieldLegend">
              <label class="clr-brown">
                {{ 'Fees&ChargesDetails.LocalAmount' | translate}}
              </label>
            </div>
            <app-amount #LocalAmount fieldID="LocalAmount" [formCode]="formCode"
              (blur)="genericOnBlur('LocalAmount', $event)"></app-amount>
          </div>


          <div style="min-height: 0px;height: 15px;" class="col-12 col-sm-12 col-md-12"></div>
          <div class="col-12  col-sm-3 col-md-3 res-pr-hide" [hidden]="PeriodicCharge.isHidden()">
            <div class="clr-brown fieldLegend">
              <label class="clr-brown" [ngClass]="{'mandatory': PeriodicCharge.mandatory}">
                {{ 'Fees&ChargesDetails.PeriodicCharge' | translate}}
              </label>
            </div>
            <app-combo-box #PeriodicCharge category="2" fieldID="PeriodicCharge" [formCode]="formCode"
              (blur)="genericOnBlur('PeriodicCharge', $event)"
              (change)="PeriodicCharge_change('PeriodicCharge', $event)" placeholder="Select"
              domainObjectUrl="/MSTGENERALPARAM/{VALUE1}" doServerUrl="/masters" domainObjectCode="MSTGENERALPARAM">
            </app-combo-box>
          </div>
          <div class="col-12  col-sm-3 col-md-3 res-pr-hide" [hidden]="PeriodicStDt.isHidden()">
            <div class="clr-brown fieldLegend">
              <label class="clr-brown">
                {{ 'Fees&ChargesDetails.PeriodicStDt' | translate}}
              </label>
            </div>
            <app-date #PeriodicStDt fieldID="PeriodicStDt" [formCode]="formCode"
              (blur)="genericOnBlur('PeriodicStDt', $event)"></app-date>
          </div>
          <div class="col-12  col-sm-3 col-md-3 res-pr-hide" [hidden]="PeriodicEnDt.isHidden()">
            <div class="clr-brown fieldLegend">
              <label class="clr-brown">
                {{ 'Fees&ChargesDetails.PeriodicEnDt' | translate}}
              </label>
            </div>
            <app-date #PeriodicEnDt fieldID="PeriodicEnDt" [formCode]="formCode"
              (blur)="genericOnBlur('PeriodicEnDt', $event)"></app-date>
          </div>
          <div class="col-12  col-sm-3 col-md-3 res-pr-hide" [hidden]="Frequency.isHidden()">
            <div class="clr-brown fieldLegend">
              <label class="clr-brown" [ngClass]="{'mandatory': Frequency.mandatory}">
                {{ 'Fees&ChargesDetails.Frequency' | translate}}
              </label>
            </div>
            <app-combo-box #Frequency category="2" fieldID="Frequency" [formCode]="formCode"
              (blur)="genericOnBlur('Frequency', $event)" placeholder="Select"
              domainObjectUrl="/MSTGENERALPARAM/{VALUE1}" doServerUrl="/masters" domainObjectCode="MSTGENERALPARAM">
            </app-combo-box>
          </div>
          <div class="col-12  col-sm-3 col-md-3 res-pr-hide" [hidden]="RateOnCharge.isHidden()">
            <div class="clr-brown fieldLegend">
              <label class="clr-brown" [ngClass]="{'mandatory': RateOnCharge.mandatory}">
                {{ 'Fees&ChargesDetails.RateOnCharge' | translate}}
              </label>
            </div>
            <app-combo-box #RateOnCharge category="2" fieldID="RateOnCharge" [formCode]="formCode"
              (blur)="genericOnBlur('RateOnCharge', $event)" (change)="RateOnCharge_change('RateOnCharge', $event)"
              placeholder="Select" domainObjectUrl="/MSTGENERALPARAM/{VALUE1}" doServerUrl="/masters"
              domainObjectCode="MSTGENERALPARAM"></app-combo-box>
          </div>
          <div class="col-12  col-sm-3 col-md-3 res-pr-hide" [hidden]="EffectiveAmount.isHidden()">
            <div class="clr-brown fieldLegend">
              <label class="clr-brown" [ngClass]="{'mandatory': EffectiveAmount.mandatory}">
                {{ 'Fees&ChargesDetails.EffectiveAmount' | translate}}
              </label>
            </div>
            <app-amount #EffectiveAmount fieldID="EffectiveAmount" [formCode]="formCode"
              (blur)="genericOnBlur('EffectiveAmount', $event)"></app-amount>
          </div>

          <div class="col-12  col-sm-3 col-md-3 res-pr-hide" [hidden]="ChargeCollection.isHidden()">
            <div class="clr-brown fieldLegend">
              <label class="clr-brown" [ngClass]="{'mandatory': ChargeCollection.mandatory}">
                {{ 'Fees&ChargesDetails.ChargeCollection' | translate}}
              </label>
            </div>
            <app-combo-box #ChargeCollection category="2" fieldID="ChargeCollection" [formCode]="formCode"
              (blur)="genericOnBlur('ChargeCollection', $event)" placeholder="Select"
              domainObjectUrl="/MSTGENERALPARAM/{VALUE1}" doServerUrl="/masters" domainObjectCode="MSTGENERALPARAM">
            </app-combo-box>
          </div>
          <div style="min-height: 0px;height: 15px;" class="col-12 col-sm-12 col-md-12"></div>
          <div class="col-12 col-sm-9 col-md-9"></div>
          <div class="col-12  col-sm-3 col-md-3 res-pr-hide" *ngIf="!readOnly">
            <app-button #FC_RESET_BTN fieldName="{{ 'Fees&ChargesDetails.FC_RESET_BTN' | translate}}"
              fieldID="FC_RESET_BTN" [formCode]="formCode" imagePath="./assets/icons/refresh-form.svg" [type]="2"
              customClass="icon-button" (buttonClick)="clear_click($event)"></app-button>

            <app-button #FC_SAVE_BTN fieldName="{{ 'Fees&ChargesDetails.FC_SAVE_BTN' | translate}}"
              fieldID="FC_SAVE_BTN" [formCode]="formCode" imagePath="./assets/icons/plus.svg" [type]="2"
              customClass="icon-button" (buttonClick)="FC_SAVE_click($event)"></app-button>
          </div>

          <div class="col-12  col-sm-12 col-md-12 res-pr-hide">
            <div style=" width:100%; background:black;height:1px;"></div>
          </div>
          <div class="col-12  col-sm-12 col-md-12 res-pr-hide" [hidden]="FieldId_2.isHidden()">
            <app-FeesChargesGrid #FieldId_2 fieldID="FieldId_2" [formCode]="formCode"
              (EditFeeChargesDetails)="FC_Editdetails($event)"></app-FeesChargesGrid>
          </div>
          <div class="col-12  col-sm-3 col-md-3 res-pr-hide">
            <app-feescharges-handler #Handler [MainComponent]="this"></app-feescharges-handler>
          </div>
        </div>
        <app-hidden #hideChargeBasis fieldID="hideChargeBasis"></app-hidden>
        <app-hidden #hidAppId fieldID="hidAppId"></app-hidden>
        <app-hidden #AD_HIDE_ID fieldID="AD_HIDE_ID"></app-hidden>
        <app-hidden #hidExchangeRate fieldID="hidExchangeRate"></app-hidden>
        <app-hidden #hideCurrencyDesc fieldID="hideCurrencyDesc"></app-hidden>
        <app-hidden #hidePartyType fieldID="hidePartyType"></app-hidden>
        <app-hidden #hidePeriodicCharge fieldID="hidePeriodicCharge"></app-hidden>
        <app-hidden #hideChargeType fieldID="hideChargeType"></app-hidden>
        <app-hidden #hideFrequency fieldID="hideFrequency"></app-hidden>
        <app-hidden #hideRateChargeOn fieldID="hideRateChargeOn"></app-hidden>
        <app-hidden #hideChargeCollection fieldID="hideChargeCollection"></app-hidden>
        <app-hidden #hidePartyName fieldID="hidePartyName"></app-hidden>
        <app-hidden #hideChargeDescription fieldID="hideChargeDescription"></app-hidden>


      </div>
    </div>
  </div>
</form>
