<!-- background banner slider Start-->
<div class="clearfix banner-slider">
  <div class="item w3-animate-opacity" style="background-image: url(assets/images/banner/bg-1.jpg);"></div>
  <div class="item w3-animate-opacity" style="background-image: url(assets/images/banner/bg-2.jpg);"></div>
  <div class="item w3-animate-opacity" style="background-image: url(assets/images/banner/bg-3.jpg);"></div>


</div>


<header class="header">
  <div class="container">
    <div class="clearfix top-header">
      <div class="row">
        <div class="info clearfix">
          <div class="col-xs-4 col-sm-4 hidden-sm hidden-md hidden-lg">
            <!-- <img src="assets/images/icons/menu.svg" alt="Menu" title="Menu" class="mob-menuicon"> -->
          </div>
          <div class="col-xs-4 col-sm-3 logo-icon">
            <a href="index.html"><img src="assets/images/logo/logo.png" alt="Otto" title="OTTO Logo"></a>
          </div>
          <div class="col-xs-4 col-sm-9 text-right lang-select">
            <img src="assets/images/icons/search.svg" alt="Search" title="Search icon">
            <a href="#"><img src="assets/images/icons/Menu.png" alt="Menu" title="Menu" class="Menu_icon"></a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Menu starts -->
  <div class="sidebar-menu">
    <div class="sm-mlogo">
      <img src="assets/images/logo/logo.png" alt="Otto" title="OTTO Logo" class="logo-icon">
    </div>
    <span class="close-btn"><img src="assets/images/icons/close.svg"></span>
    <ul class="mtree transit list-unstyled">
      <li><a>Login </a></li>
      <li><a>View Demo </a></li>
      <li><a>Calculators &amp; Tools </a></li>
      <li><a>About Us</a></li>
      <li><a>Privacy Policy</a></li>
      <li><a>FAQ</a></li>
      <li><a>Security Tips</a></li>
      <li><a>Terms &amp; Conditions</a></li>
      <li><a>Locate Us</a></li>
      <li><a>Contact Us</a></li>
    </ul>
  </div>
  <!-- Menu ends -->
</header>
<!--header Start-->
<!--Banner Start-->

<div class="clearfix banner">
  <!--Slider End-->
  <div class="container">
    <div class="clearfix banner-content">
      <!--Row Start-->
      <div class="row">
        <div class="col-sm-5 col-md-4 form homeform">
          <div class="clearfix inner-form">
            <div class="clearfix ban-frm">
              <!-- <div class="LogoImage">
                <img width="120px" height="35px" src="assets/images/OTTOLogo.png" alt="OTTO Payment Hub"
                  title="OTTO Payment Hub">
                <div class="headerClass">Payment Hub</div>
              </div> -->
              <router-outlet></router-outlet>
            </div>
            <div class="clearfix form-bottom text-center">
              <p>New to OTTO? <a href="#">Sign Up</a></p>
            </div>
          </div>
        </div>
        <div class="col-sm-7 col-md-8 right-side">
          <div class="right-content" style="height: 141px;">
            <div class="ban-slidefor slick-initialized slick-slider">
              <div class="slick-list draggable">
                <div class="slick-track" style="opacity: 1; width: 5656px;">
                  <div class="clearfix slick-slide itemText w3-animate-right" data-slick-index="0" aria-hidden="true"
                    tabindex="-1" style="width: 808px;">
                    <div class="bancont">
                      <h1>Drag & Drop</h1>
                      <p>User friendly builder interface <br> Drag & Drop and sorting system</p>
                    </div>
                  </div>
                  <div class="clearfix slick-slide itemText w3-animate-right" data-slick-index="1" aria-hidden="true"
                    tabindex="-1" style="width: 808px;">
                    <div class="bancont">
                      <h1>Full Responsive</h1>
                      <p>Work on all devices with any <br> resolution (landscape & portrait) </p>
                      <p></p>
                    </div>
                  </div>
                  <div class="clearfix slick-slide itemText w3-animate-right" data-slick-index="-1" aria-hidden="true"
                    tabindex="-1" style="width: 808px;">
                    <div class="bancont">
                      <h1>Build-in Translation <br> System</h1>
                      <p>We have build-in Translation <br> will support muilty languages</p>
                      <p></p>
                    </div>
                  </div>
                </div>
              </div>

            </div>

          </div>
          <div class="exp-imp-list clearfix" style=" height: 100px;">
            <div class="col-sm-6 col-md-3 eli-div ed-set2">
              <div class="ed-set2 inner clearfix">
                <div class="bn-bt-txt">
                  <div class="col-sm-4 ed-set2img">
                    <img src="assets/images/banner/News_thumb_1.png" alt="On our way into a digital future"
                      title="On our way into a digital future">
                  </div>
                  <div class="col-sm-8 ed-set2cont">
                    <h6 class="bottom_heading">850+ Icons</h6>
                    <p>Choose from 850+ Fontawesome icons to add to form field</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="eli-div col-sm-6 col-md-3 ed-set3">
              <div class="ed-set3 inner clearfix">
                <div class="bn-bt-txt">
                  <div class="col-sm-4 ed-set2img">
                    <img src="assets/images/banner/News_thumb_2.png" alt="On our way into a digital future"
                      title="On our way into a digital future">
                  </div>
                  <div class="col-sm-8 ed-set2cont">
                    <h6 class="bottom_heading">Conditional Logic</h6>
                    <p>Show and hide field based on user input.</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="eli-div col-sm-6 col-md-3 ed-set4">
              <div class="ed-set4inner clearfix">
                <div class="bn-bt-txt">
                  <div class="col-sm-4 ed-set2img">
                    <img src="assets/images/banner/News_thumb_3.png" alt="On our way into a digital future"
                      title="On our way into a digital future">
                  </div>
                  <div class="col-sm-8 ed-set2cont">
                    <h6 class="bottom_heading">20+ Components</h6>
                    <p>Choose 20+ components to build your form</p>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
        <!-- slider for banner ends -->
      </div>

    </div>
    <!--Row End-->
    <!--Row Start-->
    <!--Row End-->
  </div>
</div>
<!--Banner End-->

<!-- <app-footer></app-footer> -->
<app-footer></app-footer>