<div class="wgt-alert-modal">
  <ng-container *ngIf="!hideModalHeader">
    <div class="modal-header" *ngIf="modalObject.title != 'Alert'">
      <span [ngClass]="modalObject.iconClass"></span>
      <span class="modal-header-name">{{modalObject.title}}</span>
      <span class="fa fa-times" (click)="onClick(0)"></span>
    </div>
    <ng-container *ngIf="modalObject.title == 'Alert'">
      <div class="modal-header">
        <span class="modal-header-name">Alert</span>
        <span class="fa fa-times" (click)="onClick(0)"></span>
      </div>
    </ng-container>
  </ng-container>

  <div class="modal-body">
    <span class="msg-span fa fa-times" *ngIf="hideModalHeader" (click)="onClick(0)"></span>
    <h5>{{modalObject.mainMessage}}</h5>
    <div id="printdiv" [innerHTML]="modalObject.rawHtml">
    </div>

    <!-- components added here -->
    <div class="menu-content pop-up-components injected-component">
      <ng-template #appAlertComponents></ng-template>
    </div>
  </div>

  <ng-container *ngIf="modalObject.buttons.length">
    <div class="modal-footer">
      <button class="btn" [ngClass]="button.class" type="button" *ngFor="let button of modalObject.buttons"
        (click)="onClick(button)">
        {{button.text}}
      </button>
    </div>
  </ng-container>

  <!-- used in credit card limit enhancement-->
  <div *ngIf="modalObject.sectionName == 'AddOnCreditCard'">
    <div class="modal-body credit-card-limit">
      <div class="txt">Select an option</div>
      <div>
        <button class="btn btn-primary ng-star-inserted restore-button btn-m-right" type="button"
          (click)="addclick('0')">
          {{ 'PopupAlertComponent.RealignmentSection' | translate}}</button>

        <button class="btn btn-primary ng-star-inserted restore-button" type="button" (click)="addclick('1')">
          {{ 'PopupAlertComponent.LimitEnhacement' | translate}}</button>
      </div>
    </div>

  </div>

  
    <!-- used in reject/withdraw queue-->
    <div *ngIf="modalObject.sectionName == 'RejectWithdrawQueue'">
      <div>
        <div>
          Last Stage : {{modalObject.data.lastStage}}
        </div>
        <div>
          Remark : {{modalObject.data.reason}}
        </div>
      </div>
    </div>
</div>