<div class="wgt-alert-modal">
    <div class="modal-header" *ngIf="modalObject.title">
        {{modalObject.title}}
        <span class="fa fa-times" (click)="onClick(0)"></span>
    </div>
    <div class="modal-body">
        <span class="fa fa-times" *ngIf="!modalObject.title" (click)="onClick(0)"></span>
        <h5>{{modalObject.mainMessage}}</h5>
    </div>
    <div class="modal-footer">
        <button class="btn" [ngClass]="button.class" type="button" *ngFor="let button of modalObject.buttons"
            (click)="onClick(button)">
            {{button.text}}
        </button>
    </div>
</div>