<div class="wgt-alert-modal">
  <ng-container *ngIf="!hideModalHeader">
    <div class="modal-header" *ngIf="modalObject.title != 'Alert'">
      <span [ngClass]="modalObject.iconClass"></span>
      <span class="modal-header-name">{{modalObject.title}}</span>
      <span class="fa fa-times" (click)="onClick(0)"></span>
    </div>
    <ng-container *ngIf="modalObject.title == 'Alert'">
      <div class="modal-header">
        <span class="modal-header-name">Alert</span>
        <span class="fa fa-times" (click)="onClick(0)"></span>
      </div>
    </ng-container>
  </ng-container>

  <div class="modal-body">
    <span class="msg-span fa fa-times" *ngIf="hideModalHeader" (click)="onClick(0)"></span>
    <h5>{{modalObject.mainMessage}}</h5>
    <div id="printdiv" [innerHTML]="modalObject.rawHtml">
    </div>

    <!-- components added here -->
    <div class="menu-content pop-up-components">
      <ng-template #appAlertComponents></ng-template>
    </div>
  </div>

  <ng-container *ngIf="modalObject.buttons.length">
    <div class="modal-footer">
      <button class="btn" [ngClass]="button.class" type="button" *ngFor="let button of modalObject.buttons"
        (click)="onClick(button)">
        {{button.text}}
      </button>
    </div>
  </ng-container>
</div>
<!-- .wgt-alert-modal .modal-body span {
  /* position: absolute; */
  /* right: 16px; */
  /* top: 17px; */
  /* cursor: pointer; */
  /* color: #8E8E8E; */
} -->