<form class="MakeRelative">
<div class="clearfix content">
<div class="row" [ngStyle]="{'display' : displayTitle ? 'block': 'none'}">
<div class="col-sm-5 col-md-5">
</div>
<div class="col-sm-7 col-md-7 text-right xt-center" *ngIf="!formOnLoadError">
</div>
</div>
<div class="alert alert-danger" *ngIf="formOnLoadError">{{formOnLoadErrorMsg}}</div>
<div *ngIf="!formOnLoadError">
<div class="clearfix bi-reponsive" [ngClass]="{'display-border' : displayBorder}">
<div class="form-group pb10">
<div class="col-12  col-sm-4 col-md-4 res-pr-hide" [hidden]="HD_PROD_CAT.isHidden()">
<div class="clr-brown fieldLegend">
<label class="clr-brown">
{{ 'Header.HD_PROD_CAT' | translate}}</label>
</div>
<app-text-box #HD_PROD_CAT fieldID="HD_PROD_CAT" [formCode]="formCode" (blur)="genericOnBlur('HD_PROD_CAT', $event)"></app-text-box>
</div>
<div class="col-12  col-sm-4 col-md-4 res-pr-hide" [hidden]="HD_PROD.isHidden()">
<div class="clr-brown fieldLegend">
<label class="clr-brown">
{{ 'Header.HD_PROD' | translate}}</label>
</div>
<app-text-box #HD_PROD fieldID="HD_PROD" [formCode]="formCode" (blur)="genericOnBlur('HD_PROD', $event)"></app-text-box>
</div>
<div class="col-12  col-sm-4 col-md-4 res-pr-hide" [hidden]="HD_SUB_PROD.isHidden()">
<div class="clr-brown fieldLegend">
<label class="clr-brown">
{{ 'Header.HD_SUB_PROD' | translate}}</label>
</div>
<app-text-box #HD_SUB_PROD fieldID="HD_SUB_PROD" [formCode]="formCode" (blur)="genericOnBlur('HD_SUB_PROD', $event)"></app-text-box>
</div>
<div class="col-12  col-sm-4 col-md-4 res-pr-hide" [hidden]="HD_SCHEME.isHidden()">
<div class="clr-brown fieldLegend">
<label class="clr-brown">
{{ 'Header.HD_SCHEME' | translate}}</label>
</div>
<app-text-box #HD_SCHEME fieldID="HD_SCHEME" [formCode]="formCode" (blur)="genericOnBlur('HD_SCHEME', $event)"></app-text-box>
</div>
<div class="col-12  col-sm-4 col-md-4 res-pr-hide" [hidden]="HD_PROMOTION.isHidden()">
<div class="clr-brown fieldLegend">
<label class="clr-brown">
{{ 'Header.HD_PROMOTION' | translate}}</label>
</div>
<app-text-box #HD_PROMOTION fieldID="HD_PROMOTION" [formCode]="formCode" (blur)="genericOnBlur('HD_PROMOTION', $event)"></app-text-box>
</div>
<div class="col-12  col-sm-4 col-md-4 res-pr-hide" [hidden]="LD_LOAN_AMT.isHidden()">
<div class="clr-brown fieldLegend">
<label class="clr-brown">
{{ 'Header.LD_LOAN_AMT' | translate}}</label>
</div>
<app-amount #LD_LOAN_AMT fieldID="LD_LOAN_AMT" [formCode]="formCode" (blur)="genericOnBlur('LD_LOAN_AMT', $event)"></app-amount>
</div>
<div class="col-12  col-sm-4 col-md-4 res-pr-hide" [hidden]="LD_INTEREST_RATE.isHidden()">
<div class="clr-brown fieldLegend">
<label class="clr-brown">
{{ 'Header.LD_INTEREST_RATE' | translate}}</label>
</div>
<app-text-box #LD_INTEREST_RATE inputType="number" fieldID="LD_INTEREST_RATE" [formCode]="formCode" (blur)="genericOnBlur('LD_INTEREST_RATE', $event)"></app-text-box>
</div>
<div class="col-12  col-sm-4 col-md-4 res-pr-hide" [hidden]="LD_TENURE.isHidden()">
<div class="clr-brown fieldLegend">
<label class="clr-brown">
{{ 'Header.LD_TENURE' | translate}}</label>
</div>
<app-text-box #LD_TENURE inputType="number" fieldID="LD_TENURE" [formCode]="formCode" (blur)="genericOnBlur('LD_TENURE', $event)"></app-text-box>
</div>
<div class="col-12  col-sm-4 col-md-4 res-pr-hide" [hidden]="LD_TENURE_PERIOD.isHidden()">
<div class="clr-brown fieldLegend">
<label class="clr-brown">
{{ 'Header.LD_TENURE_PERIOD' | translate}}</label>
</div>
<app-combo-box #LD_TENURE_PERIOD category="2" fieldID="LD_TENURE_PERIOD" [formCode]="formCode" (blur)="genericOnBlur('LD_TENURE_PERIOD', $event)"></app-combo-box>
</div>
<div class="col-12  col-sm-4 col-md-4 res-pr-hide" [hidden]="LD_APP_PRPSE.isHidden()">
<div class="clr-brown fieldLegend">
<label class="clr-brown">
{{ 'Header.LD_APP_PRPSE' | translate}}</label>
</div>
<app-combo-box #LD_APP_PRPSE category="2" fieldID="LD_APP_PRPSE" [formCode]="formCode" (blur)="genericOnBlur('LD_APP_PRPSE', $event)"></app-combo-box>
</div>
<div class="col-12  col-sm-4 col-md-4 res-pr-hide" [hidden]="LD_SYS_RCMD_AMT.isHidden()">
<div class="clr-brown fieldLegend">
<label class="clr-brown">
{{ 'Header.LD_SYS_RCMD_AMT' | translate}}</label>
</div>
<app-amount #LD_SYS_RCMD_AMT fieldID="LD_SYS_RCMD_AMT" [formCode]="formCode" (blur)="genericOnBlur('LD_SYS_RCMD_AMT', $event)"></app-amount>
</div>
<div class="col-12  col-sm-4 col-md-4 res-pr-hide" [hidden]="LD_USR_RCMD_AMT.isHidden()">
<div class="clr-brown fieldLegend">
<label class="clr-brown">
{{ 'Header.LD_USR_RCMD_AMT' | translate}}</label>
</div>
<app-amount #LD_USR_RCMD_AMT fieldID="LD_USR_RCMD_AMT" [formCode]="formCode" (blur)="genericOnBlur('LD_USR_RCMD_AMT', $event)"></app-amount>
</div>
</div>
</div>
</div>
</div>
</form>
