<form class="MakeRelative">
    <!-- <div class="ShowLoading " *ngIf="loadSpinner">
 <div class="lds-roller MakeItMiddle">
<div></div>
<div></div>
<div></div>
<div></div>
<div></div>
<div></div>
<div></div>
<div></div>
</div>
</div> -->

    <div class="clearfix content">
        <div class="alert alert-danger" *ngIf="formOnLoadError">{{formOnLoadErrorMsg}}</div>
        <div *ngIf="!formOnLoadError">
            <div class="clearfix bi-reponsive" [ngClass]="{'display-border' : displayBorder}">
                <div class="form-group pb10 headerform row">
                    <div class="col-12  col-sm-12 col-md-12 mainheader row">
                        <div class='imageheader'>
                            <div class='first-child'>
                                <div class='second-child'>
                                    <rlo-ui-readonlyfield #HD_APP_REF_NUM fieldID="HD_APP_REF_NUM" [formCode]="formCode"
                                        (blur)="genericOnBlur('HD_APP_REF_NUM', $event)"></rlo-ui-readonlyfield>
                                </div>
                                <label>$
                                    <rlo-ui-readonlyfield #LD_LOAN_AMT fieldID="LD_LOAN_AMT" [formCode]="formCode"
                                        (blur)="genericOnBlur('LD_LOAN_AMT', $event)"></rlo-ui-readonlyfield></label>
                                <div class="col-12  col-sm-12 col-md-12 border">
                                    <div></div>
                                </div>

                                <div class="LoanTypeImage">
                                    <img class='loanimage' src="{{PRODUCT_CATEGORY_IMG}}" alt="RLO" />
                                    <!-- <img class='loanimage'  *ngIf = "HD_PROD_CAT == 'AutoLoan'"  src="assets/images/icons/autoloan.svg" alt="RLO" />
                                    <img class='loanimage'  *ngIf = "HD_PROD_CAT == 'PesonalLoan'" src="assets/images/icons/personaloan.svg" alt="RLO" /> -->
                                </div>

                                <rlo-ui-readonlyfield #HD_PROD_CAT fieldID="HD_PROD_CAT" [formCode]="formCode"
                                    (blur)="genericOnBlur('HD_PROD_CAT', $event)"></rlo-ui-readonlyfield>

                            </div>

                        </div>
                        <div class='leftheader'>
                            <div class='subleftheader'>
                                <div class="col-12  col-sm-12 col-md-12 res-pr-hide" [hidden]="HD_PROD.isHidden()">
                                    <div class="clr-brown fieldLegend">
                                        <label class="clr-brown">
                                            {{ 'Header.HD_PROD' | translate}}
                                        </label>
                                    </div>
                                    <rlo-ui-readonlyfield #HD_PROD fieldID="HD_PROD" [formCode]="formCode"
                                        (blur)="genericOnBlur('HD_PROD', $event)"></rlo-ui-readonlyfield>
                                </div>
                                <div class="col-12  col-sm-12 col-md-12 res-pr-hide" [hidden]="HD_SUB_PROD.isHidden()">
                                    <div class="clr-brown fieldLegend">
                                        <label class="clr-brown">
                                            {{ 'Header.HD_SUB_PROD' | translate}}
                                        </label>
                                    </div>
                                    <rlo-ui-readonlyfield #HD_SUB_PROD fieldID="HD_SUB_PROD" [formCode]="formCode"
                                        (blur)="genericOnBlur('HD_SUB_PROD', $event)"></rlo-ui-readonlyfield>
                                </div>
                                <div class="col-12  col-sm-12 col-md-12 res-pr-hide" [hidden]="HD_SCHEME.isHidden()">
                                    <div class="clr-brown fieldLegend">
                                        <label class="clr-brown">
                                            {{ 'Header.HD_SCHEME' | translate}}
                                        </label>
                                    </div>
                                    <rlo-ui-readonlyfield #HD_SCHEME fieldID="HD_SCHEME" [formCode]="formCode"
                                        (blur)="genericOnBlur('HD_SCHEME', $event)"></rlo-ui-readonlyfield>
                                </div>
                                <div class="col-12  col-sm-12 col-md-12 res-pr-hide" [hidden]="HD_PROMOTION.isHidden()">
                                    <div class="clr-brown fieldLegend">
                                        <label class="clr-brown">
                                            {{ 'Header.HD_PROMOTION' | translate}}
                                        </label>
                                    </div>
                                    <rlo-ui-readonlyfield #HD_PROMOTION fieldID="HD_PROMOTION" [formCode]="formCode"
                                        (blur)="genericOnBlur('HD_PROMOTION', $event)"></rlo-ui-readonlyfield>
                                </div>
                            </div>
                        </div>
                        <div class='rightheader'>
                            <div class='subrightheader1'>
                                <div class="col-12  col-sm-12 col-md-12 res-pr-hide"
                                    [hidden]="LD_INTEREST_RATE.isHidden()">
                                    <div class="clr-brown fieldLegend">
                                        <label class="clr-brown">
                                            {{ 'Header.LD_INTEREST_RATE' | translate}}
                                        </label>
                                    </div>
                                    <rlo-ui-readonlyfield #LD_INTEREST_RATE fieldID="LD_INTEREST_RATE"
                                        [formCode]="formCode" (blur)="genericOnBlur('LD_INTEREST_RATE', $event)">
                                    </rlo-ui-readonlyfield>
                                </div>
                                <div class="col-12  col-sm-12 col-md-12 res-pr-hide" [hidden]="LD_TENURE.isHidden()">
                                    <div class="clr-brown fieldLegend">
                                        <label class="clr-brown">
                                            {{ 'Header.LD_TENURE' | translate}}
                                        </label>
                                    </div>
                                    <rlo-ui-readonlyfield #LD_TENURE fieldID="LD_TENURE" [formCode]="formCode"
                                        (blur)="genericOnBlur('LD_TENURE', $event)"></rlo-ui-readonlyfield>
                                </div>
                                <div class="col-12  col-sm-12 col-md-12 res-pr-hide"
                                    [hidden]="LD_TENURE_PERIOD.isHidden()">
                                    <div class="clr-brown fieldLegend">
                                        <label class="clr-brown">
                                            {{ 'Header.LD_TENURE_PERIOD' | translate}}
                                        </label>
                                    </div>
                                    <rlo-ui-readonlyfield #LD_TENURE_PERIOD fieldID="LD_TENURE_PERIOD"
                                        [formCode]="formCode" (blur)="genericOnBlur('LD_TENURE_PERIOD', $event)">
                                    </rlo-ui-readonlyfield>
                                </div>
                                <div class="col-12  col-sm-12 col-md-12 res-pr-hide" [hidden]="LD_APP_PRPSE.isHidden()">
                                    <div class="clr-brown fieldLegend">
                                        <label class="clr-brown">
                                            {{ 'Header.LD_APP_PRPSE' | translate}}
                                        </label>
                                    </div>
                                    <rlo-ui-readonlyfield #LD_APP_PRPSE fieldID="LD_APP_PRPSE" [formCode]="formCode"
                                        (blur)="genericOnBlur('LD_APP_PRPSE', $event)"></rlo-ui-readonlyfield>
                                </div>
                            </div>
                            <div class='subrightheader2'>
                                <div class="col-12  col-sm-12 col-md-12 res-pr-hide"
                                    [hidden]="LD_SYS_RCMD_AMT.isHidden()">
                                    <div class="clr-brown fieldLegend">
                                        <label class="clr-brown">
                                            {{ 'Header.LD_SYS_RCMD_AMT' | translate}}
                                        </label>
                                    </div>
                                    <rlo-ui-readonlyfield #LD_SYS_RCMD_AMT fieldID="LD_SYS_RCMD_AMT"
                                        [formCode]="formCode" (blur)="genericOnBlur('LD_SYS_RCMD_AMT', $event)">
                                    </rlo-ui-readonlyfield>
                                </div>
                                <div class="col-12  col-sm-12 col-md-12 res-pr-hide"
                                    [hidden]="LD_USR_RCMD_AMT.isHidden()">
                                    <div class="clr-brown fieldLegend">
                                        <label class="clr-brown">
                                            {{ 'Header.LD_USR_RCMD_AMT' | translate}}
                                        </label>
                                    </div>
                                    <rlo-ui-readonlyfield #LD_USR_RCMD_AMT fieldID="LD_USR_RCMD_AMT"
                                        [formCode]="formCode" (blur)="genericOnBlur('LD_USR_RCMD_AMT', $event)">
                                    </rlo-ui-readonlyfield>
                                </div>

                                <div class="col-12  col-sm-4 col-md-4 res-pr-hide"></div>
                                <div class="col-12  col-sm-4 col-md-4 res-pr-hide"></div>
                                <button _ngcontent-ows-c10="" type="button" title="Edit" class="btn btn-primary " id="Edit"><img src="assets\icons\edit-pen.png"/> Edit </button>
                                <!-- <div class="col-12  col-sm-2 col-md-2 res-pr-hide" [hidden]="Edit.isHidden()">
                                    <app-button  #Edit fieldName="{{ 'Header.Edit' | translate}}" fieldID="Edit" [formCode]="formCode" customClass="btn btn-primary "><i class="fas fa-pen icon"></i></app-button>
                                </div> -->
                            </div>


                        </div>
                        <div class="col-12  col-sm-4 col-md-4 res-pr-hide">
                            <app-header-handler #Handler></app-header-handler>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</form>