<footer class="clearfix bsb-footer">
  <div class="clearfix foot-bottom">
    <div class="container">
      <div class="row">
        <div class="col-sm-5 col-md-4 foot-link">
          <ul class="list-inline">
            <li><a href="javascript:void(0)">About us</a></li>
            <li><a href="javascript:void(0)">Disclaimer</a></li>
            <li><a href="javascript:void(0)">Privacy</a></li>
            <li><a href="javascript:void(0)">Sitemap</a></li>
          </ul>
        </div>
        <div class="col-sm-4 col-md-4 foot-rights">
          <p>Copyright &copy;
            <script type="text/javascript">var year = new Date(); document.write(year.getFullYear());</script> Otto
            Payment Hub. All Rights Reserved</p>
        </div>
        <div class="col-sm-3 col-md-4 foot-power">
          <a href="https://intellectdesign.com/" target="_blank">Powered by <img
              src="assets/images/logo/intellect-logo.svg" title="Intellect" alt="Intellect"></a>
        </div>
      </div>
    </div>
  </div>
</footer>