<form class="MakeRelative">
  <!-- <div class="ShowLoading " *ngIf="loadSpinner">
        <div class="lds-roller MakeItMiddle">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div> -->
  <div class="clearfix content">
    <div class="alert alert-danger" *ngIf="formOnLoadError">{{formOnLoadErrorMsg}}</div>
    <div *ngIf="!formOnLoadError">
      <div class="clearfix bi-reponsive" [ngClass]="{'display-border' : displayBorder}">
        <div class="form-group pb10 row">
          <!-- <div class="col-12  col-sm-12 col-md-12 res-pr-hide">
<app-label #AD_HEADING parentCompCode="AddressDetails" fieldID="AD_HEADING" [formCode]="formCode" fontFamily="sans-serif" fontColor="#555" fontStyle="normal" fontSize="16px" fontWeight="normal" customClass="section-header"></app-label>
</div> -->
          <div class="col-12  col-sm-3 col-md-3 res-pr-hide" [hidden]="AD_ADD_TYPE.isHidden()">
            <div class="clr-brown fieldLegend">
              <label class="clr-brown" [ngClass]="{'mandatory': AD_ADD_TYPE.mandatory}">
                {{ 'AddressDetails.AD_ADD_TYPE' | translate}}
              </label>
            </div>
            <rlo-ui-radio #AD_ADD_TYPE category="2" fieldID="AD_ADD_TYPE" [formCode]="formCode"
              (change)="AD_ADD_TYPE_change('AD_ADD_TYPE', $event)" domainObjectUrl="/MSTGENERALPARAM/{VALUE1}"
              doServerUrl="/masters" domainObjectCode="MSTGENERALPARAM" (blur)="genericOnBlur('AD_ADD_TYPE', $event)">
            </rlo-ui-radio>
          </div>
          <div class="col-12  col-sm-3 col-md-3 res-pr-hide" [hidden]="AD_OCCUPANCY_TYPE.isHidden()">
            <div class="clr-brown fieldLegend">
              <label class="clr-brown" [ngClass]="{'mandatory': AD_OCCUPANCY_TYPE.mandatory}">
                {{ 'AddressDetails.AD_OCCUPANCY_TYPE' | translate}}
              </label>
            </div>
            <rlo-ui-radio #AD_OCCUPANCY_TYPE category="2" fieldID="AD_OCCUPANCY_TYPE" [formCode]="formCode"
              placeholder="Select" domainObjectUrl="/MSTGENERALPARAM/{VALUE1}" doServerUrl="/masters"
              domainObjectCode="MSTGENERALPARAM" (blur)="genericOnBlur('AD_OCCUPANCY_TYPE', $event)"></rlo-ui-radio>
          </div>
          <div class="col-12  col-sm-3 col-md-3 res-pr-hide" [hidden]="AD_OCCUPANCY_STATUS.isHidden()">
            <div class="clr-brown fieldLegend">
              <label class="clr-brown" [ngClass]="{'mandatory': AD_OCCUPANCY_STATUS.mandatory}">
                {{ 'AddressDetails.AD_OCCUPANCY_STATUS' | translate}}
              </label>
            </div>
            <rlo-ui-radio #AD_OCCUPANCY_STATUS category="2" fieldID="AD_OCCUPANCY_STATUS" [formCode]="formCode"
              placeholder="Select" domainObjectUrl="/MSTGENERALPARAM/{VALUE1}" doServerUrl="/masters"
              domainObjectCode="MSTGENERALPARAM" (blur)="genericOnBlur('AD_OCCUPANCY_STATUS', $event)"></rlo-ui-radio>
          </div>
          <div class="col-12  col-sm-3 col-md-3 res-pr-hide" [hidden]="AD_MAILING_ADDRESS.isHidden()">
            <div class="clr-brown fieldLegend">
              <label class="clr-brown" [ngClass]="{'mandatory': AD_MAILING_ADDRESS.mandatory}">
                {{ 'AddressDetails.AD_MAILING_ADDRESS' | translate}}
              </label>
            </div>
            <rlo-ui-radio #AD_MAILING_ADDRESS category="2" fieldID="AD_MAILING_ADDRESS" [formCode]="formCode"
              placeholder="Select" domainObjectUrl="/MSTGENERALPARAM/{VALUE1}" doServerUrl="/masters"
              domainObjectCode="MSTGENERALPARAM" (blur)="genericOnBlur('AD_MAILING_ADDRESS', $event)"></rlo-ui-radio>
          </div>
          <div style="min-height: 0px;height: 0px;" class="col-12 col-sm-12 col-md-12"></div>
          <div class="col-12  col-sm-3 col-md-3 res-pr-hide" [hidden]="AD_ADDRESS_LINE1.isHidden()">
            <div class="clr-brown fieldLegend">
              <label class="clr-brown" [ngClass]="{'mandatory': AD_ADDRESS_LINE1.mandatory}">
                {{ 'AddressDetails.AD_ADDRESS_LINE1' | translate}}
              </label>
            </div>
            <app-text-box #AD_ADDRESS_LINE1 fieldID="AD_ADDRESS_LINE1" [formCode]="formCode"
              (blur)="genericOnBlur('AD_ADDRESS_LINE1', $event)"></app-text-box>
          </div>
          <div class="col-12  col-sm-3 col-md-3 res-pr-hide" [hidden]="AD_ADDRESS_LINE2.isHidden()">
            <div class="clr-brown fieldLegend">
              <label class="clr-brown">
                {{ 'AddressDetails.AD_ADDRESS_LINE2' | translate}}
              </label>
            </div>
            <app-text-box #AD_ADDRESS_LINE2 fieldID="AD_ADDRESS_LINE2" [formCode]="formCode" placeholder="(Optional)"
              (blur)="genericOnBlur('AD_ADDRESS_LINE2', $event)"></app-text-box>
          </div>
          <div class="col-12  col-sm-3 col-md-3 res-pr-hide" [hidden]="AD_ADDRESS_LINE3.isHidden()">
            <div class="clr-brown fieldLegend">
              <label class="clr-brown">
                {{ 'AddressDetails.AD_ADDRESS_LINE3' | translate}}
              </label>
            </div>
            <app-text-box #AD_ADDRESS_LINE3 fieldID="AD_ADDRESS_LINE3" [formCode]="formCode" placeholder="(Optional)"
              (blur)="genericOnBlur('AD_ADDRESS_LINE3', $event)"></app-text-box>
          </div>
          <div class="col-12  col-sm-3 col-md-3 res-pr-hide" [hidden]="AD_ADDRESS_LINE4.isHidden()">
            <div class="clr-brown fieldLegend">
              <label class="clr-brown">
                {{ 'AddressDetails.AD_ADDRESS_LINE4' | translate}}
              </label>
            </div>
            <app-text-box #AD_ADDRESS_LINE4 fieldID="AD_ADDRESS_LINE4" [formCode]="formCode" placeholder="(Optional)"
              (blur)="genericOnBlur('AD_ADDRESS_LINE4', $event)"></app-text-box>
          </div>
          <div class="col-12  col-sm-3 col-md-3 res-pr-hide" [hidden]="AD_PINCODE.isHidden()">
            <div class="clr-brown fieldLegend">
              <label class="clr-brown" [ngClass]="{'mandatory': AD_PINCODE.mandatory}">
                {{ 'AddressDetails.AD_PINCODE' | translate}}
              </label>
            </div>
            <app-text-box #AD_PINCODE fieldID="AD_PINCODE" [formCode]="formCode"
              (blur)="genericOnBlur('AD_PINCODE', $event)"></app-text-box>
          </div>
          <div class="col-12  col-sm-3 col-md-3 res-pr-hide" [hidden]="AD_REGION.isHidden()">
            <div class="clr-brown fieldLegend">
              <label class="clr-brown" [ngClass]="{'mandatory': AD_REGION.mandatory}">
                {{ 'AddressDetails.AD_REGION' | translate}}
              </label>
            </div>
            <app-text-box #AD_REGION fieldID="AD_REGION" [formCode]="formCode"
              (blur)="genericOnBlur('AD_REGION', $event)"></app-text-box>
          </div>
          <div class="col-12  col-sm-3 col-md-3 res-pr-hide" [hidden]="AD_CITY.isHidden()">
            <div class="clr-brown fieldLegend">
              <label class="clr-brown" [ngClass]="{'mandatory': AD_CITY.mandatory}">
                {{ 'AddressDetails.AD_CITY' | translate}}
              </label>
            </div>
            <app-text-box #AD_CITY fieldID="AD_CITY" [formCode]="formCode" (blur)="genericOnBlur('AD_CITY', $event)">
            </app-text-box>
          </div>
          <div class="col-12  col-sm-3 col-md-3 res-pr-hide" [hidden]="AD_STATE.isHidden()">
            <div class="clr-brown fieldLegend">
              <label class="clr-brown" [ngClass]="{'mandatory': AD_STATE.mandatory}">
                {{ 'AddressDetails.AD_STATE' | translate}}
              </label>
            </div>
            <app-text-box #AD_STATE fieldID="AD_STATE" [formCode]="formCode" (blur)="genericOnBlur('AD_STATE', $event)">
            </app-text-box>
          </div>
          <div class="col-12  col-sm-3 col-md-3 res-pr-hide" [hidden]="AD_LANDMARK.isHidden()">
            <div class="clr-brown fieldLegend">
              <label class="clr-brown">
                {{ 'AddressDetails.AD_LANDMARK' | translate}}
              </label>
            </div>
            <app-text-box #AD_LANDMARK fieldID="AD_LANDMARK" [formCode]="formCode" placeholder="(Optional)"
              (blur)="genericOnBlur('AD_LANDMARK', $event)"></app-text-box>
          </div>
          <div style="min-height: 0px;height: NaNpx;" class="col-12 col-sm-12 col-md-12"></div>
          <div class="col-12  col-sm-12 col-md-12 res-pr-hide">
            <app-label #YRS_LABEL parentCompCode="AddressDetails" fieldID="YRS_LABEL" [formCode]="formCode"
              fontFamily="sans-serif" fontColor="#555" fontStyle="normal" fontSize="12px" fontWeight="400"
              customClass="sub-section-header"></app-label>
          </div>
          <div style="min-height: 0px;height: 15px;" class="col-12 col-sm-12 col-md-12"></div>
          <div class="col-12  col-sm-3 col-md-3 res-pr-hide" [hidden]="AD_RES_DUR.isHidden()">
            <div class="clr-brown fieldLegend">
              <label class="clr-brown" [ngClass]="{'mandatory': AD_RES_DUR.mandatory}">
                {{ 'AddressDetails.AD_RES_DUR' | translate}}
              </label>
            </div>
            <app-text-box #AD_RES_DUR fieldID="AD_RES_DUR" [formCode]="formCode"
              (blur)="genericOnBlur('AD_RES_DUR', $event)"></app-text-box>
          </div>
          <div class="col-12  col-sm-3 col-md-3 res-pr-hide" [hidden]="AD_RES_DUR_UNIT.isHidden()">
            <div class="clr-brown fieldLegend">
              <label class="clr-brown" [ngClass]="{'mandatory': AD_RES_DUR.mandatory}">
                {{ 'AddressDetails.AD_RES_DUR_UNIT' | translate}}
              </label>
            </div>
            <app-combo-box #AD_RES_DUR_UNIT category="2" fieldID="AD_RES_DUR_UNIT" [formCode]="formCode"
              placeholder="Select" domainObjectUrl="/MSTGENERALPARAM/{VALUE1}" doServerUrl="/masters"
              domainObjectCode="MSTGENERALPARAM" (blur)="genericOnBlur('AD_RES_DUR_UNIT', $event)"></app-combo-box>
          </div>
          <div class="col-12  col-sm-12 col-md-12 res-pr-hide">
            <app-label #FieldId_30 parentCompCode="AddressDetails" fieldID="FieldId_30" [formCode]="formCode"
              fontFamily="sans-serif" fontColor="#555" fontStyle="normal" fontSize="12px" fontWeight="400"
              customClass="sub-section-header"></app-label>
          </div>
          <!-- <div class="col-12  col-sm-3 col-md-3 res-pr-hide" [hidden]="AD_LAND_COUNTRY_CODE.isHidden()">
                        <div class="clr-brown fieldLegend">
                            <label class="clr-brown">
                                {{ 'AddressDetails.AD_LAND_COUNTRY_CODE' | translate}}
                            </label>
                        </div>
                        <app-combo-box #AD_LAND_COUNTRY_CODE category="2" fieldID="AD_LAND_COUNTRY_CODE" placeholder="Select" [formCode]="formCode"
                            domainObjectUrl="/MSTGENERALPARAM/{VALUE1}" doServerUrl="/masters" domainObjectCode="MSTGENERALPARAM"
                            (blur)="genericOnBlur('AD_LAND_COUNTRY_CODE', $event)"></app-combo-box>
                    </div> -->
          <div class="col-12  col-sm-3 col-md-3 res-pr-hide" [hidden]="AD_LANDLINE_NUMBER.isHidden()">
            <div class="clr-brown fieldLegend">
              <label class="clr-brown">
                {{ 'AddressDetails.AD_LANDLINE_NUMBER' | translate}}
              </label>
            </div>
            <rlo-ui-mobile #AD_LANDLINE_NUMBER fieldID="AD_LANDLINE_NUMBER" [numberType] = "'LandlineNo'"
            (countryCodeChanged)="countryCodeChanged('AD_LANDLINE_NUMBER',$event)"
              (blur)="genericOnBlur('AD_LANDLINE_NUMBER', $event)"></rlo-ui-mobile>
          </div>
          <!-- <div class="col-12  col-sm-3 col-md-3 res-pr-hide" [hidden]="AD_COUNTRY_CODE.isHidden()">
                        <div class="clr-brown fieldLegend">
                            <label class="clr-brown">
                                {{ 'AddressDetails.AD_COUNTRY_CODE' | translate}}
                            </label>
                        </div>
                        <app-combo-box #AD_COUNTRY_CODE category="2" fieldID="AD_COUNTRY_CODE" [formCode]="formCode" placeholder="Select" domainObjectUrl="/MSTGENERALPARAM/{VALUE1}"
                            doServerUrl="/masters" domainObjectCode="MSTGENERALPARAM" (blur)="genericOnBlur('AD_COUNTRY_CODE', $event)"></app-combo-box>
                    </div> -->
          <div class="col-12  col-sm-3 col-md-3 res-pr-hide" [hidden]="AD_ALTERNATE_MOB_NO.isHidden()">
            <div class="clr-brown fieldLegend">
              <label class="clr-brown">
                {{ 'AddressDetails.AD_ALTERNATE_MOB_NO' | translate}}
              </label>
            </div>
            <rlo-ui-mobile #AD_ALTERNATE_MOB_NO fieldID="AD_ALTERNATE_MOB_NO"
              (countryCodeChanged)="countryCodeChanged('AD_ALTERNATE_MOB_NO',$event)"
              (blur)="genericOnBlur('AD_ALTERNATE_MOB_NO', $event)"></rlo-ui-mobile>
          </div>
          <div class="col-12  col-sm-3 col-md-3 res-pr-hide" [hidden]="AD_EMAIL_ID2.isHidden()">
            <div class="clr-brown fieldLegend">
              <label class="clr-brown">
                {{ 'AddressDetails.AD_EMAIL_ID2' | translate}}
              </label>
            </div>
            <app-text-box #AD_EMAIL_ID2 fieldID="AD_EMAIL_ID2" [formCode]="formCode" placeholder="(Optional)"
              (blur)="genericOnBlur('AD_EMAIL_ID2', $event)"></app-text-box>
          </div>
          <div class="col-12  col-sm-3 col-md-3 res-pr-hide" [hidden]="AD_PREF_TIME.isHidden()">
            <div class="clr-brown fieldLegend">
              <label class="clr-brown" [ngClass]="{'mandatory': AD_PREF_TIME.mandatory}">
                {{ 'AddressDetails.AD_PREF_TIME' | translate}}
              </label>
            </div>
            <app-combo-box #AD_PREF_TIME category="2" fieldID="AD_PREF_TIME" [formCode]="formCode" placeholder="Select"
              domainObjectUrl="/MSTGENERALPARAM/{VALUE1}" doServerUrl="/masters" domainObjectCode="MSTGENERALPARAM"
              (blur)="genericOnBlur('AD_PREF_TIME', $event)"></app-combo-box>
          </div>
          <div class="col-12  col-sm-3 col-md-3 res-pr-hide" #FieldId_36 id="FieldId_36">
            <div class="clr-brown fieldLegend">
              <label class="clr-brown mandatory">
                {{ 'AddressDetails.AD_CORR_EMAIL' | translate}}
              </label>
            </div>
            <div class="rlo-ui-radio-container form-group corrBox">
              <!-- <div class="col-12  col-sm-3 col-md-3 res-pr-hide" [hidden]="AD_EMAIL1_CHECKBOX.isHidden()" [ngClass]="'checkboxLeft'"> -->
              <app-check-box class="AD_EMAIL1" #AD_EMAIL1_CHECKBOX fieldID="AD_EMAIL1_CHECKBOX" [formCode]="formCode"
                [uncheckedValue]="false" [checkedValue]="true" checked='true'
                (blur)="genericOnBlur('AD_EMAIL1_CHECKBOX', $event)"></app-check-box>
              <!-- </div> -->
              <div class="clr-brown fieldLegend emailCheck1">
                <label class="clr-brown">
                  {{ 'AddressDetails.AD_EMAIL1_CHECKBOX' | translate}}
                </label>
              </div>
              <!-- <div class="col-12  col-sm-4 col-md-4 res-pr-hide" [hidden]="AD_EMAIL2_CHECKBOX.isHidden()" [ngClass]="'checkboxLeft'"> -->

              <app-check-box #AD_EMAIL2_CHECKBOX fieldID="AD_EMAIL2_CHECKBOX" [formCode]="formCode"
                [uncheckedValue]="false" [checkedValue]="true" (blur)="genericOnBlur('AD_EMAIL2_CHECKBOX', $event)"
                style="margin-left: 33px; margin-top: 6px;"></app-check-box>
              <!-- </div> -->
              <div class="clr-brown fieldLegend emailCheck2">
                <label class="clr-brown">
                  {{ 'AddressDetails.AD_EMAIL2_CHECKBOX' | translate}}
                </label>
              </div>
            </div>
          </div>
          <!-- <div class="col-12  col-sm-3 col-md-3 res-pr-hide"></div> -->
          <div class="col-12  col-sm-6 col-md-6 res-pr-hide"></div>
          <div class="col-12  col-sm-3 col-md-3 res-pr-hide" *ngIf="!readOnly">
            <app-button #AD_CLEAR_BTN fieldName="{{ 'AddressDetails.AD_CLEAR_BTN' | translate}}" fieldID="AD_CLEAR_BTN"
              [formCode]="formCode" imagePath="./assets/icons/refresh-form.svg" [type]="2" customClass="icon-button"
              (buttonClick)="AD_CLEAR_BTN_click($event)"></app-button>

            <app-button #AD_SAVE_ADDRESS fieldName="{{ 'AddressDetails.AD_SAVE_ADDRESS' | translate}}"
              fieldID="AD_SAVE_ADDRESS" [formCode]="formCode" imagePath="./assets/icons/plus.svg" [type]="2"
              customClass="icon-button" (buttonClick)="AD_SAVE_ADDRESS_click($event)"></app-button>
          </div>
          <div style="min-height: 0px;height: 0px;" class="col-12 col-sm-12 col-md-12"></div>
          <div style="min-height: 0px;height: 0px;" class="col-12 col-sm-12 col-md-12"></div>
          <!-- <div class="col-12  col-sm-4 col-md-4 res-pr-hide"></div> -->
          <!-- <div class="col-12  col-sm-4 col-md-4 res-pr-hide"></div> -->
          <div class="col-12  col-sm-12 col-md-12 res-pr-hide" [hidden]="AddressGrid.isHidden()">
            <!-- <app-AddressDetailsGrid #AddressGrid fieldID="AddressGrid" [formCode]="formCode" 
                          (emitAddressDetails)="AddressGrid_emitAddressDetails($event)"
                          (addressLoaded)="AddressGrid_addressGridLoaded($event)">
                        </app-AddressDetailsGrid> -->
            <app-AddressDetailsGrid #AddressGrid fieldID="AddressGrid" [formCode]="formCode"
              (emitAddressDetails)="AddressGrid_emitAddressDetails($event)">
            </app-AddressDetailsGrid>
          </div>
          <div class="col-12  col-sm-4 col-md-4 res-pr-hide">
            <app-address-handler #Handler [MainComponent]="this"></app-address-handler>
          </div>
        </div>
        <app-hidden #hidAppId fieldID="hidAppId"></app-hidden>
        <app-hidden #hidAddType fieldID="hidAddType"></app-hidden>
        <app-hidden #hidMailingAddress fieldID="hidMailingAddress"></app-hidden>
        <app-hidden #hidResDurType fieldID="hidResDurType"></app-hidden>
        <app-hidden #hidLandISDCode fieldID="hidLandISDCode"></app-hidden>
        <app-hidden #hidOccStatus fieldID="hidOccStatus"></app-hidden>
        <app-hidden #hideOccType fieldID="hideOccType"></app-hidden>
        <app-hidden #AD_HIDE_ID fieldID="AD_HIDE_ID"></app-hidden>
        <app-hidden #hideCorrEmail fieldID="hideCorrEmail"></app-hidden>
        <app-hidden #hidCountryCode fieldID="hidCountryCode"></app-hidden>
        <app-hidden #hidPrefferTime fieldID="hidPrefferTime"></app-hidden>
      </div>
    </div>
  </div>
</form>
