<form class="MakeRelative">
<div class="clearfix content">
<div class="row" [ngStyle]="{'display' : displayTitle ? 'block': 'none'}">
<div class="col-sm-5 col-md-5">
</div>
<div class="col-sm-7 col-md-7 text-right xt-center" *ngIf="!formOnLoadError">
</div>
</div>
<div class="alert alert-danger" *ngIf="formOnLoadError">{{formOnLoadErrorMsg}}</div>
<div *ngIf="!formOnLoadError">
<div class="clearfix bi-reponsive" [ngClass]="{'display-border' : displayBorder}">
<div class="form-group pb10">
<div class="col-12  col-sm-12 col-md-12 res-pr-hide">
<app-label #AD_HEADING parentCompCode="AddressDetails" fieldID="AD_HEADING" [formCode]="formCode" fontFamily="sans-serif" fontColor="#555" fontStyle="normal" fontSize="16px" fontWeight="bold"></app-label>
</div>
<div class="col-12  col-sm-3 col-md-3 res-pr-hide" [hidden]="AD_ADDRESS_TYPE.isHidden()">
<div class="clr-brown fieldLegend">
<label class="clr-brown">
{{ 'AddressDetails.AD_ADDRESS_TYPE' | translate}}<span class="error-d">*</span>
</label>
</div>
<app-combo-box #AD_ADDRESS_TYPE category="2" fieldID="AD_ADDRESS_TYPE" [formCode]="formCode" domainObjectUrl="/MSTGENERALPARAM/{VALUE1}" domainObjectCode="MSTGENERALPARAM" [mandatory]="true" (blur)="genericOnBlur('AD_ADDRESS_TYPE', $event)"></app-combo-box>
</div>
<div class="col-12  col-sm-3 col-md-3 res-pr-hide" [hidden]="AD_PERIOD_CURR_RESI_YRS.isHidden()">
<div class="clr-brown fieldLegend">
<label class="clr-brown">
{{ 'AddressDetails.AD_PERIOD_CURR_RESI_YRS' | translate}}<span class="error-d">*</span>
</label>
</div>
<app-text-box #AD_PERIOD_CURR_RESI_YRS fieldID="AD_PERIOD_CURR_RESI_YRS" [formCode]="formCode" [mandatory]="true" (blur)="genericOnBlur('AD_PERIOD_CURR_RESI_YRS', $event)"></app-text-box>
</div>
<div class="col-12  col-sm-3 col-md-3 res-pr-hide" [hidden]="AD_PER_CURR_RES_MTHS.isHidden()">
<div class="clr-brown fieldLegend">
<label class="clr-brown">
{{ 'AddressDetails.AD_PER_CURR_RES_MTHS' | translate}}<span class="error-d">*</span>
</label>
</div>
<app-text-box #AD_PER_CURR_RES_MTHS fieldID="AD_PER_CURR_RES_MTHS" [formCode]="formCode" [mandatory]="true" (blur)="genericOnBlur('AD_PER_CURR_RES_MTHS', $event)"></app-text-box>
</div>
<div class="col-12  col-sm-3 col-md-3 res-pr-hide" [hidden]="AD_RESIDENCE_TYPE.isHidden()">
<div class="clr-brown fieldLegend">
<label class="clr-brown">
{{ 'AddressDetails.AD_RESIDENCE_TYPE' | translate}}<span class="error-d">*</span>
</label>
</div>
<app-combo-box #AD_RESIDENCE_TYPE category="2" fieldID="AD_RESIDENCE_TYPE" [formCode]="formCode" domainObjectUrl="/MSTGENERALPARAM/{VALUE1}" domainObjectCode="MSTGENERALPARAM" [mandatory]="true" (blur)="genericOnBlur('AD_RESIDENCE_TYPE', $event)"></app-combo-box>
</div>
<div style="min-height: 0px;height: 0px;" class="col-12 col-sm-12 col-md-12"></div>
<div class="col-12  col-sm-3 col-md-3 res-pr-hide" [hidden]="AD_ADDRESS_LINE1.isHidden()">
<div class="clr-brown fieldLegend">
<label class="clr-brown">
{{ 'AddressDetails.AD_ADDRESS_LINE1' | translate}}<span class="error-d">*</span>
</label>
</div>
<app-text-box #AD_ADDRESS_LINE1 fieldID="AD_ADDRESS_LINE1" [formCode]="formCode" [mandatory]="true" (blur)="genericOnBlur('AD_ADDRESS_LINE1', $event)"></app-text-box>
</div>
<div class="col-12  col-sm-3 col-md-3 res-pr-hide" [hidden]="AD_ADDRESS_LINE2.isHidden()">
<div class="clr-brown fieldLegend">
<label class="clr-brown">
{{ 'AddressDetails.AD_ADDRESS_LINE2' | translate}}</label>
</div>
<app-text-box #AD_ADDRESS_LINE2 fieldID="AD_ADDRESS_LINE2" [formCode]="formCode" (blur)="genericOnBlur('AD_ADDRESS_LINE2', $event)"></app-text-box>
</div>
<div class="col-12  col-sm-3 col-md-3 res-pr-hide" [hidden]="AD_ADDRESS_LINE3.isHidden()">
<div class="clr-brown fieldLegend">
<label class="clr-brown">
{{ 'AddressDetails.AD_ADDRESS_LINE3' | translate}}</label>
</div>
<app-text-box #AD_ADDRESS_LINE3 fieldID="AD_ADDRESS_LINE3" [formCode]="formCode" (blur)="genericOnBlur('AD_ADDRESS_LINE3', $event)"></app-text-box>
</div>
<div class="col-12  col-sm-3 col-md-3 res-pr-hide" [hidden]="AD_ADDRESS_LINE4.isHidden()">
<div class="clr-brown fieldLegend">
<label class="clr-brown">
{{ 'AddressDetails.AD_ADDRESS_LINE4' | translate}}</label>
</div>
<app-text-box #AD_ADDRESS_LINE4 fieldID="AD_ADDRESS_LINE4" [formCode]="formCode" (blur)="genericOnBlur('AD_ADDRESS_LINE4', $event)"></app-text-box>
</div>
<div class="col-12  col-sm-3 col-md-3 res-pr-hide" [hidden]="AD_PINCODE.isHidden()">
<div class="clr-brown fieldLegend">
<label class="clr-brown">
{{ 'AddressDetails.AD_PINCODE' | translate}}<span class="error-d">*</span>
</label>
</div>
<app-text-box #AD_PINCODE fieldID="AD_PINCODE" [formCode]="formCode" [mandatory]="true" (blur)="genericOnBlur('AD_PINCODE', $event)"></app-text-box>
</div>
<div class="col-12  col-sm-3 col-md-3 res-pr-hide" [hidden]="AD_REGION.isHidden()">
<div class="clr-brown fieldLegend">
<label class="clr-brown">
{{ 'AddressDetails.AD_REGION' | translate}}</label>
</div>
<app-text-box #AD_REGION fieldID="AD_REGION" [formCode]="formCode" (blur)="genericOnBlur('AD_REGION', $event)"></app-text-box>
</div>
<div class="col-12  col-sm-3 col-md-3 res-pr-hide" [hidden]="AD_CITY.isHidden()">
<div class="clr-brown fieldLegend">
<label class="clr-brown">
{{ 'AddressDetails.AD_CITY' | translate}}<span class="error-d">*</span>
</label>
</div>
<app-combo-box #AD_CITY category="2" fieldID="AD_CITY" [formCode]="formCode" domainObjectUrl="/MstCityDetails/{CityCd}" domainObjectCode="MstCityDetails" [mandatory]="true" (blur)="genericOnBlur('AD_CITY', $event)"></app-combo-box>
</div>
<div class="col-12  col-sm-3 col-md-3 res-pr-hide" [hidden]="AD_STATE.isHidden()">
<div class="clr-brown fieldLegend">
<label class="clr-brown">
{{ 'AddressDetails.AD_STATE' | translate}}<span class="error-d">*</span>
</label>
</div>
<app-combo-box #AD_STATE category="2" fieldID="AD_STATE" [formCode]="formCode" domainObjectUrl="/MstStateDetails/{StateCd}" domainObjectCode="MstStateDetails" [mandatory]="true" (blur)="genericOnBlur('AD_STATE', $event)"></app-combo-box>
</div>
<div style="min-height: 0px;height: nullpx;" class="col-12 col-sm-12 col-md-12"></div>
<div class="col-12  col-sm-3 col-md-3 res-pr-hide" [hidden]="AD_LANDMARK.isHidden()">
<div class="clr-brown fieldLegend">
<label class="clr-brown">
{{ 'AddressDetails.AD_LANDMARK' | translate}}</label>
</div>
<app-text-box #AD_LANDMARK fieldID="AD_LANDMARK" [formCode]="formCode" (blur)="genericOnBlur('AD_LANDMARK', $event)"></app-text-box>
</div>
<div class="col-12  col-sm-3 col-md-3 res-pr-hide" [hidden]="AD_LANDLINE_NUMBER.isHidden()">
<div class="clr-brown fieldLegend">
<label class="clr-brown">
{{ 'AddressDetails.AD_LANDLINE_NUMBER' | translate}}</label>
</div>
<app-text-box #AD_LANDLINE_NUMBER inputType="number" fieldID="AD_LANDLINE_NUMBER" [formCode]="formCode" (blur)="genericOnBlur('AD_LANDLINE_NUMBER', $event)"></app-text-box>
</div>
<div class="col-12  col-sm-3 col-md-3 res-pr-hide" [hidden]="AD_MAILING_ADDRESS.isHidden()">
<div class="clr-brown fieldLegend">
<label class="clr-brown">
{{ 'AddressDetails.AD_MAILING_ADDRESS' | translate}}</label>
</div>
<app-combo-box #AD_MAILING_ADDRESS category="2" fieldID="AD_MAILING_ADDRESS" [formCode]="formCode" domainObjectUrl="/MSTGENERALPARAM/{VALUE1}" domainObjectCode="MSTGENERALPARAM" (blur)="genericOnBlur('AD_MAILING_ADDRESS', $event)"></app-combo-box>
</div>
<div style="min-height: 0px;height: 0px;" class="col-12 col-sm-12 col-md-12"></div>
<div class="col-12  col-sm-3 col-md-3 res-pr-hide" [hidden]="AD_EMAIL_ID1.isHidden()">
<div class="clr-brown fieldLegend">
<label class="clr-brown">
{{ 'AddressDetails.AD_EMAIL_ID1' | translate}}</label>
</div>
<app-text-box #AD_EMAIL_ID1 fieldID="AD_EMAIL_ID1" [formCode]="formCode" (blur)="genericOnBlur('AD_EMAIL_ID1', $event)"></app-text-box>
</div>
<div class="col-12  col-sm-1 col-md-1 res-pr-hide" [hidden]="AD_EMAIL1_CHECKBOX.isHidden()" [ngClass]="'checkboxRight'">
<div class="clr-brown fieldLegend">
<label class="clr-brown">
{{ 'AddressDetails.AD_EMAIL1_CHECKBOX' | translate}}</label>
</div>
<app-check-box #AD_EMAIL1_CHECKBOX fieldID="AD_EMAIL1_CHECKBOX" [formCode]="formCode" placeholder="Placeholder" (blur)="genericOnBlur('AD_EMAIL1_CHECKBOX', $event)"></app-check-box>
</div>
<div class="col-12  col-sm-3 col-md-3 res-pr-hide" [hidden]="AD_EMAIL_ID2.isHidden()">
<div class="clr-brown fieldLegend">
<label class="clr-brown">
{{ 'AddressDetails.AD_EMAIL_ID2' | translate}}</label>
</div>
<app-text-box #AD_EMAIL_ID2 fieldID="AD_EMAIL_ID2" [formCode]="formCode" (blur)="genericOnBlur('AD_EMAIL_ID2', $event)"></app-text-box>
</div>
<div class="col-12  col-sm-1 col-md-1 res-pr-hide" [hidden]="AD_EMAIL2_CHECKBOX.isHidden()" [ngClass]="'checkboxRight'">
<div class="clr-brown fieldLegend">
<label class="clr-brown">
{{ 'AddressDetails.AD_EMAIL2_CHECKBOX' | translate}}</label>
</div>
<app-check-box #AD_EMAIL2_CHECKBOX fieldID="AD_EMAIL2_CHECKBOX" [formCode]="formCode" placeholder="Placeholder" (blur)="genericOnBlur('AD_EMAIL2_CHECKBOX', $event)"></app-check-box>
</div>
<div class="col-12  col-sm-3 col-md-3 res-pr-hide" [hidden]="AD_ALTERNATE_MOB_NO.isHidden()">
<div class="clr-brown fieldLegend">
<label class="clr-brown">
{{ 'AddressDetails.AD_ALTERNATE_MOB_NO' | translate}}</label>
</div>
<app-text-box #AD_ALTERNATE_MOB_NO inputType="number" fieldID="AD_ALTERNATE_MOB_NO" [formCode]="formCode" (blur)="genericOnBlur('AD_ALTERNATE_MOB_NO', $event)"></app-text-box>
</div>
<div style="min-height: 0px;height: 0px;" class="col-12 col-sm-12 col-md-12"></div>
<div style="min-height: 0px;height: 0px;" class="col-12 col-sm-12 col-md-12"></div>
<div style="min-height: 0px;height: 0px;" class="col-12 col-sm-12 col-md-12"></div>
<div class="col-12  col-sm-2 col-md-2 res-pr-hide" [hidden]="AD_SAVE_ADDRESS.isHidden()">
<app-button #AD_SAVE_ADDRESS fieldName="{{ 'AddressDetails.AD_SAVE_ADDRESS' | translate}}" fieldID="AD_SAVE_ADDRESS" [formCode]="formCode" (buttonClick)="AD_SAVE_ADDRESS_click($event)"></app-button>
</div>
<div class="col-12  col-sm-12 col-md-12 res-pr-hide" [hidden]="AddressGrid.isHidden()">
<app-AddressDetailsGrid #AddressGrid fieldID="AddressGrid" [formCode]="formCode" (emitAddressDetails)="AddressGrid_emitAddressDetails($event)"></app-AddressDetailsGrid>
</div>
</div>
<app-hidden #AD_HIDE_ID fieldID="AD_HIDE_ID"></app-hidden>
<app-hidden #hidAddType fieldID="hidAddType"></app-hidden>
<app-hidden #hidAppId fieldID="hidAppId"></app-hidden>
<app-hidden #hidMailingAddress fieldID="hidMailingAddress"></app-hidden>
<app-hidden #hidResType fieldID="hidResType"></app-hidden>
</div>
</div>
</div>
</form>
