<!-- <div class="ShowLoading " *ngIf="loadSpinner">
    <div class="lds-roller MakeItMiddle">
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </div>
  </div> -->
<div class="clearfix content wgt-decision-alert">
  <div class="alert alert-danger" *ngIf="formOnLoadError">{{formOnLoadErrorMsg}}</div>
  <div *ngIf="!formOnLoadError">
    <div class="clearfix bi-reponsive" [ngClass]="{'display-border' : displayBorder}">
      <!-- sentback start -->
      <!-- <div>{{parentData}}}</div> -->
      <div *ngIf="parentData == 'sentBack'">
        <div class="form-group pb10">
          <div>
            <div class="col-12  col-sm-12 col-md-12 res-pr-hide" [hidden]="DecisionReason.isHidden()">
              <div class="clr-brown fieldLegend">
                <label class="clr-brown">
                  {{ 'DecisionAlert.DecisionReason' | translate}}
                </label>
              </div>
              <app-combo-box #DecisionReason category="2" fieldID="DecisionReason" placeholder="Select"
                [formCode]="formCode" domainObjectUrl="/MSTGENERALPARAM/{VALUE1}" doServerUrl="/masters"
                domainObjectCode="MSTGENERALPARAM" (blur)="genericOnBlur('DecisionReason', $event)"></app-combo-box>
            </div>
            <div style="min-height: 0px;height: 0px;" class="col-12 col-sm-12 col-md-12"></div>
            <div class="col-12  col-sm-12 col-md-12 res-pr-hide" [hidden]="Remarks.isHidden()">
              <div class="clr-brown fieldLegend">
                <label class="clr-brown">
                  {{ 'DecisionAlert.Remarks' | translate}}
                </label>
              </div>
              <app-text-area #Remarks fieldID="Remarks" [formCode]="formCode" cols="10" placeholder="Enter" rows="15"
                (blur)="genericOnBlur('Remarks', $event)"></app-text-area>
            </div>
            <div class="save-btn-container col-12  col-sm-4 col-md-4">
              <app-button #ALTER_SUBMIT fieldName="{{ 'DecisionAlert.ALTER_SUBMIT' | translate}}" fieldID="ALTER_SUBMIT"
                [formCode]="formCode" customClass="btn btn-primary" (buttonClick)="ALTER_SUBMIT_click_sendback($event)">
              </app-button>
            </div>
            <!-- <div class="col-12  col-sm-4 col-md-4"></div> -->
            <div class="clr-btn-container col-12  col-sm-4 col-md-4  text-right">
              <app-button #ALTER_CANCEL fieldName="{{ 'DecisionAlert.ALTER_CANCEL' | translate}}" fieldID="ALTER_CANCEL"
                [formCode]="formCode" customClass="btn-warning-outline" (buttonClick)="close($event)">
              </app-button>
            </div>
          </div>
          <!-- <div class="modal-footer">
                <app-button #Done fieldName="{{ 'DecisionAlert.Done' | translate}}" fieldID="Done"
                  [formCode]="formCode" customClass="btn btn-primary" (buttonClick)="Decision_SUBMIT_click($event)">
                </app-button>
                <app-button #Close fieldName="{{ 'DecisionAlert.Close' | translate}}" fieldID="Close"
                  [formCode]="formCode" customClass="btn-warning-outline" (buttonClick)="goBack($event)"></app-button>
              </div> -->
          <!-- </div>
      </div> -->
        </div>
      </div>
      <!-- sentback end -->
      <!-- approve start -->
      <div *ngIf="parentData == 'approve'">
        <div class="form-group pb10">
          <div class="col-12  col-sm-12 col-md-12 res-pr-hide p-0" [hidden]="ApprovalReq.isHidden()">
            <div class="clr-brown fieldLegend">
              <label class="clr-brown" [ngClass]="{'mandatory': ApprovalReq.mandatory}">
                {{ 'DecisionAlert.ApprovalReq' | translate}}
              </label>
            </div>
            <rlo-ui-radio #ApprovalReq category="2" fieldID="ApprovalReq" [formCode]="formCode"
              domainObjectUrl="/MSTGENERALPARAM/{VALUE1}" doServerUrl="/masters" domainObjectCode="MSTGENERALPARAM"
              (blur)="genericOnBlur('ApprovalReq', $event)">
            </rlo-ui-radio>
          </div>
          <div class="col-12  col-sm-12 col-md-12 res-pr-hide p-0" [hidden]="DesignationAuthority.isHidden()">
            <div class="clr-brown fieldLegend">
              <label class="clr-brown" [ngClass]="{'mandatory': DesignationAuthority.mandatory}">
                {{ 'DecisionAlert.DesignationAuthority' | translate}}
              </label>
            </div>
            <app-combo-box #DesignationAuthority category="2" fieldID="DesignationAuthority" placeholder="Select"
              [formCode]="formCode" domainObjectUrl="/MstAuthorityDesignation/{AuthoritySeq}" doServerUrl="/masters"
              domainObjectCode="MstAuthorityDesignation" (blur)="genericOnBlur('DesignationAuthority', $event)">
            </app-combo-box>
          </div>
          <div style="min-height: 0px;height: 0px;" class="col-12 col-sm-12 col-md-12"></div>
          <div class="col-12  col-sm-12 col-md-12 res-pr-hide p-0" [hidden]="ApproverName.isHidden()">
            <div class="clr-brown fieldLegend">
              <label class="clr-brown"  [ngClass]="{'mandatory': ApproverName.mandatory}">
                {{ 'DecisionAlert.ApproverName' | translate}}
              </label>
            </div>
            <app-text-box #ApproverName id="ApproverName" fieldID="ApproverName" [formCode]="formCode"
              placeholder="Enter" (blur)="genericOnBlur('ApproverName', $event)"></app-text-box>
          </div>
          <div class="approver-docs d-block w-100 d-block">
            <span *ngIf="uplodedDocs.length">Required document uploaded</span>
          </div>
          
          <div class="save-btn-container col-12 col-sm-4 col-md-4 add-new-doc" *ngIf="!uplodedDocs.length">
            <app-button fieldName="{{ 'DecisionAlert.ALTER_ADD_DOC' | translate}}" fieldID="ALTER_ADD_DOC"
              [formCode]="formCode" customClass="btn btn-primary" (buttonClick)="uploadDocument($event)">
            </app-button>
          </div>
          <div class="save-btn-container col-12 col-sm-4 col-md-4" *ngIf="uplodedDocs.length">
            <app-button #ALTER_SUBMIT fieldName="{{ 'DecisionAlert.ALTER_SUBMIT' | translate}}" fieldID="ALTER_SUBMIT"
              [formCode]="formCode" customClass="btn btn-primary" (buttonClick)="ALTER_SUBMIT_click_approve($event)">
            </app-button>
          </div>
          <div class="col-12  col-sm-1 col-md-1"></div>
          <div class="clr-btn-container col-12  col-sm-4 col-md-4  text-right">
            <app-button #ALTER_CANCEL fieldName="{{ 'DecisionAlert.ALTER_CANCEL' | translate}}" fieldID="ALTER_CANCEL"
              [formCode]="formCode" customClass="btn-warning-outline" (buttonClick)="close($event)">
            </app-button>
          </div> -->
        </div>

        <div class="modal-footer ng-star-inserted p-0">
          <button class="btn btn-primary ng-star-inserted" type="button" (click)="ALTER_SUBMIT_click($event)">
            {{ 'DecisionAlert.ALTER_SUBMIT' | translate}}</button>
          <button class="btn btn-warning-outline ng-star-inserted" type="button" (click)="close($event)">
            {{ 'DecisionAlert.ALTER_CANCEL' | translate}}</button>
        </div>

        <!-- <div (click)="saveSections()">SAVE</div>
        <div (click)="cancelSections()">CANCEL</div> -->
      </div>
      <!-- approve end -->
      <app-hidden #hidDecisionRem fieldID="hidDecisionRem"></app-hidden>
      <app-hidden #hidAppId fieldID="hidAppId"></app-hidden>
      <app-hidden #hidApprovalReq fieldID="hidApprovalReq"></app-hidden>
    </div>
  </div>
</div>
