<!-- <div class="customer-container col-12 col-sm-12 col-md-12">
  <div class="cust-group col-12 col-sm-3 col-md-3">
    <div class="cust-header">
      <span class="cust-tag">{{ 'CustomerGridDTLS.BorrowerTag' | translate }}</span>
      <span class="cust-label">{{ 'CustomerGridDTLS.BorrowerLabel' | translate }}</span>
    </div>
    <div class="cust-list">
      <div *ngFor="let customer of customerTypeMap.get('B')" [ngClass]="{'active' : customer.editing }"
        class="customer">
        <div class="name">{{customer.CD_CUSTOMER_NAME}}</div>
        <div class="cust-editing">{{ 'CustomerGridDTLS.Editing' | translate }}</div>
        <div class="cust-edit" (click)="editCustomer($event, customer)"><i class="fas fa-pen"></i></div>
      </div>
    </div>
  </div>
  <div class="cust-group col-12 col-sm-3 col-md-3">
    <div class="cust-header">
      <span class="cust-tag">{{ 'CustomerGridDTLS.CoBorrowerTag' | translate }}</span>
      <span class="cust-label">{{ 'CustomerGridDTLS.CoBorrowerLabel' | translate }}</span>
      <span class="cust-add" (click)="doReset('CB')" [hidden]="!PlusFlag"><img src="assets/icons/add_plus.png" /></span>
       <span class="cust-add"><img src="assets/icons/add_plus.png"/></span> -->
<!-- </div>
    <div class="cust-list">
      <div *ngFor="let customer of customerTypeMap.get('CB')" [ngClass]="{'active' : customer.editing }"
        class="customer">
        <div class="name">{{customer.CD_CUSTOMER_NAME}}</div>
        <div class="cust-editing">{{ 'CustomerGridDTLS.Editing' | translate }}</div>
        <div class="cust-edit" (click)="editCustomer($event, customer)"><i class="fas fa-pen"></i></div>
      </div>
    </div>
  </div>
  <div class="cust-group col-12 col-sm-3 col-md-3">
    <div class="cust-header">
      <span class="cust-tag">{{ 'CustomerGridDTLS.GuarantorTag' | translate }}</span>
      <span class="cust-label">{{ 'CustomerGridDTLS.GuarantorLabel' | translate }}</span>
      <span class="cust-add" (click)="doReset('G')" [hidden]="!isLoanCategory"><img src="assets/icons/add_plus.png" /></span>
    </div>
    <div class="cust-list">
      <div *ngFor="let customer of customerTypeMap.get('G')" [ngClass]="{'active' : customer.editing }"
        class="customer">
        <div class="name">{{customer.CD_CUSTOMER_NAME}}</div>
        <div class="cust-editing">{{ 'CustomerGridDTLS.Editing' | translate }}</div>
        <div class="cust-edit" (click)="editCustomer($event, customer)"><i class="fas fa-pen"></i></div>
      </div>
    </div>
  </div>
  <div class="cust-group col-12 col-sm-3 col-md-3">
    <div class="cust-header">
      <span class="cust-tag">{{ 'CustomerGridDTLS.OtherPartyTag' | translate }}</span>
      <span class="cust-label">{{ 'CustomerGridDTLS.OtherPartyLabel' | translate }}</span>
      <span class="cust-add" (click)="doReset('OP')" [hidden]="!isLoanCategory"><img src="assets/icons/add_plus.png" /></span>
    </div>
    <div class="cust-list">
      <div *ngFor="let customer of customerTypeMap.get('OP')" [ngClass]="{'active' : customer.editing }"
        class="customer">
        <div class="name">{{customer.CD_CUSTOMER_NAME}}</div>
        <div class="cust-editing">{{ 'CustomerGridDTLS.Editing' | translate }}</div>
        <div class="cust-edit" (click)="editCustomer($event, customer)"><i class="fas fa-pen"></i></div>
      </div>
    </div>
  </div>
</div>  -->

<div class="customer-container col-12 col-sm-12 col-md-12" *ngIf="parentFormCode=='DDE' && !isLoanCategory;else loanCategoryStyle">
  <div class="cust-group col-12 col-sm-3 col-md-3">
    <div class="cust-header">
      <span class="cust-tag">{{ 'CustomerGridDTLS.BorrowerTag' | translate }}</span>
      <span class="cust-label">{{ 'CustomerGridDTLS.BorrowerLabel' | translate }}</span>
    </div>
    <div class="cust-list">
      <div *ngFor="let customer of customerTypeMap.get('B')" [ngClass]="{'active' : customer.editing }" class="customer">
        <div class="name">{{customer.CD_CUSTOMER_NAME}}</div>
        <div class="cust-editing">{{ 'CustomerGridDTLS.Editing' | translate }}</div>
        <div class="action-container">
          <div class="cust-edit" (click)="editCustomer($event, customer)">
            <i class="fas fa-pen"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="cust-group col-12 col-sm-3 col-md-3">
    <div class="cust-header">
      <span class="cust-tag">{{ 'CustomerGridDTLS.AddOnDetails' | translate }}</span>
      <span class="cust-label">{{ 'CustomerGridDTLS.AddOnDetailsLable' | translate }}</span>
      <span class="cust-add" (click)="doReset('A')">
        <img src="assets/icons/add_plus.png" />
      </span>
    </div>
    <div class="cust-list">
      <div *ngFor="let customer of customerTypeMap.get('A')" [ngClass]="{'active' : customer.editing }" class="customer">
        <div class="name">{{customer.CD_CUSTOMER_NAME}}</div>
        <div class="cust-editing">{{ 'CustomerGridDTLS.Editing' | translate }}</div>
        <div class="action-container">
          <div class="cust-edit" (click)="editCustomer($event, customer)">
            <i class="fas fa-pen"></i>
          </div>
          <div class="cust-delete" (click)="deleteCustomer($event, customer)">
            <span>
              <img src="/assets/icons/delete.svg" />
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #loanCategoryStyle>
  <div class="customer-container col-12 col-sm-12 col-md-12">
    <div class="cust-group col-12 col-sm-3 col-md-3">
      <div class="cust-header">
        <span class="cust-tag">{{ 'CustomerGridDTLS.BorrowerTag' | translate }}</span>
        <span class="cust-label">{{ 'CustomerGridDTLS.BorrowerLabel' | translate }}</span>
      </div>
      <div class="cust-list">
        <div *ngFor="let customer of customerTypeMap.get('B')" [ngClass]="{'active' : customer.editing }" class="customer">
          <div class="name">{{customer.CD_CUSTOMER_NAME}}</div>
          <div class="cust-editing">{{ 'CustomerGridDTLS.Editing' | translate }}</div>
          <div class="action-container">
            <div class="cust-edit" (click)="editCustomer($event, customer)">
              <i class="fas fa-pen"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="cust-group col-12 col-sm-3 col-md-3">
      <div class="cust-header">
        <span class="cust-tag">{{ 'CustomerGridDTLS.CoBorrowerTag' | translate }}</span>
        <span class="cust-label">{{ 'CustomerGridDTLS.CoBorrowerLabel' | translate }}</span>
        <span class="cust-add" (click)="doReset('CB')" [hidden]="!PlusFlag">
          <img src="assets/icons/add_plus.png" />
        </span>
      </div>
      <div class="cust-list">
        <div *ngFor="let customer of customerTypeMap.get('CB')" [ngClass]="{'active' : customer.editing }" class="customer">
          <div class="name">{{customer.CD_CUSTOMER_NAME}}</div>
          <div class="cust-editing">{{ 'CustomerGridDTLS.Editing' | translate }}</div>
          <div class="action-container">
            <div class="cust-edit" (click)="editCustomer($event, customer)">
              <i class="fas fa-pen"></i>
              <!-- <span><img src="/assets/icons/edit.svg"></span> -->
            </div>
            <div class="cust-delete" (click)="deleteCustomer($event, customer)">
              <span>
                <img src="/assets/icons/delete.svg" />
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="cust-group col-12 col-sm-3 col-md-3">
      <div class="cust-header">
        <span class="cust-tag">{{ 'CustomerGridDTLS.GuarantorTag' | translate }}</span>
        <span class="cust-label">{{ 'CustomerGridDTLS.GuarantorLabel' | translate }}</span>
        <span class="cust-add" (click)="doReset('G')" [hidden]="!isLoanCategory">
          <img src="assets/icons/add_plus.png" />
        </span>
      </div>
      <div class="cust-list">
        <div *ngFor="let customer of customerTypeMap.get('G')" [ngClass]="{'active' : customer.editing }" class="customer">
          <div class="name">{{customer.CD_CUSTOMER_NAME}}</div>
          <div class="cust-editing">{{ 'CustomerGridDTLS.Editing' | translate }}</div>
          <div class="action-container">
            <div class="cust-edit" (click)="editCustomer($event, customer)">
              <i class="fas fa-pen"></i>
            </div>
            <div class="cust-delete" (click)="deleteCustomer($event, customer)">
              <span>
                <img src="/assets/icons/delete.svg" />
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="cust-group col-12 col-sm-3 col-md-3">
      <div class="cust-header">
        <span class="cust-tag">{{ 'CustomerGridDTLS.OtherPartyTag' | translate }}</span>
        <span class="cust-label">{{ 'CustomerGridDTLS.OtherPartyLabel' | translate }}</span>
        <span class="cust-add" (click)="doReset('OP')" [hidden]="!isLoanCategory">
          <img src="assets/icons/add_plus.png" />
        </span>
      </div>
      <div class="cust-list">
        <div *ngFor="let customer of customerTypeMap.get('OP')" [ngClass]="{'active' : customer.editing }" class="customer">
          <div class="name">{{customer.CD_CUSTOMER_NAME}}</div>
          <div class="cust-editing">{{ 'CustomerGridDTLS.Editing' | translate }}</div>
          <div class="action-container">
            <div class="cust-edit" (click)="editCustomer($event, customer)">
              <i class="fas fa-pen"></i>
            </div>
            <div class="cust-delete" (click)="deleteCustomer($event, customer)">
              <span>
                <img src="/assets/icons/delete.svg" />
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>
