<!-- Page Heading -->
<!-- Card Styles with Footer -->
<div style="padding: 1.8rem;transition: all ease-in .3s;">


    <div style="position: relative;">
        <i class="fas fa-angle-left slideIcon" (click)="ScrollLeft()"></i>
        <i class="fas fa-angle-right slideIconRight" (click)="ScrollRight()"></i>
        <div class="row scrollHide" id="body-scroll" style="flex-wrap: nowrap; overflow-x: auto;">
            <div class="col-xl-3 col-md-12" id="RefWidth" style="padding: 0px 15px 0px 10px;">
                <div class="card bg-yellow text-white shadow">
                    <div class="card-block">
                        <div class="row align-items-end">
                            <div class="col-8">
                                <h4 *ngIf="!formatedAmout" class="text-white">€<span class="count">{{TotalSales}}</span>
                                </h4>
                                <h4 *ngIf="formatedAmout" class="text-white">€<span>{{TotalSalesFormated}}</span></h4>
                                <h6 class="text-white m-b-0">Total Sales</h6>
                            </div>
                            <div class="col-4 text-right">
                                <iframe class="chartjs-hidden-iframe" tabindex="-1"
                                    style="display: block; overflow: hidden; border: 0px; margin: 0px; top: 0px; left: 0px; bottom: 0px; right: 0px; height: 100%; width: 100%; position: absolute; pointer-events: none; z-index: -1;"></iframe>
                                <canvas id="update-chart-1" height="50"
                                    style="display: block; width: 40px; height: 45px;" width="45"></canvas>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <p class="text-white m-b-0">
                            <i class="far fa-clock text-white f-14 m-r-10"></i>
                            update : {{UpDatedTime}}</p>
                    </div>
                </div>
            </div>

            <div class="col-xl-3 col-md-12" style="padding: 0px 15px 0px 10px;">
                <div class="card bg-green text-white shadow">
                    <div class="card-block">
                        <div class="row align-items-end">
                            <div class="col-8">
                                <h4 class="text-white"><span class="count">{{TotalOrders}}</span></h4>
                                <h6 class="text-white m-b-0">Total Orders</h6>
                            </div>
                            <div class="col-4 text-right"><iframe class="chartjs-hidden-iframe" tabindex="-1"
                                    style="display: block; overflow: hidden; border: 0px; margin: 0px; top: 0px; left: 0px; bottom: 0px; right: 0px; height: 100%; width: 100%; position: absolute; pointer-events: none; z-index: -1;"></iframe>
                                <canvas id="update-chart-2" width="45" height="50"
                                    style="display: block; width: 40px; height: 45px;"></canvas>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <p class="text-white m-b-0">
                            <i class="far fa-clock text-white f-14 m-r-10"></i>
                            update : {{UpDatedTime}}</p>
                    </div>
                </div>
            </div>

            <div class="col-xl-3 col-md-12" style="padding: 0px 15px 0px 10px;">
                <div class="card bg-pin text-white shadow">
                    <div class="card-block">
                        <div class="row align-items-end">
                            <div class="col-8">
                                <h4 class="text-white"><span class="count">{{NewCustomers}}</span></h4>
                                <h6 class="text-white m-b-0">New sign ups</h6>
                            </div>
                            <div class="col-4 text-right"><iframe class="chartjs-hidden-iframe" tabindex="-1"
                                    style="display: block; overflow: hidden; border: 0px; margin: 0px; top: 0px; left: 0px; bottom: 0px; right: 0px; height: 100%; width: 100%; position: absolute; pointer-events: none; z-index: -1;"></iframe>
                                <canvas id="update-chart-3" height="50"
                                    style="display: block; width: 40px; height: 45px;" width="45"></canvas>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <p class="text-white m-b-0">
                            <i class="far fa-clock text-white f-14 m-r-10"></i>
                            update : {{UpDatedTime}}</p>
                    </div>
                </div>
            </div>

            <div class="col-xl-3 col-md-12" style="padding: 0px 15px 0px 10px;">
                <div class="card bg-lite-green text-white shadow">
                    <div class="card-block">
                        <div class="row align-items-end">
                            <div class="col-8">
                                <h4 class="text-white"><span class="count">{{TotalLoansToday}}</span></h4>
                                <h6 class="text-white m-b-0">Total Loans</h6>
                            </div>
                            <div class="col-4 text-right"><iframe class="chartjs-hidden-iframe" tabindex="-1"
                                    style="display: block; overflow: hidden; border: 0px; margin: 0px; top: 0px; left: 0px; bottom: 0px; right: 0px; height: 100%; width: 100%; position: absolute; pointer-events: none; z-index: -1;"></iframe>
                                <canvas id="update-chart-4" height="50"
                                    style="display: block; width: 40px; height: 45px;" width="45"></canvas>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <p class="text-white m-b-0">
                            <i class="far fa-clock text-white f-14 m-r-10"></i>
                            update : {{UpDatedTime}}</p>
                    </div>
                </div>
            </div>

            <div class="col-xl-3 col-md-12" style="padding: 0px 15px 0px 10px;">
                <div class="card  bg-yellow text-white shadow">
                    <div class="card-block">
                        <div class="row align-items-end">
                            <div class="col-8">
                                <h4 class="text-white">€8.500,00</h4>
                                <h6 class="text-white m-b-0" style="white-space: nowrap;">Collection Scheduled</h6>
                            </div>
                            <div class="col-4 text-right"><iframe class="chartjs-hidden-iframe" tabindex="-1"
                                    style="display: block; overflow: hidden; border: 0px; margin: 0px; top: 0px; left: 0px; bottom: 0px; right: 0px; height: 100%; width: 100%; position: absolute; pointer-events: none; z-index: -1;"></iframe>
                                <canvas id="update-chart-5" height="50"
                                    style="display: block; width: 40px; height: 45px;" width="45"></canvas>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <p class="text-white m-b-0">
                            <i class="far fa-clock text-white f-14 m-r-10"></i>
                            update : {{UpDatedTime}}</p>
                    </div>
                </div>
            </div>

            <div class="col-xl-3 col-md-12" style="padding: 0px 15px 0px 10px;">
                <div class="card bg-green text-white shadow">
                    <div class="card-block">
                        <div class="row align-items-end">
                            <div class="col-8">
                                <h4 class="text-white">€7.600,00</h4>
                                <h6 class="text-white m-b-0">Payment Received</h6>
                            </div>
                            <div class="col-4 text-right"><iframe class="chartjs-hidden-iframe" tabindex="-1"
                                    style="display: block; overflow: hidden; border: 0px; margin: 0px; top: 0px; left: 0px; bottom: 0px; right: 0px; height: 100%; width: 100%; position: absolute; pointer-events: none; z-index: -1;"></iframe>
                                <canvas id="update-chart-6" height="50"
                                    style="display: block; width: 40px; height: 45px;" width="45"></canvas>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <p class="text-white m-b-0">
                            <i class="far fa-clock text-white f-14 m-r-10"></i>
                            update : {{UpDatedTime}}</p>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <!--one line graph and project risk -->
    <div class='row'>
        <div class="col-xl-9 col-md-12">
            <div class="card shadow h-auto  card user-card2" style="border-radius: 6px !important; overflow: hidden;">
                <div class="card-header">
                    <h5>Monthly Sales Analytics</h5>
                    <span class="text-muted">Data points are plotted for every week</span>
                    <!-- <div class="card-header-right">
                        <ul class="list-unstyled card-option" style="display: flex;">
                            <li><i class="fa fa-expand full-card"></i></li>
                            <li style="margin-top: -8px;"> <a class="btn-card-collapse fas" data-toggle="collapse"
                                    data-target="#LineDashboardBody"></a>
                            </li>
                            <li style="margin-top: -1px;"><i style="font-size: 14px;"
                                    class="far fa-trash-alt close-card"></i></li>
                        </ul>
                    </div> -->
                </div>

                <div class="card-body show" style="padding: 0px;" id="LineDashboardBody">
                    <div id="chartdiv"
                        style="width: 100%; height: 325px; font-size: 11px; position: relative; margin-top: -25px;">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-12">
            <div class="card user-card2">
                <div class="card-block text-center">
                    <h6 class="m-b-15" style="font-size: 14px; font-weight: 600; color: #505458;">
                        Loan Performance
                    </h6>
                    <div class="risk-rate" style="margin-top: 15px;">
                        <span
                            [ngClass]="{'top-border-colour': balenced=='0' ,'left-border-colour': balenced=='-1' ,'right-border-colour': balenced=='1' }">
                            <b style="white-space: nowrap;">{{RiskPersentage}}%</b>
                        </span>
                    </div>
                    <h6 class="m-b-30 m-t-20" *ngIf="balenced!='1'">Balanced</h6>
                    <h6 class="m-b-30 m-t-20" *ngIf="balenced=='1'">Unbalanced</h6>
                    <!-- <a class="text-c-yellow b-b-warning">Change Your Risk</a> -->
                    <div class="row justify-content-center m-t-10 b-t-default m-l-0 m-r-0">
                        <div class="col m-t-15 b-r-default">
                            <h6 class="text-muted">Loans</h6>
                            <h6>{{TotalLoans}}</h6>
                        </div>
                        <div class="col m-t-15">
                            <h6 class="text-muted">Defaulters</h6>
                            <h6>{{LoanDefaulters}}</h6>
                        </div>
                    </div>
                </div>
                <button style="margin-top: 2px;  border-top-right-radius: 0px;border-top-left-radius: 0px;"
                    class="btn btn-warning btn-block p-t-15 p-b-15">Download Overall Report</button>
            </div>
        </div>
    </div>


    <!--one lastest update and pie char-->
    <div class="row">
        <div class="col-xl-6 col-md-12">
            <div class="card latest-update-card">
                <div class="card-header">
                    <h5>Loan Statistics</h5>
                    <div class="card-header-right">

                    </div>
                </div>
                <div class="card-block" style="padding-bottom: 25px;">
                    <div class="latest-update-box">
                        <div class="row p-t-10 p-b-20">
                            <div class="col-auto text-right update-meta">
                                <p class="text-muted m-b-0 d-inline"></p>
                                <i class="fas fa-toolbox bg-info update-icon"></i>
                            </div>
                            <div class="col">
                                <h6>{{totalActiveLoans}} Loans</h6>
                                <p class="text-muted m-b-0">Total number of active loans</p>
                            </div>
                        </div>
                        <div class="row p-b-20">
                            <div class="col-auto text-right update-meta">
                                <p class="text-muted m-b-0 d-inline"> </p>
                                <i class="far fa-money-bill-alt bg-simple-c-pink update-icon"></i>
                            </div>
                            <div class="col">
                                <h6>€{{totalActiveLoanAmount}} </h6>
                                <p class="text-muted m-b-0">Total value of active loans</p>
                            </div>
                        </div>
                        <div class="row p-b-20">
                            <div class="col-auto text-right update-meta">
                                <p class="text-muted m-b-0 d-inline"> </p>
                                <i class="fas fa-hand-holding-usd bg-simple-c-yellow  update-icon"></i>
                            </div>
                            <div class="col">
                                <h6>{{totalDefaultLoans}} Past Dues</h6>
                                <p class="text-muted m-b-0">Total number of defaulted loans
                                </p>
                            </div>
                        </div>
                        <div class="row p-b-40">
                            <div class="col-auto text-right update-meta">
                                <p class="text-muted m-b-0 d-inline"> </p>
                                <i class="far fa-money-bill-alt bg-simple-c-green update-icon"></i>
                            </div>
                            <div class="col">
                                <h6>€{{totalDefaultLoanAmount}}</h6>
                                <p class="text-muted m-b-0">Total value of defaulted loans</p>
                            </div>
                        </div>

                    </div>
                    <div class="text-center">
                        <a class="b-b-primary text-primary">View all</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-6 col-md-12">
            <div class="card per-task-card">
                <div class="card-header">
                    <h5 style="text-align: center; width: 50%;margin: 0px;">Orders vs Delivery</h5>
                    <h5 style="text-align: center; width: 50%;margin: 0px;">Receivables vs Payments</h5>
                </div>
                <div class="card-block">
                    <div class="row per-task-block text-center">
                        <div class="col-6">
                            <div [class]="'radial-bar radial-bar-'+OrdersPersentageIn5+' radial-bar-lg radial-bar-primary'"
                                [attr.data-label]="OrdersPersentage+'%'">
                            </div>
                            <h6 class="text-muted">Delivered</h6>
                            <p class="text-muted">{{CurrentMonthDelivered}}</p>
                            <button class="btn btn-sm">{{monthName}} {{year}}</button>
                        </div>
                        <div class="col-6">
                            <div [attr.data-label]="PaymentsPersentage+'%'"
                                [class]="'radial-bar radial-bar-'+PaymentsPersentageIn5+' radial-bar-lg radial-bar-primary'">
                            </div>
                            <h6 class="text-muted">Payments</h6>
                            <p class="text-muted">€{{totalCollectionAmountFormated}}</p>
                            <button class="btn btn-sm">{{monthName}} {{year}}</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- one bar char and icon bars -->
    <div class="row">
        <div class="col-xl-8 col-md-12">
            <div class="card" style="overflow: hidden;">
                <div class="card-header">
                    <div class="card-header-left ">
                        <h5>Monthly View</h5>
                        <span class="text-muted"></span>
                    </div>
                    <!-- <div class="card-header-right">
                        <ul class="list-unstyled card-option" style="display: flex;">
                            <li><i class="fa fa-expand full-card"></i></li>
                            <li style="margin-top: -8px;"> <a class="btn-card-collapse fas" data-toggle="collapse"
                                    data-target="#barDashboardBody"></a>
                            </li>
                            <li style="margin-top: -1px;"><i style="font-size: 14px;"
                                    class="far fa-trash-alt close-card"></i></li>
                        </ul>
                    </div> -->
                </div>
                <div class="card-block-big  show" style="padding: 0px;" id="barDashboardBody">
                    <div id="monthly-graph"
                        style="    height: 312px;font-size: 11px; overflow: hidden; text-align: left;">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-4 col-md-12">
            <div class="card feed-card">
                <div class="card-header">
                    <h5>Feeds</h5>
                </div>
                <div class="card-block">
                    <div class="row m-b-30">
                        <div class="col-auto p-r-0">
                            <i style="font-size: 13px; padding-top: 10px;"
                                class="far fa-bell bg-simple-c-blue feed-icon"></i>
                        </div>
                        <div class="col">
                            <h6 class="m-b-5">You have 3 pending tasks. <span class="text-muted f-right f-13">Just
                                    Now</span></h6>
                        </div>
                    </div>
                    <div class="row m-b-30">
                        <div class="col-auto p-r-0">
                            <i style="font-size: 12px; padding-top: 10px;"
                                class="fas fa-shopping-cart bg-simple-c-pink feed-icon"></i>
                        </div>
                        <div class="col">
                            <h6 class="m-b-5">New order received <span class="text-muted f-right f-13">Just Now</span>
                            </h6>
                        </div>
                    </div>
                    <div class="row m-b-30">
                        <div class="col-auto p-r-0">
                            <i style="font-size: 13px; padding-top: 10px;"
                                class="far fa-file-alt bg-simple-c-green feed-icon"></i>
                        </div>
                        <div class="col">
                            <h6 class="m-b-5">You have 3 pending tasks. <span class="text-muted f-right f-13">Just
                                    Now</span></h6>
                        </div>
                    </div>
                    <div class="row m-b-30">
                        <div class="col-auto p-r-0">
                            <i style="font-size: 12px; padding-top: 10px;"
                                class="fas fa-shopping-cart bg-simple-c-pink feed-icon"></i>
                        </div>
                        <div class="col">
                            <h6 class="m-b-5">New order received <span class="text-muted f-right f-13">Just Now</span>
                            </h6>
                        </div>
                    </div>
                    <div class="row m-b-30">
                        <div class="col-auto p-r-0">
                            <i class="far fa-file-alt bg-simple-c-green feed-icon"></i>
                        </div>
                        <div class="col">
                            <h6 class="m-b-5">You have 3 pending tasks. <span class="text-muted f-right f-13">Just
                                    Now</span></h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!--Three charts-->

    <div class="row">
        <div class="col-xl-4 col-md-12">
            <div class="card"><iframe class="chartjs-hidden-iframe" tabindex="-1"
                    style="display: block; overflow: hidden; border: 0px; margin: 0px; top: 0px; left: 0px; bottom: 0px; right: 0px; height: 100%; width: 100%; position: absolute; pointer-events: none; z-index: -1;"></iframe>
                <div class="card-header">
                    <h5>Total Customers</h5>
                    <div class="card-header-right">
                    </div>
                </div>
                <div class="card-block">
                    <p class="text-c-green f-w-500"><i class="feather icon-chevrons-up m-r-5"></i> 18% High than last
                        month
                    </p>
                    <div class="row">
                        <div class="col-4 b-r-default" style="padding-right: 0px;">
                            <p class="text-muted m-b-5">To Date</p>
                            <h5>138.544,00</h5>
                        </div>
                        <div class="col-4 b-r-default">
                            <p class="text-muted m-b-5">This Month</p>
                            <h5>4.700</h5>
                        </div>
                        <div class="col-4">
                            <p class="text-muted m-b-5">Today</p>
                            <h5>{{NewCustomers}}</h5>
                        </div>
                    </div>
                </div>
                <canvas #totLead height="150" width="324" style="display: block; width: 324px; height: 150px;"></canvas>
            </div>
        </div>
        <div class="col-xl-4 col-md-12">
            <div class="card"><iframe class="chartjs-hidden-iframe" tabindex="-1"
                    style="display: block; overflow: hidden; border: 0px; margin: 0px; top: 0px; left: 0px; bottom: 0px; right: 0px; height: 100%; width: 100%; position: absolute; pointer-events: none; z-index: -1;"></iframe>
                <div class="card-header">
                    <h5>Total Sales</h5>
                    <div class="card-header-right">

                    </div>
                </div>
                <div class="card-block">
                    <p class="text-c-green  f-w-500"><i class="feather icon-chevrons-down m-r-15"></i> 24% High than
                        last
                        month</p>
                    <div class="row">
                        <div class="col-6 b-r-default">
                            <p class="text-muted m-b-5">This Month</p>
                            <h5>€34.856,00</h5>
                        </div>
                        <!-- <div class="col-4 b-r-default">
                            <p class="text-muted m-b-5">Monthly</p>
                            <h5>€34.856,00</h5>
                        </div> -->
                        <div class="col-6">
                            <p class="text-muted m-b-5">Today</p>
                            <h5>€{{TotalSalesFormated}}</h5>
                        </div>
                    </div>
                </div>
                <canvas #totVendor height="150" width="324"
                    style="display: block; width: 324px; height: 150px;"></canvas>
            </div>
        </div>
        <div class="col-xl-4 col-md-12">
            <div class="card"><iframe class="chartjs-hidden-iframe" tabindex="-1"
                    style="display: block; overflow: hidden; border: 0px; margin: 0px; top: 0px; left: 0px; bottom: 0px; right: 0px; height: 100%; width: 100%; position: absolute; pointer-events: none; z-index: -1;"></iframe>
                <div class="card-header">
                    <h5>Total Merchants</h5>
                    <div class="card-header-right">
                    </div>
                </div>
                <div class="card-block">
                    <p class="text-c-pink f-w-500"><i class="feather icon-chevrons-up m-r-5"></i>
                        2% Low than last month
                    </p>
                    <div class="row">
                        <div class="col-4 b-r-default">
                            <p class="text-muted m-b-5">To Date</p>
                            <h5>543</h5>
                        </div>
                        <div class="col-4 b-r-default">
                            <p class="text-muted m-b-5">This Month</p>
                            <h5>56</h5>
                        </div>
                        <div class="col-4">
                            <p class="text-muted m-b-5">Today</p>
                            <h5>{{TodayMerchant}}</h5>
                        </div>
                    </div>
                </div>
                <canvas #invoiceGen height="150" width="324"
                    style="display: block; width: 324px; height: 150px;"></canvas>
            </div>
        </div>
    </div>


    <!-- Status -->
    <div class="row">
        <div class="col-12 my-3">
            <div class="card shadow h-auto">
                <div class="card-header rounded-0 py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-dark">Payment Hub - Statistics for the Month</h6>

                </div>
                <div class="card-body collapse show" id="cardStatusOneBody">
                    <div class="d-sm-flex flex-row justify-content-between align-items-center "
                        style="    padding-bottom: 20px;">
                        <div
                            class="col-lg-3 col-xs-3 col-md-6 d-flex flex-row justify-content-around align-items-center">
                            <div class="d-block py-2">
                                <i class="fas fa-users fa-3x text-c-green" style="font-size: 32px;"></i>
                            </div>
                            <div class="d-block py-1">
                                <span class="text-gray-800">Total Customers</span>
                                <p class="mb-0 display-5 font-weight-bolder text-c-green">138.544,00</p>
                                <span class="text-c-green f-w-500 f-s-13">5% High than last month</span>
                            </div>
                        </div>
                        <div
                            class="col-lg-3 col-xs-3 col-md-6 d-flex flex-row justify-content-around align-items-center">
                            <div class="d-block py-2">
                                <i class="	fas fa-box fa-3x text-c-green" style="font-size: 32px"></i>
                            </div>
                            <div>
                                <div class="d-block py-1">
                                    <span class="text-gray-800">Total Sales</span>
                                    <p class="mb-0 display-5 font-weight-bolder text-c-green">€34.856,00</p>
                                    <span class="text-c-green">3% High than last month</span>
                                </div>
                            </div>
                        </div>
                        <div
                            class="col-lg-3 col-xs-3 col-md-6 d-flex flex-row justify-content-around align-items-center">
                            <div class="d-block py-2">
                                <i class="fas fa-user-tie fa-3x text-c-pink" style="font-size: 32px;"></i>
                            </div>
                            <div>
                                <div class="d-block py-1">
                                    <span class="text-gray-800">Total Merchants</span>
                                    <p class="mb-0 display-5 font-weight-bolder text-c-pink ">543</p>
                                    <span class="text-c-pink f-w-500 f-s-13">2% Low than last month</span>
                                </div>
                            </div>
                        </div>

                    </div>
                    <!-- <div class="card-footer d-flex flex-row align-items-center justify-content-center">
                        <div class="">
                            <a href="#" class="btn btn-info rounded-pill px-4">
                                View Report
                            </a>
                        </div>
                    </div> -->
                </div>
                <div class="card-body collapse show" id="cardStatusOneBody">
                    <div class="d-sm-flex flex-row justify-content-between align-items-center "
                        style="    padding-bottom: 20px;">
                        <div
                            class="col-lg-3 col-xs-3 col-md-6 d-flex flex-row justify-content-around align-items-center">
                            <div class="d-block py-2">
                                <i class="fas fa-hand-holding-usd fa-3x text-warning" style="font-size: 32px"></i>
                            </div>
                            <div class="d-block py-1">
                                <span class="text-gray-800">Total To Be Paid</span>
                                <p class="mb-0 display-5 font-weight-bolder text-warning ">0.9M</p>
                                <span class="text-warning f-w-500">2% High than last month</span>
                            </div>
                        </div>
                        <div
                            class="col-lg-3 col-xs-3 col-md-6 d-flex flex-row justify-content-around align-items-center">
                            <div class="d-block py-2">
                                <i class="fas fa-toolbox fa-3x text-c-green" style="font-size: 32px"></i>
                            </div>
                            <div>
                                <div class="d-block py-1">
                                    <span class="text-gray-800">Total Loans</span>
                                    <p class="mb-0 display-5 font-weight-bolder text-c-green">{{TotalLoan}}</p>
                                    <span class="text-c-green">8% Low than last month</span>
                                </div>
                            </div>
                        </div>
                        <div
                            class="col-lg-3 col-xs-3 col-md-6 d-flex flex-row justify-content-around align-items-center">
                            <div class="d-block py-2">
                                <i class="fas fa-info-circle fa-3x text-c-green" style="font-size: 32px"></i>
                            </div>
                            <div>
                                <div class="d-block py-1">
                                    <span class="text-gray-800">Total Refunds</span>
                                    <p class="mb-0 display-5 font-weight-bolder text-c-green">0.1M</p>
                                    <span class="text-c-green">24% High than last month</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- <div class="card-footer d-flex flex-row align-items-center justify-content-center">
                        <div class="">
                            <a href="#" class="btn btn-info rounded-pill px-4">
                                View Report
                            </a>
                        </div>
                    </div> -->
                </div>
            </div>
        </div>
    </div>
</div>