<form>
<div class="clearfix content">
<div class="row" [ngStyle]="{'display' : displayTitle ? 'block': 'none'}">
<div class="col-sm-5 col-md-5">
<h4 class="FormTitle">
{{ 'TestAddLoanForm.FormTitle' | translate }}
</h4>
</div>
<div class="col-sm-7 col-md-7 text-right xt-center" *ngIf="!formOnLoadError">
<app-button #Save fieldName="{{ 'TestAddLoanForm.Save' | translate}}" fieldID="Save" [formCode]="formCode" style="margin-right: 1rem; width: 16.67%" [hidden]="Save.isHidden()"  (buttonClick)="Save_click($event)"></app-button>
<app-button #Cancel fieldName="{{ 'TestAddLoanForm.Cancel' | translate}}" fieldID="Cancel" [formCode]="formCode" style="margin-right: 1rem; width: 16.67%" [hidden]="Cancel.isHidden()" ></app-button>
</div>
</div>
<div class="alert alert-danger" *ngIf="formOnLoadError">{{formOnLoadErrorMsg}}</div>
<div *ngIf="!formOnLoadError">
<div class="clearfix bi-reponsive" [ngClass]="{'display-border' : displayBorder}">
<div class="form-group pb10">
<div class="col-12  col-sm-4 col-md-4 res-pr-hide" [hidden]="ARN.isHidden()">
<div class="clr-brown fieldLegend">
<label class="clr-brown">
{{ 'TestAddLoanForm.ARN' | translate}}<span class="error-d">*</span>
</label>
</div>
<app-text-box #ARN fieldID="ARN" [formCode]="formCode" placeholder="ARN" [mandatory]="true" (blur)="genericOnBlur('ARN', $event)"></app-text-box>
</div>
<div class="col-12  col-sm-4 col-md-4 res-pr-hide" [hidden]="LoanNo.isHidden()">
<div class="clr-brown fieldLegend">
<label class="clr-brown">
{{ 'TestAddLoanForm.LoanNo' | translate}}<span class="error-d">*</span>
</label>
</div>
<app-text-box #LoanNo fieldID="LoanNo" [formCode]="formCode" placeholder="Loan Number" [mandatory]="true" (blur)="genericOnBlur('LoanNo', $event)"></app-text-box>
</div>
<div class="col-12  col-sm-4 col-md-4 res-pr-hide" [hidden]="ICIF.isHidden()">
<div class="clr-brown fieldLegend">
<label class="clr-brown">
{{ 'TestAddLoanForm.ICIF' | translate}}<span class="error-d">*</span>
</label>
</div>
<app-text-box #ICIF fieldID="ICIF" [formCode]="formCode" placeholder="ICIF" [mandatory]="true" (blur)="genericOnBlur('ICIF', $event)"></app-text-box>
</div>
<div class="col-12  col-sm-4 col-md-4 res-pr-hide" [hidden]="LoanAmt.isHidden()">
<div class="clr-brown fieldLegend">
<label class="clr-brown">
{{ 'TestAddLoanForm.LoanAmt' | translate}}<span class="error-d">*</span>
</label>
</div>
<app-amount #LoanAmt fieldID="LoanAmt" [formCode]="formCode" placeholder="0.0" [mandatory]="true" (blur)="genericOnBlur('LoanAmt', $event)"></app-amount>
</div>
</div>
</div>
</div>
</div>
</form>
