<!-- <div>
    <div class="param-container col-12 col-sm-12 col-md-12">
            <ng-container *ngIf="mstParamList != undefined">
        <div class="param-row col-12 col-sm-12 col-md-12" *ngFor="let question of mstParamList['MstQuestionnaireDtls']; let i = index;">      
          <div class="param-seq col-12 col-sm-1 col-md-1">
                <div class="clr-brown fieldLegend">
                        <label class="clr-brown"></label>
                </div>
                <span>{{ i + 1 }}</span>
              </div>
              <div class="param-Question col-12 col-sm-4 col-md-4"> 
                    <div class="clr-brown fieldLegend">
                            <label class="clr-brown"></label>
                    </div>
                    <span>{{question.QuestionText }}</span>            
                </div>
                <div class="param-answer col-12 col-sm-2 col-md-2"> </div>
                <div class="param-answer col-12 col-sm-2 col-md-2">  
                    <rlo-ui-radio #tbData fieldID="{{'GNG_RADIO_'+question.QuestionSeq}}" [formCode]="formCode" domainObjectUrl="/MSTGENERALPARAM/{VALUE1}"
                    doServerUrl="/masters" domainObjectCode="MSTGENERALPARAM" [emittedOptions]="question['dropdownOptions']" defaultValue="{{question['oldDecision']}}"></rlo-ui-radio>
                    </div>
                    <div class="param-remark col-12 col-sm-3 col-md-3"> 
                            <div class="clr-brown fieldLegend">
                                    <label class="clr-brown"></label>
                            </div>   
                            <app-text-box #tbData fieldID="{{'GNG_REMARK_'+question.QuestionSeq}}" placeholder="Remarks, If any"[formCode]="formCode" defaultValue="{{question['oldRemark']}}"></app-text-box>        
                        </div>
              </div>
           </ng-container>
        </div>
</div> -->
<div>
    <div class="param-container col-12 col-sm-12 col-md-12">
        <ng-container *ngIf="QuestionnairMap != undefined">
            <div class="param-row col-12 col-sm-12 col-md-12" *ngFor="let question of QuestionnairMap | keyvalue; let i = index;">
                <div class="param-seq col-12 col-sm-1 col-md-1">
                    <div class="clr-brown fieldLegend">
                        <label class="clr-brown"></label>
                    </div>
                    <span>{{ i + 1 }}</span>
                </div>
                <div class="param-Question col-12 col-sm-4 col-md-4">
                    <div class="clr-brown fieldLegend">
                        <label class="clr-brown"></label>
                    </div>
                    <!-- {{question.key}}:{{question.value.IsNegative}} -->
                    <span>{{question.value.QuestionText }}</span>
                </div>
                <div class="param-answer col-12 col-sm-2 col-md-2">
                    <div class="clr-brown fieldLegend">
                        <label class="clr-brown"></label>
                    </div>
                    <label class="lbl-deviaton" *ngIf="question.value.IsDeviation==true">Deviation</label>
                </div>
                <div class="param-answer col-12 col-sm-2 col-md-2">
                    <rlo-ui-radio #tbData fieldID="{{'GNG_RADIO_'+question.value.QuestionSeq}}" [formCode]="formCode" domainObjectUrl="/MSTGENERALPARAM/{VALUE1}"
                        doServerUrl="/masters" domainObjectCode="MSTGENERALPARAM" [emittedOptions]="question.value.radioOptionFormatList"
                        defaultValue="{{question.value.selectedDecisionList!=undefined?question.value.selectedDecisionList[0].AnswerSeq:undefined}}"
                        (change)="onDecisionChange(question.value.QuestionSeq, $event)"></rlo-ui-radio>
                </div>
                <div class="param-remark col-12 col-sm-3 col-md-3">
                    <div class="clr-brown fieldLegend">
                        <label class="clr-brown"></label>
                    </div>
                    <app-text-box #tbData fieldID="{{'GNG_REMARK_'+question.value.QuestionSeq}}" placeholder="Remarks, If any" [formCode]="formCode"
                        defaultValue="{{question.value.selectedDecisionList!=undefined?question.value.selectedDecisionList[0].Remark:undefined}}"
                        (blur)="onRemarkBlur(question.value.QuestionSeq, $event)"></app-text-box>
                </div>
            </div>
        </ng-container>
    </div>
</div>

<button class="btn btn-default" (click)="persistData()">Save</button>