<div>
    <h3>Go No Go Details</h3>
</div>

<!-- <table class="table go-no-go-table">
    <thead class="go-no-go-header go-no-go-font">
        <tr>
            <th>Sr No</th>
            <th>Paramter</th>
            <th>Level</th>
            <th>Result</th>
            <th>Remarks</th>
        </tr>
    </thead>
    <tbody class="go-no-go-tb-cell">
        <ng-container *ngIf="apiResponse != undefined;else noRows">
            <tr class="go-no-go-grid-row" *ngFor="let question of apiResponse['MstQuestionnaireDtls']; let i = index;">
                <td>{{ i + 1 }}</td>
                <td>{{ question.QuestionText }}</td>
                <td>{{ question.Level }}</td>
                <td>
                    <select #tbData class="ng-select" name="questionCat" id="questionCat{{i+1}}" [ngModel]="question.AnswerSeq || 'Select'">
                        <option style="display: none" [value]="">Select</option>
                        <option *ngFor="let q of question['MstQuestionnaireAns']" [value]="q.AnswerSeq">
                            {{ q.AnswerText }}
                        </option>
                    </select>
                </td>
                <td><textarea #tbData class="go-no-go-text-area" name="Remarks" id="remarks{{i+1}}" rows="1">{{ question.Remarks }}</textarea></td>
            </tr>
        </ng-container>
    </tbody>
    <ng-template #noRows>
        <tr>
            <td></td>
            <td></td>
            <td align="middle">No Rows To Show</td>
            <td></td>
            <td></td>
        </tr>
    </ng-template>
</table> -->

<!-- <table class="table go-no-go-table">
    <thead class="go-no-go-header go-no-go-font">
        <tr>
            <th>Sr No</th>
            <th>Paramter</th>
            <th>Level</th>
            <th>Result</th>
            <th>Remarks</th>
        </tr>
    </thead>
    <tbody class="go-no-go-tb-cell">
        <ng-container *ngIf="apiResponse != undefined;">
            <tr class="go-no-go-grid-row" *ngFor="let question of apiResponse['MstQuestionnaireDtls']; let i = index;">
                <td>{{ i + 1 }}</td>
                <td>{{ question.QuestionText }}</td>
                <td>{{ question.Level }}</td>
                <td>
                    <select #tbData class="ng-select" name="questionCat" id="questionCat{{i+1}}" [ngModel]="question.AnswerSeq || 'Select'">
                        <option style="display: none" [value]="">Select</option>
                        <option *ngFor="let q of question['MstQuestionnaireAns']" [value]="q.AnswerSeq">
                            {{ q.AnswerText }}
                        </option>
                    </select>
                </td>
                <td><textarea #tbData class="go-no-go-text-area" name="Remarks" id="remarks{{i+1}}" rows="1">{{ question.Remarks }}</textarea></td>
            </tr>
        </ng-container>
    </tbody>
    <ng-template #noRows>
        <tr>
            <td></td>
            <td></td>
            <td align="middle">No Rows To Show</td>
            <td></td>
            <td></td>
        </tr>
    </ng-template>
</table> -->

<div>
    <div class="param-container col-12 col-sm-12 col-md-12">
            <ng-container *ngIf="apiResponse != undefined">
        <div class="param-row col-12 col-sm-12 col-md-12" *ngFor="let question of apiResponse['MstQuestionnaireDtls']; let i = index;">      
          <div class="param-seq col-12 col-sm-1 col-md-1">
                <span>{{ i + 1 }}</span>
              </div>
              <div class="param-Question col-12 col-sm-5 col-md-5"> 
                    <span>{{question.QuestionText }}</span>            
                </div>
                <div class="param-answer col-12 col-sm-3 col-md-3">  
                    <!-- <select #tbData class="ng-select" name="questionCat" id="questionCat{{i+1}}" [ngModel]="question.AnswerSeq || 'Select'">
                        <option style="display: none" [value]="">Select</option>
                        <option *ngFor="let q of question['dropdownOptions'].Options" [value]="q.id">
                            {{ q.text }}
                        </option>
                    </select> -->
                    <rlo-ui-radio #tbData fieldID="{{'GNG_RADIO_'+question.QuestionSeq}}" [formCode]="formCode" domainObjectUrl="/MSTGENERALPARAM/{VALUE1}"
                    doServerUrl="/masters" domainObjectCode="MSTGENERALPARAM" [emittedOptions]="question['dropdownOptions']"></rlo-ui-radio>
                    </div>
                    <div class="param-remark col-12 col-sm-3 col-md-3">    
                            <app-text-box #tbData fieldID="{{'GNG_REMARK_'+question.QuestionSeq}}" placeholder="Remarks, If any"[formCode]="formCode"></app-text-box>        
                        </div>
              </div>
           </ng-container>
        </div>
</div>



<button class="btn btn-default" (click)="persistData()">Save</button>