<ng-container *ngIf="cardMetaData != undefined">
    <div *ngIf="currentRoute == 'TopUpReview'; else elseblock">
        <div class="wgt-cards">
            <div class="cards-header">
                <span>{{cardMetaData.name}}</span>
                <span *ngIf="cardMetaData.canShowModal" class="icon-link" (click)="openModal()"
                    [ngClass]="{'disable-card' : !cardMetaData.modalSectionName.length}"></span>
            </div>
            <div class="cards-body row">
                <rlo-ui-card-field [parentCardName]="cardMetaData.name" [componentCode]="cardMetaData.componentCode"
                    [applicationId]="cardMetaData.applicationId" [borrowerSeq]="cardMetaData.borrowerSeq"
                    [cardFieldMetaData]="list" *ngFor="let list of cardMetaData.data"></rlo-ui-card-field>
            </div>
        </div>
    </div>

    <ng-template #elseblock>

        <div class="wgt-cards address-card" *ngIf="cardName == 'Address Details'">
            <div class="cards-header">
                <span>{{cardMetaData.name}}</span>
                <span class="icon-link" (click)="openModal('addressDetails')"
                    [ngClass]="{'disabled' : !cardMetaData.modalSectionName.length}"></span>
            </div>
            <div class="cards-body row">
                <div class="interface-customer-selector">
                    <span>{{addressTypeOfSelectedAddrress}}</span>
                    <span class="count-section" *ngIf="addressCount">
                        <span>+{{addressCount}}</span>
                    </span>
                    <span class="menu-btn">
                        <span class="icon-left-arrow"
                            [ngClass]="addressCount == cardMetaData.data.length - 1 ? 'disabled' : ''"
                            (click)="showAddress('pre')"></span>
                        <span class="icon-right-arrow" [ngClass]="addressCount == 0 ? 'disabled' : ''"
                            (click)="showAddress('nxt')"></span>
                    </span>
                </div>
                <div>
                    <rlo-ui-card-field [parentCardName]="cardMetaData.name" [componentCode]="cardMetaData.componentCode"
                        [applicationId]="cardMetaData.applicationId" [borrowerSeq]="cardMetaData.borrowerSeq"
                        [cardFieldMetaData]="list" *ngFor="let list of selectedAddress"></rlo-ui-card-field>
                </div>
            </div>
        </div>

        <div class="wgt-cards interface-card" *ngIf="cardName == 'Interface Results'">
            <div class="cards-header">
                <span>{{cardMetaData.name}}</span>
                <span class="icon-link" [ngClass]="{'disabled' : !interfaceDataAvaliable}"
                    (click)="openModal('interfaceResults')"></span>
            </div>
            <div class="cards-body row">
                <div class="interface-customer-selector">
                    <span>{{selectedCustomerData.name}}</span>
                    <span class="count-section" *ngIf="interfaceCount">
                        <span>+{{interfaceCount}}</span>
                    </span>

                    <span class="menu-btn" *ngIf="customerList.length>1">
                        <span class="icon-left-arrow"
                            [ngClass]="interfaceCount == customerList.length>1 ? 'disabled' : ''"
                            (click)="showPrev()"></span>
                        <span class="icon-right-arrow" [ngClass]="interfaceCount == 0 ? 'disabled' : ''"
                            (click)="showNxt()"></span>
                    </span>
                </div>
                <div class="table-section">
                    <div class="columns"
                        *ngFor="let interfaceType of interfaceResultsData[selectedCustomerData.index].data">
                        <div class="heading-container">
                            <span>{{interfaceType.type}}</span>
                        </div>
                        <div [ngClass]="interfaceType.type === 'External Interface Results' ? 'external' : 'internal'">
                            <div *ngFor="let dataList of interfaceType.data">
                                <rlo-ui-card-field [parentCardName]="'Interface Results'" [componentCode]="''"
                                    [applicationId]="cardMetaData.applicationId" [borrowerSeq]="''"
                                    [cardFieldMetaData]="dataList" (onInterfaceRefresh)="onInterfaceRefresh($event)">
                                </rlo-ui-card-field>
                            </div>
                        </div>
                        <div class="no-interface-data"
                            *ngIf="!interfaceResultsData[selectedCustomerData.index].data[0].data.length">
                            <span>No result found</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="wgt-cards customer360-card" *ngIf="cardName == 'Customer 360 degrees'">
            <div class="cards-header">
                <span>{{cardMetaData.name}}</span>
                <span *ngIf="cardMetaData.canShowModal" class="icon-link" (click)="openModal('Customer360')"
                    [ngClass]="{'disabled' : !cardMetaData.modalSectionName.length}"></span>
            </div>
            <div class="cards-body row">
                <rlo-ui-card-field [parentCardName]="cardMetaData.name" [componentCode]="cardMetaData.componentCode"
                    [applicationId]="cardMetaData.applicationId" [borrowerSeq]="cardMetaData.borrowerSeq"
                    [cardFieldMetaData]="list" *ngFor="let list of cardMetaData.data"></rlo-ui-card-field>
            </div>
            <div class="relationship-pannel" *ngIf="accountDetailsList.length">
                <span>Relationship Details</span>
                <div class="relationship-table">
                    <table>
                        <thead>
                            <tr class="grid-comments">
                                <th>Account Type</th>
                                <th>Account No.</th>
                                <th>Balance</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let accDetails of accountDetailsList">
                                <td>{{accDetails.AccountType}}</td>
                                <td>{{accDetails.AccountNo}}</td>
                                <td>{{accDetails.AvailableBalance}}</td>
                                <td>{{accDetails.AccountStatus}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="wgt-cards"
            *ngIf="cardName != 'Interface Results' && cardName != 'Customer 360 degrees' && cardName !='Address Details' && cardName.length">
            <div class="cards-header">
                <span>{{cardMetaData.name}}</span>
                <span *ngIf="cardMetaData.canShowModal" class="icon-link" (click)="openModal('others')"
                    [ngClass]="{'disabled' : !cardMetaData.modalSectionName.length}"></span>
            </div>
            <div class="cards-body row">
                <rlo-ui-card-field [parentCardName]="cardMetaData.name" [componentCode]="cardMetaData.componentCode"
                    [applicationId]="cardMetaData.applicationId" [borrowerSeq]="cardMetaData.borrowerSeq"
                    [cardFieldMetaData]="list" *ngFor="let list of cardMetaData.data"></rlo-ui-card-field>
            </div>
        </div>
    </ng-template>
</ng-container>