
.rlo-ui-radio-container {
  box-sizing: border-box;
  height: 42px;
  width: 100%;
  border: 1px solid #DDDDDD;
  border-radius: 4px;
  background-color: #FAFAFA;
  line-height: 36px;
  font-size: 13px;
  display:inline-block; 
  margin-top: 1.25rem;
  /* margin-bottom: 1.167rem; */
}

.rlo-ui-radio-container .radio-text {
  margin-left: 8px;
  height: 18px;
  color: #000000;
  display: inline-block;
}

.rlo-ui-radio-container Label {
  display: inline; 
  /* margin-right: 30px; */
  margin-left: 24px;
}

.rlo-ui-radio-container Label input[type="radio"] {
  -webkit-appearance:none; 
}

/* .radio-item {
  position: relative;
} */

.checkmark {
  /* position: absolute; */
  top: 0;
  left: 0;
  height: 17px;
  width: 17px;
  background-color: #eee;
  border-radius: 50%;
  display: inline-block;
  vertical-align: middle;
}

/* On mouse-over, add a grey background color */
.rlo-ui-radio-container input ~ .checkmark {
  background-color: #FFFFFF;
  border: 1px solid #9A9A9A;
}

/* When the radio button is checked, add a blue background */
.rlo-ui-radio-container input:checked ~ .checkmark {
  border: 5px solid #0079B8;
}

.radio-disabled, .radio-disabled .checkmark, .radio-disabled Label {
  cursor:not-allowed;
}

.radio-disabled input:checked ~ .checkmark {
  border: 5px solid rgba(0, 0, 0, 0.493);
}
/*input[type=radio]:disabled{*/
  /* .rlo-ui-radio-container :disabled:hover{
  background-color: red;
  cursor: not-allowed !important;
} */

/* Create the indicator (the dot/circle - hidden when not checked) * /
.checkmark:after {
  content: "";
  /* position: absolute; * /
  display: none;
}

/* Show the indicator (dot/circle) when checked * /
.rlo-ui-radio-container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) * /
.rlo-ui-radio-container .checkmark:after {
  top: 5px;
  left: 5px;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background: white;
}
*/

/*
.rlo-ui-radio-container Label .custom-icon::before {
    content: '\25EF';
    font-size: 11px;
    color: rgba(110, 94, 94, 0.815);
 } 

 .rlo-ui-radio-container Label  input[type="radio"]:checked +.custom-icon::before{ 
      content:'\25C9';
      font-size: 14px;
      color: #0079B8;
 }
 */
