<form class="MakeRelative">
<div class="clearfix content">
<div class="row" [ngStyle]="{'display' : displayTitle ? 'block': 'none'}">
<div class="col-sm-5 col-md-5">
</div>
<div class="col-sm-7 col-md-7 text-right xt-center" *ngIf="!formOnLoadError">
</div>
</div>
<div class="alert alert-danger" *ngIf="formOnLoadError">{{formOnLoadErrorMsg}}</div>
<div *ngIf="!formOnLoadError">
<div class="clearfix bi-reponsive" [ngClass]="{'display-border' : displayBorder}">
<div class="form-group pb10">
<div class="col-12  col-sm-4 col-md-4 res-pr-hide" [hidden]="ND_COMMENT_CAT.isHidden()">
<div class="clr-brown fieldLegend">
<label class="clr-brown">
{{ 'NotepadDetailsForm.ND_COMMENT_CAT' | translate}}<span class="error-d">*</span>
</label>
</div>
<app-combo-box #ND_COMMENT_CAT category="2" fieldID="ND_COMMENT_CAT" [formCode]="formCode" [mandatory]="true" (blur)="genericOnBlur('ND_COMMENT_CAT', $event)"></app-combo-box>
</div>
<div style="min-height: 0px;height: 0px;" class="col-12 col-sm-12 col-md-12"></div>
<div class="col-12  col-sm-8 col-md-8 res-pr-hide" [hidden]="ND_COMMENTS.isHidden()">
<div class="clr-brown fieldLegend">
<label class="clr-brown">
{{ 'NotepadDetailsForm.ND_COMMENTS' | translate}}<span class="error-d">*</span>
</label>
</div>
<app-text-area #ND_COMMENTS fieldID="ND_COMMENTS" [formCode]="formCode" cols="10" [mandatory]="true" rows="4" (blur)="genericOnBlur('ND_COMMENTS', $event)"></app-text-area>
</div>
<div style="min-height: 0px;height: 0px;" class="col-12 col-sm-12 col-md-12"></div>
<div class="col-12  col-sm-2 col-md-2 res-pr-hide" [hidden]="ND_SAVE.isHidden()">
<app-button #ND_SAVE fieldName="{{ 'NotepadDetailsForm.ND_SAVE' | translate}}" fieldID="ND_SAVE" [formCode]="formCode"></app-button>
</div>
<div class="col-12  col-sm-2 col-md-2 res-pr-hide" [hidden]="ND_CLEAR.isHidden()">
<app-button #ND_CLEAR fieldName="{{ 'NotepadDetailsForm.ND_CLEAR' | translate}}" fieldID="ND_CLEAR" [formCode]="formCode"></app-button>
</div>
<div class="col-12  col-sm-12 col-md-12 res-pr-hide" [hidden]="FieldId_7.isHidden()">
<app-NotepadDetailsGrid #FieldId_7 fieldID="FieldId_7" [formCode]="formCode"></app-NotepadDetailsGrid>
</div>
</div>
</div>
</div>
</div>
</form>
