<form class="MakeRelative">
  <div class="clearfix content">
    <div class="row" [ngStyle]="{'display' : displayTitle ? 'block': 'none'}">
      <div class="col-sm-12 col-md-12">
        <h4 class="FormTitle">
          {{ 'Initiation.FormTitle' | translate }}
        </h4>
      </div>
    </div>
    <div class="alert alert-danger" *ngIf="formOnLoadError">{{formOnLoadErrorMsg}}</div>
    <div *ngIf="!formOnLoadError">
      <div class="clearfix bi-reponsive" [ngClass]="{'display-border' : displayBorder}">
        <div class="form-group pb10 row">
          <div class="col-12  col-sm-12 col-md-12 res-pr-hide">
            <app-label #FieldId_71 parentCompCode="Initiation" legendAlign="text-center" fieldID="FieldId_71"
              [formCode]="formCode" customClass="section-header-search"></app-label>
          </div>
          <div class="col-12  col-sm-12 col-md-12 group-default">
            <div #FieldId_68 id="FieldId_68">
              <div class="form-group pb10 form-group-initiation-header">
                <div class="col-12  col-sm-3 col-md-3 res-pr-hide-mob-no" [hidden]="SRC_MOBILE_NO.isHidden()">
                  <div class="clr-brown fieldLegend">
                    <label class="clr-brown" [ngClass]="{'mandatory': SRC_MOBILE_NO.mandatory}">
                      {{ 'Initiation.SRC_MOBILE_NO' | translate}}</label>
                  </div>
                  <app-text-box #SRC_MOBILE_NO fieldID="SRC_MOBILE_NO" [formCode]="formCode"
                    (blur)="genericOnBlur('SRC_MOBILE_NO', $event)"></app-text-box>
                </div>
                <div class="col-12  col-sm-3 col-md-3 res-pr-hide" [hidden]="SRC_TAX_ID.isHidden()">
                  <div class="clr-brown fieldLegend">
                    <label class="clr-brown" [ngClass]="{'mandatory': SRC_TAX_ID.mandatory}">
                      {{ 'Initiation.SRC_TAX_ID' | translate}}</label>
                  </div>
                  <app-text-box #SRC_TAX_ID fieldID="SRC_TAX_ID" [formCode]="formCode" placeholder="29750311018"
                    (blur)="genericOnBlur('SRC_TAX_ID', $event)"></app-text-box>
                </div>
                <div class="col-12  col-sm-3 col-md-3 res-pr-hide" [hidden]="SRC_CIF_NO.isHidden()">
                  <div class="clr-brown fieldLegend">
                    <label class="clr-brown" [ngClass]="{'mandatory': SRC_CIF_NO.mandatory}">
                      {{ 'Initiation.SRC_CIF_NO' | translate}}</label>
                  </div>
                  <app-text-box #SRC_CIF_NO fieldID="SRC_CIF_NO" [formCode]="formCode" placeholder="(Optional)"
                    (blur)="genericOnBlur('SRC_CIF_NO', $event)"></app-text-box>
                </div>
                <div class="col-12  col-sm-1 col-md-1 res-pr-hide" [hidden]="SEARCH_CUST_BTN.isHidden()">
          <app-button #SEARCH_CUST_BTN  fieldID="SEARCH_CUST_BTN" [type]= "2" [formCode]="formCode" imagePath = "./assets/icons/search-lens.svg" customClass="icon-button"  (buttonClick)="SEARCH_CUST_BTN_click($event)">
          </app-button>
</div>
</div>

            </div>
          </div>
          <div class="col-12  col-sm-12 col-md-12 res-pr-hide-line">
            <div style="width:100%; background:null;height:1px;"></div>
          </div>
          <rlo-ui-accordion #INIT_ACCORD class="col-12 col-sm-12 col-md-12">
            <rlo-ui-accordion-group #ACC_APPLICATION id="ACC_APPLICATION" title="{{ 'Initiation.BAD_LABEL' | translate}}">
              <div #BAD_GROUP id="BAD_GROUP">
                <div class="form-group pb10 form-group-initiation">
                  <div class="col-12  col-sm-3 col-md-3 res-pr-hide" [hidden]="BAD_PHYSICAL_FRM_NO.isHidden()">
                    <div class="clr-brown fieldLegend">
                      <label class="clr-brown" [ngClass]="{'mandatory': BAD_PHYSICAL_FRM_NO.mandatory}">
                        {{ 'Initiation.BAD_PHYSICAL_FRM_NO' | translate}}</label>
                    </div>
                    <app-text-box #BAD_PHYSICAL_FRM_NO fieldID="BAD_PHYSICAL_FRM_NO" [formCode]="formCode"
                      placeholder="(Optional)" (blur)="genericOnBlur('BAD_PHYSICAL_FRM_NO', $event)"></app-text-box>
                  </div>
                  <div class="col-12  col-sm-3 col-md-3 res-pr-hide" [hidden]="BAD_DATE_OF_RCPT.isHidden()">
                    <div class="clr-brown fieldLegend">
                      <label class="clr-brown" [ngClass]="{'mandatory': BAD_DATE_OF_RCPT.mandatory}">
                        {{ 'Initiation.BAD_DATE_OF_RCPT' | translate}}
                      </label>
                    </div>
                    <app-date #BAD_DATE_OF_RCPT fieldID="BAD_DATE_OF_RCPT" [formCode]="formCode" placeholder="Select"
                      (blur)="genericOnBlur('BAD_DATE_OF_RCPT', $event)"></app-date>
                  </div>
                  <div class="col-12  col-sm-3 col-md-3 res-pr-hide" [hidden]="BAD_SRC_CHANNEL.isHidden()">
                    <div class="clr-brown fieldLegend">
                      <label class="clr-brown" [ngClass]="{'mandatory': BAD_SRC_CHANNEL.mandatory}">
                        {{ 'Initiation.BAD_SRC_CHANNEL' | translate}}
                      </label>
                    </div>
                    <app-combo-box #BAD_SRC_CHANNEL category="2" fieldID="BAD_SRC_CHANNEL" [formCode]="formCode"
                      placeholder="Select" domainObjectUrl="/MSTGENERALPARAM/{VALUE1}" doServerUrl="/masters"
                      domainObjectCode="MSTGENERALPARAM" (blur)="genericOnBlur('BAD_SRC_CHANNEL', $event)">
                    </app-combo-box>
                  </div>
                  <div class="col-12  col-sm-3 col-md-3 res-pr-hide" [hidden]="BAD_DSA_ID.isHidden()">
                    <div class="clr-brown fieldLegend">
                      <label class="clr-brown" [ngClass]="{'mandatory': BAD_DSA_ID.mandatory}">
                        {{ 'Initiation.BAD_DSA_ID' | translate}}
                      </label>
                    </div>
                    <app-combo-box #BAD_DSA_ID category="2" fieldID="BAD_DSA_ID" [formCode]="formCode"
                      placeholder="Select" domainObjectUrl="/MSTGENERALPARAM/{VALUE1}" doServerUrl="/masters"
                      domainObjectCode="MSTGENERALPARAM" (blur)="genericOnBlur('BAD_DSA_ID', $event)">
                    </app-combo-box>
                  </div>
                  <div class="col-12  col-sm-3 col-md-3 res-pr-hide" [hidden]="BAD_BRANCH.isHidden()">
                    <div class="clr-brown fieldLegend">
                      <label class="clr-brown" [ngClass]="{'mandatory': BAD_BRANCH.mandatory}">
                        {{ 'Initiation.BAD_BRANCH' | translate}}
                      </label>
                    </div>
                    <app-combo-box #BAD_BRANCH category="2" fieldID="BAD_BRANCH" [formCode]="formCode"
                      placeholder="(Select)" domainObjectUrl="/MstBranchDetails/{BranchCd}" doServerUrl="/masters"
                      domainObjectCode="MstBranchDetails" (blur)="genericOnBlur('BAD_BRANCH', $event)">
                    </app-combo-box>
                  </div>
                  <div class="col-12  col-sm-12 col-md-12 res-pr-hide">
                    <app-label #BAD_PROD_LBL parentCompCode="Initiation" fieldID="BAD_PROD_LBL" [formCode]="formCode"
                      customClass="sub-section-header"></app-label>
                  </div>
                  <div class="col-12  col-sm-12 col-md-12 group-default">
                    <div #PRDUCT_GROUP id="PRDUCT_GROUP">
                      <div class="form-group pb10 PRDUCT_GROUP">
                        <div class="col-12  col-sm-12 col-md-12 res-pr-hide" [hidden]="BAD_PROD_CAT.isHidden()">
                          <div class="clr-brown fieldLegend">
                            <label class="clr-brown" [ngClass]="{'mandatory': BAD_PROD_CAT.mandatory}">
                              {{ 'Initiation.BAD_PROD_CAT' | translate}}
                            </label>
                          </div>
                          <rlo-ui-radio #BAD_PROD_CAT fieldID="BAD_PROD_CAT" [formCode]="formCode"
                          domainObjectUrl="/MSTGENERALPARAM/{VALUE1}" doServerUrl="/masters"
                          domainObjectCode="MSTGENERALPARAM" (blur)="genericOnBlur('BAD_PROD_CAT', $event)" (change)="BAD_PROD_CAT_change('BAD_PROD_CAT', $event)">
                        </rlo-ui-radio>
                        </div>
                        <div class="col-12  col-sm-3 col-md-3 res-pr-hide" [hidden]="BAD_PRODUCT.isHidden()">
                          <div class="clr-brown fieldLegend">
                            <label class="clr-brown" [ngClass]="{'mandatory': BAD_PRODUCT.mandatory}">
                              {{ 'Initiation.BAD_PRODUCT' | translate}}
                            </label>
                          </div>
                          <app-combo-box #BAD_PRODUCT category="2" fieldID="BAD_PRODUCT" [formCode]="formCode"
                            placeholder="Select" domainObjectUrl="/MstProductDetails/{ProductCd}" doServerUrl="/masters"
                            customClass="Product_Group" domainObjectCode="MstProductDetails"
                            (blur)="genericOnBlur('BAD_PRODUCT', $event)" (change)="BAD_PRODUCT_change('BAD_PRODUCT', $event)"></app-combo-box>
                        </div>
                        <div class="col-12  col-sm-3 col-md-3 res-pr-hide" [hidden]="BAD_SUB_PROD.isHidden()">
                          <div class="clr-brown fieldLegend">
                            <label class="clr-brown" [ngClass]="{'mandatory': BAD_SUB_PROD.mandatory}">
                              {{ 'Initiation.BAD_SUB_PROD' | translate}}
                            </label>
                          </div>
                          <app-combo-box #BAD_SUB_PROD category="2" fieldID="BAD_SUB_PROD" [formCode]="formCode"
                            placeholder="Select" domainObjectUrl="/MstSubProductDetails/{SubProductCd}"
                            doServerUrl="/masters" domainObjectCode="MstSubProductDetails"
                            (blur)="genericOnBlur('BAD_SUB_PROD', $event)" (change)="BAD_SUB_PROD_change('BAD_SUB_PROD', $event)"></app-combo-box>
                        </div>
                        <div class="col-12  col-sm-3 col-md-3 res-pr-hide" [hidden]="BAD_SCHEME.isHidden()">
                          <div class="clr-brown fieldLegend">
                            <label class="clr-brown" [ngClass]="{'mandatory': BAD_SCHEME.mandatory}">
                              {{ 'Initiation.BAD_SCHEME' | translate}}
                            </label>
                          </div>
                          <app-combo-box #BAD_SCHEME category="2" fieldID="BAD_SCHEME" [formCode]="formCode"
                            placeholder="Select" domainObjectUrl="/MstSchemeDetails/{SchemeCd}"
                            doServerUrl="/masters" domainObjectCode="MstSchemeDetails" (blur)="genericOnBlur('BAD_SCHEME', $event)" (change)="BAD_SCHEME_change('BAD_SCHEME', $event)">
                          </app-combo-box>
                        </div>
                      </div>

                    </div>
                  </div>
                  <div class="col-12  col-sm-6 col-md-6 group-default" style="padding: 23px 15px 10px 15px;">
                    <div #FieldId_73 id="FieldId_73">
                      <div class="form-group pb10 PROMOTION_GROUP">
                        <div class="col-12  col-sm-6 col-md-6 res-pr-hide">
                          <app-label #PROMOTION_LABEL parentCompCode="Initiation" legendAlign="text-center"
                            fieldID="PROMOTION_LABEL" [formCode]="formCode" ></app-label>
                        </div>
                        <div class="col-12  col-sm-6 col-md-6 res-pr-hide" [hidden]="BAD_PROMOTION.isHidden()">
                          <app-combo-box #BAD_PROMOTION category="2" fieldID="BAD_PROMOTION" [formCode]="formCode"
                            placeholder="Select" valueAlign="center"
                            domainObjectUrl="/MstPromotionDetails/{PromotionCd}" doServerUrl="/masters" domainObjectCode="MstPromotionDetails"
                            (blur)="genericOnBlur('BAD_PROMOTION', $event)">
                          </app-combo-box>
                        </div>
                      </div>

                    </div>
                  </div>
                </div>
              </div>
              <div class="col-12  col-sm-12 col-md-12 res-pr-hide-line">
                <div style="width:100%; background:null;height:1px;"></div>
              </div>
            </rlo-ui-accordion-group>
            <rlo-ui-accordion-group #ACC_CUSTOMER id="ACC_CUSTOMER" title="{{ 'Initiation.CD_HEAD_LABEL' | translate}}">
              <div #CD_GROUP id="CD_GROUP">
                <div>
                  <div class="col-12  col-sm-6 col-md-6 res-pr-hide" [hidden]="CD_CUST_TYPE.isHidden()">
                    <div class="clr-brown fieldLegend">
                      <label class="clr-brown" [ngClass]="{'mandatory': CD_CUST_TYPE.mandatory}">
                        {{ 'Initiation.CD_CUST_TYPE' | translate}}
                      </label>
                    </div>
                    <rlo-ui-radio #CD_CUST_TYPE fieldID="CD_CUST_TYPE" [formCode]="formCode"
                      domainObjectUrl="/MSTGENERALPARAM/{VALUE1}" doServerUrl="/masters"
                      domainObjectCode="MSTGENERALPARAM" (blur)="genericOnBlur('CD_CUST_TYPE', $event)"></rlo-ui-radio>
                  </div>
                  <div class="col-12  col-sm-3 col-md-3 res-pr-hide" [hidden]="CD_EXISTING_CUST.isHidden()">
                    <div class="clr-brown fieldLegend">
                      <label class="clr-brown" [ngClass]="{'mandatory': CD_EXISTING_CUST.mandatory}">
                        {{ 'Initiation.CD_EXISTING_CUST' | translate}}</label>
                    </div>
                    <rlo-ui-radio #CD_EXISTING_CUST fieldID="CD_EXISTING_CUST" [formCode]="formCode"
                      domainObjectUrl="/MSTGENERALPARAM/{VALUE1}" doServerUrl="/masters"
                      domainObjectCode="MSTGENERALPARAM" (blur)="genericOnBlur('CD_EXISTING_CUST', $event)" (change)="CD_EXISTING_CUST_change('CD_EXISTING_CUST', $event)">
                    </rlo-ui-radio>
                  </div>
                  <div class="col-12  col-sm-3 col-md-3 res-pr-hide" [hidden]="CD_STAFF.isHidden()">
                    <div class="clr-brown fieldLegend">
                      <label class="clr-brown" [ngClass]="{'mandatory': CD_STAFF.mandatory}">
                        {{ 'Initiation.CD_STAFF' | translate}}</label>
                    </div>
                    <rlo-ui-radio #CD_STAFF fieldID="CD_STAFF" [formCode]="formCode"
                      placeholder="(Select)" domainObjectUrl="/MSTGENERALPARAM/{VALUE1}" doServerUrl="/masters"
                      domainObjectCode="MSTGENERALPARAM" (blur)="genericOnBlur('CD_STAFF', $event)" (change)="CD_STAFF_change('CD_STAFF', $event)">
                    </rlo-ui-radio>
                  </div>
                  <div class="col-12  col-sm-12 col-md-12 res-pr-hide">
                    <app-label #CD_INLINE_HEADER parentCompCode="Initiation" fieldID="CD_INLINE_HEADER"
                      [formCode]="formCode" customClass="sub-section-header"></app-label>
                  </div>
                  <div style="min-height: 0px;height: 0px;" class="col-12 col-sm-12 col-md-12"></div>
                  <div class="col-12  col-sm-3 col-md-3 res-pr-hide" [hidden]="CD_CIF.isHidden()">
                    <div class="clr-brown fieldLegend">
                      <label class="clr-brown" [ngClass]="{'mandatory': CD_CIF.mandatory}">
                        {{ 'Initiation.CD_CIF' | translate}}</label>
                    </div>
                    <app-text-box #CD_CIF fieldID="CD_CIF" [formCode]="formCode"
                      (blur)="genericOnBlur('CD_CIF', $event)">
                    </app-text-box>
                  </div>
                  <div class="col-12  col-sm-3 col-md-3 res-pr-hide" [hidden]="CD_CUSTOMER_ID.isHidden()">
                    <div class="clr-brown fieldLegend">
                      <label class="clr-brown" [ngClass]="{'mandatory': CD_CUSTOMER_ID.mandatory}">
                        {{ 'Initiation.CD_CUSTOMER_ID' | translate}}</label>
                    </div>
                    <app-text-box #CD_CUSTOMER_ID fieldID="CD_CUSTOMER_ID" [formCode]="formCode"
                      (blur)="genericOnBlur('CD_CUSTOMER_ID', $event)"></app-text-box>
                  </div>
                  <div class="col-12  col-sm-3 col-md-3 res-pr-hide" [hidden]="CD_STAFF_ID.isHidden()">
                    <div class="clr-brown fieldLegend">
                      <label class="clr-brown" [ngClass]="{'mandatory': CD_STAFF_ID.mandatory}">
                        {{ 'Initiation.CD_STAFF_ID' | translate}}</label>
                    </div>
                    <app-text-box #CD_STAFF_ID fieldID="CD_STAFF_ID" [formCode]="formCode"
                      (blur)="genericOnBlur('CD_STAFF_ID', $event)"></app-text-box>
                  </div>
                  <div class="col-12  col-sm-12 col-md-12 res-pr-hide">
                    <app-label #FieldId_65 parentCompCode="Initiation" fieldID="FieldId_65" [formCode]="formCode"
                      customClass="sub-section-header"></app-label>
                  </div>
                  <div class="col-12  col-sm-2 col-md-2 res-pr-hide" [hidden]="CD_TITLE.isHidden()">
                    <div class="clr-brown fieldLegend">
                      <label class="clr-brown" [ngClass]="{'mandatory': CD_TITLE.mandatory}">
                        {{ 'Initiation.CD_TITLE' | translate}}
                      </label>
                    </div>
                    <app-combo-box #CD_TITLE category="2" fieldID="CD_TITLE" [formCode]="formCode" placeholder="Select"
                      domainObjectUrl="/MSTGENERALPARAM/{VALUE1}" doServerUrl="/masters"
                      domainObjectCode="MSTGENERALPARAM" (blur)="genericOnBlur('CD_TITLE', $event)">
                    </app-combo-box>
                  </div>
                  <div style="min-height: 0px;height: 0px;" class="col-12 col-sm-12 col-md-12"></div>
                  <div class="col-12  col-sm-3 col-md-3 res-pr-hide" [hidden]="CD_FIRST_NAME.isHidden()">
                    <div class="clr-brown fieldLegend">
                      <label class="clr-brown" [ngClass]="{'mandatory': CD_FIRST_NAME.mandatory}">
                        {{ 'Initiation.CD_FIRST_NAME' | translate}}
                      </label>
                    </div>
                    <app-text-box #CD_FIRST_NAME fieldID="CD_FIRST_NAME" [formCode]="formCode"
                      (blur)="genericOnBlur('CD_FIRST_NAME', $event)"></app-text-box>
                  </div>
                  <div class="col-12  col-sm-3 col-md-3 res-pr-hide" [hidden]="CD_MIDDLE_NAME.isHidden()">
                    <div class="clr-brown fieldLegend">
                      <label class="clr-brown" [ngClass]="{'mandatory': CD_MIDDLE_NAME.mandatory}">
                        {{ 'Initiation.CD_MIDDLE_NAME' | translate}}</label>
                    </div>
                    <app-text-box #CD_MIDDLE_NAME fieldID="CD_MIDDLE_NAME" [formCode]="formCode"
                      placeholder="(Optional)" (blur)="genericOnBlur('CD_MIDDLE_NAME', $event)"></app-text-box>
                  </div>
                  <div class="col-12  col-sm-3 col-md-3 res-pr-hide" [hidden]="CD_THIRD_NAME.isHidden()">
                    <div class="clr-brown fieldLegend">
                      <label class="clr-brown" [ngClass]="{'mandatory': CD_THIRD_NAME.mandatory}">
                        {{ 'Initiation.CD_THIRD_NAME' | translate}}</label>
                    </div>
                    <app-text-box #CD_THIRD_NAME fieldID="CD_THIRD_NAME" [formCode]="formCode" placeholder="(Optional)"
                      (blur)="genericOnBlur('CD_THIRD_NAME', $event)"></app-text-box>
                  </div>
                  <div class="col-12  col-sm-3 col-md-3 res-pr-hide" [hidden]="CD_LAST_NAME.isHidden()">
                    <div class="clr-brown fieldLegend">
                      <label class="clr-brown" [ngClass]="{'mandatory': CD_LAST_NAME.mandatory}">
                        {{ 'Initiation.CD_LAST_NAME' | translate}}
                      </label>
                    </div>
                    <app-text-box #CD_LAST_NAME fieldID="CD_LAST_NAME" [formCode]="formCode"
                      (blur)="genericOnBlur('CD_LAST_NAME', $event)"></app-text-box>
                  </div>
                  <div class="col-12  col-sm-3 col-md-3 res-pr-hide" [hidden]="CD_FULL_NAME.isHidden()">
                    <div class="clr-brown fieldLegend">
                      <label class="clr-brown" [ngClass]="{'mandatory': CD_FULL_NAME.mandatory}">
                        {{ 'Initiation.CD_FULL_NAME' | translate}}</label>
                    </div>
                    <app-text-box #CD_FULL_NAME fieldID="CD_FULL_NAME" [formCode]="formCode"
                      (blur)="genericOnBlur('CD_FULL_NAME', $event)"></app-text-box>
                  </div>
                  <div class="col-12  col-sm-3 col-md-3 res-pr-hide" [hidden]="CD_GENDER.isHidden()">
                    <div class="clr-brown fieldLegend">
                      <label class="clr-brown" [ngClass]="{'mandatory': CD_GENDER.mandatory}">
                        {{ 'Initiation.CD_GENDER' | translate}}</label>
                    </div>
                    <app-combo-box #CD_GENDER category="2" fieldID="CD_GENDER" [formCode]="formCode"
                      placeholder="Select" domainObjectUrl="/MSTGENERALPARAM/{VALUE1}" doServerUrl="/masters"
                      domainObjectCode="MSTGENERALPARAM" (blur)="genericOnBlur('CD_GENDER', $event)"></app-combo-box>
                  </div>
                  <div class="col-12  col-sm-3 col-md-3 res-pr-hide" [hidden]="CD_TAX_ID.isHidden()">
                    <div class="clr-brown fieldLegend">
                      <label class="clr-brown" [ngClass]="{'mandatory': CD_TAX_ID.mandatory}">
                        {{ 'Initiation.CD_TAX_ID' | translate}}
                      </label>
                    </div>
                    <app-text-box #CD_TAX_ID fieldID="CD_TAX_ID" [formCode]="formCode"
                      (blur)="genericOnBlur('CD_TAX_ID', $event)"></app-text-box>
                  </div>
                  <div class="col-12  col-sm-3 col-md-3 res-pr-hide" [hidden]="CD_MOBILE.isHidden()">
                    <div class="clr-brown fieldLegend">
                      <label class="clr-brown" [ngClass]="{'mandatory': CD_MOBILE.mandatory}">
                        {{ 'Initiation.CD_MOBILE' | translate}}</label>
                    </div>
                    <app-text-box #CD_MOBILE fieldID="CD_MOBILE" [formCode]="formCode" placeholder="(Optional)"
                      (blur)="genericOnBlur('CD_MOBILE', $event)"></app-text-box>
                  </div>
                  <div class="col-12  col-sm-3 col-md-3 res-pr-hide" [hidden]="CD_DOB.isHidden()">
                    <div class="clr-brown fieldLegend">
                      <label class="clr-brown" [ngClass]="{'mandatory': CD_DOB.mandatory}">
                        {{ 'Initiation.CD_DOB' | translate}}
                      </label>
                    </div>
                    <app-date #CD_DOB fieldID="CD_DOB" [formCode]="formCode" placeholder="Select"
                      (blur)="genericOnBlur('CD_DOB', $event)"></app-date>
                  </div>
                  <div class="col-12  col-sm-12 col-md-12 res-pr-hide">
                    <app-label #FieldId_66 parentCompCode="Initiation" fieldID="FieldId_66" [formCode]="formCode"
                      customClass="sub-section-header"></app-label>
                  </div>
                  <div style="min-height: 0px;height: 0px;" class="col-12 col-sm-12 col-md-12"></div>
                  <div class="col-12  col-sm-3 col-md-3 res-pr-hide" [hidden]="CD_CUST_SGMT.isHidden()">
                    <div class="clr-brown fieldLegend">
                      <label class="clr-brown" [ngClass]="{'mandatory': CD_CUST_SGMT.mandatory}">
                        {{ 'Initiation.CD_CUST_SGMT' | translate}}</label>
                    </div>
                    <app-combo-box #CD_CUST_SGMT category="2" fieldID="CD_CUST_SGMT" [formCode]="formCode"
                      placeholder="Select" domainObjectUrl="/MSTGENERALPARAM/{VALUE1}" doServerUrl="/masters"
                      domainObjectCode="MSTGENERALPARAM" (blur)="genericOnBlur('CD_CUST_SGMT', $event)"></app-combo-box>
                  </div>
                  <div class="col-12  col-sm-3 col-md-3 res-pr-hide" [hidden]="CD_DEBIT_SCORE.isHidden()">
                    <div class="clr-brown fieldLegend">
                      <label class="clr-brown" [ngClass]="{'mandatory': CD_DEBIT_SCORE.mandatory}">
                        {{ 'Initiation.CD_DEBIT_SCORE' | translate}}</label>
                    </div>
                    <app-text-box #CD_DEBIT_SCORE inputType="number" fieldID="CD_DEBIT_SCORE" [formCode]="formCode"
                      placeholder="(Optional)" (blur)="genericOnBlur('CD_DEBIT_SCORE', $event)"></app-text-box>
                  </div>
                  <div class="col-12  col-sm-3 col-md-3 res-pr-hide" [hidden]="CD_LOAN_OWNERSHIP.isHidden()">
                    <div class="clr-brown fieldLegend">
                      <label class="clr-brown" [ngClass]="{'mandatory': CD_LOAN_OWNERSHIP.mandatory}">
                        {{ 'Initiation.CD_LOAN_OWNERSHIP' | translate}}</label>
                    </div>
                    <app-amount #CD_LOAN_OWNERSHIP fieldID="CD_LOAN_OWNERSHIP" [formCode]="formCode"
                      placeholder="(Optional)" (blur)="genericOnBlur('CD_LOAN_OWNERSHIP', $event)"></app-amount>
                  </div>
                  <div class="col-12  col-sm-1 col-md-1 res-pr-hide" [hidden]="CD_ADD.isHidden()">
                    <app-button #CD_ADD fieldName="{{ 'Initiation.CD_ADD' | translate}}" fieldID="CD_ADD"
                      [formCode]="formCode" iconClass="fa fa-plus" [type]="4" customClass="icon-button"
                      (buttonClick)="CD_ADD_click($event)"></app-button>
                  </div>
                  <div class="col-12  col-sm-1 col-md-1 res-pr-hide" [hidden]="CD_RESET.isHidden()">
                    <app-button #CD_RESET fieldName="{{ 'Initiation.CD_RESET' | translate}}" fieldID="CD_RESET"
                      [formCode]="formCode" iconClass="fas fa-undo" [type]="4" customClass="icon-button"
                      (buttonClick)="CD_RESET_click($event)"></app-button>
                  </div>
                  <div class="col-12  col-sm-12 col-md-12 res-pr-hide" [hidden]="CUST_DTLS_GRID.isHidden()">
                    <app-CustDtlsGrid #CUST_DTLS_GRID fieldID="CUST_DTLS_GRID" [formCode]="formCode"
                      (DeleteCustDetails)="CUST_DTLS_GRID_DeleteCustDetails($event)"
                      (ModifyCustDetails)="CUST_DTLS_GRID_ModifyCustDetails($event)"></app-CustDtlsGrid>
                  </div>
                </div>
              </div>
              <div class="col-12  col-sm-12 col-md-12 res-pr-hide-line">
                <div style="width:100%; background:null;height:1px;"></div>
              </div>
            </rlo-ui-accordion-group>
            <rlo-ui-accordion-group #ACC_LOAN_DTLS id="ACC_LOAN_DTLS" title="{{ 'Initiation.LD_HEAD' | translate}}" [hidden]="!isLoanCategory">
              <div #LD_GROUP id="LD_GROUP">
                <div>
                  <div class="col-12  col-sm-3 col-md-3 res-pr-hide" [hidden]="LD_LOAN_AMOUNT.isHidden()">
                    <div class="clr-brown fieldLegend">
                      <label class="clr-brown" [ngClass]="{'mandatory': LD_LOAN_AMOUNT.mandatory}">
                        {{ 'Initiation.LD_LOAN_AMOUNT' | translate}}
                      </label>
                    </div>
                    <app-amount #LD_LOAN_AMOUNT fieldID="LD_LOAN_AMOUNT" [formCode]="formCode" domainObjectUrl="null"
                      (blur)="genericOnBlur('LD_LOAN_AMOUNT', $event)"></app-amount>
                  </div>
                  <div class="col-12  col-sm-3 col-md-3 res-pr-hide" [hidden]="LD_INTEREST_RATE.isHidden()">
                    <div class="clr-brown fieldLegend">
                      <label class="clr-brown" [ngClass]="{'mandatory': LD_INTEREST_RATE.mandatory}">
                        {{ 'Initiation.LD_INTEREST_RATE' | translate}}
                      </label>
                    </div>
                    <app-text-box #LD_INTEREST_RATE fieldID="LD_INTEREST_RATE" [formCode]="formCode"
                      (blur)="genericOnBlur('LD_INTEREST_RATE', $event)"></app-text-box>
                  </div>
                  <div class="col-12  col-sm-3 col-md-3 res-pr-hide" [hidden]="LD_TENURE.isHidden()">
                    <div class="clr-brown fieldLegend">
                      <label class="clr-brown" [ngClass]="{'mandatory': LD_TENURE.mandatory}">
                        {{ 'Initiation.LD_TENURE' | translate}}</label>
                    </div>
                    <app-text-box #LD_TENURE fieldID="LD_TENURE" [formCode]="formCode"
                      (blur)="genericOnBlur('LD_TENURE', $event)"></app-text-box>
                  </div>
                  <div class="col-12  col-sm-3 col-md-3 res-pr-hide" [hidden]="LD_TENURE_PERIOD.isHidden()">
                    <div class="clr-brown fieldLegend">
                      <label class="clr-brown" [ngClass]="{'mandatory': LD_TENURE_PERIOD.mandatory}">
                        {{ 'Initiation.LD_TENURE_PERIOD' | translate}}</label>
                    </div>
                    <app-combo-box #LD_TENURE_PERIOD category="2" fieldID="LD_TENURE_PERIOD" [formCode]="formCode"
                      placeholder="Select" domainObjectUrl="/MSTGENERALPARAM/{VALUE1}" doServerUrl="/masters"
                      domainObjectCode="MSTGENERALPARAM" (blur)="genericOnBlur('LD_TENURE_PERIOD', $event)"></app-combo-box>
                  </div>
                  <div class="col-12  col-sm-3 col-md-3 res-pr-hide" [hidden]="LD_APP_PRPSE.isHidden()">
                    <div class="clr-brown fieldLegend">
                      <label class="clr-brown" [ngClass]="{'mandatory': LD_APP_PRPSE.mandatory}">
                        {{ 'Initiation.LD_APP_PRPSE' | translate}}
                      </label>
                    </div>
                    <app-combo-box #LD_APP_PRPSE category="2" fieldID="LD_APP_PRPSE" [formCode]="formCode"
                      placeholder="Select" domainObjectUrl="/MSTGENERALPARAM/{VALUE1}" doServerUrl="/masters" 
                      domainObjectCode="MSTGENERALPARAM" (blur)="genericOnBlur('LD_APP_PRPSE', $event)"></app-combo-box>
                  </div>
                  <div class="col-12  col-sm-12 col-md-12 res-pr-hide">
                    <app-label #FieldId_67 parentCompCode="Initiation" fieldID="FieldId_67" [formCode]="formCode"
                      customClass="sub-section-header"></app-label>
                  </div>
                  <div class="col-12  col-sm-3 col-md-3 res-pr-hide" [hidden]="LD_GROSS_INCOME.isHidden()">
                    <div class="clr-brown fieldLegend">
                      <label class="clr-brown" [ngClass]="{'mandatory': LD_GROSS_INCOME.mandatory}">
                        {{ 'Initiation.LD_GROSS_INCOME' | translate}}
                      </label>
                    </div>
                    <app-amount #LD_GROSS_INCOME fieldID="LD_GROSS_INCOME" [formCode]="formCode"
                      (blur)="genericOnBlur('LD_GROSS_INCOME', $event)"></app-amount>
                  </div>
                  <div class="col-12  col-sm-3 col-md-3 res-pr-hide" [hidden]="LD_EXST_LBLT_AMT.isHidden()">
                    <div class="clr-brown fieldLegend">
                      <label class="clr-brown" [ngClass]="{'mandatory': LD_EXST_LBLT_AMT.mandatory}">
                        {{ 'Initiation.LD_EXST_LBLT_AMT' | translate}}</label>
                    </div>
                    <app-amount #LD_EXST_LBLT_AMT fieldID="LD_EXST_LBLT_AMT" [formCode]="formCode"
                      placeholder="(Optional)" (blur)="genericOnBlur('LD_EXST_LBLT_AMT', $event)"></app-amount>
                  </div>
                  <div class="col-12  col-sm-3 col-md-3 res-pr-hide" [hidden]="LD_OTH_DEDUCTIONS.isHidden()">
                    <div class="clr-brown fieldLegend">
                      <label class="clr-brown" [ngClass]="{'mandatory': LD_OTH_DEDUCTIONS.mandatory}">
                        {{ 'Initiation.LD_OTH_DEDUCTIONS' | translate}}</label>
                    </div>
                    <app-amount #LD_OTH_DEDUCTIONS fieldID="LD_OTH_DEDUCTIONS" [formCode]="formCode"
                      placeholder="(Optional)" (blur)="genericOnBlur('LD_OTH_DEDUCTIONS', $event)"></app-amount>
                  </div>
                  <div class="col-12  col-sm-3 col-md-3 res-pr-hide" [hidden]="LD_NET_INCOME.isHidden()">
                    <div class="clr-brown fieldLegend">
                      <label class="clr-brown" [ngClass]="{'mandatory': LD_NET_INCOME.mandatory}">
                        {{ 'Initiation.LD_NET_INCOME' | translate}}
                      </label>
                    </div>
                    <app-amount #LD_NET_INCOME fieldID="LD_NET_INCOME" [formCode]="formCode"
                      (blur)="genericOnBlur('LD_NET_INCOME', $event)"></app-amount>
                  </div>
                  <div style="min-height: 0px;height: 0px;" class="col-12 col-sm-12 col-md-12"style="padding: 23px 15px 10px 15px;"></div>
                  <div class="col-12  col-sm-3 col-md-3 res-pr-hide" [hidden]="LD_CHK_ELGBTY_BTN.isHidden()">
                    <app-button #LD_CHK_ELGBTY_BTN fieldName="{{ 'Initiation.LD_CHK_ELGBTY_BTN' | translate}}"
                      fieldID="LD_CHK_ELGBTY_BTN" [formCode]="formCode" customClass="inlineButton"
                      (buttonClick)="LD_CHK_ELGBTY_BTN_click($event)"></app-button>
                  </div>
                  <div style="min-height: 0px;height: 0px;" class="col-12 col-sm-12 col-md-12"></div>
                  <div class="col-12  col-sm-3 col-md-3 res-pr-hide" [hidden]="LD_SYS_AMT_RCMD.isHidden()">
                    <div class="clr-brown fieldLegend">
                      <label class="clr-brown" [ngClass]="{'mandatory': LD_SYS_AMT_RCMD.mandatory}">
                        {{ 'Initiation.LD_SYS_AMT_RCMD' | translate}}
                      </label>
                    </div>
                    <app-amount #LD_SYS_AMT_RCMD fieldID="LD_SYS_AMT_RCMD" [formCode]="formCode"
                      (blur)="genericOnBlur('LD_SYS_AMT_RCMD', $event)"></app-amount>
                  </div>
                  <div class="col-12  col-sm-3 col-md-3 res-pr-hide" [hidden]="LD_USR_RCMD_AMT.isHidden()">
                    <div class="clr-brown fieldLegend">
                      <label class="clr-brown" [ngClass]="{'mandatory': LD_USR_RCMD_AMT.mandatory}">
                        {{ 'Initiation.LD_USR_RCMD_AMT' | translate}}</label>
                    </div>
                    <app-amount #LD_USR_RCMD_AMT fieldID="LD_USR_RCMD_AMT" [formCode]="formCode"
                      placeholder="(Optional)" (blur)="genericOnBlur('LD_USR_RCMD_AMT', $event)"></app-amount>
                  </div>
                  <div class="col-12  col-sm-3 col-md-3 res-pr-hide" [hidden]="LD_LTV_DBR.isHidden()">
                    <div class="clr-brown fieldLegend">
                      <label class="clr-brown" [ngClass]="{'mandatory': LD_LTV_DBR.mandatory}">
                        {{ 'Initiation.LD_LTV_DBR' | translate}}</label>
                    </div>
                    <app-text-box #LD_LTV_DBR fieldID="LD_LTV_DBR" [formCode]="formCode"
                      (blur)="genericOnBlur('LD_LTV_DBR', $event)"></app-text-box>
                  </div>
                  <div class="col-12  col-sm-3 col-md-3 res-pr-hide" [hidden]="LD_EMI_AMT.isHidden()">
                    <div class="clr-brown fieldLegend">
                      <label class="clr-brown" [ngClass]="{'mandatory': LD_EMI_AMT.mandatory}">
                        {{ 'Initiation.LD_EMI_AMT' | translate}}
                      </label>
                    </div>
                    <app-amount #LD_EMI_AMT fieldID="LD_EMI_AMT" [formCode]="formCode"
                      (blur)="genericOnBlur('LD_EMI_AMT', $event)"></app-amount>
                  </div>
                  <div style="min-height: 0px;height: 0px;" class="col-12 col-sm-12 col-md-12"></div>
                </div>
              </div>
              <div class="col-12  col-sm-12 col-md-12 res-pr-hide-line">
                <div style="width:100%; background:null;height:1px;"></div>
              </div>
            </rlo-ui-accordion-group>
            <rlo-ui-accordion-group #ACC_REFERRER id="ACC_REFERRER" title="{{ 'Initiation.RD_HEAD_LBL' | translate}}">
              <div #RD_GROUP id="RD_GROUP">
                <div>
                  <div class="col-12  col-sm-3 col-md-3 res-pr-hide" [hidden]="RD_REFERRER_NAME.isHidden()">
                    <div class="clr-brown fieldLegend">
                      <label class="clr-brown" [ngClass]="{'mandatory': RD_REFERRER_NAME.mandatory}">
                        {{ 'Initiation.RD_REFERRER_NAME' | translate}}</label>
                    </div>
                    <app-text-box #RD_REFERRER_NAME fieldID="RD_REFERRER_NAME" [formCode]="formCode"
                      placeholder="(Optional)" (blur)="genericOnBlur('RD_REFERRER_NAME', $event)"></app-text-box>
                  </div>
                  <div class="col-12  col-sm-3 col-md-3 res-pr-hide" [hidden]="RD_REFERRER_NO.isHidden()">
                    <div class="clr-brown fieldLegend">
                      <label class="clr-brown" [ngClass]="{'mandatory': RD_REFERRER_NO.mandatory}">
                        {{ 'Initiation.RD_REFERRER_NO' | translate}}</label>
                    </div>
                    <app-text-box #RD_REFERRER_NO fieldID="RD_REFERRER_NO" [formCode]="formCode"
                      placeholder="(Optional)" (blur)="genericOnBlur('RD_REFERRER_NO', $event)"></app-text-box>
                  </div>
                </div>
              </div>
              <div class="col-12  col-sm-12 col-md-12 res-pr-hide-line">
                <div style="width:100%; background:null;height:1px;"></div>
              </div>
            </rlo-ui-accordion-group>
          </rlo-ui-accordion>
          <div class="col-12  col-sm-4 col-md-4 res-pr-hide">
            <app-initiation-handler #Handler [MainComponent]="this"></app-initiation-handler>
          </div>
        </div>
        <app-hidden #hiddenProductId fieldID="hiddenProductId"></app-hidden>
        <app-hidden #hideCustomerType fieldID="hideCustomerType"></app-hidden>
        <app-hidden #hidAppId fieldID="hidAppId"></app-hidden>
        <app-hidden #hidSourceingChannel fieldID="hidSourceingChannel"></app-hidden>
        <app-hidden #IndexHideField fieldID="IndexHideField"></app-hidden>
        <app-hidden #hidYesNo fieldID="hidYesNo"></app-hidden>
        <app-hidden #hidDSAId fieldID="hidDSAId"></app-hidden>
        <app-hidden #hidAccBranch fieldID="hidAccBranch"></app-hidden>
        <app-hidden #hidProdCat fieldID="hidProdCat"></app-hidden>
        <app-hidden #hidTitle fieldID="hidTitle"></app-hidden>
        <app-hidden #hidGender fieldID="hidGender"></app-hidden>
        <app-hidden #hidCustSeg fieldID="hidCustSeg"></app-hidden>
        <app-hidden #hideExsCust fieldID="hideExsCust"></app-hidden>
        <app-hidden #hideTenurePeriod fieldID="hideTenurePeriod"></app-hidden>
        <app-hidden #hideAppPurpose fieldID="hideAppPurpose"></app-hidden>
      </div>
    </div>
    <div class="col-12  col-sm-12 col-md-12 group-default">
      <div #BUTTON_SECTION id="BUTTON_SECTION">
        <div class="form-group pb10 button-group">
          <div class="col-12  col-sm-1 col-md-1 res-pr-hide" [hidden]="SUBMIT_MAIN_BTN.isHidden()">
            <app-button #SUBMIT_MAIN_BTN fieldName="{{ 'Initiation.SUBMIT_MAIN_BTN' | translate}}"
              fieldID="SUBMIT_MAIN_BTN" [formCode]="formCode" customClass="btn btn-primary"
              (buttonClick)="SUBMIT_MAIN_BTN_click($event)"></app-button>
          </div>
          <div class="col-12  col-sm-1 col-md-1 res-pr-hide" [hidden]="CANCEL_MAIN_BTN.isHidden()">
            <app-button #CANCEL_MAIN_BTN fieldName="{{ 'Initiation.CANCEL_MAIN_BTN' | translate}}" (buttonClick)="CANCEL_MAIN_BTN_click($event)"
              fieldID="CANCEL_MAIN_BTN" [formCode]="formCode" customClass="btn-warning-outline"></app-button>
          </div>
        </div>

      </div>
    </div>
  </div>
</form>
