<div class="row">

    <div class="col-12  col-sm-12 col-md-12 res-pr-hide dde-tab-btn-div">
        <div id="tab" class="btn-group btn-group-justified dde-tab" data-toggle="buttons">
            <a class="btn btn-default active" data-toggle="tab" (click)="tabSwitched('customer')">
                <input type="radio" />CUSTOMER
            </a>
            <a class="btn btn-default" data-toggle="tab" (click)="tabSwitched('application')">
                <input type="radio" />APPLICATION
            </a>
        </div>
    </div>

    <div class="col-12  col-sm-12 col-md-12 res-pr-hide">
        <app-uw-cust-tab></app-uw-cust-tab>
    </div>
    <app-card [cardMetaData]="customerCardSectionData"></app-card>
    <!-- <app-card [cardMetaData]="interfaceCardSectionData"></app-card> -->
    <app-card [cardMetaData]="data" *ngFor="let data of basicCardSectionData.sectionList">

    </app-card>
</div>