<div class="MakeRelative"><div class="ShowLoading " *ngIf="loadSpinner">
 <div class="lds-roller MakeItMiddle">
<div></div>
<div></div>
<div></div>
<div></div>
<div></div>
<div></div>
<div></div>
<div></div>
</div>
</div>
<div class="row reference-div">
<div class="col-xs-12 col-sm-5">
</div>
<div *ngIf="displayToolbar" class="col-xs-12 col-sm-7 inside-micons pending-page">
<ul class="list-inline list-unstyled handle-items text-right">
</ul>
</div>
</div>
<div [hidden]="!LoanRecord">
        <app-label #LD_HEADING parentCompCode="LoanDetailsForm" fieldID="LD_HEADING"
        [formCode]="formCode" fontFamily="sans-serif" fontColor="#555" fontStyle="normal"
        fontSize="16px" fontWeight="bold"></app-label>
<app-readonly-grid #readonlyGrid (gridSizeChanged)="onGridSizeChanged()" [formCode]="formCode" [gridConsts]="gridConsts"></app-readonly-grid>
</div>

