<div class="wgt-input-ui-customer-search">
    <div class="input-container">
        <div class="input-text-group">
            <input [attr.id]="fieldID" type="text" [placeholder]="placeholder" (change)="onChange($event)"
               (input)="validateValue($event.target.value, $event)"
                [maxlength]="maxLength" [ngClass]="{'error' : error, 'input-readonly':readOnly}" [(ngModel)]="value"
                (focus)="onFocus()" (blur)="onBlur()" [name]="fieldID" class="form-control {{customClass}}"
                [disabled]="readOnly" [ngStyle]="{'text-align' : valueAlign}" />
        </div>

        <div class="input-group-btn">
            <button type="button" name="CD_COUNTRY_CODE" class="btn btn-customer-search" data-toggle="dropdown"
                (click)="validateCustomer()" aria-haspopup="true" aria-expanded="false" [disabled]="readOnly">
                <i class="fa fa-search"></i>
            </button>
        </div>
    </div>
    <span class="errorMessagespan" *ngIf="error">{{errorCode | translate}}</span>
</div>