.er-404{
    text-align: center;
}

.er-404 img{
    width: 18rem;
}

.er-404 h4{
    color:red;
}

.logout-container{
    text-align: center;
    padding: 7rem 0;
}
.logout-content{
    background-color: rgba(255, 255, 255, .8);
    padding-bottom: 1 rem;
    width: 26rem;
    height: 17rem;
    display: inline-block;
    border-radius: 0.5rem;
}

.request img {
    width: 27%;
}