<div class="pi-container row">
  <div class="sub-header-container col-12  col-sm-12 col-md-12 res-pr-hide">
    <label class="Questionnaire-subheader"> {{ 'PIDtls.PI_SUBHEADER_NOTE' | translate}}</label>
  </div>
  <div class="row">
    <ng-container *ngIf="QuestionnairMap != undefined">
      <div class="param-container row col-12 col-sm-12 col-md-12" *ngFor="let question of QuestionnairMap | keyvalue; let i = index;">
        <div class="param-Question col-12 col-sm-5 col-md-5">
          <span class="questions-txt">{{ i + 1 }}. {{question.value.QuestionText }}</span>
        </div>
        <div class="flexible-container col-12 col-sm-7 col-md-7">
          <rlo-ui-radio #tbData fieldID="{{'PI_RADIO_'+question.value.QuestionSeq}}" [formCode]="formCode" domainObjectUrl="/MSTGENERALPARAM/{VALUE1}"
            doServerUrl="/masters" domainObjectCode="MSTGENERALPARAM" [emittedOptions]="question.value.radioOptionFormatList"
            defaultValue="{{question.value.SelectedDecision!=undefined?question.value.SelectedDecision.AnswerSeq:undefined}}"
            (change)="onDecisionChange(question.value.QuestionSeq, $event)"></rlo-ui-radio>
        </div>
      </div>
    </ng-container>
  </div>
  <div style="min-height: 0px;height: 20px;" class="col-12 col-sm-12 col-md-12"></div>
  <div style="min-height: 0px;height: 20px;" class="col-12 col-sm-12 col-md-12"></div>
  <div class="col-12  col-sm-7 col-md-7 res-pr-hide"></div>
  <div class="col-12  col-sm-1 col-md-1 res-pr-hide savebtn" [hidden]="PI_SAVE_BTN.isHidden()">
    <app-button #PI_SAVE_BTN fieldName="{{ 'PIDtls.PI_SAVE_BTN' | translate}}" fieldID="PI_SAVE_BTN" customClass="btn btn-primary"
      (buttonClick)="PI_SAVE_BTN_click($event)"></app-button>
  </div>
  <div class="col-12  col-sm-1 col-md-1 res-pr-hide clearbtn" [hidden]="PI_CLEAR_BTN.isHidden()">
    <app-button #PI_CLEAR_BTN fieldName="{{ 'PIDtls.PI_CLEAR_BTN' | translate}}" fieldID="PI_CLEAR_BTN" customClass="btn-warning-outline"
      (buttonClick)="PI_CLEAR_BTN_click($event)"></app-button>
  </div>
</div>
