<form class="MakeRelative">
  <div class="ShowLoading " *ngIf="loadSpinner">
    <div class="lds-roller MakeItMiddle">
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </div>
  </div>
  <div class="clearfix content">
    <div class="row" [ngStyle]="{'display' : displayTitle ? 'block': 'none'}">
      <div class="col-sm-5 col-md-5">
      </div>
      <div class="col-sm-7 col-md-7 text-right xt-center" *ngIf="!formOnLoadError">
      </div>
    </div>
    <div class="alert alert-danger" *ngIf="formOnLoadError">{{formOnLoadErrorMsg}}</div>
    <div *ngIf="!formOnLoadError">
      <div class="clearfix bi-reponsive" [ngClass]="{'display-border' : displayBorder}">
        <div class="form-group pb10">
          <!-- <div class="col-12  col-sm-12 col-md-12 res-pr-hide">
            <app-label #FD_HEADING parentCompCode="FamilyDetailsForm" fieldID="FD_HEADING" [formCode]="formCode"
              fontFamily="sans-serif" fontColor="#555" fontStyle="normal" fontSize="16px" fontWeight="bold"
              customClass="section-header"></app-label>
          </div> -->
          <div class="col-12  col-sm-3 col-md-3 res-pr-hide" [hidden]="FD_TITLE.isHidden()">
            <div class="clr-brown fieldLegend">
              <label class="clr-brown" [ngClass]="{'mandatory': FD_TITLE.mandatory}">
                {{ 'FamilyDetailsForm.FD_TITLE' | translate}}
              </label>
            </div>
            <app-combo-box #FD_TITLE category="2" placeholder="Select" fieldID="FD_TITLE" [formCode]="formCode"
              domainObjectUrl="/MSTGENERALPARAM/{VALUE1}" doServerUrl="/masters" domainObjectCode="MSTGENERALPARAM"
              (blur)="genericOnBlur('FD_TITLE', $event)"></app-combo-box>
          </div>
          <div style="min-height: 0px;height: 0px;" class="col-12 col-sm-12 col-md-12"></div>
          <div class="col-12  col-sm-3 col-md-3 res-pr-hide" [hidden]="FD_FIRST_NAME.isHidden()">
            <div class="clr-brown fieldLegend">
              <label class="clr-brown" [ngClass]="{'mandatory': FD_FIRST_NAME.mandatory}">
                {{ 'FamilyDetailsForm.FD_FIRST_NAME' | translate}}
              </label>
            </div>
            <app-text-box #FD_FIRST_NAME fieldID="FD_FIRST_NAME" [formCode]="formCode"
              (blur)="genericOnBlur('FD_FIRST_NAME', $event)"></app-text-box>
          </div>
          <div class="col-12  col-sm-3 col-md-3 res-pr-hide" [hidden]="FD_MIDDLE_NAME.isHidden()">
            <div class="clr-brown fieldLegend">
              <label class="clr-brown">
                {{ 'FamilyDetailsForm.FD_MIDDLE_NAME' | translate}}
              </label>
            </div>
            <app-text-box #FD_MIDDLE_NAME fieldID="FD_MIDDLE_NAME" [formCode]="formCode"
              (blur)="genericOnBlur('FD_MIDDLE_NAME', $event)"></app-text-box>
          </div>
          <div class="col-12  col-sm-3 col-md-3 res-pr-hide" [hidden]="FD_LAST_NAME.isHidden()">
            <div class="clr-brown fieldLegend">
              <label class="clr-brown" [ngClass]="{'mandatory': FD_LAST_NAME.mandatory}">
                {{ 'FamilyDetailsForm.FD_LAST_NAME' | translate}}
              </label>
            </div>
            <app-text-box #FD_LAST_NAME fieldID="FD_LAST_NAME" [formCode]="formCode"
              (blur)="genericOnBlur('FD_LAST_NAME', $event)"></app-text-box>
          </div>
          <!-- <div class="col-12  col-sm-3 col-md-3 res-pr-hide"></div> -->
          <div class="col-12  col-sm-3 col-md-3 res-pr-hide" [hidden]="FD_FULL_NAME.isHidden()">
            <div class="clr-brown fieldLegend">
              <label class="clr-brown">
                {{ 'FamilyDetailsForm.FD_FULL_NAME' | translate}}
              </label>
            </div>
            <app-text-box #FD_FULL_NAME fieldID="FD_FULL_NAME" [formCode]="formCode"
              (blur)="genericOnBlur('FD_FULL_NAME', $event)"></app-text-box>
          </div>
          <div class="col-12  col-sm-3 col-md-3 res-pr-hide" [hidden]="FD_GENDER.isHidden()">
            <div class="clr-brown fieldLegend">
              <label class="clr-brown" [ngClass]="{'mandatory': FD_GENDER.mandatory}">
                {{ 'FamilyDetailsForm.FD_GENDER' | translate}}
              </label>
            </div>
            <app-combo-box #FD_GENDER category="2" fieldID="FD_GENDER" placeholder="Select" [formCode]="formCode"
              domainObjectUrl="/MSTGENERALPARAM/{VALUE1}" doServerUrl="/masters" domainObjectCode="MSTGENERALPARAM"
              (blur)="genericOnBlur('FD_GENDER', $event)"></app-combo-box>
          </div>
          <div class="col-12  col-sm-3 col-md-3 res-pr-hide" [hidden]="FD_DOB.isHidden()">
            <div class="clr-brown fieldLegend">
              <label class="clr-brown" [ngClass]="{'mandatory': FD_DOB.mandatory}">
                {{ 'FamilyDetailsForm.FD_DOB' | translate}}
              </label>
            </div>
            <app-date #FD_DOB fieldID="FD_DOB" [formCode]="formCode" placeholder="dd-mm-yyyy"
              (blur)="genericOnBlur('FD_DOB', $event)"></app-date>
          </div>
          <!-- <div class="col-12  col-sm-3 col-md-3 res-pr-hide"></div> -->
          <!-- <div class="col-12  col-sm-3 col-md-3 res-pr-hide" [hidden]="FD_ISD_Code.isHidden()">
            <div class="clr-brown fieldLegend">
              <label class="clr-brown">
                {{ 'FamilyDetailsForm.FD_ISD_Code' | translate}}
              </label>
            </div>
            <app-combo-box #FD_ISD_Code category="2" fieldID="FD_ISD_Code" [formCode]="formCode" placeholder="Select"
              domainObjectUrl="/MSTGENERALPARAM/{VALUE1}" doServerUrl="/masters" domainObjectCode="MSTGENERALPARAM"
              (blur)="genericOnBlur('FD_ISD_Code', $event)"></app-combo-box>
          </div> -->
          <div class="col-12  col-sm-3 col-md-3 res-pr-hide" [hidden]="FD_MOBILE.isHidden()">
            <div class="clr-brown fieldLegend">
              <label class="clr-brown">
                {{ 'FamilyDetailsForm.FD_MOBILE' | translate}}
              </label>
            </div>
            <rlo-ui-mobile #FD_MOBILE fieldID="FD_MOBILE" (countryCodeChanged)="countryCodeChanged('FD_MOBILE',$event)"
              (blur)="genericOnBlur('FD_MOBILE', $event)" [readOnly]="readOnly"></rlo-ui-mobile>
          </div>
          <div class="col-12  col-sm-3 col-md-3 res-pr-hide" [hidden]="FD_RELATIONSHIP.isHidden()">
            <div class="clr-brown fieldLegend">
              <label class="clr-brown" [ngClass]="{'mandatory': FD_RELATIONSHIP.mandatory}">
                {{ 'FamilyDetailsForm.FD_RELATIONSHIP' | translate}}
              </label>
            </div>
            <app-combo-box #FD_RELATIONSHIP category="2" placeholder="Select" fieldID="FD_RELATIONSHIP"
              [formCode]="formCode" domainObjectUrl="/MSTGENERALPARAM/{VALUE1}" doServerUrl="/masters"
              domainObjectCode="MSTGENERALPARAM" (blur)="genericOnBlur('FD_RELATIONSHIP', $event)"></app-combo-box>
          </div>
          <div class="col-12  col-sm-3 col-md-3 res-pr-hide" [hidden]="FD_EMAIL.isHidden()">
            <div class="clr-brown fieldLegend">
              <label class="clr-brown" [ngClass]="{'mandatory': FD_EMAIL.mandatory}">
                {{ 'FamilyDetailsForm.FD_EMAIL' | translate}}
              </label>
            </div>
            <app-text-box #FD_EMAIL fieldID="FD_EMAIL" [formCode]="formCode" (blur)="genericOnBlur('FD_EMAIL', $event)">
            </app-text-box>
          </div>
          <!-- <div style="min-height: 0px;height: 0px;" class="col-12 col-sm-12 col-md-12"></div> -->
          <div class="col-12  col-sm-3 col-md-3 res-pr-hide" [hidden]="FD_NATIONAL_ID.isHidden()">
            <div class="clr-brown fieldLegend">
              <label class="clr-brown">
                {{ 'FamilyDetailsForm.FD_NATIONAL_ID' | translate}}
              </label>
            </div>
            <app-text-box #FD_NATIONAL_ID fieldID="FD_NATIONAL_ID" placeholder="(Optional)" [formCode]="formCode"
              (blur)="genericOnBlur('FD_NATIONAL_ID', $event)"></app-text-box>
          </div>
          <!-- <div class="col-12 col-sm-3 col-md-3"></div>  -->
          <div class="col-12  col-sm-3 col-md-3 res-pr-hide" [hidden]="FD_TAX_ID.isHidden()">
            <div class="clr-brown fieldLegend">
              <label class="clr-brown">
                {{ 'FamilyDetailsForm.FD_TAX_ID' | translate}}
              </label>
            </div>
            <!-- <div class="col-12  col-sm-3 col-md-3 res-pr-hide"></div> -->
            <app-text-box #FD_TAX_ID fieldID="FD_TAX_ID" [formCode]="formCode"
              (blur)="genericOnBlur('FD_TAX_ID', $event)"></app-text-box>
          </div>
          <!-- <div class="col-12 col-sm-3 col-md-3"></div>  -->
          <div class="col-12 col-sm-9 col-md-9"></div>
          <div class="col-12  col-sm-3 col-md-3 res-pr-hide" *ngIf="!readOnly">
            <app-button #FD_clear fieldName="{{ 'FamilyDetailsForm.FD_clear' | translate}}" fieldID="FD_clear"
              [formCode]="formCode" imagePath="./assets/icons/refresh-form.svg" [type]="2" customClass="icon-button"
              (buttonClick)="clear_click($event)"></app-button>

            <app-button #FD_Save fieldName="{{ 'FamilyDetailsForm.FD_Save' | translate}}" fieldID="FD_Save"
              [formCode]="formCode" imagePath="./assets/icons/plus.svg" [type]="2" customClass="icon-button"
              (buttonClick)="Save_click($event)"></app-button>
          </div>
          <div class="col-12  col-sm-12 col-md-12 res-pr-hide" [hidden]="FAMILY_GRID.isHidden()">
            <app-FamilyDetailsGrid #FAMILY_GRID fieldID="FAMILY_GRID" [formCode]="formCode"
              (onFamilyModify)="FAMILY_GRID_onFamilyModify($event)"></app-FamilyDetailsGrid>
          </div>
          <div class="col-12  col-sm-3 col-md-3 res-pr-hide">
            <app-family-handler #Handler [MainComponent]="this"></app-family-handler>
          </div>
        </div>
        <app-hidden #HidAppId fieldID="HidAppId"></app-hidden>
        <app-hidden #HidGender fieldID="HidGender"></app-hidden>
        <app-hidden #HidRelationship fieldID="HidRelationship"></app-hidden>
        <app-hidden #hidTitle fieldID="hidTitle"></app-hidden>
        <app-hidden #hiddenFamilySeq fieldID="hiddenFamilySeq"></app-hidden>
        <app-hidden #hidISDCode fieldID="hidISDCode"></app-hidden>
      </div>
    </div>
  </div>
</form>
