<!-- login form starts -->
<form action="" id="loginForm" (ngSubmit)="onLoginSubmit()">
  <div class="form-group">
    <label for="username">{{'LOGIN.userName' | translate}}</label>
    <input disabled type="username" [(ngModel)]="username" class="form-control" id="username" name="username" required>
    <!-- <span class="pull-right fm-lks"><a href="javascript:void(0)">Forgot Username?</a></span> -->
  </div>
  <div class="form-group ban-fpas">
    <label for="pwd">{{'LOGIN.password' | translate}}</label>
    <div  style="width:100%">
      <input type="password" class="form-control" [ngClass]="{'error':hasErrors}" id="password" name="password" required
        [(ngModel)]="password" [type]="passwordInputType">
      <span class="errorMessagespan" *ngIf="hasErrors">{{errorMsg | translate}}</span>
    </div>
    <span class="pasview" (click)="togglePasswordDisplay()" *ngIf="passwordInputType=='password'"><img
        src="assets/images/icons/password_hide.svg" alt="view"></span>
    <span class="pasview" (click)="togglePasswordDisplay()" *ngIf="passwordInputType=='text'"><img
        src="assets/images/icons/Password_View.svg" alt="hide"></span>
    <div class="clearfix">
      <!-- <span class="text-left fm-lks"><a href="javascript:void(0)">Virtual Keypad</a></span> -->
      <!-- <span class="pull-right fm-lks"><a href="javascript:void(0)">Forgot Password?</a></span> -->
    </div>
  </div>
  <!-- <div class="form-group ban-fpas">
    <label for="language">Preferred Language</label>
    <select class="form-control" [(ngModel)]="selectedlang" name="language">
      <option *ngFor="let lang of languages" [value]="lang">
        {{lang}}
      </option>
    </select>
  </div> -->
  <!-- google captcha starts -->
  <!-- <div class="g-recaptcha" data-sitekey="6LeecnMUAAAAABkBie1M8HyeMCLn6-xcMn71RNVh"></div> -->
  <!-- google captcha ends -->
  <div class="checkbox">
    <div class="clearfix">
      <div class="sumbit pull-right">
        <button type="submit" id="elogin-submit" class="lform-submit">
          <img src="assets/images/icons/login.svg" class="submit-btn" alt="submit">
        </button>
      </div>
    </div>
  </div>
</form>
<!-- login form ends -->