<div class="row" *ngIf="displayTitle">
  <!-- <div class="col-sm-5 col-md-5">
    <h4>{{ 'PostCPVInputGrid.GridTitle' | translate }}</h4>
  </div> -->
</div>
<table class="rlo-ip-table" [ngStyle]="{'table-layout': (getRowsCount()>0)?'fixed':'auto'}" [ngClass]="{'gridError':error}"
    (click)="clearGridError()">
  <thead>
    <tr class="tr-blue tr-td-l">
      <th [hidden]="isColumnHidden('SrNo')" width="25%">
        {{ 'PostCPVInputGrid.SrNo' | translate }}</th>
      <th [hidden]="isColumnHidden('CustomerName')" width="25%">
        {{ 'PostCPVInputGrid.CustomerName' | translate }}</th>
      <th [hidden]="isColumnHidden('VerificationType')" width="25%">
        {{ 'PostCPVInputGrid.VerificationType' | translate }}</th>
      <th [hidden]="isColumnHidden('Details')" width="25%">
        {{ 'PostCPVInputGrid.Details' | translate }}</th>
      <th [hidden]="isColumnHidden('AgencyName')" width="25%">
        {{ 'PostCPVInputGrid.AgencyName' | translate }}</th>
      <th [hidden]="isColumnHidden('InitiatorRemarks')" width="25%">
        {{ 'PostCPVInputGrid.InitiatorRemarks' | translate }}</th>
      <th [hidden]="isColumnHidden('VerificationResult')" width="25%">
        {{ 'PostCPVInputGrid.VerificationResult' | translate }}</th>
      <th [hidden]="isColumnHidden('VerificationRemarks')" width="25%">
        {{ 'PostCPVInputGrid.VerificationRemarks' | translate }}</th>
      <th [hidden]="isColumnHidden('CompletionResult')" width="25%">
        {{ 'PostCPVInputGrid.CompletionResult' | translate }}</th>
      <th [hidden]="isColumnHidden('CompletionRemarks')" width="25%">
        {{ 'PostCPVInputGrid.CompletionRemarks' | translate }}</th>
      <th [hidden]="isColumnHidden('Report')" width="25%">
        {{ 'PostCPVInputGrid.Report' | translate }}</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngIf="getRowsCount()==0">
      <td colspan=12 style="text-align: center;">
        <span>No data has been added</span>
      </td>
    </tr>
    <ng-container *ngFor="let row of value.rowData;let rowNo = index;let even = even; let odd = odd;">
      <tr (click)="clearRowError(rowNo)" class="tr-td-l"
        [ngClass]="{'rlb_white' : even ,'tr-lt-pwhite' : odd, 'rowError': rowError[rowNo].hasError}">
        <td [hidden]="isColumnHidden('SrNo')">
          <rlo-ui-readonlyfield fontSize="13px" class="general-text" #SrNo fieldID="SrNo_{{rowNo}}"
            [hidden]="isCellReadOnly[rowNo]['SrNo']" [formCode]="formCode"
            (blur)="genericOnBlur('SrNo', $event, rowNo)">
          </rlo-ui-readonlyfield>
          <div *ngIf="isCellReadOnly[rowNo]['SrNo']">
            <p class="label-text" [title]="this['SrNo'].toArray()[rowNo].getFieldInfo()">
              {{this['SrNo'].toArray()[rowNo].getFieldInfo()}}
            </p>
          </div>
        </td>
        <td [hidden]="isColumnHidden('CustomerName')">
            <rlo-ui-readonlyfield fontSize="13px" class="general-text" #CustomerName fieldID="CustomerName_{{rowNo}}" 
            [hidden]="isCellReadOnly[rowNo]['CustomerName']"
            [formCode]="formCode"
            (blur)="genericOnBlur('CustomerName', $event, rowNo)">
            </rlo-ui-readonlyfield>
          <div *ngIf="isCellReadOnly[rowNo]['CustomerName']">
            <p class="label-text" [title]="this['CustomerName'].toArray()[rowNo].getFieldInfo()">
              {{this['CustomerName'].toArray()[rowNo].getFieldInfo()}}
            </p>
          </div>
        </td>
        <td [hidden]="isColumnHidden('VerificationType')">
            <rlo-ui-readonlyfield fontSize="13px" class="general-text" #VerificationType fieldID="VerificationType_{{rowNo}}" 
            [hidden]="isCellReadOnly[rowNo]['VerificationType']"
            [formCode]="formCode"
            (blur)="genericOnBlur('VerificationType', $event, rowNo)">
            </rlo-ui-readonlyfield> 
          <div *ngIf="isCellReadOnly[rowNo]['VerificationType']">
            <p class="label-text" [title]="this['VerificationType'].toArray()[rowNo].getFieldInfo()">
              {{this['VerificationType'].toArray()[rowNo].getFieldInfo()}}
            </p>
          </div>
        </td>
        <td [hidden]="isColumnHidden('Details')">
            <rlo-ui-readonlyfield fontSize="13px" class="general-text" #Details fieldID="Details_{{rowNo}}" 
            [hidden]="isCellReadOnly[rowNo]['Details']"
            [formCode]="formCode"
            (blur)="genericOnBlur('Details', $event, rowNo)">
            </rlo-ui-readonlyfield> 
          <div *ngIf="isCellReadOnly[rowNo]['Details']">
            <p class="label-text" [title]="this['Details'].toArray()[rowNo].getFieldInfo()">
              {{this['Details'].toArray()[rowNo].getFieldInfo()}}
            </p>
          </div>
        </td>
        <td [hidden]="isColumnHidden('AgencyName')">
            <rlo-ui-readonlyfield fontSize="13px" class="general-text" #AgencyName fieldID="AgencyName_{{rowNo}}" 
            [hidden]="isCellReadOnly[rowNo]['AgencyName']"
            [formCode]="formCode"
            (blur)="genericOnBlur('AgencyName', $event, rowNo)">
            </rlo-ui-readonlyfield> 
          <div *ngIf="isCellReadOnly[rowNo]['AgencyName']">
            <p class="label-text" [title]="this['AgencyName'].toArray()[rowNo].getFieldInfo()">
              {{this['AgencyName'].toArray()[rowNo].getFieldInfo()}}
            </p>
          </div>
        </td>
        <td [hidden]="isColumnHidden('InitiatorRemarks')">
            <rlo-ui-readonlyfield fontSize="13px" class="general-text" #InitiatorRemarks fieldID="InitiatorRemarks_{{rowNo}}" 
            [hidden]="isCellReadOnly[rowNo]['InitiatorRemarks']"
            [formCode]="formCode"
            (blur)="genericOnBlur('InitiatorRemarks', $event, rowNo)">
            </rlo-ui-readonlyfield> 
          <div *ngIf="isCellReadOnly[rowNo]['InitiatorRemarks']">
            <p class="label-text" [title]="this['InitiatorRemarks'].toArray()[rowNo].getFieldInfo()">
              {{this['InitiatorRemarks'].toArray()[rowNo].getFieldInfo()}}
            </p>
          </div>
        </td>
        <td [hidden]="isColumnHidden('VerificationResult')">
            <rlo-ui-readonlyfield fontSize="13px" class="general-text" #VerificationResult fieldID="VerificationResult_{{rowNo}}" 
            [hidden]="isCellReadOnly[rowNo]['VerificationResult']"
            [formCode]="formCode"
            (blur)="genericOnBlur('VerificationResult', $event, rowNo)">
            </rlo-ui-readonlyfield> 
          <div *ngIf="isCellReadOnly[rowNo]['VerificationResult']">
            <p class="label-text" [title]="this['VerificationResult'].toArray()[rowNo].getFieldInfo()">
              {{this['VerificationResult'].toArray()[rowNo].getFieldInfo()}}
            </p>
          </div>
        </td>
        <td [hidden]="isColumnHidden('VerificationRemarks')">
            <rlo-ui-readonlyfield fontSize="13px" class="general-text" #VerificationRemarks fieldID="VerificationRemarks_{{rowNo}}" 
            [hidden]="isCellReadOnly[rowNo]['VerificationRemarks']"
            [formCode]="formCode"
            (blur)="genericOnBlur('VerificationRemarks', $event, rowNo)">
            </rlo-ui-readonlyfield> 
          <div *ngIf="isCellReadOnly[rowNo]['VerificationRemarks']">
            <p class="label-text" [title]="this['VerificationRemarks'].toArray()[rowNo].getFieldInfo()">
              {{this['VerificationRemarks'].toArray()[rowNo].getFieldInfo()}}
            </p>
          </div>
        </td>
        <td [hidden]="isColumnHidden('CompletionResult')">
          <app-combo-box #CompletionResult category="1" fieldID="CompletionResult_{{rowNo}}"
            [hidden]="isCellReadOnly[rowNo]['CompletionResult']" [formCode]="formCode"
            (blur)="genericOnBlur('CompletionResult', $event, rowNo)"></app-combo-box>
          <div *ngIf="isCellReadOnly[rowNo]['CompletionResult']">
            <p class="label-text" [title]="this['CompletionResult'].toArray()[rowNo].getFieldInfo()">
              {{this['CompletionResult'].toArray()[rowNo].getFieldInfo()}}
            </p>
          </div>
        </td>
        <td [hidden]="isColumnHidden('CompletionRemarks')">
          <app-text-box #CompletionRemarks fieldID="CompletionRemarks_{{rowNo}}"
            [hidden]="isCellReadOnly[rowNo]['CompletionRemarks']" [formCode]="formCode"
            (blur)="genericOnBlur('CompletionRemarks', $event, rowNo)"></app-text-box>
          <div *ngIf="isCellReadOnly[rowNo]['CompletionRemarks']">
            <p class="label-text" [title]="this['CompletionRemarks'].toArray()[rowNo].getFieldInfo()">
              {{this['CompletionRemarks'].toArray()[rowNo].getFieldInfo()}}
            </p>
          </div>
        </td>
        <td [hidden]="isColumnHidden('Report')">
          <app-text-box #Report fieldID="Report_{{rowNo}}"
            [hidden]="isCellReadOnly[rowNo]['Report']" [formCode]="formCode"
            (blur)="genericOnBlur('Report', $event, rowNo)"></app-text-box>
          <div *ngIf="isCellReadOnly[rowNo]['Report']">
            <p class="label-text" [title]="this['Report'].toArray()[rowNo].getFieldInfo()">
              {{this['Report'].toArray()[rowNo].getFieldInfo()}}
            </p>
          </div>
        </td>
      </tr>
      <tr *ngIf="rowError[rowNo].hasError">
        <td colspan=12 style="text-align: center;">
          <span class="errorMessagespan">{{rowError[rowNo].errorCode | translate}}</span>
        </td>
      </tr>
    </ng-container>
  </tbody>
</table>
<span class="errorMessagespan">{{errorCode| translate}}</span>
