.form-group label{
    width: 33.3333333%;
}

.profile-label{
    font-size: medium !important;
    font-weight: 600;
}

.profile-p{
    margin-top: 0.6rem;
    word-break: break-all;
}

.profile-container{
    border: 0.08rem solid #e1e1e1;
    margin-top: 1rem;
    padding-top: 1rem;
}