<form class="MakeRelative">
<div class="clearfix content">
<div class="row" [ngStyle]="{'display' : displayTitle ? 'block': 'none'}">
<div class="col-sm-5 col-md-5">
<h4 class="FormTitle">
{{ 'AssetDetailsForm.FormTitle' | translate }}
</h4>
</div>
<div class="col-sm-7 col-md-7 text-right xt-center" *ngIf="!formOnLoadError">
</div>
</div>
<div class="alert alert-danger" *ngIf="formOnLoadError">{{formOnLoadErrorMsg}}</div>
<div *ngIf="!formOnLoadError">
<div class="clearfix bi-reponsive" [ngClass]="{'display-border' : displayBorder}">
<div class="form-group pb10">
<div class="col-12  col-sm-4 col-md-4 res-pr-hide" [hidden]="AT_ASSET_TYPE.isHidden()">
<div class="clr-brown fieldLegend">
<label class="clr-brown">
{{ 'AssetDetailsForm.AT_ASSET_TYPE' | translate}}<span class="error-d">*</span>
</label>
</div>
<app-combo-box #AT_ASSET_TYPE category="2" fieldID="AT_ASSET_TYPE" [formCode]="formCode" [mandatory]="true" (blur)="genericOnBlur('AT_ASSET_TYPE', $event)"></app-combo-box>
</div>
<div class="col-12  col-sm-4 col-md-4 res-pr-hide" [hidden]="AT_ASSET_SUBTYPE.isHidden()">
<div class="clr-brown fieldLegend">
<label class="clr-brown">
{{ 'AssetDetailsForm.AT_ASSET_SUBTYPE' | translate}}</label>
</div>
<app-combo-box #AT_ASSET_SUBTYPE category="2" fieldID="AT_ASSET_SUBTYPE" [formCode]="formCode" (blur)="genericOnBlur('AT_ASSET_SUBTYPE', $event)"></app-combo-box>
</div>
<div class="col-12  col-sm-4 col-md-4 res-pr-hide" [hidden]="AT_ASSET_LOCATION.isHidden()">
<div class="clr-brown fieldLegend">
<label class="clr-brown">
{{ 'AssetDetailsForm.AT_ASSET_LOCATION' | translate}}</label>
</div>
<app-text-box #AT_ASSET_LOCATION fieldID="AT_ASSET_LOCATION" [formCode]="formCode" (blur)="genericOnBlur('AT_ASSET_LOCATION', $event)"></app-text-box>
</div>
<div class="col-12  col-sm-4 col-md-4 res-pr-hide" [hidden]="AT_ASSET_STATUS.isHidden()">
<div class="clr-brown fieldLegend">
<label class="clr-brown">
{{ 'AssetDetailsForm.AT_ASSET_STATUS' | translate}}<span class="error-d">*</span>
</label>
</div>
<app-combo-box #AT_ASSET_STATUS category="2" fieldID="AT_ASSET_STATUS" [formCode]="formCode" [mandatory]="true" (blur)="genericOnBlur('AT_ASSET_STATUS', $event)"></app-combo-box>
</div>
<div class="col-12  col-sm-4 col-md-4 res-pr-hide" [hidden]="AT_ASSET_VALUE.isHidden()">
<div class="clr-brown fieldLegend">
<label class="clr-brown">
{{ 'AssetDetailsForm.AT_ASSET_VALUE' | translate}}<span class="error-d">*</span>
</label>
</div>
<app-text-box #AT_ASSET_VALUE fieldID="AT_ASSET_VALUE" [formCode]="formCode" [mandatory]="true" (blur)="genericOnBlur('AT_ASSET_VALUE', $event)"></app-text-box>
</div>
<div class="col-12  col-sm-4 col-md-4 res-pr-hide" [hidden]="AT_FAIR_MRKT_VALUE.isHidden()">
<div class="clr-brown fieldLegend">
<label class="clr-brown">
{{ 'AssetDetailsForm.AT_FAIR_MRKT_VALUE' | translate}}</label>
</div>
<app-text-box #AT_FAIR_MRKT_VALUE fieldID="AT_FAIR_MRKT_VALUE" [formCode]="formCode" (blur)="genericOnBlur('AT_FAIR_MRKT_VALUE', $event)"></app-text-box>
</div>
<div class="col-12  col-sm-4 col-md-4 res-pr-hide" [hidden]="AT_CURRENCY.isHidden()">
<div class="clr-brown fieldLegend">
<label class="clr-brown">
{{ 'AssetDetailsForm.AT_CURRENCY' | translate}}<span class="error-d">*</span>
</label>
</div>
<app-combo-box #AT_CURRENCY category="2" fieldID="AT_CURRENCY" [formCode]="formCode" [mandatory]="true" (blur)="genericOnBlur('AT_CURRENCY', $event)"></app-combo-box>
</div>
<div class="col-12  col-sm-4 col-md-4 res-pr-hide" [hidden]="AT_EQUIVALENT_AMOUNT.isHidden()">
<div class="clr-brown fieldLegend">
<label class="clr-brown">
{{ 'AssetDetailsForm.AT_EQUIVALENT_AMOUNT' | translate}}</label>
</div>
<app-text-box #AT_EQUIVALENT_AMOUNT fieldID="AT_EQUIVALENT_AMOUNT" [formCode]="formCode" (blur)="genericOnBlur('AT_EQUIVALENT_AMOUNT', $event)"></app-text-box>
</div>
<div class="col-12  col-sm-4 col-md-4 res-pr-hide" [hidden]="AT_NAME.isHidden()">
<div class="clr-brown fieldLegend">
<label class="clr-brown">
{{ 'AssetDetailsForm.AT_NAME' | translate}}</label>
</div>
<app-text-box #AT_NAME fieldID="AT_NAME" [formCode]="formCode" (blur)="genericOnBlur('AT_NAME', $event)"></app-text-box>
</div>
<div class="col-12  col-sm-4 col-md-4 res-pr-hide" [hidden]="AT_INCLUDE_IN_DBR.isHidden()">
<div class="clr-brown fieldLegend">
<label class="clr-brown">
{{ 'AssetDetailsForm.AT_INCLUDE_IN_DBR' | translate}}</label>
</div>
<app-combo-box #AT_INCLUDE_IN_DBR category="2" fieldID="AT_INCLUDE_IN_DBR" [formCode]="formCode" (blur)="genericOnBlur('AT_INCLUDE_IN_DBR', $event)"></app-combo-box>
</div>
<div class="col-12  col-sm-4 col-md-4 res-pr-hide" [hidden]="AT_OWNED_BY.isHidden()">
<div class="clr-brown fieldLegend">
<label class="clr-brown">
{{ 'AssetDetailsForm.AT_OWNED_BY' | translate}}<span class="error-d">*</span>
</label>
</div>
<app-combo-box #AT_OWNED_BY category="2" fieldID="AT_OWNED_BY" [formCode]="formCode" [mandatory]="true" (blur)="genericOnBlur('AT_OWNED_BY', $event)"></app-combo-box>
</div>
<div style="min-height: 0px;height: 0px;" class="col-12 col-sm-12 col-md-12"></div>
<div class="col-12  col-sm-2 col-md-2 res-pr-hide" [hidden]="AT_SAVE.isHidden()">
<app-button #AT_SAVE fieldName="{{ 'AssetDetailsForm.AT_SAVE' | translate}}" fieldID="AT_SAVE" [formCode]="formCode" (buttonClick)="AT_SAVE_click($event)"></app-button>
</div>
<div class="col-12  col-sm-12 col-md-12 res-pr-hide" [hidden]="AssetDetailsGrid.isHidden()">
<app-AssetDetailsGrid #AssetDetailsGrid fieldID="AssetDetailsGrid" [formCode]="formCode" (modifyAssetDetails)="AssetDetailsGrid_modifyAssetDetails($event)"></app-AssetDetailsGrid>
</div>
</div>
<app-hidden #ASSET_FORM_ID fieldID="ASSET_FORM_ID"></app-hidden>
</div>
</div>
</div>
</form>
