<!-- <div class="MakeRelative">
        <div class="clearfix content">
      
        <div class="clearfix content"></div>
    </div> -->
<form class="MakeRelative">
    <div class="clearfix content">

        <div class="alert alert-danger" *ngIf="formOnLoadError">{{formOnLoadErrorMsg}}</div>
        <div *ngIf="!formOnLoadError">
            <div class="clearfix bi-reponsive" [ngClass]="{'display-border' : displayBorder}">
                <div class="form-group pb10 row">

                    <!-- <div class="col-12  col-sm-12 col-md-12 res-pr-hide">
        <app-customer-handler #Handler  [MainComponent]="this"></app-customer-handler> 
        </div>  -->

                    <!-- <rlo-ui-accordion #CUST_ACCORD class="col-12 col-sm-12 col-md-12 res-pr-hide"> -->


                    <div class="col-12  col-sm-6 col-md-6 res-pr-hide" [hidden]="CD_CUST_TYPE.isHidden()">
                        <div class="clr-brown fieldLegend">
                            <label class="clr-brown" [ngClass]="{'mandatory': CD_CUST_TYPE.mandatory}">
                                {{ 'CustomerDtls.CD_CUST_TYPE' | translate}}
                            </label>
                        </div>
                        <rlo-ui-radio #CD_CUST_TYPE fieldID="CD_CUST_TYPE" [formCode]="formCode" placeholder="Select" domainObjectUrl="/MSTGENERALPARAM/{VALUE1}"
                            doServerUrl="/masters" domainObjectCode="MSTGENERALPARAM" (blur)="genericOnBlur('CD_CUST_TYPE', $event)"></rlo-ui-radio>
                    </div>
                    <div class="col-12  col-sm-3 col-md-3 res-pr-hide" [hidden]="CD_EXISTING_CUST.isHidden()">
                        <div class="clr-brown fieldLegend">
                            <label class="clr-brown">
                                {{ 'CustomerDtls.CD_EXISTING_CUST' | translate}}
                            </label>
                        </div>
                        <rlo-ui-radio #CD_EXISTING_CUST fieldID="CD_EXISTING_CUST" [formCode]="formCode" domainObjectUrl="/MSTGENERALPARAM/{VALUE1}"
                            doServerUrl="/masters" domainObjectCode="MSTGENERALPARAM" (blur)="genericOnBlur('CD_EXISTING_CUST', $event)"
                            (change)="CD_EXISTING_CUST_change('CD_EXISTING_CUST', $event)"></rlo-ui-radio>
                    </div>
                    <div class="col-12  col-sm-3 col-md-3 res-pr-hide" [hidden]="CD_STAFF.isHidden()">
                        <div class="clr-brown fieldLegend">
                            <label class="clr-brown" [ngClass]="{'mandatory': CD_STAFF.mandatory}">
                                {{ 'CustomerDtls.CD_STAFF' | translate}}
                            </label>
                        </div>
                        <rlo-ui-radio #CD_STAFF fieldID="CD_STAFF" [formCode]="formCode" placeholder="Select" domainObjectUrl="/MSTGENERALPARAM/{VALUE1}"
                            doServerUrl="/masters" domainObjectCode="MSTGENERALPARAM" (blur)="genericOnBlur('CD_STAFF', $event)"
                            (change)="CD_STAFF_change('CD_STAFF', $event)"></rlo-ui-radio>
                    </div>
                    <div class="col-12  col-sm-12 col-md-12 res-pr-hide">
                        <app-label #CD_LABEL parentCompCode="CustomerDtls" fieldID="CD_LABEL" [formCode]="formCode" fontFamily="sans-serif" fontColor="#555"
                            fontStyle="normal" fontSize="12px" fontWeight="400" customClass="sub-section-header"></app-label>
                    </div>
                    <div style="min-height: 0px;height: 0px;" class="col-12 col-sm-12 col-md-12"></div>
                    <div style="min-height: 0px;height: 0px;" class="col-12 col-sm-12 col-md-12"></div>
                    <div class="col-12  col-sm-3 col-md-3 res-pr-hide" [hidden]="CD_CIF.isHidden()">
                        <div class="clr-brown fieldLegend">
                            <label class="clr-brown">
                                {{ 'CustomerDtls.CD_CIF' | translate}}
                            </label>
                        </div>
                        <app-text-box #CD_CIF fieldID="CD_CIF" [formCode]="formCode" (blur)="genericOnBlur('CD_CIF', $event)"></app-text-box>
                    </div>
                    <div class="col-12  col-sm-3 col-md-3 res-pr-hide" [hidden]="CD_CUST_ID.isHidden()">
                        <div class="clr-brown fieldLegend">
                            <label class="clr-brown">
                                {{ 'CustomerDtls.CD_CUST_ID' | translate}}
                            </label>
                        </div>
                        <app-text-box #CD_CUST_ID fieldID="CD_CUST_ID" [formCode]="formCode" (blur)="genericOnBlur('CD_CUST_ID', $event)"></app-text-box>
                    </div>
                    <div class="col-12  col-sm-3 col-md-3 res-pr-hide" [hidden]="CD_STAFF_ID.isHidden()">
                        <div class="clr-brown fieldLegend">
                            <label class="clr-brown" [ngClass]="{'mandatory': CD_STAFF_ID.mandatory}">
                                {{ 'CustomerDtls.CD_STAFF_ID' | translate}}
                            </label>
                        </div>
                        <app-text-box #CD_STAFF_ID fieldID="CD_STAFF_ID" [formCode]="formCode" (blur)="genericOnBlur('CD_STAFF_ID', $event)"></app-text-box>
                    </div>
                    <div class="col-12  col-sm-12 col-md-12 res-pr-hide">
                        <app-label #CUSTOMER_DTLS_LBL parentCompCode="CustomerDtls" fieldID="CUSTOMER_DTLS_LBL" [formCode]="formCode" fontFamily="sans-serif"
                            fontColor="#555" fontStyle="normal" fontSize="12px" fontWeight="400" customClass="sub-section-header"></app-label>
                    </div>
                    <div style="min-height: 0px;height: 0px;" class="col-12 col-sm-12 col-md-12"></div>
                    <div class="col-12  col-sm-2 col-md-2 res-pr-hide" [hidden]="CD_TITLE.isHidden()">
                        <div class="clr-brown fieldLegend">
                            <label class="clr-brown" [ngClass]="{'mandatory': CD_TITLE.mandatory}">
                                {{ 'CustomerDtls.CD_TITLE' | translate}}
                            </label>
                        </div>
                        <app-combo-box #CD_TITLE category="2" fieldID="CD_TITLE" [formCode]="formCode" placeholder="Select" domainObjectUrl="/MSTGENERALPARAM/{VALUE1}"
                            doServerUrl="/masters" domainObjectCode="MSTGENERALPARAM" (blur)="genericOnBlur('CD_TITLE', $event)"></app-combo-box>
                    </div>
                    <div style="min-height: 0px;height: 0px;" class="col-12 col-sm-12 col-md-12"></div>
                    <div style="min-height: 0px;height: 0px;" class="col-12 col-sm-12 col-md-12"></div>
                    <div class="col-12  col-sm-3 col-md-3 res-pr-hide" [hidden]="CD_FIRST_NAME.isHidden()">
                        <div class="clr-brown fieldLegend">
                            <label class="clr-brown" [ngClass]="{'mandatory': CD_FIRST_NAME.mandatory}">
                                {{ 'CustomerDtls.CD_FIRST_NAME' | translate}}
                            </label>
                        </div>
                        <app-text-box #CD_FIRST_NAME fieldID="CD_FIRST_NAME" [formCode]="formCode" (blur)="genericOnBlur('CD_FIRST_NAME', $event)"></app-text-box>
                    </div>
                    <div class="col-12  col-sm-3 col-md-3 res-pr-hide" [hidden]="CD_MIDDLE_NAME.isHidden()">
                        <div class="clr-brown fieldLegend">
                            <label class="clr-brown">
                                {{ 'CustomerDtls.CD_MIDDLE_NAME' | translate}}
                            </label>
                        </div>
                        <app-text-box #CD_MIDDLE_NAME fieldID="CD_MIDDLE_NAME" [formCode]="formCode" placeholder="(Optional)" (blur)="genericOnBlur('CD_MIDDLE_NAME', $event)"></app-text-box>
                    </div>
                    <div class="col-12  col-sm-3 col-md-3 res-pr-hide" [hidden]="CD_THIRD_NAME.isHidden()">
                        <div class="clr-brown fieldLegend">
                            <label class="clr-brown">
                                {{ 'CustomerDtls.CD_THIRD_NAME' | translate}}
                            </label>
                        </div>
                        <app-text-box #CD_THIRD_NAME fieldID="CD_THIRD_NAME" [formCode]="formCode" (blur)="genericOnBlur('CD_THIRD_NAME', $event)"></app-text-box>
                    </div>
                    <div class="col-12  col-sm-3 col-md-3 res-pr-hide" [hidden]="CD_LAST_NAME.isHidden()">
                        <div class="clr-brown fieldLegend">
                            <label class="clr-brown" [ngClass]="{'mandatory': CD_LAST_NAME.mandatory}">
                                {{ 'CustomerDtls.CD_LAST_NAME' | translate}}
                            </label>
                        </div>
                        <app-text-box #CD_LAST_NAME fieldID="CD_LAST_NAME" [formCode]="formCode" (blur)="genericOnBlur('CD_LAST_NAME', $event)"></app-text-box>
                    </div>
                    <div style="min-height: 0px;height: 15px;" class="col-12 col-sm-12 col-md-12"></div>
                    <div class="col-12  col-sm-6 col-md-6 res-pr-hide" [hidden]="CD_FULL_NAME.isHidden()">
                        <div class="clr-brown fieldLegend">
                            <label class="clr-brown">
                                {{ 'CustomerDtls.CD_FULL_NAME' | translate}}
                            </label>
                        </div>
                        <app-text-box #CD_FULL_NAME fieldID="CD_FULL_NAME" [formCode]="formCode" (blur)="genericOnBlur('CD_FULL_NAME', $event)"></app-text-box>
                    </div>
                    <div class="col-12  col-sm-3 col-md-3 res-pr-hide" [hidden]="CD_DOB.isHidden()">
                        <div class="clr-brown fieldLegend">
                            <label class="clr-brown" [ngClass]="{'mandatory': CD_DOB.mandatory}">
                                {{ 'CustomerDtls.CD_DOB' | translate}}
                            </label>
                        </div>
                        <app-date #CD_DOB fieldID="CD_DOB" [formCode]="formCode" placeholder="Select" (blur)="genericOnBlur('CD_DOB', $event)"></app-date>
                    </div>
                    <div class="col-12  col-sm-3 col-md-3 res-pr-hide" [hidden]="CD_GENDER.isHidden()">
                        <div class="clr-brown fieldLegend">
                            <label class="clr-brown" [ngClass]="{'mandatory': CD_GENDER.mandatory}">
                                {{ 'CustomerDtls.CD_GENDER' | translate}}
                            </label>
                        </div>
                        <app-combo-box #CD_GENDER category="2" fieldID="CD_GENDER" [formCode]="formCode" placeholder="Select" domainObjectUrl="/MSTGENERALPARAM/{VALUE1}"
                            doServerUrl="/masters" domainObjectCode="MSTGENERALPARAM" (blur)="genericOnBlur('CD_GENDER', $event)"></app-combo-box>
                    </div>

                    <div style="min-height: 0px;height: 0px;" class="col-12 col-sm-12 col-md-12"></div>
                    <div class="col-12  col-sm-3 col-md-3 res-pr-hide" [hidden]="CD_MARITAL_STATUS.isHidden()">
                        <div class="clr-brown fieldLegend">
                            <label class="clr-brown">
                                {{ 'CustomerDtls.CD_MARITAL_STATUS' | translate}}
                            </label>
                        </div>
                        <app-combo-box #CD_MARITAL_STATUS category="2" fieldID="CD_MARITAL_STATUS" [formCode]="formCode" placeholder="Select" domainObjectUrl="/MSTGENERALPARAM/{VALUE1}"
                            doServerUrl="/masters" domainObjectCode="MSTGENERALPARAM" (blur)="genericOnBlur('CD_MARITAL_STATUS', $event)"></app-combo-box>
                    </div>

                    <div class="col-12  col-sm-3 col-md-3 res-pr-hide" [hidden]="CD_COUNTRY_CODE.isHidden()">
                        <div class="clr-brown fieldLegend">
                            <label class="clr-brown" [ngClass]="{'mandatory': CD_COUNTRY_CODE.mandatory}">
                                {{ 'CustomerDtls.CD_COUNTRY_CODE' | translate}}
                            </label>
                        </div>
                        <app-combo-box #CD_COUNTRY_CODE category="2" fieldID="CD_COUNTRY_CODE" [formCode]="formCode" placeholder="Select" domainObjectUrl="/MSTGENERALPARAM/{VALUE1}"
                            doServerUrl="/masters" domainObjectCode="MSTGENERALPARAM" (blur)="genericOnBlur('CD_COUNTRY_CODE', $event)" (change)="onCountrycodeChanged()"></app-combo-box>
                    </div>

                    <div class="col-12  col-sm-3 col-md-3 res-pr-hide" [hidden]="CD_MOBILE_NO.isHidden()">
                        <div class="clr-brown fieldLegend">
                            <label class="clr-brown" [ngClass]="{'mandatory': CD_MOBILE_NO.mandatory}">
                                {{ 'CustomerDtls.CD_MOBILE_NO' | translate}}
                            </label>
                        </div>
                        <app-text-box #CD_MOBILE_NO fieldID="CD_MOBILE_NO" [formCode]="formCode" (blur)="genericOnBlur('CD_MOBILE_NO', $event)"></app-text-box>
                    </div>
                    <div class="col-12  col-sm-3 col-md-3 res-pr-hide" [hidden]="CD_EMAIL.isHidden()">
                        <div class="clr-brown fieldLegend">
                            <label class="clr-brown">
                                {{ 'CustomerDtls.CD_EMAIL' | translate}}
                            </label>
                        </div>
                        <app-text-box #CD_EMAIL fieldID="CD_EMAIL" [formCode]="formCode" (blur)="genericOnBlur('CD_EMAIL', $event)"></app-text-box>
                    </div>
                    <div class="col-12  col-sm-12 col-md-12 res-pr-hide">
                        <app-label #NATIONALITY_DTLS_LBL parentCompCode="CustomerDtls" fieldID="NATIONALITY_DTLS_LBL" [formCode]="formCode" fontFamily="sans-serif"
                            fontColor="#555" fontStyle="normal" fontSize="12px" fontWeight="400" customClass="sub-section-header"></app-label>
                    </div>
                    <div class="col-12  col-sm-3 col-md-3 res-pr-hide" [hidden]="CD_NATIONALITY.isHidden()">
                        <div class="clr-brown fieldLegend">
                            <label class="clr-brown" [ngClass]="{'mandatory': CD_NATIONALITY.mandatory}">
                                {{ 'CustomerDtls.CD_NATIONALITY' | translate}}
                            </label>
                        </div>
                        <app-combo-box #CD_NATIONALITY category="2" fieldID="CD_NATIONALITY" [formCode]="formCode" domainObjectUrl="/MSTGENERALPARAM/{VALUE1}"
                            doServerUrl="/masters" domainObjectCode="MSTGENERALPARAM" (blur)="genericOnBlur('CD_NATIONALITY', $event)"></app-combo-box>
                    </div>
                    <div class="col-12  col-sm-3 col-md-3 res-pr-hide" [hidden]="CD_CITIZENSHIP.isHidden()">
                        <div class="clr-brown fieldLegend">
                            <label class="clr-brown" [ngClass]="{'mandatory': CD_CITIZENSHIP.mandatory}">
                                {{ 'CustomerDtls.CD_CITIZENSHIP' | translate}}
                            </label>
                        </div>
                        <!-- <app-text-box #CD_CITIZENSHIP fieldID="CD_CITIZENSHIP" [formCode]="formCode" (blur)="genericOnBlur('CD_CITIZENSHIP', $event)"></app-text-box> -->
                        <app-combo-box #CD_CITIZENSHIP category="2" fieldID="CD_CITIZENSHIP" [formCode]="formCode" placeholder="Select" domainObjectUrl="/MSTGENERALPARAM/{VALUE1}"
                        doServerUrl="/masters" domainObjectCode="MSTGENERALPARAM" (blur)="genericOnBlur('CD_CITIZENSHIP', $event)"></app-combo-box>
                    </div>
                    <div class="col-12  col-sm-3 col-md-3 res-pr-hide" [hidden]="CD_PASSPORT_EXPIRY.isHidden()">
                        <div class="clr-brown fieldLegend">
                            <label class="clr-brown">
                                {{ 'CustomerDtls.CD_PASSPORT_EXPIRY' | translate}}
                            </label>
                        </div>
                        <app-date #CD_PASSPORT_EXPIRY fieldID="CD_PASSPORT_EXPIRY" [formCode]="formCode" placeholder="Select" (blur)="genericOnBlur('CD_PASSPORT_EXPIRY', $event)"></app-date>
                    </div>
                    <div class="col-12  col-sm-3 col-md-3 res-pr-hide" [hidden]="CD_PASSPORT_NO.isHidden()">
                        <div class="clr-brown fieldLegend">
                            <label class="clr-brown">
                                {{ 'CustomerDtls.CD_PASSPORT_NO' | translate}}
                            </label>
                        </div>
                        <app-text-box #CD_PASSPORT_NO fieldID="CD_PASSPORT_NO" [formCode]="formCode" placeholder="(Optional)" (blur)="genericOnBlur('CD_PASSPORT_NO', $event)"></app-text-box>
                    </div>
                    <div style="min-height: 0px;height: 0px;" class="col-12 col-sm-12 col-md-12"></div>
                    <div style="min-height: 0px;height: 0px;" class="col-12 col-sm-12 col-md-12"></div>
                    <div style="min-height: 0px;height: 0px;" class="col-12 col-sm-12 col-md-12"></div>
                    <div class="col-12  col-sm-3 col-md-3 res-pr-hide" [hidden]="CD_VISA_VALID.isHidden()">
                        <div class="clr-brown fieldLegend">
                            <label class="clr-brown">
                                {{ 'CustomerDtls.CD_VISA_VALID' | translate}}
                            </label>
                        </div>
                        <app-date #CD_VISA_VALID fieldID="CD_VISA_VALID" [formCode]="formCode" placeholder="Select" (blur)="genericOnBlur('CD_VISA_VALID', $event)"></app-date>
                    </div>
                    <div style="min-height: 0px;height: 0px;" class="col-12 col-sm-12 col-md-12"></div>
                    <div class="col-12  col-sm-3 col-md-3 res-pr-hide" [hidden]="CD_DRIVING_LICENSE.isHidden()">
                        <div class="clr-brown fieldLegend">
                            <label class="clr-brown">
                                {{ 'CustomerDtls.CD_DRIVING_LICENSE' | translate}}
                            </label>
                        </div>
                        <app-text-box #CD_DRIVING_LICENSE fieldID="CD_DRIVING_LICENSE" [formCode]="formCode" placeholder="(Optional)" (blur)="genericOnBlur('CD_DRIVING_LICENSE', $event)"></app-text-box>
                    </div>
                    <div class="col-12  col-sm-3 col-md-3 res-pr-hide" [hidden]="CD_DRVNG_LCNSE_EXP_DT.isHidden()">
                        <div class="clr-brown fieldLegend">
                            <label class="clr-brown">
                                {{ 'CustomerDtls.CD_DRVNG_LCNSE_EXP_DT' | translate}}
                            </label>
                        </div>
                        <app-date #CD_DRVNG_LCNSE_EXP_DT fieldID="CD_DRVNG_LCNSE_EXP_DT" [formCode]="formCode" placeholder="Select" (blur)="genericOnBlur('CD_DRVNG_LCNSE_EXP_DT', $event)"></app-date>
                    </div>
                    <div class="col-12  col-sm-12 col-md-12 res-pr-hide">
                        <app-label #OTHER_DTLS_LBL parentCompCode="CustomerDtls" fieldID="OTHER_DTLS_LBL" [formCode]="formCode" fontFamily="sans-serif"
                            fontColor="#555" fontStyle="normal" fontSize="12px" fontWeight="400" customClass="sub-section-header"></app-label>
                    </div>
                    <div class="col-12  col-sm-3 col-md-3 res-pr-hide" [hidden]="CD_TAX_ID.isHidden()">
                        <div class="clr-brown fieldLegend">
                            <label class="clr-brown" [ngClass]="{'mandatory': CD_TAX_ID.mandatory}">
                                {{ 'CustomerDtls.CD_TAX_ID' | translate}}
                            </label>
                        </div>
                        <app-text-box #CD_TAX_ID fieldID="CD_TAX_ID" [formCode]="formCode" (blur)="genericOnBlur('CD_TAX_ID', $event)"></app-text-box>
                    </div>
                    <div class="col-12  col-sm-3 col-md-3 res-pr-hide" [hidden]="CD_DEBIT_SCORE.isHidden()">
                        <div class="clr-brown fieldLegend">
                            <label class="clr-brown">
                                {{ 'CustomerDtls.CD_DEBIT_SCORE' | translate}}
                            </label>
                        </div>
                        <app-text-box #CD_DEBIT_SCORE inputType="number" fieldID="CD_DEBIT_SCORE" [formCode]="formCode" placeholder="(Optional)"
                            (blur)="genericOnBlur('CD_DEBIT_SCORE', $event)"></app-text-box>
                    </div>
                    <div class="col-12  col-sm-3 col-md-3 res-pr-hide" [hidden]="CD_NATIONAL_ID.isHidden()">
                        <div class="clr-brown fieldLegend">
                            <label class="clr-brown">
                                {{ 'CustomerDtls.CD_NATIONAL_ID' | translate}}
                            </label>
                        </div>
                        <app-text-box #CD_NATIONAL_ID fieldID="CD_NATIONAL_ID" [formCode]="formCode" placeholder="(Optional)" (blur)="genericOnBlur('CD_NATIONAL_ID', $event)"></app-text-box>
                    </div>
                    <div class="col-12  col-sm-12 col-md-12 res-pr-hide">
                        <app-label #LOAN_DTLS_LBL parentCompCode="CustomerDtls" fieldID="LOAN_DTLS_LBL" [formCode]="formCode" fontFamily="sans-serif"
                            fontColor="#555" fontStyle="normal" fontSize="12px" fontWeight="400" customClass="sub-section-header"></app-label>
                    </div>
                    <div class="col-12  col-sm-3 col-md-3 res-pr-hide" [hidden]="CD_CUST_SEGMENT.isHidden()">
                        <div class="clr-brown fieldLegend">
                            <label class="clr-brown">
                                {{ 'CustomerDtls.CD_CUST_SEGMENT' | translate}}
                            </label>
                        </div>
                        <app-combo-box #CD_CUST_SEGMENT category="2" fieldID="CD_CUST_SEGMENT" [formCode]="formCode" placeholder="Select" domainObjectUrl="/MSTGENERALPARAM/{VALUE1}"
                            doServerUrl="/masters" domainObjectCode="MSTGENERALPARAM" (blur)="genericOnBlur('CD_CUST_SEGMENT', $event)"></app-combo-box>
                    </div>
                    <div class="col-12  col-sm-3 col-md-3 res-pr-hide" [hidden]="CD_LOAN_OWN.isHidden() || !isLoanCategory">
                        <div class="clr-brown fieldLegend">
                            <label class="clr-brown">
                                {{ 'CustomerDtls.CD_LOAN_OWN' | translate}}
                            </label>
                        </div>
                        <app-text-box #CD_LOAN_OWN inputType="number" fieldID="CD_LOAN_OWN" [formCode]="formCode" placeholder="(Optional)" (blur)="genericOnBlur('CD_LOAN_OWN', $event)"></app-text-box>
                    </div>
                    <!-- <div class="col-12  col-sm-3 col-md-3 res-pr-hide" [hidden]="CD_PRIME_USAGE.isHidden()">
                        <div class="clr-brown fieldLegend">
                            <label class="clr-brown">
                                {{ 'CustomerDtls.CD_PRIME_USAGE' | translate}}
                            </label>
                        </div>
                        <app-text-box #CD_PRIME_USAGE fieldID="CD_PRIME_USAGE" [formCode]="formCode" (blur)="genericOnBlur('CD_PRIME_USAGE', $event)"></app-text-box>
                    </div> -->
                    <div class="col-12  col-sm-3 col-md-3 res-pr-hide" [hidden]="CD_PMRY_EMBSR_NAME.isHidden()|| isLoanCategory">
                        <div class="clr-brown fieldLegend">
                            <label class="clr-brown">
                                {{ 'CustomerDtls.CD_PMRY_EMBSR_NAME' | translate}}
                            </label>
                        </div>
                        <app-text-box #CD_PMRY_EMBSR_NAME fieldID="CD_PMRY_EMBSR_NAME" [formCode]="formCode" (blur)="genericOnBlur('CD_PMRY_EMBSR_NAME', $event)"></app-text-box>
                    </div>
                    <div style="min-height: 0px;height: 0px;" class="col-12 col-sm-12 col-md-12"></div>
                    <div class="col-12  col-sm-3 col-md-3 res-pr-hide" [hidden]="CD_PREF_COM_CH.isHidden()">
                        <div class="clr-brown fieldLegend">
                            <label class="clr-brown">
                                {{ 'CustomerDtls.CD_PREF_COM_CH' | translate}}
                            </label>
                        </div>
                        <app-combo-box #CD_PREF_COM_CH category="2" fieldID="CD_PREF_COM_CH" [formCode]="formCode" placeholder="Select" domainObjectUrl="/MSTGENERALPARAM/{VALUE1}"
                            doServerUrl="/masters" domainObjectCode="MSTGENERALPARAM" (blur)="genericOnBlur('CD_PREF_COM_CH', $event)"></app-combo-box>
                    </div>
                    <div class="col-12  col-sm-3 col-md-3 res-pr-hide" [hidden]="CD_PREF_LANG.isHidden()">
                        <div class="clr-brown fieldLegend">
                            <label class="clr-brown">
                                {{ 'CustomerDtls.CD_PREF_LANG' | translate}}
                            </label>
                        </div>

                        <app-combo-box #CD_PREF_LANG category="2" fieldID="CD_PREF_LANG" [formCode]="formCode" placeholder="Select" domainObjectUrl="/MSTGENERALPARAM/{VALUE1}"
                            doServerUrl="/masters" domainObjectCode="MSTGENERALPARAM" (blur)="genericOnBlur('CD_PREF_LANG', $event)"></app-combo-box>
                    </div>
                    <div style="min-height: 0px;height: 15px;" class="col-12 col-sm-12 col-md-12"></div>
                    <div class="col-12  col-sm-4 col-md-4 res-pr-hide"></div>
                    <div class="col-12  col-sm-4 col-md-4 res-pr-hide"></div>
                    <div style="min-height: 0px;height: 0px;" class="col-12 col-sm-12 col-md-12"></div>
                    <div class="col-12  col-sm-4 col-md-4 res-pr-hide"></div>
                    <div class="col-12  col-sm-4 col-md-4 res-pr-hide"></div>
                    <div class="col-12  col-sm-1 col-md-1 res-pr-hide" [hidden]="CD_SAVE_BTN.isHidden()">
                        <app-button #CD_SAVE_BTN fieldName="{{ 'CustomerDtls.CD_SAVE_BTN' | translate}}" fieldID="CD_SAVE_BTN" [formCode]="formCode"
                            customClass="btn btn-primary" (buttonClick)="CD_SAVE_BTN_click($event)"></app-button>
                    </div>
                    <div class="col-12  col-sm-1 col-md-1 res-pr-hide" [hidden]="CD_CLEAR_BTN.isHidden()">
                        <app-button #CD_CLEAR_BTN fieldName="{{ 'CustomerDtls.CD_CLEAR_BTN' | translate}}" fieldID="CD_CLEAR_BTN" [formCode]="formCode"
                            customClass="btn-warning-outline" (buttonClick)="CD_CLEAR_BTN_click($event)"></app-button>
                    </div>
                    <div class="col-12  col-sm-4 col-md-4 res-pr-hide">
                        <app-customer-handler #Handler [MainComponent]="this"></app-customer-handler>
                    </div>
                </div>

                <app-hidden #hidExistCust fieldID="hidExistCust"></app-hidden>
                <app-hidden #hideStaffId fieldID="hideStaffId"></app-hidden>
                <app-hidden #hidAppId fieldID="hidAppId"></app-hidden>
                <app-hidden #hidCusSgmt fieldID="hidCusSgmt"></app-hidden>
                <app-hidden #hidGender fieldID="hidGender"></app-hidden>
                <app-hidden #hidNationality fieldID="hidNationality"></app-hidden>
                <app-hidden #hidMaritalStatus fieldID="hidMaritalStatus"></app-hidden>
                <app-hidden #hidPrefCommCh fieldID="hidPrefCommCh"></app-hidden>
                <app-hidden #hidTitle fieldID="hidTitle"></app-hidden>
                <app-hidden #HidCustomerId fieldID="HidCustomerId"></app-hidden>
                <app-hidden #hideCustomerType fieldID="hideCustomerType"></app-hidden>
                <app-hidden #hidPrefLanguage fieldID="hidPrefLanguage"></app-hidden>
                <app-hidden #hideISDCode fieldID="hideISDCode"></app-hidden>
                <app-hidden #hideCitizenship fieldID="hideCitizenship"></app-hidden>               
            </div>
        </div>
    </div>
</form>