
/*

RLO Project SCSS File

*/

/* Variable Definitions */
$default-font-family: 'Open Sans', sans-serif;
$default-text-color: #000;
$border-light: 1px solid #CCCCCC;
$body-bg-color: #fff;
$primary-color: #0079B8;
$mandatory-star-color: red;
$input-height: 36px;
$input-bg-color: #FFFFFF;
$input-bg-disbl-color: #f9f9f9;
$input-lbl-color: #565656;
$bg-light: #FAFCFF;
$default-spacing: 1.25rem;
$default-spacing-bottom: 1.167rem;

/* Class Definitions */

body {
  font-family: $default-font-family !important;
  color: $default-text-color;
  background-color: $body-bg-color;
}

.bi-reponsive {
  .form-control {
    box-sizing: border-box !important;
    height: $input-height !important;
    border: $border-light !important;
    border-radius: 4px !important;
    background-color: $input-bg-color !important;
    margin-top: $default-spacing;
    margin-bottom: $default-spacing-bottom;

    .input-readonly {
      background-color: $input-bg-disbl-color !important;
    }

    &:disabled {
      background-color: $input-bg-disbl-color !important;
    }
    
  }

  .form-group {

    label {
      color: $input-lbl-color;
      font-size: 12px;
      line-height: 12px;
      letter-spacing: 0;
      margin: 2px 0;

      &.sub-section-header {
        margin: 16px 0;
        height: 1.25rem;
        color: #000000;
        font-size: 16px;
        line-height: 1.25rem;
        margin-bottom: 35px;
        font-weight:500;
      }
    }
  }

  // .res-pr-hide {
  //   padding: 0px 20px 10px 20px;
  // }

  .ng-select {
    background-color: $input-bg-color;
    border-radius: 3px;
    border: 1px solid $border-light;
    font-size: 13px;
    margin-top: $default-spacing;
    margin-bottom: $default-spacing-bottom;

    .ng-select-container {
      background-color: transparent !important;
      border-radius: 4px !important;
      min-height: 20px;
      font-size: 0.9rem;

      .ng-input {
        font-size: 0.9rem;
      }

      &.ng-select-single {
        .ng-select-container {
          height: 36px;
          font-size: inherit;
        }
      }
    }

    &.ng-select-disabled>.ng-select-container {
      background-color: #f9f9f9 !important;
    }

  }

  my-date-picker {
    border-radius: 4px;
    margin-top: $default-spacing;
  }

  .mydp .icon-mydpcalendar:before {
    content: "\f073";
    font-family: "Font Awesome 5 Free";
  }

  .res-pr-hide-line {
    box-sizing: border-box;
    height: 1px;
    border-bottom: 1px solid #DDDDDD !important;
    margin: 2.0rem 1.20rem;
    width: 1319px;
  }
}

.FormTitle {
  color: $primary-color;
  font-size: 12px;
  line-height: 17px;
  text-align: right !important;
  border-bottom: 1px solid #979797;
  padding-bottom: 12px;
}

.form-group-initiation-header {
  box-sizing: border-box;
  border: 1px solid #DDDDDD;
  border-radius: 8px;
  background-color: $bg-light;
  padding: $default-spacing;
}

.mandatory::after {
  content: " *";
  color: $mandatory-star-color;
}


.icon-button {
  margin-top: 50px;
  align-self: start;
  width: $input-height !important;
  height: $input-height;
  cursor: pointer;
  border-radius: 4px;
  color: $primary-color;
  background: rgba(0,121,184,0.09);
  border: 1px solid $primary-color;
}

#SEARCH_CUST_BTN{
  background-image: url('/icons/search-lens.svg')
}
app-button[customclass="icon-button"] div {
  text-align: left !important;
}
// #SEARCH_CUST_BTN {
//   background:url(./icons/search-lens.png);
//   //background-image: url('search-lens.svg');
// }

// #SEARCH_CUST_BTN {
//   box-sizing: border-box !important;
//   border: 1px solid #0079B8 !important;
//   border-radius: 4px !important;
//   background-color: rgba(0, 121, 184, 0.09) !important;
//   color: #0079B8 !important
// }

// #CD_ADD {
//   box-sizing: border-box;
//   border: 1px solid #0079B8;
//   border-radius: 4px;
//   background-color: #FFFFFF;
//   color: #0079B8;
// }

// #CD_RESET {
//   box-sizing: border-box;
//   border: 1px solid #4F4E4E;
//   border-radius: 4px;
//   background-color: rgba(255, 255, 255, 0.09);
//   color: #4F4E4E;
// }

.checkboxRight {
  height: 70px;
}


rlo-ui-radio[fieldid="BAD_PROD_CAT"] .rlo-ui-radio-container {
  height: 200px ;
  background-color: transparent ;
  border:none ;

  .radio-item {
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #FFFFFF;
    display: inline-block !important;
    width: 180px;
    height: 180px;
    vertical-align: middle;

    .checkmark {
      height: 96px;
      width: 96px;
      display: inline-block;
      margin: 30px 41px 5px;
      border: none !important;
      background-color: rgba(204,204,204,0.4) !important;
      background-repeat: no-repeat;
      background-position: center;
      background-size: 64px 64px;
    }

    input:checked ~ .checkmark {
      border: 1px solid $primary-color !important;
      
      &::after {
        content: "\f058";
        font-family: "Font Awesome 5 Free";
        font-size: 20px;
        float: right;
        margin-top: -20px;
        margin-right: -20px;
        color: #00B500;
      }
    }

    .radio-text {
      display: inline-block;
      width: 100%;
      text-align: center;
      margin-top: 10px;
      margin-left: 0;
      font-size: 16px;
      color: #595959;
    }

    input:checked ~ .radio-text {
      color: $primary-color;
    }

    &.AL .checkmark{
      background-image: url("/assets/icons/autoloan.png");
    }

    &.PL .checkmark{
      background-image: url("/assets/icons/personalloan.png");
    }

    &.ML .checkmark{
      background-image: url("/assets/icons/mortgageloan.png");
    }
  }  
}

.read-only-field{
  height: 27px !important;
  width: 85px !important;
  color: #000000 !important;
  font-family: "Open Sans" !important;
  font-size: 20px !important;
  letter-spacing: 0 !important;
  line-height: 27px !important;
  margin-bottom: 19px !important;
  margin-top: 15px !important;
}
.internalheader .res-pr-hide .read-only-field{
font-weight: 600 !important;
}
.mainheader{
height: 338px !important;
/* border : 1px solid ; */
padding-left: none !important;
}
.imageheader{
height: 338px;
width: 301px;
/* background-color: blue; */
float:left !important;
}
.leftheader{
height: 338px !important;
width: 344px !important;
background-color: #E4F0F9 !important;
float: left !important;
}
.subleftheader{ 
height: 292px;
width: 246px;
padding-left: 35px;
padding-right: 55px;
padding-top: 23px;
padding-bottom: 23px;
}
.rightheader{
float: left !important;
/* height: 338px !important;
width: 681px !important; */
background-color: #FFFFFF;
}
.subrightheader1{
float: left;
height: 292px !important;
width: 243px !important;
padding-left: 39px !important;
padding-top: 23px !important;
padding-bottom: 23px !important
}
.subrightheader2{
 float: left;
height: 134px !important;
width: 246px !important;
/* padding-left: 381px !important; */
padding-top: 23px !important;
margin-left :113px !important;
/* padding-right:123px !important; */
/* padding-bottom: 181 !important  */
}
.first-child
{
height: 338px;
width: 301px;
background-color: #004467;
text-align: center !important

}
.second-child{
height: 54px;
width: 301px;
background-color: #013653;
text-align: center;
}
#HD_APP_REF_NUM{

 height: 22px !important;
 width: 83px !important;
 color: #FFFFFF !important;
 font-family: "Open Sans" !important;
 font-size: 16px !important;
 letter-spacing: 0 !important;
 line-height: 22px !important;
 text-align: center !important;
}

#LD_LOAN_AMT{
  color: #FFFFFF !important;
  font-family: "Open Sans" !important;
  font-size: 36px !important;
  font-weight: 600 !important;
  letter-spacing: 0 !important;
  line-height: 49px !important;
  text-align: center !important;
  padding-top:40px !important;
  padding-bottom:53px !important
}
.border{
box-sizing: border-box !important;
height: 1.01px !important;
width: 253px !important;
border: 1px solid #0069A0 !important;
margin-left: 27px;
//margin-top: 59px;
}
.loanimage{
max-width: 15% !important;
height: 43px;
//margin-top: 22px;

}

.LoanTypeImage{
padding-top: 35px !important;

}
#HD_PROD_CAT{
height: 12px !important;
width: 93px !important;
color: #FFFFFF !important;
font-family: "Open Sans" !important;
font-size: 20px !important;
font-weight: 600 !important;
letter-spacing: 0 !important;
line-height: 12px !important;
text-align: center !important;
}


.col-12  .col-sm-12 .col-md-12{
padding-left: none !important;
padding-right: none !important;
}
.headerform{
  border: 1px solid #8FC3E0
}
#EMAIL_GROUP{
  box-sizing: border-box;
  height: 42px;
  width: 301px;
  border: 1px solid #DDDDDD;
  border-radius: 4px;
  background-color: #FAFAFA;
  padding-bottom: 64px;
  margin-top: 20px;
}

.emailcheckbox{
  height: 18px !important;
  width: 109px !important;
  color: #000000 !important;
  font-family: "Open Sans" !important;
  font-size: 13px !important;
  letter-spacing: 0 !important;
  line-height: 18px !important;
}

 .customer{
   padding-left: 7px;
   padding-right: 7px;
  .cd-grid {
    margin-top:-7px;
    //margin-left:-9px!important;
    border-radius: 0 0 8px 8px;
    background-color: #F6FBFF;
   // margin-left: 24px;
   // width: 1309px;
    height: 187px;
    padding-top: 16px;
    padding-bottom: 16px;
    border: 1px solid #8FC3E0;
    display: inline-grid;
     grid-template-columns: auto auto auto auto; 
     #op-container {
      box-shadow:none!important;
     }
     .cd-col {
    //  border: 2px solid black;
      height:154px  !important;
      // width:284px;
      box-shadow: 1px 0px 0px 0px #E2E2E2;
      /* display:inline-block !important; */
   .cd-col-row{
     .cust-type-head{
       margin-left: 4px;
     }
      .cust-type-code{
        height: 24px !important;
        width: 24px !important;
        color: #FFFFFF;
        background-color: #0079B8;
        font-family: "Open Sans" !important;
        font-size: 12px;
        font-weight: 600;
        border-radius: 2px;
        padding-top: 4px;
        /* letter-spacing: 0; */
        line-height: 17px;
        text-align: center;
     //   border:1px solid blue;
        }
        .customer-type-label {
         //  border: 2px solid rgb(255, 0, 0); 
           display: inline-block;
          /* float:left; */
           height:27px; 
           width:195px;
          color: #0079B8 !important;
          font-size:20px !important;
          padding-top: 15px 
         
        }
        .sub{
          height: 23.54px;
          width: 23.54px;
          margin-left: 251px;
          margin-top: -47px;
        }
        .cd-add-icon::after{
          // content:"\2295";
          // color:#0079B8;
          font-size: 26px;
        }
        
        
        
      
       // .cd-add-icon{
         // content:"\2295" !important;
       //   color:black !important;
         // padding-left: 73px;
      //  }
        .cust-name-container{
          width:300px;
          .customer-names{
             height: 47px;
             width: 260px;
            // width: 135px;
             display: block;
              padding-top: 12px;            
              color: #565656;
              font-family: "Open Sans";
              font-size: 16px;
              letter-spacing: 0;
              line-height: 12px;
              border-bottom:1px solid #E2E2E2;
            //  border: 1px solid black;
            .fas{
              background-color: Transparent;
              color:#565656;
              border: none;
              cursor:pointer;
              padding-right: 16px;
              float:right;
            }
  
          }
  
           .customer-names-active{
            height: 47px;
            width: 260px;
           // width: 135px;
            display: block;
             padding-top: 12px;            
             color:#0079B8 !important;
             font-family: "Open Sans";
             font-size: 16px;
             letter-spacing: 0;
             line-height: 12px;
             font-style: italic;  
             border-bottom:1px solid #E2E2E2;
           //  color:#0079B8 !important;
                  .customer-edit-active{
                    width: 61px;
                    color: white;
                    height: 21px;
                    font-size: 10px;
                    font-style: normal;
                    background-color: #00B500;
                    border-radius: 10px;
                    border: none;
                    cursor: pointer;
                    /* padding-right: 16px; */
                    float: right;
                }
                
          }
        }
  
      }
      
    
    
    }
     
    
  }
 } 
 .CD_ADD .CD_RESET{
  margin-top: 36px !important
 }


