<div class="row" *ngIf="displayTitle">
  <!-- <div class="col-sm-5 col-md-5">
<h4>{{ 'DisbursInputGrid.GridTitle' | translate }}</h4>
</div> -->
</div>
<div class="col-12  col-sm-5 col-md-5 res-pr-hide">

  <table class="table" [ngStyle]="{'table-layout': (getRowsCount()>0)?'fixed':'auto'}" [ngClass]="{'gridError':error}"
    (click)="clearGridError()">
    <thead>
      <tr class="tr-blue tr-td-l">
        <th [hidden]="isColumnHidden('ProjectCompletion')" width="3%">
          {{ 'DisbursInputGrid.ProjectCompletion' | translate }}</th>
        <th [hidden]="isColumnHidden('DisbursementAmount')" width="3%">
          {{ 'DisbursInputGrid.DisbursementAmount' | translate }}</th>
        <th width="1%" class="text-center" *ngIf="!readOnly">
          <i class="fa fa-plus" style="font-size: 1.1rem;" *ngIf="gridType==1" (click)="addEmptyRow()" title="Add"></i>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngIf="s == 'display'">
        <td colspan=12 style="text-align: center;">
          <span>No data has been added</span>
        </td>
      </tr>
      <ng-container *ngFor="let row of value.rowData;let rowNo = index;let even = even; let odd = odd;">
        <tr (click)="clearRowError(rowNo)" class="tr-td-l"
          [ngClass]="{'rlb_white' : even ,'tr-lt-pwhite' : odd, 'rowError': rowError[rowNo].hasError}">
          <td [hidden]="isColumnHidden('ProjectCompletion')">
            <app-text-area #ProjectCompletion fieldID="ProjectCompletion_{{rowNo}}"
              [hidden]="isCellReadOnly[rowNo]['ProjectCompletion']" [formCode]="formCode" cols="10" rows="2"
              (blur)="genericOnBlur('ProjectCompletion', $event, rowNo)"></app-text-area>
            <div *ngIf="isCellReadOnly[rowNo]['ProjectCompletion']">
              <p class="label-text" [title]="this['ProjectCompletion'].toArray()[rowNo].getFieldInfo()">
                {{this['ProjectCompletion'].toArray()[rowNo].getFieldInfo()}}
              </p>
            </div>
          </td>
          <td [hidden]="isColumnHidden('DisbursementAmount')">
            <app-amount #DisbursementAmount fieldID="DisbursementAmount_{{rowNo}}"
              [hidden]="isCellReadOnly[rowNo]['DisbursementAmount']" [formCode]="formCode"
              (blur)="genericOnBlur('DisbursementAmount', $event, rowNo)"></app-amount>
            <div *ngIf="isCellReadOnly[rowNo]['DisbursementAmount']">
              <p class="label-text" [title]="this['DisbursementAmount'].toArray()[rowNo].getFieldInfo()">
                {{this['DisbursementAmount'].toArray()[rowNo].getFieldInfo()}}
              </p>
            </div>
          </td>
          <td *ngIf="!readOnly" class="text-center" (mouseover)="hidemenu=rowNo" (mouseout)="hidemenu=-1">
            <i class="fa fa-ellipsis-h hidden-options" [ngStyle]="{'display':(hidemenu!=rowNo)?'block':'none'}"></i>
            <div class="row-options" [ngStyle]="{'display':(hidemenu==rowNo)?'inline-flex':'none'}">
              <i class="fa fa-edit" *ngIf="gridType==2" (click)="editRow(rowNo)" title="Edit"></i>
              <i class="fa fa-trash-o" (click)="deleteRow(rowNo)" title="Delete"></i>
              <i class="fa fa-plus" *ngIf="gridType==1" (click)="addEmptyRow(rowNo)" title="Add"></i>
            </div>
          </td>
        </tr>
        <tr *ngIf="rowError[rowNo].hasError">
          <td colspan=12 style="text-align: center;">
            <span class="errorMessagespan">{{rowError[rowNo].errorCode | translate}}</span>
          </td>
        </tr>
      </ng-container>
    </tbody>
  </table>
</div>
<span class="errorMessagespan">{{errorCode| translate}}</span>
