<form action="" id="loginForm" (ngSubmit)="onLoginSubmit()">
  <div class="form-group" style="margin-bottom: 1.5rem;">
    <label for="email">{{'LOGIN.userName' | translate}}</label>
    <div style="width:100%">
      <input type="username" [(ngModel)]="username" class="form-control" [ngClass]="{'error':hasErrors}" id="username"
        name="username" required #input (blur)="username_onblur()">
      <span class="pull-right fm-lks"><a>Forgot Username?</a></span>
      <span class="errorMessagespan" *ngIf="hasErrors">{{errorMsg | translate}}</span>
    </div>
  </div>
  <div class="form-group ban-fpas" style="margin-bottom: 1.5rem;">
    <label for="email">{{'LOGIN.password' | translate}}</label>
    <div style="width:100%">
      <input type="password" [(ngModel)]="password" class="form-control" [ngClass]="{'error':hasErrors}" id="password"
        name="password" required #input (blur)="password_onblur()">
      <span class="pasview" (mousedown)="ShowPassword('password')" (mouseup)="HidePassword('password')"><img
          src="assets/images/icons/Password_View.svg" alt="view"></span>
      <span class="errorMessagespan" *ngIf="hasErrors_password">{{errorMsg | translate}}</span>
      <div class="clearfix">
        <span class="text-left fm-lks"><a>Virtual Keypad</a></span>
        <span class="pull-right fm-lks"><a>Forgot Password?</a></span>
      </div>
    </div>
  </div>
  <div class="form-group ban-fpas" style="margin-bottom: 1.5rem;">
    <label for="email">Token</label>
    <div style="width:100%">
      <input type="password" [(ngModel)]="Token" class="form-control" [ngClass]="{'error':hasErrors}" id="Token"
        (blur)="token_onblur()" name="Token">
      <span class="errorMessagespan" *ngIf="hasErrors_Token">{{errorMsg | translate}}</span>
      <span class="pasview" (mousedown)="ShowPassword('Token')" (mouseup)="HidePassword('Token')"><img
          src="assets/images/icons/Password_View.svg" alt="view"></span>
    </div>
  </div>

  <div class="checkbox">
    <div class="clearfix">
      <div class="pull-left rembember-me ">
        <label class="switch" style="display: flex;">
          <span class="premier-check pull-left"><label><input type="checkbox" class="checkbox no-wrap">
              <span class="ch-btns"></span></label></span>
          <span class="slider round">&nbsp; Remember Me</span>
        </label>
      </div>
      <div class="sumbit pull-right">
        <button type="submit" class="lform-submit">
          <img src="assets/images/icons/login.svg" (click)="onLoginSubmit()" class="submit-btn">
        </button>
      </div>
    </div>
  </div>
</form>