<form class="MakeRelative lyt-operation-queue page-layout-padding">
  <div class="ShowLoading " *ngIf="loadSpinner">
    <div class="lds-roller MakeItMiddle">
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </div>
  </div>

  <div class="clearfix content">
    <div class="wgt-top-navigator row" [ngStyle]="{'display' : displayTitle ? 'block': 'none'}">
      <div class="col-sm-12 col-md-12">
        <div class="FormTitle no-border">
          <a class="back" (click)="goBack()">Back</a>
          <span>{{ 'Operation.FormTitle' | translate }}</span>
        </div>
      </div>
      <div class="col-sm-7 col-md-7 text-right xt-center" *ngIf="!formOnLoadError"></div>
    </div>
    <app-hidden #HideCurrentStage fieldID="HideCurrentStage"></app-hidden>
    <app-hidden #HideProcessId fieldID="HideProcessId"></app-hidden>
    <app-hidden #HideServiceCode fieldID="HideServiceCode"></app-hidden>
    <app-hidden #HideTaskId fieldID="HideTaskId"></app-hidden>
    <app-hidden #HideTenantId fieldID="HideTenantId"></app-hidden>
    <app-hidden #HideUserId fieldID="HideUserId"></app-hidden>
    <app-hidden #HideAppId fieldID="HideAppId"></app-hidden>
    <app-hidden #HideServiceCodeComplete fieldID="HideServiceCodeComplete"></app-hidden>
    <app-hidden #hideDirection fieldID="hideDirection"></app-hidden>
    <div class="alert alert-danger" *ngIf="formOnLoadError">{{formOnLoadErrorMsg}}</div>
    <div *ngIf="!formOnLoadError">
      <div class="clearfix bi-reponsive" [ngClass]="{'display-border' : displayBorder}">
        <div class="form-group pb10 row">
          <div class="col-12  col-sm-12 col-md-12 res-pr-hide" [hidden]="HEADER.isHidden()">
            <app-Header #HEADER fieldID="HEADER" [formCode]="formCode" (headerStateEvent)="headerState($event)"
              (productCategoryFound)="brodcastProdCategory($event)">
            </app-Header>
          </div>
        </div>
      </div>
      <!-- <div class="col-12  col-sm-2 col-md-2 res-pr-hide" [hidden]="VIEW_DDE.isHidden()">
        <i class="fa fa edit"></i>
      </div> -->
      <div class="col-12  col-sm-2 col-md-2 res-pr-hide" [hidden]="VIEW_DDE.isHidden()">
        <app-button #VIEW_DDE fieldName="{{ 'Operation.VIEW_DDE' | translate}}" fieldID="VIEW_DDE"
          customClass="btn btn-primary" (click)="viewDDE()" [formCode]="formCode" style="margin-top: 36px">
        </app-button>
      </div>
      <div class="col-12 col-sm-12 col-md-12 res-pr-hide"></div>
      <div class="col-12 col-sm-12 col-md-12 res-pr-hide"></div>
      <div class="col-12 col-sm-12 col-md-12 res-pr-hide"></div>
      <div class="col-12 col-sm-12 col-md-12 res-pr-hide"></div>
      <div class="col-12 col-sm-12 col-md-12 res-pr-hide"></div>
      <div class="col-12 col-sm-12 col-md-12 res-pr-hide"></div>
      <div class="col-12  col-sm-4 col-md-4 res-pr-hide" style="margin-top: 36px;">
        <app-label #FieldId_1 parentCompCode="Operation" fieldID="FieldId_1" [formCode]="formCode"
          fontFamily="sans-serif" fontColor="#0079B8" fontStyle="normal" fontSize="20px" fontWeight="400"></app-label>
      </div>
      <div class="col-12  col-sm-12 col-md-12 res-pr-hide">
        <div style=" width:100%; background:#CCCCCC ;height:1px;">
        </div>
      </div>
      
      <app-label #ApplicationInfo parentCompCode="Operation" fieldID="ApplicationInfo" [formCode]="formCode"></app-label>

      <app-ApplicationDtls #APPLICATION_DETAILS fieldID="APPLICATION_DETAILS" [formCode]="formCode">
      </app-ApplicationDtls>

        <app-label #CustomerInfo parentCompCode="Operation" fieldID="CustomerInfo" [formCode]="formCode"></app-label>
  
      <div class="col-12  col-sm-12 col-md-12 res-pr-hide" [hidden]="CUST_GRID.isHidden()">
        <app-CustGrid #CUST_GRID fieldID="CUST_GRID" [formCode]="formCode" style="margin-left: 22px; width: 98%;"></app-CustGrid>
      </div>
      <div class="col-12 col-sm-12 col-md-12 res-pr-hide"></div>

      <div *ngIf="isLoanCategory">
        <app-label #FieldId_3 parentCompCode="Operation" fieldID="FieldId_3" [formCode]="formCode"></app-label>
      </div>

      <div *ngIf="!isLoanCategory">
          <app-label #FieldId_8 parentCompCode="Operation" fieldID="FieldId_8" [formCode]="formCode"></app-label>
      </div>

      <div *ngIf="isLoanCategory">
        <div class="col-12  col-sm-4 col-md-4 res-pr-hide" [hidden]="DisbustAmt.isHidden()">
          <div class="clr-brown fieldLegend">
            <label class="clr-brown" style="margin-bottom: 20px;">
              {{ 'Operation.DisbustAmt' | translate}}
            </label>
          </div>
          <app-text-box #DisbustAmt fieldID="DisbustAmt" [formCode]="formCode" (blur)="genericOnBlur('DisbustAmt', $event)"></app-text-box>
        </div>

        <div class="col-12  col-sm-4 col-md-4 res-pr-hide" [hidden]="LOAN_DBR.isHidden()">
          <div class="clr-brown fieldLegend">
            <label class="clr-brown" style="margin-bottom: 20px;">
              {{ 'Operation.LOAN_DBR' | translate}}
            </label>
          </div>
          <app-text-box #LOAN_DBR fieldID="LOAN_DBR" [formCode]="formCode" (blur)="genericOnBlur('LOAN_DBR', $event)">
          </app-text-box>
        </div>

        <div class="col-12  col-sm-4 col-md-4 res-pr-hide" [hidden]="EMI_Amt.isHidden()">
          <div class="clr-brown fieldLegend">
            <label class="clr-brown" style="margin-bottom: 20px;">
              {{ 'Operation.EMI_Amt' | translate}}
            </label>
          </div>
          <app-text-box #EMI_Amt fieldID="EMI_Amt" [formCode]="formCode" (blur)="genericOnBlur('EMI_Amt', $event)">
          </app-text-box>
        </div>  
        <div class="col-12  col-sm-4 col-md-4 res-pr-hide" [hidden]="G_LETTER.isHidden()" style="margin-top: top 30px;" >
          <app-button class="generate_letter"  #G_LETTER fieldName="{{ 'Operation.G_LETTER' | translate}}"
            fieldID="G_LETTER" customClass="btn btn-primary" (click)="onLetterClick()" [formCode]="formCode">
          </app-button>
        </div>
        <div class="col-12 col-sm-12 col-md-12 res-pr-hide"></div>
        <div class="col-12 col-sm-12 col-md-12 res-pr-hide"></div>
        <div class="col-12 col-sm-12 col-md-12 res-pr-hide"></div>
        <div class="col-12 col-sm-12 col-md-12 res-pr-hide"></div>
        <div class="col-12 col-sm-12 col-md-12 res-pr-hide"></div>
        <div class="col-12 col-sm-12 col-md-12 res-pr-hide"></div>
        <div class="col-12 col-sm-12 col-md-12 res-pr-hide" *ngIf="show">
          <!-- <span><a href="#">Mortage Deed</a></span><br>
            <div class="col-12 col-sm-12 col-md-12 res-pr-hide"></div>
            <span><a href="#">Agrement letter</a></span><br>
            <div class="col-12 col-sm-12 col-md-12 res-pr-hide"></div> -->
          <span><a (click)="fetchLetter()">Final Sanction letter</a></span>
        </div>
      </div>

      <div class="CardCat" *ngIf="!isLoanCategory">
        <div class="col-12  col-sm-4 col-md-4 res-pr-hide" [hidden]="Apved_Limit.isHidden()">
          <div class="clr-brown fieldLegend" style="margin-bottom: 20px;">
            <label class="clr-brown">
              {{ 'Operation.Apved_Limit' | translate}}
             
            </label>
          </div>
          <app-text-box #Apved_Limit fieldID="Apved_Limit" [formCode]="formCode"
            (blur)="genericOnBlur('Apved_Limit', $event)"></app-text-box>
        </div>

        <div class="col-12  col-sm-4 col-md-4 res-pr-hide" [hidden]="Card_DBR.isHidden()">
          <div class="clr-brown fieldLegend">
            <label class="clr-brown" style="margin-bottom: 20px;">
              {{ 'Operation.Card_DBR' | translate}}
            </label>
          </div>
          <app-text-box #Card_DBR fieldID="Card_DBR" [formCode]="formCode" (blur)="genericOnBlur('Card_DBR', $event)">
          </app-text-box>
        </div>

        <div class="col-12 col-sm-12 col-md-12 res-pr-hide"></div>
        <div class="col-12 col-sm-12 col-md-12 res-pr-hide"></div>
        <div class="col-12 col-sm-12 col-md-12 res-pr-hide"></div>
        <div class="col-12 col-sm-12 col-md-12 res-pr-hide"></div>
        <div class="col-12 col-sm-12 col-md-12 res-pr-hide"></div>
        <div class="col-12 col-sm-12 col-md-12 res-pr-hide"></div>
        <div class="col-12 col-sm-12 col-md-12 res-pr-hide"></div>
        <div class="col-12  col-sm-4 col-md-4 res-pr-hide" style="margin-top: top 30px;">
        <app-button class="generate_letter"  #G_LETTER fieldName="{{ 'Operation.G_LETTER' | translate}}"
          fieldID="G_LETTER" customClass="btn btn-primary" (click)="onLetterClick()" [formCode]="formCode">
        </app-button>
        </div>
        <div class="col-12  col-sm-12 col-md-12 res-pr-hide"></div>
        <div class="col-12 col-sm-12 col-md-12 res-pr-hide"></div>
        <div class="col-12 col-sm-12 col-md-12 res-pr-hide"></div>
        <div class="col-12 col-sm-12 col-md-12 res-pr-hide"></div>
        <div class="col-12 col-sm-12 col-md-12 res-pr-hide"></div>
        <div class="col-12 col-sm-12 col-md-12 res-pr-hide"></div>
        <div class="col-12 col-sm-12 col-md-12 res-pr-hide"></div>
        <div class="col-12 col-sm-12 col-md-12 res-pr-hide"></div>
        <div class="col-12 col-sm-12 col-md-12 res-pr-hide"></div>
        <div class="col-12 col-sm-12 col-md-12 res-pr-hide"></div>
        <div class="col-12 col-sm-12 col-md-12 res-pr-hide"></div>
        <div *ngIf="show">
          <!-- <a href="#">Mortage Deed</a><br>
            <a href="#">Agrement letter</a><br> -->
          <a (click)="fetchLetter()">Final Sanction letter</a>
        </div>
        <!-- <div [innerHTML]="LETTERMGMTFORMAT"></div> -->
      </div>
      
        <app-label #Document_Information parentCompCode="Operation" fieldID="Document_Information" [formCode]="formCode"></app-label>

        <table *ngIf="ProductCode == 'MORSEC'" #DocumentTable style="margin-left: 21px; width: 97%;">
        <tr style="background-color: #e4f0f9; font-family: open sans; font-weight: normal; font-size: 12px; line-height: 17px; color: #565656; height:45px;">
          <th style="border: none;">Sr No.</th>
          <th style="border: none;">Document Type</th>
          <th style="border: none;">Document Name</th>
          <th style="border: none;"></th>
        </tr>
        <tr>
          <td style="border: none;">1</td>
          <td style="border: none;">Identity Proof</td>
          <td style="border: none;">National identity document, passport or driving licence (for borrower/s and guarantor/s)</td>
          <td style="border: none;"><input type="checkbox" name="name20" /></td>
        </tr>
        <tr>
          <td style="border: none;">2</td>
          <td style="border: none;">Proof of Residence</td>
          <td style="border: none;">Utility bill not older than 3 months</td>
          <td style="border: none;"><input type="checkbox" name="name20" /></td>
        </tr>
        <tr>
          <td style="border: none;">3</td>
          <td style="border: none;">Bank Statement</td>
          <td style="border: none;">Last 3 months’ bank statements</td>
          <td style="border: none;"><input type="checkbox" name="name20" /></td>
        </tr>
        <tr>
          <td style="border: none;">4</td>
          <td style="border: none;">Salary Slip</td>
          <td style="border: none;">Latest salary slip</td>
          <td style="border: none;"><input type="checkbox" name="name20" /></td>
        </tr>
        <tr>
          <td style="border: none;">5</td>
          <td style="border: none;">Salary Slip</td>
          <td style="border: none;">Last 12 months’ salary slips if you earn other income (e.g. overtime/commissions/travel allowance)</td>
          <td style="border: none;"><input type="checkbox" name="name20" /></td>
        </tr>
        <tr>
          <td style="border: none;">6</td>
          <td style="border: none;">Employer permanent employment Letter</td>
          <td style="border: none;">Letter from your employer confirming permanent employment if you have been with your current employer 6
            months or less</td>
          <td style="border: none;"><input type="checkbox" name="name20" /></td>
        </tr>
        <tr>
          <td style="border: none;">7</td>
          <td style="border: none;">Contract Letter</td>
          <td style="border: none;">Contract of employment if you are working under contract</td>
          <td style="border: none;"><input type="checkbox" name="name20" /></td>
        </tr>
        <tr>
          <td style="border: none;">8</td>
          <td style="border: none;">Marriage Certificate </td>
          <td style="border: none;">Marriage certificate (where applicable)</td>
          <td style="border: none;"><input type="checkbox" name="name20" /></td>
        </tr>
        <tr>
          <td style="border: none;">9</td>
          <td style="border: none;">Title Deed </td>
          <td style="border: none;">Draft title deed</td>
          <td style="border: none;"><input type="checkbox" name="name20" /></td>
        </tr>
        <tr>
          <td style="border: none;">10</td>
          <td style="border: none;">photographs</td>
          <td style="border: none;">Couple of passport-size photographs of loan borrower</td>
          <td style="border: none;"><input type="checkbox" name="name20" /></td>
        </tr>
      </table>
      <table *ngIf="ProductCode == 'MURPRD'" style="margin-left: 21px; width: 97%;">
        <tr style="background-color: #e4f0f9; font-family: open sans; font-weight: normal; font-size: 12px; line-height: 17px; color: #565656; height:45px;">
          <th style="border: none;">Sr No.</th>
          <th style="border: none;">Document Type</th>
          <th style="border: none;">Document Name</th>
          <th style="border: none;"></th>
        </tr>
        <tr>
          <td style="border: none;">1</td>
          <td style="border: none;">Identity Proof</td>
          <td style="border: none;">National identity document, passport or driving licence</td>
          <td style="border: none;"><input type="checkbox" name="name20" /></td>
        </tr>
        <tr>
          <td style="border: none;">2</td>
          <td style="border: none;">Proof of Residence</td>
          <td style="border: none;">Utility bill not older than 3 months</td>
          <td style="border: none;"><input type="checkbox" name="name20" /></td>
        </tr>
        <tr>
          <td style="border: none;">3</td>
          <td style="border: none;">Bank Statement</td>
          <td style="border: none;">Last 3 months’ bank statements</td>
          <td style="border: none;"><input type="checkbox" name="name20" /></td>
        </tr>
        <tr>
          <td style="border: none;">4</td>
          <td style="border: none;">Salary Slip</td>
          <td style="border: none;">Your latest salary slip (new customers) or a copy of the latest salary slip (fixed income only)</td>
          <td style="border: none;"><input type="checkbox" name="name20" /></td>
        </tr>
        <tr>
          <td style="border: none;">5</td>
          <td style="border: none;">Salary Slip</td>
          <td style="border: none;">latest salary slips and 12 months' latest bank statements (if you earn regular overtime/commissions)</td>
          <td style="border: none;"><input type="checkbox" name="name20" /></td>
        </tr>
        <tr>
          <td style="border: none;">6</td>
          <td style="border: none;">Employer permanent employment Letter</td>
          <td style="border: none;">Letter from your employer confirming permanent employment if you have been with your current employer 6
            months or less</td>
          <td style="border: none;"><input type="checkbox" name="name20" /></td>
        </tr>
        <tr>
          <td style="border: none;">7</td>
          <td style="border: none;">Contract Letter</td>
          <td style="border: none;">Contract of employment if you are working under contract</td>
          <td style="border: none;"><input type="checkbox" name="name20" /></td>
        </tr>
        <tr>
          <td style="border: none;">8</td>
          <td style="border: none;">Letter of outstanding balance</td>
          <td style="border: none;">Letter of outstanding balance from other banks/financial institutions (where applicable)</td>
          <td style="border: none;"><input type="checkbox" name="name20" /></td>
        </tr>
        <tr>
          <td style="border: none;">9</td>
          <td style="border: none;">Mutual Fund statement/td>
          <td style="border: none;">Self-Attested Mutual Fund statement</td>
          <td style="border: none;"><input type="checkbox" name="name20" /></td>
        </tr>
        <tr>
          <td style="border: none;">10</td>
          <td style="border: none;">Client Master List</td>
          <td style="border: none;">Client Master List (CML) for the relevant Demat Account (in case of Equity)</td>
          <td style="border: none;"><input type="checkbox" name="name20" /></td>
        </tr>
        <tr>
          <td style="border: none;">11</td>
          <td style="border: none;">Photographs</td>
          <td style="border: none;">Couple of passport-size photographs of loan borrower</td>
          <td style="border: none;"><input type="checkbox" name="name20" /></td>
        </tr>
      </table>
      <table *ngIf="ProductCode == 'PERSEC'" style="margin-left: 21px; width: 97%;">
        <tr style="background-color: #e4f0f9; font-family: open sans; font-weight: normal; font-size: 12px; line-height: 17px; color: #565656; height:45px;">
          <th style="border: none;">Sr No.</th>
          <th style="border: none;">Document Type</th>
          <th style="border: none;">Document Name</th>
          <th style="border: none;"></th>
        </tr>
        <tr>
          <td style="border: none;">1</td>
          <td style="border: none;">Identity Proof</td>
          <td style="border: none;">National identity document, passport or driving licence</td>
          <td style="border: none;"><input type="checkbox" name="name20" /></td>
        </tr>
        <tr>
          <td style="border: none;">2</td>
          <td style="border: none;">Proof of Residence</td>
          <td style="border: none;">Utility bill not older than 3 months</td>
          <td style="border: none;"><input type="checkbox" name="name20" /></td>
        </tr>
        <tr>
          <td style="border: none;">3</td>
          <td style="border: none;">Bank Statement</td>
          <td style="border: none;">Last 3 months’ bank statements</td>
          <td style="border: none;"><input type="checkbox" name="name20" /></td>
        </tr>
        <tr>
          <td style="border: none;">4</td>
          <td style="border: none;">Salary Slip</td>
          <td style="border: none;">Your latest salary slip (new customers) or a copy of the latest salary slip (fixed income only)</td>
          <td style="border: none;"><input type="checkbox" name="name20" /></td>
        </tr>
        <tr>
          <td style="border: none;">5</td>
          <td style="border: none;">Salary Slip</td>
          <td style="border: none;">latest salary slips and 12 months' latest bank statements (if you earn regular overtime/commissions)</td>
          <td style="border: none;"><input type="checkbox" name="name20" /></td>
        </tr>
        <tr>
          <td style="border: none;">6</td>
          <td style="border: none;">Employer permanent employment Letter</td>
          <td style="border: none;">Letter from your employer confirming permanent employment if you have been with your current employer 6
            months or less</td>
          <td style="border: none;"><input type="checkbox" name="name20" /></td>
        </tr>
        <tr>
          <td style="border: none;">7</td>
          <td style="border: none;">Contract Letter</td>
          <td style="border: none;">Contract of employment if you are working under contract</td>
          <td style="border: none;"><input type="checkbox" name="name20" /></td>
        </tr>
        <tr>
          <td style="border: none;">8</td>
          <td style="border: none;">Letter of outstanding balance</td>
          <td style="border: none;">Letter of outstanding balance from other banks/financial institutions (where applicable)</td>
          <td style="border: none;"><input type="checkbox" name="name20" /></td>
        </tr>
        <tr>
          <td style="border: none;">9</td>
          <td style="border: none;">Mutual Fund statement/td>
          <td style="border: none;">Self-Attested Mutual Fund statement</td>
          <td style="border: none;"><input type="checkbox" name="name20" /></td>
        </tr>
        <tr>
          <td style="border: none;">10</td>
          <td style="border: none;">Client Master List</td>
          <td style="border: none;">Client Master List (CML) for the relevant Demat Account (in case of Equity)</td>
          <td style="border: none;"><input type="checkbox" name="name20" /></td>
        </tr>
        <tr>
          <td style="border: none;">11</td>
          <td style="border: none;">Photographs</td>
          <td style="border: none;">Couple of passport-size photographs of loan borrower</td>
          <td style="border: none;"><input type="checkbox" name="name20" /></td>
        </tr>
      </table>
    </div>
  </div>
  <div class="col-12  col-sm-12 col-md-12 group-default">
    <div #BUTTON_SECTION id="BUTTON_SECTION">
      <div class="form-group pb10 button-group">
        <div class="col-12  col-sm-4 col-md-4"></div>
        <div class="col-12  col-sm-4 col-md-4 text-center">
          <app-button #OPERATION_APPROVE fieldName="{{ 'Operation.OPERATION_APPROVE' | translate}}"
            fieldID="OPERATION_APPROVE" [formCode]="formCode" customClass="btn btn-primary"
            (buttonClick)="OPERATION_SUBMIT_click($event)" style="width: 150px !important;">
          </app-button>
          <app-button #OPERATION_WITHDRAW fieldName="{{ 'Operation.OPERATION_WITHDRAW' | translate}}"
            fieldID="OPERATION_APPROVE" [formCode]="formCode" customClass="btn-warning-outline"
            (buttonClick)="OPERATION_WITHDRAW_click($event)" style="width: 150px !important;">
          </app-button>
        </div>
        <div class="col-12  col-sm-4 col-md-4"></div>
      </div>
    </div>
  </div>
  <!-- </div>
  </div> -->

</form>
