<form class="MakeRelative lyt-operation-queue page-layout-padding">
  <div class="ShowLoading " *ngIf="loadSpinner">
    <div class="lds-roller MakeItMiddle">
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </div>
  </div>

  <div class="clearfix content">
    <div class="wgt-top-navigator row" [ngStyle]="{'display' : displayTitle ? 'block': 'none'}">
      <div class="col-sm-12 col-md-12">
        <div class="FormTitle no-border">
          <a class="back" (click)="goBack()">Back</a>
          <span>{{ 'Operation.FormTitle' | translate }}</span>
        </div>
      </div>
      <div class="col-sm-7 col-md-7 text-right xt-center" *ngIf="!formOnLoadError"></div>
    </div>
    <app-hidden #HideCurrentStage fieldID="HideCurrentStage"></app-hidden>
    <app-hidden #HideProcessId fieldID="HideProcessId"></app-hidden>
    <app-hidden #HideServiceCode fieldID="HideServiceCode"></app-hidden>
    <app-hidden #HideTaskId fieldID="HideTaskId"></app-hidden>
    <app-hidden #HideTenantId fieldID="HideTenantId"></app-hidden>
    <app-hidden #HideUserId fieldID="HideUserId"></app-hidden>
    <app-hidden #HideAppId fieldID="HideAppId"></app-hidden>
    <app-hidden #HideServiceCodeComplete fieldID="HideServiceCodeComplete"></app-hidden>
    <app-hidden #hideDirection fieldID="hideDirection"></app-hidden>
    <div class="alert alert-danger" *ngIf="formOnLoadError">{{formOnLoadErrorMsg}}</div>
    <div *ngIf="!formOnLoadError">
      <div class="clearfix bi-reponsive" [ngClass]="{'display-border' : displayBorder}">
        <div class="form-group pb10 row">
          <div class="col-12  col-sm-12 col-md-12 res-pr-hide" [hidden]="HEADER.isHidden()">
            <app-Header #HEADER fieldID="HEADER" [formCode]="formCode" (headerStateEvent)="headerState($event)"
              (productCategoryFound)="brodcastProdCategory($event)">
            </app-Header>
          </div>
        </div>
      </div>
      <!-- <div class="col-12  col-sm-2 col-md-2 res-pr-hide" [hidden]="VIEW_DDE.isHidden()">
        <i class="fa fa edit"></i>
      </div> -->
      <div class="col-12  col-sm-2 col-md-2 res-pr-hide" [hidden]="VIEW_DDE.isHidden()">
        <app-button #VIEW_DDE fieldName="{{ 'Operation.VIEW_DDE' | translate}}" fieldID="VIEW_DDE"
          customClass="btn btn-primary" (click)="viewDDE()" [formCode]="formCode">
        </app-button>
      </div>
      <div class="col-12 col-sm-12 col-md-12 res-pr-hide"></div>
      <div class="col-12 col-sm-12 col-md-12 res-pr-hide"></div>
      <div class="col-12 col-sm-12 col-md-12 res-pr-hide"></div>
      <div class="col-12 col-sm-12 col-md-12 res-pr-hide"></div>
      <div class="col-12 col-sm-12 col-md-12 res-pr-hide"></div>
      <div class="col-12 col-sm-12 col-md-12 res-pr-hide"></div>
      <div class="col-12  col-sm-4 col-md-4 res-pr-hide">
        <app-label #FieldId_1 parentCompCode="Operation" fieldID="FieldId_1" [formCode]="formCode"
          fontFamily="sans-serif" fontColor="#555" fontStyle="normal" fontSize="20px" fontWeight="400"></app-label>
      </div>
      <div class="col-12  col-sm-12 col-md-12 res-pr-hide">
        <div style=" width:100%; background:skyblue;height:1px;">
        </div>
      </div>
      <app-ApplicationDtls #APPLICATION_DETAILS fieldID="APPLICATION_DETAILS" [formCode]="formCode">
      </app-ApplicationDtls>
      <div class="col-12 col-sm-12 col-md-12 res-pr-hide"></div>
      <div class="col-12 col-sm-12 col-md-12 res-pr-hide"></div>
      <div class="col-12  col-sm-4 col-md-4 res-pr-hide">
        <app-label #FieldId_2 parentCompCode="Operation" fieldID="FieldId_2" [formCode]="formCode"
          fontFamily="sans-serif" fontColor="#555" fontStyle="normal" fontSize="20px" fontWeight="400"></app-label>
      </div>
      <div class="col-12  col-sm-12 col-md-12 res-pr-hide">
        <div style=" width:100%; background:skyblue;height:1px;">
        </div>
      </div>
      <div class="col-12  col-sm-12 col-md-12 res-pr-hide" [hidden]="CUST_GRID.isHidden()">
        <app-CustGrid #CUST_GRID fieldID="CUST_GRID" [formCode]="formCode"></app-CustGrid>
      </div>
      <div class="col-12 col-sm-12 col-md-12 res-pr-hide"></div>
      <div class="LoanCat" *ngIf="isLoanCategory">
        <div class="col-12  col-sm-4 col-md-4 res-pr-hide">
          <app-label #FieldId_3 parentCompCode="Operation" fieldID="FieldId_3" [formCode]="formCode"
            fontFamily="sans-serif" fontColor="#555" fontStyle="normal" fontSize="20px" fontWeight="400"></app-label>
        </div>
        <div class="col-12  col-sm-12 col-md-12 res-pr-hide">
          <div style=" width:100%; background:skyblue;height:1px;"> </div>
        </div>
        <div class="col-12 col-sm-12 col-md-12 res-pr-hide"></div>
        <div class="col-12 col-sm-12 col-md-12 res-pr-hide"></div>
        <div class="col-12 col-sm-12 col-md-12 res-pr-hide"></div>
        <div class="col-12 col-sm-12 col-md-12 res-pr-hide"></div>
        <div class="col-12 col-sm-12 col-md-12 res-pr-hide"></div>
        <div class="col-12  col-sm-4 col-md-4 res-pr-hide" [hidden]="DisbustAmt.isHidden()">
          <div class="clr-brown fieldLegend">
            <label class="clr-brown">
              {{ 'Operation.DisbustAmt' | translate}}
              <span class="error-d">*</span>
            </label>
          </div>
          <app-text-box #DisbustAmt fieldID="DisbustAmt" [formCode]="formCode"
            (blur)="genericOnBlur('DisbustAmt', $event)"></app-text-box>
        </div>
        <div class="col-12  col-sm-4 col-md-4 res-pr-hide" [hidden]="LOAN_DBR.isHidden()">
          <div class="clr-brown fieldLegend">
            <label class="clr-brown">
              {{ 'Operation.LOAN_DBR' | translate}}
              <span class="error-d">*</span>
            </label>
          </div>
          <app-text-box #LOAN_DBR fieldID="LOAN_DBR" [formCode]="formCode" (blur)="genericOnBlur('LOAN_DBR', $event)">
          </app-text-box>
        </div>
        <div class="col-12  col-sm-4 col-md-4 res-pr-hide" [hidden]="EMI_Amt.isHidden()">
          <div class="clr-brown fieldLegend">
            <label class="clr-brown">
              {{ 'Operation.EMI_Amt' | translate}}
              <span class="error-d">*</span>
            </label>
          </div>
          <app-text-box #EMI_Amt fieldID="EMI_Amt" [formCode]="formCode" (blur)="genericOnBlur('EMI_Amt', $event)">
          </app-text-box>
        </div>
        <div style="min-height: 0px;height: 0px;" class="col-12 col-sm-12 col-md-12"></div>
        <div class="col-12 col-sm-12 col-md-12"></div>
        <div class="col-12 col-sm-12 col-md-12 res-pr-hide"></div>
        <div class="col-12 col-sm-12 col-md-12 res-pr-hide"></div>
        <div class="col-12 col-sm-12 col-md-12 res-pr-hide"></div>
        <div class="col-12 col-sm-12 col-md-12 res-pr-hide"></div>
        <div class="col-12 col-sm-12 col-md-12 res-pr-hide"></div>
        <div class="col-12 col-sm-12 col-md-12 res-pr-hide"></div>
        <div class="col-12 col-sm-12 col-md-12 res-pr-hide"></div>
        <div class="col-12  col-sm-4 col-md-4 res-pr-hide" [hidden]="G_LETTER.isHidden()">
          <app-button class="generate_letter" #G_LETTER fieldName="{{ 'Operation.G_LETTER' | translate}}"
            fieldID="G_LETTER" customClass="btn btn-primary" (click)="onLetterClick()" [formCode]="formCode">
          </app-button>
        </div>
        <div class="col-12 col-sm-12 col-md-12 res-pr-hide"></div>
        <div class="col-12 col-sm-12 col-md-12 res-pr-hide"></div>
        <div class="col-12 col-sm-12 col-md-12 res-pr-hide"></div>
        <div class="col-12 col-sm-12 col-md-12 res-pr-hide"></div>
        <div class="col-12 col-sm-12 col-md-12 res-pr-hide"></div>
        <div class="col-12 col-sm-12 col-md-12 res-pr-hide"></div>
        <div class="col-12 col-sm-12 col-md-12 res-pr-hide" *ngIf="show">
          <!-- <span><a href="#">Mortage Deed</a></span><br>
            <div class="col-12 col-sm-12 col-md-12 res-pr-hide"></div>
            <span><a href="#">Agrement letter</a></span><br>
            <div class="col-12 col-sm-12 col-md-12 res-pr-hide"></div> -->
          <span><a (click)="fetchLetter()">Final Sanction letter</a></span>
        </div>
      </div>


      <div class="col-12 col-sm-12 col-md-12 res-pr-hide"></div>
      <div class="CardCat" *ngIf="!isLoanCategory">
        <div class="col-12  col-sm-4 col-md-4 res-pr-hide">
          <app-label #FieldId_8 parentCompCode="Operation" fieldID="FieldId_8" [formCode]="formCode"
            fontFamily="sans-serif" fontColor="#555" fontStyle="normal" fontSize="20px" fontWeight="400"></app-label>
        </div>
        <div class="col-12  col-sm-12 col-md-12 res-pr-hide">
          <div style=" width:100%; background:skyblue;height:1px;">
          </div>
        </div>
        <div class="col-12  col-sm-12 col-md-12 res-pr-hide"></div>
        <div class="col-12 col-sm-12 col-md-12 res-pr-hide"></div>
        <div class="col-12  col-sm-4 col-md-4 res-pr-hide" [hidden]="Apved_Limit.isHidden()">
          <div class="clr-brown fieldLegend">
            <label class="clr-brown">
              {{ 'Operation.Apved_Limit' | translate}}
              <span class="error-d">*</span>
            </label>
          </div>
          <app-text-box #Apved_Limit fieldID="Apved_Limit" [formCode]="formCode"
            (blur)="genericOnBlur('Apved_Limit', $event)"></app-text-box>
        </div>
        <div class="col-12  col-sm-4 col-md-4 res-pr-hide" [hidden]="Card_DBR.isHidden()">
          <div class="clr-brown fieldLegend">
            <label class="clr-brown">
              {{ 'Operation.Card_DBR' | translate}}
              <span class="error-d">*</span>
            </label>
          </div>
          <app-text-box #Card_DBR fieldID="Card_DBR" [formCode]="formCode" (blur)="genericOnBlur('Card_DBR', $event)">
          </app-text-box>
        </div>
        <div class="col-12 col-sm-12 col-md-12 res-pr-hide"></div>
        <div class="col-12 col-sm-12 col-md-12 res-pr-hide"></div>
        <div class="col-12 col-sm-12 col-md-12 res-pr-hide"></div>
        <div class="col-12 col-sm-12 col-md-12 res-pr-hide"></div>
        <div class="col-12 col-sm-12 col-md-12 res-pr-hide"></div>
        <div class="col-12 col-sm-12 col-md-12 res-pr-hide"></div>
        <div class="col-12 col-sm-12 col-md-12 res-pr-hide"></div>
        <!-- <div class="col-12  col-sm-4 col-md-4 res-pr-hide" [hidden]="G_LETTER.isHidden()" > -->
        <app-button class="generate_letter" #G_LETTER fieldName="{{ 'Operation.G_LETTER' | translate}}"
          fieldID="G_LETTER" customClass="btn btn-primary" (click)="onLetterClick()" [formCode]="formCode">
        </app-button>
        <!-- </div> -->
        <div class="col-12  col-sm-12 col-md-12 res-pr-hide"></div>
        <div class="col-12 col-sm-12 col-md-12 res-pr-hide"></div>
        <div class="col-12 col-sm-12 col-md-12 res-pr-hide"></div>
        <div class="col-12 col-sm-12 col-md-12 res-pr-hide"></div>
        <div class="col-12 col-sm-12 col-md-12 res-pr-hide"></div>
        <div class="col-12 col-sm-12 col-md-12 res-pr-hide"></div>
        <div class="col-12 col-sm-12 col-md-12 res-pr-hide"></div>
        <div class="col-12 col-sm-12 col-md-12 res-pr-hide"></div>
        <div class="col-12 col-sm-12 col-md-12 res-pr-hide"></div>
        <div class="col-12 col-sm-12 col-md-12 res-pr-hide"></div>
        <div class="col-12 col-sm-12 col-md-12 res-pr-hide"></div>
        <div *ngIf="show">
          <!-- <a href="#">Mortage Deed</a><br>
            <a href="#">Agrement letter</a><br> -->
          <a (click)="fetchLetter()">Final Sanction letter</a>
        </div>
        <!-- <div [innerHTML]="LETTERMGMTFORMAT"></div> -->
      </div>

      <div style="min-height: 0px;height: 0px;" class="col-12 col-sm-12 col-md-12"></div>
      <div class="col-12 col-sm-12 col-md-12 res-pr-hide"></div>
      <div class="col-12 col-sm-12 col-md-12 res-pr-hide"></div>
      <div class="col-12 col-sm-12 col-md-12 res-pr-hide"></div>
      <div class="col-12 col-sm-12 col-md-12 res-pr-hide"></div>
      <div class="col-12 col-sm-12 col-md-12 res-pr-hide"></div>
      <div class="col-12 col-sm-12 col-md-12 res-pr-hide"></div>
      <div class="col-12 col-sm-12 col-md-12 res-pr-hide"></div>
      <div class="col-12 col-sm-12 col-md-12 res-pr-hide"></div>
      <div class="col-12 col-sm-12 col-md-12 res-pr-hide"></div>
      <div class="col-12 col-sm-12 col-md-12 res-pr-hide"></div>
      <div class="col-12  col-sm-4 col-md-4 res-pr-hide">
        <app-label #FieldId_31 parentCompCode="Operation" fieldID="Document_Information" [formCode]="formCode"
          fontFamily="sans-serif" fontColor="#555" fontStyle="normal" fontSize="20px" fontWeight="400"></app-label>
      </div>
      <div class="col-12  col-sm-12 col-md-12 res-pr-hide">
        <div style=" width:100%; background:skyblue;height:1px;"> </div>
      </div>
      <div class="col-12 col-sm-12 col-md-12 res-pr-hide"></div>
      <div class="col-12 col-sm-12 col-md-12 res-pr-hide"></div>
      <div class="col-12 col-sm-12 col-md-12 res-pr-hide"></div>
      <div class="col-12 col-sm-12 col-md-12 res-pr-hide"></div>
      <div class="col-12 col-sm-12 col-md-12 res-pr-hide"></div>
      <div class="col-12 col-sm-12 col-md-12 res-pr-hide"></div>
      <div class="col-12 col-sm-12 col-md-12 res-pr-hide"></div>
      <table *ngIf="ProductCode == 'MORSEC'" style="margin-left: 21px; width: 97%;">
        <tr>
          <th>Sr No.</th>
          <th>Document Type</th>
          <th>Document Name</th>
          <th></th>
        </tr>
        <tr>
          <td>1</td>
          <td>Identity Proof</td>
          <td>National identity document, passport or driving licence (for borrower/s and guarantor/s)</td>
          <td><input type="checkbox" name="name20" /></td>
        </tr>
        <tr>
          <td>2</td>
          <td>Proof of Residence</td>
          <td>Utility bill not older than 3 months</td>
          <td><input type="checkbox" name="name20" /></td>
        </tr>
        <tr>
          <td>3</td>
          <td>Bank Statement</td>
          <td>Last 3 months’ bank statements</td>
          <td><input type="checkbox" name="name20" /></td>
        </tr>
        <tr>
          <td>4</td>
          <td>Salary Slip</td>
          <td>Latest salary slip</td>
          <td><input type="checkbox" name="name20" /></td>
        </tr>
        <tr>
          <td>5</td>
          <td>Salary Slip</td>
          <td>Last 12 months’ salary slips if you earn other income (e.g. overtime/commissions/travel allowance)</td>
          <td><input type="checkbox" name="name20" /></td>
        </tr>
        <tr>
          <td>6</td>
          <td>Employer permanent employment Letter</td>
          <td>Letter from your employer confirming permanent employment if you have been with your current employer 6
            months or less</td>
          <td><input type="checkbox" name="name20" /></td>
        </tr>
        <tr>
          <td>7</td>
          <td>Contract Letter</td>
          <td>Contract of employment if you are working under contract</td>
          <td><input type="checkbox" name="name20" /></td>
        </tr>
        <tr>
          <td>8</td>
          <td>Marriage certificate </td>
          <td>Marriage certificate (where applicable)</td>
          <td><input type="checkbox" name="name20" /></td>
        </tr>
        <tr>
          <td>9</td>
          <td>title deed </td>
          <td>Draft title deed</td>
          <td><input type="checkbox" name="name20" /></td>
        </tr>
        <tr>
          <td>10</td>
          <td>photographs</td>
          <td>Couple of passport-size photographs of loan borrower</td>
          <td><input type="checkbox" name="name20" /></td>
        </tr>
      </table>
      <table *ngIf="ProductCode == 'PERSEC'" style="margin-left: 21px; width: 97%;">
        <tr>
          <th>Sr No.</th>
          <th>Document Type</th>
          <th>Document Name</th>
          <th></th>
        </tr>
        <tr>
          <td>1</td>
          <td>Identity Proof</td>
          <td>National identity document, passport or driving licence</td>
          <td><input type="checkbox" name="name20" /></td>
        </tr>
        <tr>
          <td>2</td>
          <td>Proof of Residence</td>
          <td>Utility bill not older than 3 months</td>
          <td><input type="checkbox" name="name20" /></td>
        </tr>
        <tr>
          <td>3</td>
          <td>Bank Statement</td>
          <td>Last 3 months’ bank statements</td>
          <td><input type="checkbox" name="name20" /></td>
        </tr>
        <tr>
          <td>4</td>
          <td>Salary Slip</td>
          <td>Your latest salary slip (new customers) or a copy of the latest salary slip (fixed income only)</td>
          <td><input type="checkbox" name="name20" /></td>
        </tr>
        <tr>
          <td>5</td>
          <td>Salary Slip</td>
          <td>latest salary slips and 12 months' latest bank statements (if you earn regular overtime/commissions)</td>
          <td><input type="checkbox" name="name20" /></td>
        </tr>
        <tr>
          <td>6</td>
          <td>Employer permanent employment Letter</td>
          <td>Letter from your employer confirming permanent employment if you have been with your current employer 6
            months or less</td>
          <td><input type="checkbox" name="name20" /></td>
        </tr>
        <tr>
          <td>7</td>
          <td>Contract Letter</td>
          <td>Contract of employment if you are working under contract</td>
          <td><input type="checkbox" name="name20" /></td>
        </tr>
        <tr>
          <td>8</td>
          <td>Letter of outstanding balance</td>
          <td>Letter of outstanding balance from other banks/financial institutions (where applicable)</td>
          <td><input type="checkbox" name="name20" /></td>
        </tr>
        <tr>
          <td>9</td>
          <td>Mutual Fund statement/td>
          <td>Self-Attested Mutual Fund statement</td>
          <td><input type="checkbox" name="name20" /></td>
        </tr>
        <tr>
          <td>10</td>
          <td>Client Master List</td>
          <td>Client Master List (CML) for the relevant Demat Account (in case of Equity)</td>
          <td><input type="checkbox" name="name20" /></td>
        </tr>
        <tr>
          <td>11</td>
          <td>photographs</td>
          <td>Couple of passport-size photographs of loan borrower</td>
          <td><input type="checkbox" name="name20" /></td>
        </tr>
      </table>
    </div>
  </div>
  <div class="col-12  col-sm-12 col-md-12 group-default">
    <div #BUTTON_SECTION id="BUTTON_SECTION">
      <div class="form-group pb10 button-group">
        <div class="col-12  col-sm-4 col-md-4"></div>
        <div class="col-12  col-sm-4 col-md-4 text-center">
          <app-button #OPERATION_APPROVE fieldName="{{ 'Operation.OPERATION_APPROVE' | translate}}"
            fieldID="OPERATION_APPROVE" [formCode]="formCode" customClass="btn btn-primary"
            (buttonClick)="OPERATION_SUBMIT_click($event)" style="width: 150px !important;">
          </app-button>
          <app-button #OPERATION_WITHDRAW fieldName="{{ 'Operation.OPERATION_WITHDRAW' | translate}}"
            fieldID="OPERATION_APPROVE" [formCode]="formCode" customClass="btn-warning-outline"
            (buttonClick)="OPERATION_WITHDRAW_click($event)" style="width: 150px !important;">
          </app-button>
        </div>
        <div class="col-12  col-sm-4 col-md-4"></div>
      </div>
    </div>
  </div>
  <!-- </div>
  </div> -->

</form>
