<form class="MakeRelative">
<div class="clearfix content">
<div class="row" [ngStyle]="{'display' : displayTitle ? 'block': 'none'}">
<div class="col-sm-5 col-md-5">
</div>
<div class="col-sm-7 col-md-7 text-right xt-center" *ngIf="!formOnLoadError">
</div>
</div>
<div class="alert alert-danger" *ngIf="formOnLoadError">{{formOnLoadErrorMsg}}</div>
<div *ngIf="!formOnLoadError">
<div class="clearfix bi-reponsive" [ngClass]="{'display-border' : displayBorder}">
<div class="form-group pb10">
<div style="min-height: 0px;height: 0px;" class="col-12 col-sm-12 col-md-12"></div>
<div style="min-height: 0px;height: 0px;" class="col-12 col-sm-12 col-md-12"></div>
<div class="col-12  col-sm-4 col-md-4 res-pr-hide">
<app-label #DD_HEADING parentCompCode="OtherDeductionForm" fieldID="DD_HEADING" [formCode]="formCode" fontFamily="sans-serif" fontColor="#555" fontStyle="normal" fontSize="16px" fontWeight="bold" customClass="section-header"></app-label>
</div>
<div style="min-height: 0px;height: 0px;" class="col-12 col-sm-12 col-md-12"></div>
<div class="col-12  col-sm-4 col-md-4 res-pr-hide" [hidden]="OD_OBILGATION_HEAD.isHidden()">
<div class="clr-brown fieldLegend">
<label class="clr-brown">
{{ 'OtherDeductionForm.OD_OBILGATION_HEAD' | translate}}<span class="error-d">*</span>
</label>
</div>
<app-combo-box #OD_OBILGATION_HEAD category="2" fieldID="OD_OBILGATION_HEAD" [formCode]="formCode" [mandatory]="true" (blur)="genericOnBlur('OD_OBILGATION_HEAD', $event)"></app-combo-box>
</div>
<div class="col-12  col-sm-4 col-md-4 res-pr-hide" [hidden]="OD_OBLIGATION_FREQUENCY.isHidden()">
<div class="clr-brown fieldLegend">
<label class="clr-brown">
{{ 'OtherDeductionForm.OD_OBLIGATION_FREQUENCY' | translate}}<span class="error-d">*</span>
</label>
</div>
<app-combo-box #OD_OBLIGATION_FREQUENCY category="2" fieldID="OD_OBLIGATION_FREQUENCY" [formCode]="formCode" [mandatory]="true" (blur)="genericOnBlur('OD_OBLIGATION_FREQUENCY', $event)"></app-combo-box>
</div>
<div style="min-height: 0px;height: 0px;" class="col-12 col-sm-12 col-md-12"></div>
<div class="col-12  col-sm-4 col-md-4 res-pr-hide" [hidden]="OD_Amount.isHidden()">
<div class="clr-brown fieldLegend">
<label class="clr-brown">
{{ 'OtherDeductionForm.OD_Amount' | translate}}<span class="error-d">*</span>
</label>
</div>
<app-amount #OD_Amount fieldID="OD_Amount" [formCode]="formCode" [mandatory]="true" (blur)="genericOnBlur('OD_Amount', $event)"></app-amount>
</div>
<div class="col-12  col-sm-4 col-md-4 res-pr-hide" [hidden]="OD_CURRENCY.isHidden()">
<div class="clr-brown fieldLegend">
<label class="clr-brown">
{{ 'OtherDeductionForm.OD_CURRENCY' | translate}}<span class="error-d">*</span>
</label>
</div>
<app-combo-box #OD_CURRENCY category="2" fieldID="OD_CURRENCY" [formCode]="formCode" [mandatory]="true" (blur)="genericOnBlur('OD_CURRENCY', $event)"></app-combo-box>
</div>
<div class="col-12  col-sm-4 col-md-4 res-pr-hide" [hidden]="OD_Equivalent_Amt.isHidden()">
<div class="clr-brown fieldLegend">
<label class="clr-brown">
{{ 'OtherDeductionForm.OD_Equivalent_Amt' | translate}}<span class="error-d">*</span>
</label>
</div>
<app-amount #OD_Equivalent_Amt fieldID="OD_Equivalent_Amt" [formCode]="formCode" [mandatory]="true" (blur)="genericOnBlur('OD_Equivalent_Amt', $event)"></app-amount>
</div>
<div class="col-12  col-sm-1 col-md-1 res-pr-hide" [hidden]="OD_SAVE.isHidden()">
<app-button #OD_SAVE fieldName="{{ 'OtherDeductionForm.OD_SAVE' | translate}}" fieldID="OD_SAVE" [formCode]="formCode" customClass="btn btn-secondary" (buttonClick)="OD_SAVE_click($event)"></app-button>
</div>
</div>
</div>
</div>
</div>
</form>
