<form class="MakeRelative">
<div class="clearfix content">
<div class="row" [ngStyle]="{'display' : displayTitle ? 'block': 'none'}">
<div class="col-sm-5 col-md-5">
<h4 class="FormTitle">
{{ 'LiabilityDtlsForm.FormTitle' | translate }}
</h4>
</div>
<div class="col-sm-7 col-md-7 text-right xt-center" *ngIf="!formOnLoadError">
</div>
</div>
<div class="alert alert-danger" *ngIf="formOnLoadError">{{formOnLoadErrorMsg}}</div>
<div *ngIf="!formOnLoadError">
<div class="clearfix bi-reponsive" [ngClass]="{'display-border' : displayBorder}">
<div class="form-group pb10">
<div class="col-12  col-sm-3 col-md-3 res-pr-hide" [hidden]="LD_FINANCIER_NAME.isHidden()">
<div class="clr-brown fieldLegend">
<label class="clr-brown">
{{ 'LiabilityDtlsForm.LD_FINANCIER_NAME' | translate}}<span class="error-d">*</span>
</label>
</div>
<app-text-box #LD_FINANCIER_NAME fieldID="LD_FINANCIER_NAME" [formCode]="formCode" placeholder="Placeholder" [mandatory]="true" (blur)="genericOnBlur('LD_FINANCIER_NAME', $event)"></app-text-box>
</div>
<div class="col-12  col-sm-3 col-md-3 res-pr-hide" [hidden]="LD_LOAN_STATUS.isHidden()">
<div class="clr-brown fieldLegend">
<label class="clr-brown">
{{ 'LiabilityDtlsForm.LD_LOAN_STATUS' | translate}}<span class="error-d">*</span>
</label>
</div>
<app-combo-box #LD_LOAN_STATUS category="3" fieldID="LD_LOAN_STATUS" [formCode]="formCode" domainObjectUrl="/LiabilityDetails/{LiabilitySeq}" [mandatory]="true" (blur)="genericOnBlur('LD_LOAN_STATUS', $event)"></app-combo-box>
</div>
<div class="col-12  col-sm-3 col-md-3 res-pr-hide" [hidden]="LD_TYPE_OF_LOAN.isHidden()">
<div class="clr-brown fieldLegend">
<label class="clr-brown">
{{ 'LiabilityDtlsForm.LD_TYPE_OF_LOAN' | translate}}<span class="error-d">*</span>
</label>
</div>
<app-combo-box #LD_TYPE_OF_LOAN category="3" fieldID="LD_TYPE_OF_LOAN" [formCode]="formCode" domainObjectUrl="/LiabilityDetails/{LiabilitySeq}" domainObjectCode="LiabilityDetails" [mandatory]="true" (blur)="genericOnBlur('LD_TYPE_OF_LOAN', $event)"></app-combo-box>
</div>
<div style="min-height: 0px;height: 0px;" class="col-12 col-sm-12 col-md-12"></div>
<div class="col-12  col-sm-3 col-md-3 res-pr-hide" [hidden]="LD_LOAN_AMOUNT.isHidden()">
<div class="clr-brown fieldLegend">
<label class="clr-brown">
{{ 'LiabilityDtlsForm.LD_LOAN_AMOUNT' | translate}}<span class="error-d">*</span>
</label>
</div>
<app-text-box #LD_LOAN_AMOUNT fieldID="LD_LOAN_AMOUNT" [formCode]="formCode" [mandatory]="true" (blur)="genericOnBlur('LD_LOAN_AMOUNT', $event)"></app-text-box>
</div>
<div class="col-12  col-sm-3 col-md-3 res-pr-hide" [hidden]="LD_LOAN_CLOSURE_DATE.isHidden()">
<div class="clr-brown fieldLegend">
<label class="clr-brown">
{{ 'LiabilityDtlsForm.LD_LOAN_CLOSURE_DATE' | translate}}</label>
</div>
<app-date #LD_LOAN_CLOSURE_DATE fieldID="LD_LOAN_CLOSURE_DATE" [formCode]="formCode" placeholder="Placeholder" (blur)="genericOnBlur('LD_LOAN_CLOSURE_DATE', $event)"></app-date>
</div>
<div class="col-12  col-sm-3 col-md-3 res-pr-hide" [hidden]="LD_LOAN_EMI.isHidden()">
<div class="clr-brown fieldLegend">
<label class="clr-brown">
{{ 'LiabilityDtlsForm.LD_LOAN_EMI' | translate}}<span class="error-d">*</span>
</label>
</div>
<app-text-box #LD_LOAN_EMI fieldID="LD_LOAN_EMI" [formCode]="formCode" [mandatory]="true" (blur)="genericOnBlur('LD_LOAN_EMI', $event)"></app-text-box>
</div>
<div style="min-height: 0px;height: 0px;" class="col-12 col-sm-12 col-md-12"></div>
<div class="col-12  col-sm-3 col-md-3 res-pr-hide" [hidden]="LD_INCLUDE_IN_DBR.isHidden()">
<div class="clr-brown fieldLegend">
<label class="clr-brown">
{{ 'LiabilityDtlsForm.LD_INCLUDE_IN_DBR' | translate}}<span class="error-d">*</span>
</label>
</div>
<app-combo-box #LD_INCLUDE_IN_DBR category="3" fieldID="LD_INCLUDE_IN_DBR" [formCode]="formCode" [mandatory]="true" (blur)="genericOnBlur('LD_INCLUDE_IN_DBR', $event)"></app-combo-box>
</div>
<div class="col-12  col-sm-3 col-md-3 res-pr-hide" [hidden]="LD_OS_AMOUNT.isHidden()">
<div class="clr-brown fieldLegend">
<label class="clr-brown">
{{ 'LiabilityDtlsForm.LD_OS_AMOUNT' | translate}}<span class="error-d">*</span>
</label>
</div>
<app-amount #LD_OS_AMOUNT fieldID="LD_OS_AMOUNT" [formCode]="formCode" [mandatory]="true" (blur)="genericOnBlur('LD_OS_AMOUNT', $event)"></app-amount>
</div>
<div class="col-12  col-sm-3 col-md-3 res-pr-hide" [hidden]="LD_CURRENCY.isHidden()">
<div class="clr-brown fieldLegend">
<label class="clr-brown">
{{ 'LiabilityDtlsForm.LD_CURRENCY' | translate}}<span class="error-d">*</span>
</label>
</div>
<app-combo-box #LD_CURRENCY category="3" fieldID="LD_CURRENCY" [formCode]="formCode" [mandatory]="true" (blur)="genericOnBlur('LD_CURRENCY', $event)"></app-combo-box>
</div>
<div class="col-12  col-sm-3 col-md-3 res-pr-hide" [hidden]="LD_EQUIVALENT_AMOUNT.isHidden()">
<div class="clr-brown fieldLegend">
<label class="clr-brown">
{{ 'LiabilityDtlsForm.LD_EQUIVALENT_AMOUNT' | translate}}</label>
</div>
<app-amount #LD_EQUIVALENT_AMOUNT fieldID="LD_EQUIVALENT_AMOUNT" [formCode]="formCode" (blur)="genericOnBlur('LD_EQUIVALENT_AMOUNT', $event)"></app-amount>
</div>
<div style="min-height: 0px;height: 0px;" class="col-12 col-sm-12 col-md-12"></div>
<div class="col-12  col-sm-3 col-md-3 res-pr-hide" [hidden]="LD_LOAN_EMI_FREQUENCY.isHidden()">
<div class="clr-brown fieldLegend">
<label class="clr-brown">
{{ 'LiabilityDtlsForm.LD_LOAN_EMI_FREQUENCY' | translate}}<span class="error-d">*</span>
</label>
</div>
<app-combo-box #LD_LOAN_EMI_FREQUENCY category="3" fieldID="LD_LOAN_EMI_FREQUENCY" [formCode]="formCode" [mandatory]="true" (blur)="genericOnBlur('LD_LOAN_EMI_FREQUENCY', $event)"></app-combo-box>
</div>
<div style="min-height: 0px;height: 0px;" class="col-12 col-sm-12 col-md-12"></div>
<div class="col-12  col-sm-2 col-md-2 res-pr-hide" [hidden]="LD_SAVE.isHidden()">
<app-button #LD_SAVE fieldName="{{ 'LiabilityDtlsForm.LD_SAVE' | translate}}" fieldID="LD_SAVE" [formCode]="formCode" (buttonClick)="LD_SAVE_click($event)"></app-button>
</div>
</div>
</div>
</div>
</div>
</form>
