<div class="row" *ngIf="displayTitle">
  <div class="col-sm-5 col-md-5">
    <h4>{{ 'PreCPVInputGrid.GridTitle' | translate }}</h4>
  </div>
</div>
<table class="rlo-ip-table" [ngStyle]="{'table-layout': (getRowsCount()>0)?'fixed':'auto'}"
  [ngClass]="{'gridError':error}" (click)="clearGridError()">
  <thead>
    <tr>
      <th [hidden]="isColumnHidden('SrNo')" width="4%">
        {{ 'PreCPVInputGrid.SrNo' | translate }}</th>
      <th [hidden]="isColumnHidden('CustomerName')" width="12%">
        {{ 'PreCPVInputGrid.CustomerName' | translate }}</th>
      <th [hidden]="isColumnHidden('VerificationType')" width="10%">
        {{ 'PreCPVInputGrid.VerificationType' | translate }}</th>
      <th [hidden]="isColumnHidden('Details')" width="15%">
        {{ 'PreCPVInputGrid.Details' | translate }}</th>
      <th [hidden]="isColumnHidden('City')" width="10%">
        {{ 'PreCPVInputGrid.SelectCity' | translate }}</th>
      <th [hidden]="isColumnHidden('Agency')" width="12%">
        {{ 'PreCPVInputGrid.SelectAgency' | translate }}</th>
      <th [hidden]="isColumnHidden('RemarksForAgency')" width="10%">
        {{ 'PreCPVInputGrid.RemarksForAgency' | translate }}</th>
      <th [hidden]="isColumnHidden('WaiveOff')" width="5%">
        {{ 'PreCPVInputGrid.WaiveOff' | translate }}</th>
      <th [hidden]="isColumnHidden('RetriggerStatus')" width="8%">
        {{ 'PreCPVInputGrid.RetriggerStatus' | translate }}</th>
      <th [hidden]="isColumnHidden('AddVerificationType')" width="6%">
        {{ 'PreCPVInputGrid.AddVerificationType' | translate }}</th>
      <th [hidden]="isColumnHidden('Initiate')" width="8%">
        {{ 'PreCPVInputGrid.Initiate' | translate }}</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngIf="getRowsCount()==0">
      <td colspan=12 style="text-align: center;">
        <span>No data has been added</span>
      </td>
    </tr>
    <ng-container *ngFor="let row of value.rowData;let rowNo = index;let even = even; let odd = odd;">
      <tr (click)="clearRowError(rowNo)" class="tr-td-l"
        [ngClass]="{'rlb_white' : even ,'tr-lt-pwhite' : odd, 'rowError': rowError[rowNo].hasError}">
        <td [hidden]="isColumnHidden('SrNo')">
          {{rowNo + 1}}
        </td>
        <td [hidden]="isColumnHidden('CustomerName')">
          <!-- <app-combo-box #CustomerName category="2" fieldID="CustomerName_{{rowNo}}"
            [hidden]="isCellReadOnly[rowNo]['CustomerName']" [formCode]="formCode" placeholder="Placeholder"
            [mandatory]="true" (blur)="genericOnBlur('CustomerName', $event, rowNo)"></app-combo-box> -->
          <app-combo-box #CustomerName category="4" fieldID="CustomerName_{{rowNo}}" placeholder="Select"
            [emittedOptions]="customerDropDownList" (blur)="genericOnBlur('CustomerName', $event, rowNo)">
          </app-combo-box>
          <div *ngIf="isCellReadOnly[rowNo]['CustomerName']">
            <p class="label-text" [title]="this['CustomerName'].toArray()[rowNo].getFieldInfo()">
              {{this['CustomerName'].toArray()[rowNo].getFieldInfo()}}
            </p>
          </div>
        </td>
        <td [hidden]="isColumnHidden('VerificationType')">
          <!-- <app-combo-box #VerificationType category="2" fieldID="VerificationType_{{rowNo}}"
            [hidden]="isCellReadOnly[rowNo]['VerificationType']" [formCode]="formCode" placeholder="Placeholder"
            [mandatory]="true" (blur)="genericOnBlur('VerificationType', $event, rowNo)"></app-combo-box> -->
          <app-combo-box #VerificationType category="4" fieldID="VerificationType_{{rowNo}}" placeholder="Select"
            [emittedOptions]="vrfnDropDownList" (blur)="genericOnBlur('VerificationType', $event, rowNo)">
          </app-combo-box>
          <div *ngIf="isCellReadOnly[rowNo]['VerificationType']">
            <p class="label-text" [title]="this['VerificationType'].toArray()[rowNo].getFieldInfo()">
              {{this['VerificationType'].toArray()[rowNo].getFieldInfo()}}
            </p>
          </div>
        </td>
        <td [hidden]="isColumnHidden('Details')">
          <!-- <app-combo-box #Details category="2" fieldID="Details_{{rowNo}}" [hidden]="isCellReadOnly[rowNo]['Details']"
            [formCode]="formCode" placeholder="Placeholder" [mandatory]="true"
            (blur)="genericOnBlur('Details', $event, rowNo)"></app-combo-box> -->
          <!-- <app-text-area #Details fieldID="Details_{{rowNo}}" [hidden]="isCellReadOnly[rowNo]['Details']"
            [formCode]="formCode" cols="10" rows="2" (blur)="genericOnBlur('Details', $event, rowNo)"></app-text-area> -->
          <rlo-ui-readonlyfield fontSize="13px" class="general-text" #Details fieldID="Details_{{rowNo}}"
            [hidden]="isCellReadOnly[rowNo]['Details']" [formCode]="formCode"
            (blur)="genericOnBlur('Details', $event, rowNo)">
          </rlo-ui-readonlyfield>
          <div *ngIf="isCellReadOnly[rowNo]['Details']">
            <p class="label-text" [title]="this['Details'].toArray()[rowNo].getFieldInfo()">
              {{this['Details'].toArray()[rowNo].getFieldInfo()}}
            </p>
          </div>
        </td>
        <td [hidden]="isColumnHidden('City')">
          <!-- <app-combo-box #SelectCity category="2" fieldID="SelectCity_{{rowNo}}"
            [hidden]="isCellReadOnly[rowNo]['SelectCity']" [formCode]="formCode" placeholder="Placeholder"
            [mandatory]="true" (blur)="genericOnBlur('SelectCity', $event, rowNo)"></app-combo-box> -->
          <!-- <app-combo-box #City category="4" fieldID="City_{{rowNo}}" placeholder="Select"
            [emittedOptions]="cityDropDownList" (change)="City_Change()" (blur)="genericOnBlur('City', $event, rowNo)">
     </app-combo-box> -->
          <app-combo-box #City category="2" fieldID="City_{{rowNo}}" [formCode]="formCode" placeholder="Select"
            domainObjectUrl="/MstCityDetails/{CityCd}" domainObjectCode="MstCityDetails" doServerUrl="/masters"
            (blur)="genericOnBlur('City', $event, rowNo)"></app-combo-box>
          <div *ngIf="isCellReadOnly[rowNo]['City']">
            <p class="label-text" [title]="this['City'].toArray()[rowNo].getFieldInfo()">
              {{this['City'].toArray()[rowNo].getFieldInfo()}}
            </p>
          </div>
        </td>
        <td [hidden]="isColumnHidden('Agency')">
          <!-- <app-combo-box #Agency category="2" fieldID="Agency_{{rowNo}}"
            [hidden]="isCellReadOnly[rowNo]['Agency']" [formCode]="formCode" placeholder="Placeholder"
            [mandatory]="true" (blur)="genericOnBlur('Agency', $event, rowNo)"></app-combo-box> -->
          <app-combo-box #Agency category="2" placeholder="Select" fieldID="Agency" [formCode]="formCode"
            domainObjectUrl="/AgencyDtls/{AgencySeq}" domainObjectCode="AgencyDtls" doServerUrl="/masters"
            (blur)="genericOnBlur('Agency', $event, rowNo)"></app-combo-box>
          <div *ngIf="isCellReadOnly[rowNo]['Agency']">
            <p class="label-text" [title]="this['Agency'].toArray()[rowNo].getFieldInfo()">
              {{this['Agency'].toArray()[rowNo].getFieldInfo()}}
            </p>
          </div>
        </td>
        <td [hidden]="isColumnHidden('RemarksForAgency')">
          <app-text-box #RemarksForAgency fieldID="RemarksForAgency_{{rowNo}}"
            [hidden]="isCellReadOnly[rowNo]['RemarksForAgency']" [formCode]="formCode"
            [mandatory]="true" (blur)="genericOnBlur('RemarksForAgency', $event, rowNo)"></app-text-box>
          <div *ngIf="isCellReadOnly[rowNo]['RemarksForAgency']">
            <p class="label-text" [title]="this['RemarksForAgency'].toArray()[rowNo].getFieldInfo()">
              {{this['RemarksForAgency'].toArray()[rowNo].getFieldInfo()}}
            </p>
          </div>
        </td>
        <td [hidden]="isColumnHidden('WaiveOff')">
          <app-check-box #WaiveOff fieldID="WaiveOff_{{rowNo}}" [hidden]="isCellReadOnly[rowNo]['WaiveOff']"
            [formCode]="formCode" (blur)="genericOnBlur('WaiveOff', $event, rowNo)">
          </app-check-box>
          <div *ngIf="isCellReadOnly[rowNo]['WaiveOff']">
            <p class="label-text" [title]="this['WaiveOff'].toArray()[rowNo].getFieldInfo()">
              {{this['WaiveOff'].toArray()[rowNo].getFieldInfo()}}
            </p>
          </div>
        </td>
        <td [hidden]="isColumnHidden('RetriggerStatus')">
          <!-- <app-text-box #RetriggerStatus fieldID="RetriggerStatus_{{rowNo}}"
            [hidden]="isCellReadOnly[rowNo]['RetriggerStatus']" [formCode]="formCode" placeholder="Placeholder"
            [mandatory]="true" (blur)="genericOnBlur('RetriggerStatus', $event, rowNo)"></app-text-box> -->
          <rlo-ui-readonlyfield fontSize="13px" class="general-text" #RetriggerStatus
            fieldID="RetriggerStatus_{{rowNo}}" [hidden]="isCellReadOnly[rowNo]['RetriggerStatus']"
            [formCode]="formCode" (blur)="genericOnBlur('RetriggerStatus', $event, rowNo)">
          </rlo-ui-readonlyfield>
          <div *ngIf="isCellReadOnly[rowNo]['RetriggerStatus']">
            <p class="label-text" [title]="this['RetriggerStatus'].toArray()[rowNo].getFieldInfo()">
              {{this['RetriggerStatus'].toArray()[rowNo].getFieldInfo()}}
            </p>
          </div>
        </td>
        <td [hidden]="isColumnHidden('AddVerificationType')">
          <app-button #AddVerificationType fieldName="{{ 'PreCPVInputGrid.Plus' | translate}}"
            fieldID="AddVerificationType_{{rowNo}}" [formCode]="formCode" customClass="btn cpv-add-btn"
            (buttonClick)="addEmptyRow(rowNo)">
          </app-button>
        </td>
        <td [hidden]="isColumnHidden('Initiate')">
          <app-button #Initiate fieldName="{{ 'PreCPVInputGrid.INITIATE' | translate}}" fieldID="Initiate_{{rowNo}}"
            [formCode]="formCode" customClass="btn cpv-initiate-btn" (buttonClick)="Initiate_click(rowNo,$event)">
          </app-button>
          <div *ngIf="isCellReadOnly[rowNo]['Initiate']">
            <p class="label-text" [title]="this['Initiate'].toArray()[rowNo].getFieldInfo()">
              {{this['Initiate'].toArray()[rowNo].getFieldInfo()}}
            </p>
          </div>
        </td>
      </tr>
      <tr *ngIf="rowError[rowNo].hasError">
        <td colspan=12 style="text-align: center;">
          <span class="errorMessagespan">{{rowError[rowNo].errorCode | translate}}</span>
        </td>
      </tr>
    </ng-container>
  </tbody>
</table>
<span class="errorMessagespan">{{errorCode| translate}}</span>
