<div class="container-fluid">
    <div class="row" *ngIf="collateralList && collateralList.length > 0">
        <div class="col-md-12" id="docstable1">
            <div class="panel-group">
                <div class="panel panel-default table table-responsive">
                    <table align="center" class="collateral">
                        <thead class="grid-head">
                            <tr>
                                <td>{{getLabel('ASSO_CUSTOMER')}}</td>
                                <td>{{getLabel('COLLATERAL_CODE')}}</td>
                                <td>{{getLabel('COLLATERAL_DESCRIPTION')}}</td>
                                <!-- <td>{{getLabel('COLLATERAL_CCY')}}</td> -->
                                <td>{{getLabel('COLLATERAL_AMOUNT')}}</td>
                                <td>{{getLabel('APPORTIONED_AMOUNT')}}</td>
                                <td>{{getLabel('AVAILABLE_AMOUNT')}}</td>
                                <td>{{getLabel('COLLATERAL_STATUS')}}</td>
                                <!-- <td>{{getLabel('TAGGED_FACILITY')}}</td> -->
                                <td></td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="docheader" *ngFor="let collList of collateralList">
                                <!-- <td>{{getCustomerName()}}</td> -->
                                <td>{{custId}}</td>
                                <td>{{collList.collateralCode}}</td>
                                <td>{{collList.collateralSubtype.subTypeDescription}}</td>
                                <!-- <td>{{collList.collateralCurrency}}</td> -->
                                <td>{{ formatAmount(collList.originalValue) }}</td>
                                <td>{{ formatAmount(collList.apportionedAmount) }}</td>
                                <td>{{ formatAmount(collList.availableAmount) }}</td>
                                <td>{{collList.collateralStatus}}</td>
                                <!-- <td class="text-ellipses" title="{{collList.taggedFacilities}}">
                                    {{collList.taggedFacilities}}</td> -->
                                <td class="fas collateral-edit"
                                    [ngClass]="{'fa-edit': (!appService.viewMode), 'fa-eye': (appService.viewMode) }"
                                    (click)="editCollateral(collList)"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
