<div type="1" class="wgt-lable" style="width:302px">
  <div class="card-tile-body">
    <div style="margin-top: 7px;">
    <span class="text_1">Card title</span>
    <p class="text_2">Sub title</p>
  </div>
</div>
</div>

<div type="2" class="wgt-lable" style="width:302px">
  <div class="card-tile-body">
    <div style="margin-top: 7px;">
    <span class="text_1">Card title</span>
    <p class="text_2">Sub title</p>
    <img class="lable-icon" src="./../icons/collaps.svg">
  </div>
</div>
</div>