<div class="row" *ngIf="displayTitle">
</div>
<table class="rlo-ip-table" [ngStyle]="{'table-layout': (getRowsCount()>0)?'fixed':'auto'}"
  [ngClass]="{'gridError':error}" (click)="clearGridError()">
  <thead>
    <tr>
      <th [hidden]="isColumnHidden('VehicleCostBreakup')" width="25%">
        {{ 'VehicleIPGrid.VehicleCostBreakup' | translate }}</th>
      <th [hidden]="isColumnHidden('Amount')" width="25%">
        {{ 'VehicleIPGrid.Amount' | translate }}</th>
      <th [hidden]="isColumnHidden('LocalCurrencyEquivalent')" width="25%">
        {{ 'VehicleIPGrid.LocalCurrencyEquivalent' | translate }}</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngIf="getRowsCount()==0">
      <td colspan=12 style="text-align: center;">
        <span>No data has been added</span>
      </td>
    </tr>
    <ng-container *ngFor="let row of value.rowData;let rowNo = index;let even = even; let odd = odd;">
      <tr (click)="clearRowError(rowNo)" class="tr-td-l"
        [ngClass]="{'rlb_white' : even ,'tr-lt-pwhite' : odd, 'rowError': rowError[rowNo].hasError}">
        <!-- <td [hidden]="isColumnHidden('SrNo')">
            <rlo-ui-readonlyfield fontSize="13px" class="general-text" #SrNo fieldID="SrNo_{{rowNo}}" 
            [hidden]="isCellReadOnly[rowNo]['SrNo']"
            [formCode]="formCode"
            (blur)="genericOnBlur('SrNo', $event, rowNo)">
            </rlo-ui-readonlyfield>
          <div *ngIf="isCellReadOnly[rowNo]['SrNo']">
            <p class="label-text" [title]="this['SrNo'].toArray()[rowNo].getFieldInfo()">
              {{this['SrNo'].toArray()[rowNo].getFieldInfo()}}
            </p>
          </div>
        </td> -->
        <td [hidden]="isColumnHidden('VehicleCostBreakup')">
          <rlo-ui-readonlyfield fontSize="13px" class="general-text" #VehicleCostBreakup
            fieldID="VehicleCostBreakup_{{rowNo}}" [hidden]="isCellReadOnly[rowNo]['VehicleCostBreakup']"
            [formCode]="formCode" (blur)="genericOnBlur('VehicleCostBreakup', $event, rowNo)">
          </rlo-ui-readonlyfield>
          <div *ngIf="isCellReadOnly[rowNo]['VehicleCostBreakup']">
            <p class="label-text" [title]="this['VehicleCostBreakup'].toArray()[rowNo].getFieldInfo()">
              {{this['VehicleCostBreakup'].toArray()[rowNo].getFieldInfo()}}
            </p>
          </div>
        </td>
        <td [hidden]="isColumnHidden('Amount')">
          <app-amount #Amount fieldID="Amount_{{rowNo}}" [hidden]="isCellReadOnly[rowNo]['Amount']"
            [formCode]="formCode" placeholder="Enter" [DecimalLength]="0"
            (blur)="genericOnBlur('Amount', $event, rowNo)"></app-amount>
          <div *ngIf="isCellReadOnly[rowNo]['Amount']">
            <p class="label-text" [title]="this['Amount'].toArray()[rowNo].getFieldInfo()">
              {{this['Amount'].toArray()[rowNo].getFieldInfo()}}
            </p>
          </div>
        </td>
        <td [hidden]="isColumnHidden('LocalCurrencyEquivalent')">
          <app-amount #LocalCurrencyEquivalent fieldID="LocalCurrencyEquivalent_{{rowNo}}"
            [hidden]="isCellReadOnly[rowNo]['LocalCurrencyEquivalent']" [formCode]="formCode" placeholder="Placeholder"
            [DecimalLength]="20" (blur)="genericOnBlur('LocalCurrencyEquivalent', $event, rowNo)">
          </app-amount>
          <div *ngIf="isCellReadOnly[rowNo]['LocalCurrencyEquivalent']">
            <p class="label-text" [title]="this['LocalCurrencyEquivalent'].toArray()[rowNo].getFieldInfo()">
              {{this['LocalCurrencyEquivalent'].toArray()[rowNo].getFieldInfo()}}
            </p>
          </div>
        </td>
      </tr>
      <tr *ngIf="rowError[rowNo].hasError">
        <td colspan=12 style="text-align: center;">
          <span class="errorMessagespan">{{rowError[rowNo].errorCode | translate}}</span>
        </td>
      </tr>
    </ng-container>
  </tbody>
  <tfoot>
    <tr>
      <td>{{ 'VehicleIPGrid.Total' | translate }}</td>
      <td>
        <app-amount #TotalAmount fieldID="TotalAmount" (blur)="genericOnBlur('TotalAmount', $event, undefined)">
        </app-amount>
      </td>

      <td>
        <app-amount #TotalLocalCurEq fieldID="TotalLocalCurEq"
          (blur)="genericOnBlur('TotalLocalCurEq', $event, undefined)">
        </app-amount>
      </td>
    </tr>
  </tfoot>
</table>
<span class="errorMessagespan">{{errorCode| translate}}</span>
