<div class="wgt-card-tile-body card-tile-body">
  <div class="card-tile-container">
    <span id="primary_lable" class="primary_lable">{{cardFieldMetaData.title}}</span>
    <span id="secondary_lable" class="secondary_lable">{{cardFieldMetaData.subTitle}}</span>
    <div>
      <button type="button" class="lable-icon" *ngIf="cardFieldMetaData.showModalBtn" (click)="onButtonClick()">
        <i class="fas fa-edit"></i>
      </button>
    </div>
  </div>
</div>

<!-- <div *ngIf="type === 'ICON'">
  <button type="button" class="lable-icon" (click)="onIconClick($event)">
  <i class="fa fa edit"></i>
  </button>
</div> -->