<!-- background banner slider Start-->
<div class="clearfix banner-slider">
  <div class="item" style="background-image: url(assets/images/banner/banner1.jpg);"></div>
  <div class="item item1" style="background-image: url(assets/images/banner/banner2.jpg);"></div>
  <div class="item" style="background-image: url(assets/images/banner/banner3.jpg);"></div>
</div>
<!-- background banner slider close-->
<!--header Start-->
<header class="header" style="text-align: center;">

  <div *ngIf="forcePwdChange" style="display: inline-block;" class="alert alert-warning">
    {{'ErrorCodes.passwordExpired' | translate}}
  </div>


  <!-- <div class="container">
    <div class="clearfix top-header">
      <div class="row">
        <div class="col-sm-12 text-right hd-icons">
          <ul class="list-inline">
            <li>
              <input type="search" id="search-bar" placeholder="Search">
            </li>
            <li id="trigger">
              <a href="javascript:void(0)"><img src="assets/images/icons/Search.svg" alt="global" title="global"></a>
            </li>
            <li class="menu">
              <a href="javascript:void(0)"><img src="assets/images/icons/menu.svg" alt="menu" title="menu"></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div> -->
  <!-- Menu starts -->
  <div class="sidebar-menu">
    <span class="close-btn"><img src="assets/images/icons/close.svg"></span>
    <ul class="mtree transit">
      <li><a href="javascript:void(0)">About Fluid Pages </a></li>
      <li><a href="javascript:void(0)">Monetary </a></li>
      <li><a href="javascript:void(0)">Financial System Stability </a></li>
      <li><a href="javascript:void(0)">Payment System</a></li>
      <li><a href="javascript:void(0)">Media Room</a></li>
      <li><a href="javascript:void(0)">Regulation</a></li>
      <li><a href="javascript:void(0)">Publication</a></li>
      <li><a href="javascript:void(0)">Statistics</a></li>
    </ul>
  </div>
  <!-- Menu ends -->
</header>
<!--header Start-->
<!--Banner Start-->
<div class="clearfix banner">
  <!--Slider End-->
  <div class="container">
    <div class="clearfix banner-content">
      <!--Row Start-->
      <div class="pwdchng-container">
        <div class="pwdchng-form form homeform">


          <div class="clearfix inner-form">
            <div class="clearfix ban-frm">
              <a href="javascript:void(0)" class="logo">
                <img src="assets/images/logo/logo.png" alt="Bank Indonesia" title="Bank Indonesia">
              </a>


              <!-- <router-outlet></router-outlet> -->

              <br>
              <form action="" id="loginForm" (ngSubmit)="onSubmit()">
                <div class="form-group ban-fpas">
                  <label for="username">{{'EPWDCHANGE.oldPwd' | translate}}</label>
                  <div style="width:100%">
                    <input (focus)="oldPwdError=false" [ngClass]="{'error' : oldPwdError}" [type]="oldPwdInputType"
                      [(ngModel)]="oldpwd" class="form-control" id="oldpwd" name="oldpwd" required
                      (blur)="oldpwd_blur()">
                    <span class="errorMessagespan" *ngIf="oldPwdError">{{oldPwdErrorMsg | translate}}</span>
                  </div>
                  <span class="pasview" (click)="oldPwdInputType='text'" *ngIf="oldPwdInputType=='password'"><img
                      src="assets/images/icons/password_hide.svg" alt="view"></span>
                  <span class="pasview" (click)="oldPwdInputType='password'" *ngIf="oldPwdInputType=='text'"><img
                      src="assets/images/icons/Password_View.svg" alt="hide"></span>
                </div>




                <div class="form-group ban-fpas">
                  <label style="display: inline;" for="pwd">{{'EPWDCHANGE.newPwd' | translate}}</label>

                  <div class="tool-tip">
                    <i class="tool-tip__icon">i</i>
                    <p class="tool-tip__info">
                      <!-- <span class="info"><span class="info__title">Label:</span> Kling Klong</span>
                        <span><span class="info__title">Most popular month:</span> August 2013</span> -->

                      <span class="info"><span class="info__title">{{'EPWDCHANGE.criteria' | translate}}</span></span>
                      <span class="info">{{'EPWDCHANGE.minlen' | translate}} : {{minLength}}</span>
                      <span class="info">{{'EPWDCHANGE.minalpha' | translate}} : {{minAlpha}}</span>
                      <span class="info">{{'EPWDCHANGE.minnum' | translate}} : {{minNumeric}}</span>
                      <span class="info">{{'EPWDCHANGE.minspl' | translate}} : {{minSpecial}}</span>

                    </p>
                  </div>


                  <div style="width:100%; top: 0.4rem;">
                    <input (focus)="newPwdError=false" [ngClass]="{'error' : newPwdError}" [type]="newPwdInputType"
                      class="form-control" id="newpwd" name="newpwd" required [(ngModel)]="newpwd"
                      (blur)="newpwd_blur()">
                    <span class="errorMessagespan"
                      *ngIf="newPwdError">{{newPwdErrorMsg | translate : newPwdErrorParam}}</span>
                  </div>
                  <span class="pasview" (click)="newPwdInputType='text'" *ngIf="newPwdInputType=='password'"><img
                      src="assets/images/icons/password_hide.svg" alt="view"></span>
                  <span class="pasview" (click)="newPwdInputType='password'" *ngIf="newPwdInputType=='text'"><img
                      src="assets/images/icons/Password_View.svg" alt="hide"></span>


                </div>





                <div class="form-group ban-fpas">

                  <label for="pwd">{{'EPWDCHANGE.cnfPwd' | translate}}</label>
                  <div style="width:100%">
                    <input (focus)="cnfPwdError=false" [ngClass]="{'error' : cnfPwdError}" [type]="cnfPwdInputType"
                      class="form-control" id="cnfpwd" name="cnfpwd" required [(ngModel)]="cnfpwd"
                      (blur)="cnfpwd_blur()">
                    <span class="errorMessagespan" *ngIf="cnfPwdError">{{cnfPwdErrorMsg | translate}}</span>
                  </div>
                </div>

                <div class="checkbox">
                  <div class="clearfix">
                    <div class="sumbit pull-right">
                      <button type="submit" class="lform-submit">
                        <img src="assets/images/icons/login.svg" class="submit-btn" alt="submit">
                      </button>
                    </div>
                  </div>
                </div>
              </form>


            </div>
          </div>
        </div>
        <!-- <div class="col-sm-7 col-md-8">
          <div class="right-content">

            
            <div id="myCarousel" class="carousel slide" data-ride="carousel">
              <div class="carousel-inner">
                <div class="item active">
                  <div class="carousel-content">
                    <h1>Quarter II Monetary<br> Policy Report 2018</h1>
                    <p>BI 7-Day Reverse Repo Rate Increase 25
                      <br>bps to 5.50%: Maintain Stability, Strengthen <br>
                      Economic Resilience</p>
                  </div>
                </div>

                <div class="item">
                  <div class="carousel-item">
                    <h1>Singapore, Indonesia move<br>to boost trade ties</h1>
                    <p> Singapore is looking to enhance cooperation with Indonesia<br>
                      through investments beyond traditional destinations, increasing <br>
                      tourist traffic and by setting up a business council…</p>
                  </div>
                </div>

               
              </div>
              
              <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
              </a>
              <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>
              </ol>
            </div>
          </div>
        </div> -->
        <!-- slider for banner ends -->
      </div>
    </div>
    <!--Row End-->
    <!--Row Start-->
    <!--Row End-->
  </div>
</div>
<!--Banner End-->

<!-- <app-footer></app-footer> -->

<div class="clearfix content">
  <app-footer></app-footer>
</div>