<ng-container *ngIf="iconType == 'icon'">
  <span class="wgt-status-indicator icon-check-circle"
    [ngClass]="{'success': status == 'completed', 'failure': status == 'pending', 'pending': status == 'deviation'}">
  </span>
</ng-container>
<ng-container *ngIf="iconType == 'basic'">
  <span class="interface-status-indicator"
    [ngClass]="{'success': status == 'completed' || status == 'Success', 'danger': status == 'pending', 'disabled': status == 'disabled' || status == 'Fail'}"
    data-toggle="tooltip" data-placement="right" title="{{status}}"></span>
</ng-container>