<form class="MakeRelative page-layout-padding">
    <div class="ShowLoading " *ngIf="loadSpinner">
        <div class="lds-roller MakeItMiddle">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>
    <div class="clearfix content">
        <div class="wgt-top-navigator row" [ngStyle]="{'display' : displayTitle ? 'block': 'none'}">
            <div class="col-sm-12 col-md-12">
                <div class="FormTitle no-border">
                    <a class="back" (click)="goBack()">Back</a>
                    <span>{{ 'DDE.FormTitle' | translate }}</span>
                </div>
            </div>
            <div class="col-sm-7 col-md-7 text-right xt-center" *ngIf="!formOnLoadError">
            </div>
        </div>

        <div class="alert alert-danger" *ngIf="formOnLoadError">{{formOnLoadErrorMsg}}</div>
        <div *ngIf="!formOnLoadError">
            <div class="clearfix bi-reponsive" [ngClass]="{'display-border' : displayBorder}">
                <div class="form-group pb10 row">
                    <div class="col-12  col-sm-12 col-md-12 res-pr-hide" [hidden]="FieldId_1.isHidden()">
                        <app-header-progress #headerProgressBar></app-header-progress>
                        <app-Header #FieldId_1 fieldID="FieldId_1" [formCode]="formCode" [showProgressBar]="'true'"
                            (productCategoryFound)="brodcastProdCategory($event)"
                            (headerStateEvent)="headerState($event)"></app-Header>
                        <!-- <app-score-card #scorecard></app-score-card> -->
                        <div class="scorecard-container row horizontal-layout"
                            [ngClass]="{'expanded':!showExpandedHeader}">
                            <app-score-card #scorecard class="col-sm-4 col-md-4 col-lg-4 p-0" [scoreData]="data"
                                [applicationId]="ApplicationId" *ngFor="let data of headerScoreCard">
                            </app-score-card>
                            <span class="refresher" (click)="refreshScoreData()"></span>
                        </div>
                    </div>
                    <div class="col-12  col-sm-12 col-md-12 res-pr-hide dde-tab-btn-div d-flex"
                        [ngClass]="showExpandedHeader ? '' : 'header-expanded-dde'">

                        <div class="wgt-doc-upload open-folder" (click)="openFileUpload()">
                            <a href="javascript:void(0);" class="icon-folder-open"></a>
                        </div>

                        <div id="tab" class="btn-group btn-group-justified dde-tab m-auto" data-toggle="buttons">
                            <a class="btn btn-default active" data-toggle="tab" (click)="tabSwitched('customer')">
                                <input type="radio" />CUSTOMER
                            </a>
                            <a class="btn btn-default" data-toggle="tab" (click)="tabSwitched('application')">
                                <input type="radio" />APPLICATION
                            </a>
                        </div>
                    </div>

                </div>
                <app-hidden #HideProcessId fieldID="HideProcessId"></app-hidden>
                <app-hidden #HideServiceCode fieldID="HideServiceCode"></app-hidden>
                <app-hidden #HideTenantId fieldID="HideTenantId"></app-hidden>
                <app-hidden #HideCurrentStage fieldID="HideCurrentStage"></app-hidden>

            </div>
        </div>

        <!-- FORM MENU TABS [ngClass]="menu.isActive ? menu.completed ?'completed-table':'incompleted-table': 'inactive-table'"-->
        <div class="row">
            <div class="col-sm-1 col-md-1 col-lg-1 wgt-form-menu">
                <div class="main-container" [class.menu-open]="mouseOvered" (mouseover)="mouseOvered=true"
                    (mouseout)="mouseOvered=false">
                    <div class="form-element" *ngFor="let section of formsMenuList;let j= index">


                        <div class="form-details menu" (click)="updateMenuSection(menu.id,j,i)"
                            *ngFor="let menu of section;let i= index"
                            [ngClass]="menu.isActive ? menu.completed ?'completed-table':'incompleted-table': menu.completed?'inactive-table complete':'inactive-table incomplete'">

                            <div class="small-menu" [ngClass]="menu.iconClass">
                            </div>
                            <!-- <div class="small-menu test-class" [ngStyle]="{'background-image':'url(assets/icons/'+menu.icon+')'}">
                            </div> -->
                            <span *ngIf="menu.completed" class="status-flag"></span>
                            <span class="txt" [class.menu-open]="mouseOvered" (mouseover)="mouseOvered=true"
                                (mouseout)="mouseOvered=false">
                                {{menu.name}}
                                <span *ngIf="menu.isOptional">(Optional)</span>
                            </span>

                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-11 col-md-11 col-lg-11 p-0">

                <div class="wgt-form-menu-container">

                    <div class="customer-grid-container" [hidden]="CUSTOMER_GRID.isHidden()">
                        <app-CustomerGridDTLS #CUSTOMER_GRID fieldID="CUSTOMER_GRID" [formCode]="formCode"
                            [readOnly]="readOnly" [hidden]="!formMenuObject.isCustomerTabSelected"
                            (resetCustForm)="CUSTOMER_GRID_resetCustForm($event)"
                            (updateCustGrid)="CUST_DTLS_updateCustGrid($event)"
                            (passArrayToCustomer)="CUSTOMER_GRID_passArrayToCustomer($event)">
                        </app-CustomerGridDTLS>
                    </div>

                    <div class="menu-header">
                        <span class="form-title">{{formMenuObject.selectedMenuComponent}}</span>
                        <div class="tag-list-container">
                            <div class="info">
                                <ul class="tag-list">
                                    <li *ngFor="let tag of tags;" class="tag">
                                        <span class="label">{{ tag.label }}</span>
                                        <span class="text1">{{ tag.text }}</span>
                                    </li>
                                </ul>
                                <span class="menu-btn">
                                    <span id="LeftMenuSectionArrow" class="icon-left-arrow"
                                        [ngClass]="menuNavigationBtn.enableLeftArrow?'enable-btn':''"
                                        (click)="loadForm('prev')"></span>
                                    <span id="RightMenuSectionArrow" class="icon-right-arrow"
                                        [ngClass]="menuNavigationBtn.enableRightArrow?'enable-btn':''"
                                        (click)="loadForm('nxt')"></span>
                                </span>
                            </div>
                        </div>
                    </div>

                    <!-- components added here -->
                    <div class="menu-content injected-component">
                        <ng-template #appDDEFormDirective></ng-template>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12  col-sm-12 col-md-12 group-default" *ngIf="!readOnly">
            <div #BUTTON_SECTION id="BUTTON_SECTION">
                <div class="form-group pb10 button-group">
                    <div class="col-12  col-sm-2 col-md-2"></div>
                    <div class="col-12  col-sm-8 col-md-8 text-center">
                        <app-button #DDE_SUBMIT fieldName="{{ 'DDE.DDE_SUBMIT' | translate}}" fieldID="DDE_SUBMIT"
                            [formCode]="formCode" customClass="btn btn-primary"
                            (buttonClick)="DDE_SUBMIT_click($event)">
                        </app-button>
                        <app-button #DDE_WITHDRAW fieldName="{{ 'DDE.DDE_WITHDRAW' | translate}}" fieldID="DDE_WITHDRAW"
                            [formCode]="formCode" customClass="btn-warning-outline"
                            (buttonClick)="DDE_WITHDRAW_click($event)">
                        </app-button>
                        <app-button #DDE_REJECT fieldName="{{ 'DDE.DDE_REJECT' | translate}}" fieldID="DDE_REJECT"
                            [formCode]="formCode" customClass="btn-warning-outline"
                            (buttonClick)="DDE_REJECT_click($event)"></app-button>
                        <!-- <app-button #DDE_REFER fieldName="{{ 'DDE.DDE_REFER' | translate}}" fieldID="DDE_REFER"
                  [formCode]="formCode" customClass="btn-warning-outline" (buttonClick)="DDE_REFER_click($event)"></app-button> -->
                        <app-button #DDE_CANCEL fieldName="{{ 'DDE.DDE_CANCEL' | translate}}" fieldID="DDE_CANCEL"
                            [formCode]="formCode" customClass="btn-warning-outline"
                            (buttonClick)="DDE_CANCEL_click($event)"></app-button>
                    </div>
                    <div class="col-12  col-sm-2 col-md-2"></div>
                </div>
            </div>
        </div>

    </div>
</form>