<form class="MakeRelative">
<div class="clearfix content">
<div class="row" [ngStyle]="{'display' : displayTitle ? 'block': 'none'}">
<div class="col-sm-5 col-md-5">
<h4 class="FormTitle">
{{ 'DDE.FormTitle' | translate }}
</h4>
</div>
<div class="col-sm-7 col-md-7 text-right xt-center" *ngIf="!formOnLoadError">
</div>
</div>
<div class="alert alert-danger" *ngIf="formOnLoadError">{{formOnLoadErrorMsg}}</div>
<div *ngIf="!formOnLoadError">
<div class="clearfix bi-reponsive" [ngClass]="{'display-border' : displayBorder}">
<div class="form-group pb10">
<div class="col-12  col-sm-12 col-md-12 res-pr-hide" [hidden]="FieldId_1.isHidden()">
<app-Header #FieldId_1 fieldID="FieldId_1" [formCode]="formCode"></app-Header>
</div>
<div class="col-12  col-sm-12 col-md-12 res-pr-hide" [hidden]="FieldId_3.isHidden()">
<app-CustomerDtls #FieldId_3 fieldID="FieldId_3" [formCode]="formCode"></app-CustomerDtls>
</div>
<div class="col-12  col-sm-12 col-md-12 res-pr-hide" [hidden]="FieldId_4.isHidden()">
<app-FamilyDetailsForm #FieldId_4 fieldID="FieldId_4" [formCode]="formCode"></app-FamilyDetailsForm>
</div>
<div class="col-12  col-sm-12 col-md-12 res-pr-hide" [hidden]="FieldId_5.isHidden()">
<app-LiabilityDtlsForm #FieldId_5 fieldID="FieldId_5" [formCode]="formCode"></app-LiabilityDtlsForm>
</div>
<div class="col-12  col-sm-12 col-md-12 res-pr-hide" [hidden]="FieldId_6.isHidden()">
<app-OtherDeductionForm #FieldId_6 fieldID="FieldId_6" [formCode]="formCode"></app-OtherDeductionForm>
</div>
<div class="col-12  col-sm-12 col-md-12 res-pr-hide" [hidden]="FieldId_7.isHidden()">
<app-ApplicationDtls #FieldId_7 fieldID="FieldId_7" [formCode]="formCode"></app-ApplicationDtls>
</div>
<div class="col-12  col-sm-12 col-md-12 res-pr-hide" [hidden]="FieldId_8.isHidden()">
<app-AssetDetailsForm #FieldId_8 fieldID="FieldId_8" [formCode]="formCode"></app-AssetDetailsForm>
</div>
<div class="col-12  col-sm-12 col-md-12 res-pr-hide" [hidden]="FieldId_9.isHidden()">
<app-IncomeSummaryForm #FieldId_9 fieldID="FieldId_9" [formCode]="formCode"></app-IncomeSummaryForm>
</div>
</div>
</div>
</div>
</div>
</form>
