<!-- <div class="uw-cust-list-container row" *ngIf="isMore;else onlyCustTemplate">
  <div class="cust-list-container col-sm-10">
    <div class="col-sm-3" [ngClass]="customer.isActive?'active-customer':'cust-name-container'" *ngFor="let customer of tagsArr;let last = last;let index = index"
      (click)="showCustomer(customer.custId);">
      <span class="cust-tag">{{ customer.label }}</span>
      <span class="cust-name">{{ customer.text }}</span>
    </div>
  </div>
  <div class="cust-more-container col-sm-2">
    <span class="more-tag">{{ moreTag.label }}</span>
    <span class="shift-btn-container">
      <span class="prev-btn" [ngClass]="firstIndex>0?'prev-btn-active':'prev-btn-inactive'" (click)="firstIndex>0?shiftPrev('prev'):''"></span>
      <span class="nxt-btn" [ngClass]="customerDataArr.length>lastIndex?'nxt-btn-active':'nxt-btn-inactive'" (click)="(customerDataArr.length>lastIndex)?shiftNext('nxt'):''"></span>
    </span>
  </div>
</div>
<ng-template #onlyCustTemplate>
  <div class="uw-cust-list-container row">
    <div class="cust-list-container col-sm-12">
      <div class="cust-name-container col-sm-3" *ngFor="let customer of tagsArr;">
        <span class="cust-tag">{{ customer.label }}</span>
        <span class="cust-name">{{ customer.text }}</span>
      </div>
    </div>
  </div>
</ng-template> -->

<div class="uw-cust-list-container row" *ngIf="isMore;else onlyCustTemplate">
  <div class="cust-list-container">
    <div [ngClass]="customer.isActive?'active-customer':'cust-name-container'"
      *ngFor="let customer of tagsArr;let last = last;let index = index" (click)="showCustomer(customer.custId,index);">
       <span class="cust-tag"> 
      <span  *ngIf="isLoanCategory && customer.label!='B';else showPrimary">{{customer.label}}</span>
      </span> 
      <span class="cust-name">{{ customer.text }}</span>
    </div>
  </div>
  <div class="cust-more-container">
    <span class="more-tag">{{ moreTag.label }}</span>
    <span class="shift-btn-container">
      <span class="prev-btn" [ngClass]="firstIndex>0?'prev-btn-active':'prev-btn-inactive'"
        (click)="firstIndex>0?shiftPrev('prev'):''"></span>
      <span class="nxt-btn" [ngClass]="customerDataArr.length>lastIndex?'nxt-btn-active':'nxt-btn-inactive'"
        (click)="(customerDataArr.length>lastIndex)?shiftNext('nxt'):''"></span>
    </span>
  </div>
</div>
<ng-template #onlyCustTemplate>
  <div class="uw-cust-list-container row">
    <div class="only-cust-list-container">
      <div [ngClass]="customer.isActive?'active-customer':'cust-name-container'"
        *ngFor="let customer of tagsArr;let index=index" (click)="showCustomer(customer.custId,index);">
        <span class="cust-tag">
            <span *ngIf="isLoanCategory || customer.label!='B';else showPrimary">{{customer.label}}</span>
            </span>
        <!-- <span class="cust-tag">{{ customer.label }}</span> -->
        <span class="cust-name">{{ customer.text }}</span>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #showPrimary>
    <span>{{ 'CustomerGridDTLS.PrimaryApplicantTag' | translate }}</span>
</ng-template>
