<form class="MakeRelative">
	<div class="ShowLoading " *ngIf="loadSpinner">
		<div class="lds-roller MakeItMiddle">
			<div></div>
			<div></div>
			<div></div>
			<div></div>
			<div></div>
			<div></div>
			<div></div>
			<div></div>
		</div>
	</div>
	<div class="clearfix content">
		<div class="row" [ngStyle]="{'display' : displayTitle ? 'block': 'none'}">
			<div class="col-sm-5 col-md-5"></div>
			<div class="col-sm-7 col-md-7 text-right xt-center" *ngIf="!formOnLoadError"></div>
		</div>
		<div class="alert alert-danger" *ngIf="formOnLoadError">{{formOnLoadErrorMsg}}</div>
		<div *ngIf="!formOnLoadError">
			<div class="clearfix bi-reponsive" [ngClass]="{'display-border' : displayBorder}">
				<div class="form-group pb10">
					<!-- <div class="col-12  col-sm-12 col-md-12 res-pr-hide">
						<app-label #APP_DTLS_HEAD parentCompCode="ApplicationDtls" fieldID="APP_DTLS_HEAD" [formCode]="formCode" fontFamily="sans-serif" fontColor="#555" fontStyle="normal" fontSize="16px" fontWeight="bold"></app-label>
					</div> -->
					<div class="col-12  col-sm-12 col-md-12 group-default">
						<div #Application_Details id="Application_Details">
							<div class="form-group pb10 ">
								<div class="col-12  col-sm-4 col-md-4 res-pr-hide" [hidden]="AD_PHYSICAL_FORM_NO.isHidden()">
									<div class="clr-brown fieldLegend">
										<label class="clr-brown">
											{{ 'ApplicationDtls.AD_PHYSICAL_FORM_NO' | translate}}
										</label>
									</div>
									<app-text-box #AD_PHYSICAL_FORM_NO fieldID="AD_PHYSICAL_FORM_NO" [formCode]="formCode" (blur)="genericOnBlur('AD_PHYSICAL_FORM_NO', $event)"></app-text-box>
								</div>
								<div class="col-12  col-sm-4 col-md-4 res-pr-hide" [hidden]="AD_DATE_OF_RECIEPT.isHidden()">
									<div class="clr-brown fieldLegend">
										<label class="clr-brown">
											{{ 'ApplicationDtls.AD_DATE_OF_RECIEPT' | translate}}
										</label>
									</div>
									<app-date #AD_DATE_OF_RECIEPT fieldID="AD_DATE_OF_RECIEPT" [formCode]="formCode" placeholder="dd-mm-yyyy" (blur)="genericOnBlur('AD_DATE_OF_RECIEPT', $event)"></app-date>
								</div>
								<!-- <div class="col-12  col-sm-4 col-md-4 res-pr-hide" [hidden]="AD_EXISTING_CUSTOMER.isHidden()">
									<div class="clr-brown fieldLegend">
										<label class="clr-brown">
											{{ 'ApplicationDtls.AD_EXISTING_CUSTOMER' | translate}}
										</label>
									</div>
									<app-combo-box #AD_EXISTING_CUSTOMER category="2" fieldID="AD_EXISTING_CUSTOMER" [formCode]="formCode" domainObjectUrl="/MSTGENERALPARAM/{VALUE1}" doServerUrl="/masters" domainObjectCode="MSTGENERALPARAM" [mandatory]="true" (blur)="genericOnBlur('AD_EXISTING_CUSTOMER', $event)"></app-combo-box>
								</div> -->
								<div class="col-12  col-sm-4 col-md-4 res-pr-hide" [hidden]="AD_SOURCING_CHANNEL.isHidden()">
									<div class="clr-brown fieldLegend">
										<label class="clr-brown">
											{{ 'ApplicationDtls.AD_SOURCING_CHANNEL' | translate}}
										</label>
									</div>
									<app-combo-box #AD_SOURCING_CHANNEL category="2" fieldID="AD_SOURCING_CHANNEL" [formCode]="formCode" domainObjectUrl="/MSTGENERALPARAM/{VALUE1}"
									 doServerUrl="/masters" domainObjectCode="MSTGENERALPARAM" (blur)="genericOnBlur('AD_SOURCING_CHANNEL', $event)"></app-combo-box>
								</div>
								<div class="col-12  col-sm-4 col-md-4 res-pr-hide" [hidden]="AD_DSA_ID.isHidden()">
									<div class="clr-brown fieldLegend">
										<label class="clr-brown">
											{{ 'ApplicationDtls.AD_DSA_ID' | translate}}
										</label>
									</div>
									<app-combo-box #AD_DSA_ID category="2" fieldID="AD_DSA_ID" [formCode]="formCode" domainObjectUrl="/MSTGENERALPARAM/{VALUE1}"
									 doServerUrl="/masters" domainObjectCode="MSTGENERALPARAM" (blur)="genericOnBlur('AD_DSA_ID', $event)"></app-combo-box>
								</div>
								<div class="col-12  col-sm-4 col-md-4 res-pr-hide" [hidden]="AD_BRANCH.isHidden()">
									<div class="clr-brown fieldLegend">
										<label class="clr-brown">
											{{ 'ApplicationDtls.AD_BRANCH' | translate}}
										</label>
									</div>
									<!-- <app-combo-box #AD_BRANCH category="2" fieldID="AD_BRANCH" [formCode]="formCode" domainObjectUrl="/MSTGENERALPARAM/{VALUE1}"
									 doServerUrl="/masters" domainObjectCode="MSTGENERALPARAM" (blur)="genericOnBlur('AD_BRANCH', $event)"></app-combo-box> -->
									 <app-combo-box #AD_BRANCH category="2" fieldID="AD_BRANCH" [formCode]="formCode"
									 placeholder="(Select)" domainObjectUrl="/MstBranchDetails/{BranchCd}" doServerUrl="/masters"
									 domainObjectCode="MstBranchDetails" (blur)="genericOnBlur('BAD_BRANCH', $event)">
								   </app-combo-box>
								</div>
								<div class="col-12  col-sm-10 col-md-10 res-pr-hide"></div>
								<!-- <div class="col-12  col-sm-2 col-md-2 res-pr-hide" [hidden]="AD_Save.isHidden()">
									<app-button #AD_Save fieldName="{{ 'ApplicationDtls.AD_Save' | translate}}" fieldID="AD_Save" [formCode]="formCode" (buttonClick)="AD_Save_click($event)"></app-button>
								</div> -->
							</div>
						</div>
					</div>
					<div class="col-12  col-sm-4 col-md-4 res-pr-hide">
						<app-application-handler #Handler [MainComponent]="this"></app-application-handler>
					</div>
				</div>
				<!-- <app-hidden #hidExistCust fieldID="hidExistCust"></app-hidden> -->
				<app-hidden #hidAppId fieldID="hidAppId"></app-hidden>
				<app-hidden #hidSourcingChannel fieldID="hidSourcingChannel"></app-hidden>
				<app-hidden #hidDsaId fieldID="hidDsaId"></app-hidden>
				<app-hidden #hidAccBranch fieldID="hidAccBranch"></app-hidden>
			</div>
		</div>
	</div>
</form>