.alerts-body{    
    top: 5rem;
    position: fixed;
    width: max-content;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1051;
}

.alerts-container{
    color: white;
    font-weight: bold;
    font-size: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
    border-radius: 7px;
    padding-top: 0.5rem;
    display: flex;
    vertical-align: middle;
    padding-bottom: 0.5rem;
    margin: auto;
    width: max-content;
}

.alerts-text{
    display: inline;
    float: left;
}

.alerts-text p {
    margin-top: 0.08rem;
    margin-bottom: unset;
}

.close-button{
    display: inline;
    float: right;
    margin-left: 0.6rem;
    padding-left: 0.4rem;
    margin-right: -1.4rem;
}

.close-button button{
    background: transparent;
    border: 0;
    color: white;
}