<div [hidden]="mainFrom">
<h4 class="modal-title">{{'remarks.Remarks' | translate}}</h4>
<button id="closeButton" [hidden]="true"  type="button" class="close" (click)="activeModal.close('Close click')"></button>
<div class="border">
<app-text-box    #Remarks fieldID="Remarks" (blur)="Remarks_onblur($event)"  >
</app-text-box >
</div>
<br>
<div class="modal-footer" style="padding: 0;">
  <button type="button" class="btn btn-blue" (click)="Approve_click()" >Go</button>
</div>
</div>
<div [hidden]="SuccessFrom">  
  <div class="clearfix request  report-filter">
  <div style="text-align: center;">
  <img src="assets/images/icons/approve.svg" title="Rlose" >
  </div>
  <p class="sentral" style="text-align: center;">{{'Draft.Success' | translate}}
  </p>
  <p class="month" style="text-align: center;">
    {{'Draft.Reference' | translate}} : {{dataStore.draftNo}}<br>
  </p>
</div></div>

<div [hidden]="FailFrom">
    <div class="clearfix request  report-filter">
        <div style="text-align: center;">
        <img src="assets/images/icons/reject.svg" title="Rlose">
      </div>
        <p class="sentral" style="text-align: center;">{{'Draft.Failure' | translate}}</p>
      </div>

</div>

