<form class="MakeRelative">
  <div class="ShowLoading " *ngIf="loadSpinner">
    <div class="lds-roller MakeItMiddle">
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </div>
  </div>
  <div class="clearfix content">
    <!-- <div class="row" [ngStyle]="{'display' : displayTitle ? 'block': 'none'}">
      <div class="col-sm-5 col-md-5">
        <h4 class="FormTitle">
          {{ 'CreditCardDetails.FormTitle' | translate }}
        </h4>
      </div>
      <div class="col-sm-7 col-md-7 text-right xt-center" *ngIf="!formOnLoadError">
      </div>
    </div> -->
    <div class="alert alert-danger" *ngIf="formOnLoadError">{{formOnLoadErrorMsg}}</div>
    <div *ngIf="!formOnLoadError">
      <div class="clearfix bi-reponsive" [ngClass]="{'display-border' : displayBorder}">
        <div class="form-group pb10">
          <!-- <div class="col-12  col-sm-3 col-md-3 res-pr-hide" [hidden]="Branch.isHidden()">
            <div class="clr-brown fieldLegend">
              <label class="clr-brown" [ngClass]="{'mandatory': Branch.mandatory}">
                {{ 'CreditCardDetails.Branch' | translate}}
              </label>
            </div>
            <app-text-box #Branch fieldID="Branch" [formCode]="formCode" (blur)="genericOnBlur('Branch', $event)">
            </app-text-box>
          </div> -->
          <div class="col-12  col-sm-3 col-md-3 res-pr-hide" [hidden]="Branch.isHidden()">
            <div class="clr-brown fieldLegend">
              <label class="clr-brown">
                {{ 'CreditCardDetails.Branch' | translate}}
              </label>
            </div>
            <app-combo-box #Branch category="2" fieldID="Branch" [formCode]="formCode"
              domainObjectUrl="/MstBranchDetails/{BranchCd}" doServerUrl="/masters" domainObjectCode="MstBranchDetails"
              placeholder="Select" (blur)="genericOnBlur('Branch', $event)"></app-combo-box>
          </div>
          <div class="col-12  col-sm-3 col-md-3 res-pr-hide" [hidden]="CustomerType.isHidden() || isLoanCategory">
            <div class="clr-brown fieldLegend">
              <label class="clr-brown">
                {{ 'CreditCardDetails.CustomerType' | translate}}
              </label>
            </div>
            <app-text-box #CustomerType fieldID="CustomerType" [formCode]="formCode"
              (blur)="genericOnBlur('CustomerType', $event)">
            </app-text-box>
          </div>
          <!-- <div class="col-12  col-sm-3 col-md-3 res-pr-hide" [hidden]="CustomerType.isHidden() || isLoanCategory">
            <div class="clr-brown fieldLegend">
              <label class="clr-brown">
                {{ 'CreditCardDetails.CustomerType' | translate}}
              </label>
            </div>
            <app-combo-box #CustomerType category="2" fieldID="CustomerType" [formCode]="formCode"
              domainObjectUrl="/MSTGENERALPARAM/{VALUE1}" doServerUrl="/masters" domainObjectCode="MSTGENERALPARAM"
              placeholder="Select" (blur)="genericOnBlur('CustomerType', $event)"></app-combo-box>
          </div> -->
          <!-- <div class="col-12  col-sm-3 col-md-3 res-pr-hide" [hidden]="FrontPageCategory.isHidden()">
            <div class="clr-brown fieldLegend">
              <label class="clr-brown" [ngClass]="{'mandatory': FrontPageCategory.mandatory}">
                {{ 'CreditCardDetails.FrontPageCategory' | translate}}
              </label>
            </div>
            <app-combo-box #FrontPageCategory category="2" fieldID="FrontPageCategory" [formCode]="formCode"
              domainObjectUrl="/MSTGENERALPARAM/{VALUE1}" doServerUrl="/masters" domainObjectCode="MSTGENERALPARAM"
              placeholder="Select" (blur)="genericOnBlur('FrontPageCategory', $event)"></app-combo-box>
          </div> -->
          <div class="col-12  col-sm-3 col-md-3 res-pr-hide" [hidden]="MaximumCardLimit.isHidden()">
            <div class="clr-brown fieldLegend">
              <label class="clr-brown">
                {{ 'CreditCardDetails.MaximumCardLimit' | translate}}</label>
            </div>
            <app-rlo-ui-currency #MaximumCardLimit fieldID="MaximumCardLimit" [currencyReadOnly]="true"
              [inputReadOnly]="readOnly" [formCode]="formCode" [componentFieldId]="'MaximumCardLimit'"
              (onBlurEvent)="customGenericOnBlur($event)"></app-rlo-ui-currency>
          </div>
          <div class="col-12  col-sm-3 col-md-3 res-pr-hide" [hidden]="RequestedCardLimit.isHidden()">
            <div class="clr-brown fieldLegend">
              <label class="clr-brown">
                {{ 'CreditCardDetails.RequestedCardLimit' | translate}}</label>
            </div>
            <app-rlo-ui-currency #RequestedCardLimit fieldID="RequestedCardLimit" [currencyReadOnly]="true"
              [inputReadOnly]="readOnly" [formCode]="formCode" [componentFieldId]="'RequestedCardLimit'"
              (onBlurEvent)="customGenericOnBlur($event)"></app-rlo-ui-currency>
          </div>
          <div class="col-12  col-sm-3 col-md-3 res-pr-hide" [hidden]="Add_RequestedCardLimit.isHidden()">
            <div class="clr-brown fieldLegend">
              <label class="clr-brown">
                {{ 'CreditCardDetails.Add_RequestedCardLimit' | translate}}</label>
            </div>
            <app-rlo-ui-currency #Add_RequestedCardLimit fieldID="Add_RequestedCardLimit" [currencyReadOnly]="true"
              [inputReadOnly]="readOnly" [formCode]="formCode" [componentFieldId]="'Add_RequestedCardLimit'"
              (onBlurEvent)="customGenericOnBlur($event)"></app-rlo-ui-currency>
          </div>
          <!-- <div class="col-12  col-sm-3 col-md-3 res-pr-hide"></div> -->
          <div class="col-12  col-sm-3 col-md-3 res-pr-hide" [hidden]="ApprovedLimit.isHidden()">
            <div class="clr-brown fieldLegend">
              <label class="clr-brown">
                {{ 'CreditCardDetails.ApprovedLimit' | translate}}
              </label>
            </div>

            <app-rlo-ui-currency #ApprovedLimit fieldID="ApprovedLimit" [currencyReadOnly]="true"
              [componentFieldId]="'ApprovedLimit'" (onBlurEvent)="customGenericOnBlur($event)" [inputReadOnly]="false"
              [formCode]="formCode"></app-rlo-ui-currency>

            <!-- <app-amount #ApprovedLimit fieldID="ApprovedLimit" [formCode]="formCode"
              (blur)="genericOnBlur('ApprovedLimit', $event);approveLimitBlur($event)"></app-amount> -->

          </div>
          <div class="col-12  col-sm-3 col-md-3 res-pr-hide" [hidden]="MaxCashLimit.isHidden()">
            <div class="clr-brown fieldLegend">
              <label class="clr-brown">
                {{ 'CreditCardDetails.MaxCashLimit' | translate}}</label>
            </div>
            <!-- <app-rlo-ui-currency #MaxCashLimit fieldID="MaxCashLimit" [formCode]="formCode"
              (blur)="genericOnBlur('MaxCashLimit', $event)">
            </app-rlo-ui-currency> -->

            <app-rlo-ui-currency #MaxCashLimit fieldID="MaxCashLimit" [currencyReadOnly]="true"
              [componentFieldId]="'MaxCashLimit'" (onBlurEvent)="customGenericOnBlur($event)" [inputReadOnly]="readOnly"
              [formCode]="formCode"></app-rlo-ui-currency>

          </div>
          <div class="col-12  col-sm-3 col-md-3 res-pr-hide" [hidden]="ApprovedCashLimit.isHidden()">
            <div class="clr-brown fieldLegend">
              <label class="clr-brown" [ngClass]="{'mandatory': ApprovedCashLimit.mandatory}">
                {{ 'CreditCardDetails.ApprovedCashLimit' | translate}}</label>
            </div>

            <app-rlo-ui-currency #ApprovedCashLimit fieldID="ApprovedCashLimit" [currencyReadOnly]="true"
              [componentFieldId]="'ApprovedCashLimit'" (onBlurEvent)="customGenericOnBlur($event)" [inputReadOnly]="readOnly"
              [formCode]="formCode"></app-rlo-ui-currency>
          </div>
          <!-- <div class="col-12  col-sm-3 col-md-3 res-pr-hide" [hidden]="PaymentOption.isHidden()">
            <div class="clr-brown fieldLegend">
              <label class="clr-brown">
                {{ 'CreditCardDetails.SettlementAccountType' | translate}}
              </label>
            </div>
            <app-combo-box #SettlementAccountType category="2" fieldID="SettlementAccountType" [formCode]="formCode"
              domainObjectUrl="/MSTGENERALPARAM/{VALUE1}" doServerUrl="/masters" domainObjectCode="MSTGENERALPARAM"
              placeholder="Select" (blur)="genericOnBlur('SettlementAccountType', $event)"></app-combo-box>
          </div> -->
          <div class="col-12  col-sm-3 col-md-3 res-pr-hide" [hidden]="SettlementAccountNo.isHidden()">
            <div class="clr-brown fieldLegend">
              <label class="clr-brown">
                {{ 'CreditCardDetails.SettlementAccountNo' | translate}}
              </label>
            </div>
            <app-text-box #SettlementAccountNo fieldID="SettlementAccountNo" [formCode]="formCode"
              (blur)="genericOnBlur('SettlementAccountNo', $event)"></app-text-box>
          </div>
          <!-- <div class="col-12  col-sm-3 col-md-3 res-pr-hide"></div> -->
          <div class="col-12  col-sm-3 col-md-3 res-pr-hide" [hidden]="PaymentOption.isHidden()">
            <div class="clr-brown fieldLegend">
              <label class="clr-brown">
                {{ 'CreditCardDetails.PaymentOption' | translate}}
              </label>
            </div>
            <app-combo-box #PaymentOption category="2" fieldID="PaymentOption" [formCode]="formCode"
              domainObjectUrl="/MSTGENERALPARAM/{VALUE1}" doServerUrl="/masters" domainObjectCode="MSTGENERALPARAM"
              placeholder="Select" (blur)="genericOnBlur('PaymentOption', $event)"></app-combo-box>
          </div>
          <div class="col-12  col-sm-3 col-md-3 res-pr-hide" [hidden]="StmtDispatchMode.isHidden()">
            <div class="clr-brown fieldLegend">
              <label class="clr-brown" [ngClass]="{'mandatory': StmtDispatchMode.mandatory}">
                {{ 'CreditCardDetails.StmtDispatchMode' | translate}}
              </label>
            </div>
            <app-combo-box #StmtDispatchMode category="2" fieldID="StmtDispatchMode" [formCode]="formCode"
              domainObjectUrl="/MSTGENERALPARAM/{VALUE1}" doServerUrl="/masters" domainObjectCode="MSTGENERALPARAM"
              placeholder="Select" (blur)="genericOnBlur('StmtDispatchMode', $event)"></app-combo-box>
          </div>
          <!-- <div class="col-12  col-sm-3 col-md-3 res-pr-hide" [hidden]="ExistingCreditCard.isHidden()">
            <div class="clr-brown fieldLegend">
              <label class="clr-brown">
                {{ 'CreditCardDetails.ExistingCreditCard' | translate}}
              </label>
            </div>
            <app-combo-box #ExistingCreditCard category="2" fieldID="ExistingCreditCard" [formCode]="formCode"
              domainObjectUrl="/MSTGENERALPARAM/{VALUE1}" doServerUrl="/masters" domainObjectCode="MSTGENERALPARAM"
              placeholder="Select" (blur)="genericOnBlur('ExistingCreditCard', $event)"></app-combo-box>
          </div> -->
          <!-- <div class="col-12  col-sm-3 col-md-3 res-pr-hide"></div> -->
          <div class="col-12  col-sm-3 col-md-3 res-pr-hide" [hidden]="CardDispatchMode.isHidden()">
            <div class="clr-brown fieldLegend">
              <label class="clr-brown">
                {{ 'CreditCardDetails.CardDispatchMode' | translate}}
              </label>
            </div>
            <app-combo-box #CardDispatchMode category="2" fieldID="CardDispatchMode" [formCode]="formCode"
              domainObjectUrl="/MSTGENERALPARAM/{VALUE1}" doServerUrl="/masters" domainObjectCode="MSTGENERALPARAM"
              placeholder="Select" (blur)="genericOnBlur('CardDispatchMode', $event)"></app-combo-box>
          </div>
          <div class="col-12  col-sm-3 col-md-3 res-pr-hide" [hidden]="NomineeRequired.isHidden()">
            <div class="clr-brown fieldLegend">
              <label class="clr-brown" [ngClass]="{'mandatory': NomineeRequired.mandatory}">
                {{ 'CreditCardDetails.NomineeRequired' | translate}}
              </label>
            </div>
            <app-combo-box #NomineeRequired category="2" fieldID="NomineeRequired" [formCode]="formCode"
              domainObjectUrl="/MSTGENERALPARAM/{VALUE1}" doServerUrl="/masters" domainObjectCode="MSTGENERALPARAM"
              placeholder="Select" (blur)="genericOnBlur('NomineeRequired', $event)"></app-combo-box>
          </div>
          <div class="col-12  col-sm-3 col-md-3 res-pr-hide" [hidden]="NomineeName.isHidden()">
            <div class="clr-brown fieldLegend">
              <label class="clr-brown" [ngClass]="{'mandatory': NomineeName.mandatory}">
                {{ 'CreditCardDetails.NomineeName' | translate}}
              </label>
            </div>
            <app-text-box #NomineeName fieldID="NomineeName" [formCode]="formCode"
              (blur)="genericOnBlur('NomineeName', $event)">
            </app-text-box>
          </div>
          <div class="col-12  col-sm-3 col-md-3 res-pr-hide" [hidden]="NomineeRelationship.isHidden()">
            <div class="clr-brown fieldLegend">
              <label class="clr-brown" [ngClass]="{'mandatory': NomineeRelationship.mandatory}">
                {{ 'CreditCardDetails.NomineeRelationship' | translate}}
              </label>
            </div>
            <app-combo-box #NomineeRelationship category="2" fieldID="NomineeRelationship" [formCode]="formCode"
              domainObjectUrl="/MSTGENERALPARAM/{VALUE1}" doServerUrl="/masters" domainObjectCode="MSTGENERALPARAM"
              placeholder="Select" (blur)="genericOnBlur('NomineeRelationship', $event)"></app-combo-box>
          </div>
          <div class="col-12  col-sm-3 col-md-3 res-pr-hide" [hidden]="NomineeDOB.isHidden()">
            <div class="clr-brown fieldLegend">
              <label class="clr-brown" [ngClass]="{'mandatory': NomineeDOB.mandatory}">
                {{ 'CreditCardDetails.NomineeDOB' | translate}}
              </label>
            </div>
            <app-date #NomineeDOB fieldID="NomineeDOB" [formCode]="formCode"
              (blur)="genericOnBlur('NomineeDOB', $event)">
            </app-date>
          </div>
          <div class="col-12  col-sm-3 col-md-3 res-pr-hide" [hidden]="GuardianName.isHidden()">
            <div class="clr-brown fieldLegend">
              <label class="clr-brown" [ngClass]="{'mandatory': GuardianName.mandatory}">
                {{ 'CreditCardDetails.GuardianName' | translate}}
              </label>
            </div>
            <app-text-box #GuardianName fieldID="GuardianName" [formCode]="formCode"
              (blur)="genericOnBlur('GuardianName', $event)">
            </app-text-box>
          </div>
          <div class="col-12  col-sm-3 col-md-3 res-pr-hide" [hidden]="GuadianRelationship.isHidden()">
            <div class="clr-brown fieldLegend">
              <label class="clr-brown" [ngClass]="{'mandatory': GuardianName.mandatory}">
                {{ 'CreditCardDetails.GuadianRelationship' | translate}}
              </label>
            </div>
            <app-combo-box #GuadianRelationship category="2" fieldID="GuadianRelationship" [formCode]="formCode"
              domainObjectUrl="/MSTGENERALPARAM/{VALUE1}" doServerUrl="/masters" domainObjectCode="MSTGENERALPARAM"
              placeholder="Select" (blur)="genericOnBlur('GuadianRelationship', $event)"></app-combo-box>
          </div>
          <!-- <div class="col-12  col-sm-3 col-md-3 res-pr-hide" [hidden]="CRLine.isHidden()">
            <div class="clr-brown fieldLegend">
              <label class="clr-brown" [ngClass]="{'mandatory': CRLine.mandatory}">
                {{ 'CreditCardDetails.CRLine' | translate}}
              </label>
            </div>
            <app-text-box #CRLine fieldID="CRLine" [formCode]="formCode" (blur)="genericOnBlur('CRLine', $event)">
            </app-text-box>
          </div> -->
          <!-- <div class="col-12  col-sm-3 col-md-3 res-pr-hide" [hidden]="CardAdvLine.isHidden() || isLoanCategory">
            <div class="clr-brown fieldLegend">
              <label class="clr-brown" [ngClass]="{'mandatory': CardAdvLine.mandatory}">
                {{ 'CreditCardDetails.CardAdvLine' | translate}}
              </label>
            </div>
            <app-text-box #CardAdvLine fieldID="CardAdvLine" [formCode]="formCode" (blur)="genericOnBlur('CardAdvLine', $event)">
            </app-text-box>
          </div> -->
          <!-- <div class="col-12  col-sm-3 col-md-3 res-pr-hide" [hidden]="EcsMandateFlag.isHidden() || isLoanCategory">
            <div class="clr-brown fieldLegend">
              <label class="clr-brown" [ngClass]="{'mandatory': EcsMandateFlag.mandatory}">
                {{ 'CreditCardDetails.EcsMandateFlag' | translate}}
              </label>
            </div>
            <rlo-ui-radio #EcsMandateFlag category="2" fieldID="EcsMandateFlag" [formCode]="formCode"
              (change)="EcsMandateFlag_change('EcsMandateFlag', $event)" domainObjectUrl="/MSTGENERALPARAM/{VALUE1}"
              doServerUrl="/masters" domainObjectCode="MSTGENERALPARAM" (blur)="genericOnBlur('EcsMandateFlag', $event)">
            </rlo-ui-radio>
          </div> -->
          <!-- <div class="col-12  col-sm-3 col-md-3 res-pr-hide" [hidden]="EcsType.isHidden() || isLoanCategory">
            <div class="clr-brown fieldLegend">
              <label class="clr-brown" [ngClass]="{'mandatory': EcsType.mandatory}">
                {{ 'CreditCardDetails.EcsType' | translate}}
              </label>
            </div>
            <app-combo-box #EcsType category="2" fieldID="EcsType" [formCode]="formCode"
              domainObjectUrl="/MSTGENERALPARAM/{VALUE1}" doServerUrl="/masters" domainObjectCode="MSTGENERALPARAM"
              placeholder="Select" (blur)="genericOnBlur('EcsType', $event)"></app-combo-box>
          </div> -->
          <!-- <div class="col-12  col-sm-3 col-md-3 res-pr-hide" [hidden]="EcsPercentage.isHidden() || isLoanCategory">
            <div class="clr-brown fieldLegend">
              <label class="clr-brown" [ngClass]="{'mandatory': EcsPercentage.mandatory}">
                {{ 'CreditCardDetails.EcsPercentage' | translate}}
              </label>
            </div>
            <app-text-box #EcsPercentage fieldID="EcsPercentage" [formCode]="formCode" (blur)="genericOnBlur('EcsPercentage', $event)">
            </app-text-box>
          </div> -->
          <!-- <div class="col-12  col-sm-3 col-md-3 res-pr-hide" [hidden]="EcsAccNo.isHidden() || isLoanCategory">
            <div class="clr-brown fieldLegend">
              <label class="clr-brown" [ngClass]="{'mandatory': EcsAccNo.mandatory}">
                {{ 'CreditCardDetails.EcsAccNo' | translate}}
              </label>
            </div>
            <app-text-box #EcsAccNo fieldID="EcsAccNo" [formCode]="formCode" (blur)="genericOnBlur('EcsAccNo', $event)">
            </app-text-box>
          </div> -->
          <!-- <div class="col-12  col-sm-3 col-md-3 res-pr-hide"></div> -->
          <div class="col-12  col-sm-6 col-md-6 res-pr-hide"></div>
          <ng-container>
            <div *ngIf="!readOnly" class="save-btn-container col-12  col-sm-1 col-md-1 res-pr-hide"
              [hidden]="CCD_Save.isHidden()">
              <app-button #CCD_Save fieldName="{{ 'CreditCardDetails.CCD_Save' | translate}}" fieldID="CCD_Save"
                [formCode]="formCode" customClass="btn btn-primary btn-sm" (buttonClick)="CCD_Save_click($event)">
              </app-button>
            </div>
            <div *ngIf="!readOnly" class="clr-btn-container col-12  col-sm-1 col-md-1 res-pr-hide"
              [hidden]="CCD_Clear.isHidden()">
              <app-button #CCD_Clear fieldName="{{ 'CreditCardDetails.CCD_Clear' | translate}}" fieldID="CCD_Clear"
                [formCode]="formCode" (buttonClick)="CCD_Clear_click($event)" customClass="btn-warning-outline">
              </app-button>
            </div>
          </ng-container>
          <div class="col-12  col-sm-3 col-md-3 res-pr-hide">
            <app-creditcard-handler #Handler [MainComponent]="this"></app-creditcard-handler>
          </div>
        </div>
        <div>
          <!-- Changes for Canara bank -->
          <!-- <div *ngIf="readOnly" class="credit-card-only-save" [hidden]="CCD_Save.isHidden()">
            <app-button #CCD_Save fieldName="{{ 'CreditCardDetails.CCD_Save' | translate}}" fieldID="CCD_Save"
              [formCode]="formCode" customClass="btn btn-primary btn-sm" (buttonClick)="CCD_Save_click($event)">
            </app-button>
          </div> -->
          <!-- Changes for Canara bank -->
        </div>
      
        <app-hidden #hidCatgory fieldID="hidCatgory"></app-hidden>
        <app-hidden #hidAccType fieldID="hidAccType"></app-hidden>
        <app-hidden #hidPaymentOption fieldID="hidPaymentOption"></app-hidden>
        <app-hidden #hidStatementDispatch fieldID="hidStatementDispatch"></app-hidden>
        <app-hidden #hidExisitingCard fieldID="hidExisitingCard"></app-hidden>
        <app-hidden #hidCardDispatch fieldID="hidCardDispatch"></app-hidden>
        <app-hidden #hidECSMandateFlag fieldID="hidECSMandateFlag"></app-hidden>
        <app-hidden #hidECSType fieldID="hidECSType"></app-hidden>
        <app-hidden #hidNomineeReq fieldID="hidNomineeReq"></app-hidden>
        <app-hidden #hidNomineeReltion fieldID="hidNomineeReltion"></app-hidden>
        <app-hidden #hidGurdianRel fieldID="hidGurdianRel"></app-hidden>
        <app-hidden #hidNomineeSeq fieldID="hidNomineeSeq"></app-hidden>
        <app-hidden #hidAppId fieldID="hidAppId"></app-hidden>
        <app-hidden #hideCardCustType fieldID="hideCardCustType"></app-hidden>
      </div>
    </div>
  </div>
</form>
