<form class="MakeRelative">
  <div class="ShowLoading " *ngIf="loadSpinner">
    <div class="lds-roller MakeItMiddle">
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </div>
  </div>
  <div class="clearfix content">
    <!-- <div class="row" [ngStyle]="{'display' : displayTitle ? 'block': 'none'}">
      <div class="col-sm-5 col-md-5">
        <h4 class="FormTitle">
          {{ 'CreditCardDetails.FormTitle' | translate }}
        </h4>
      </div>
      <div class="col-sm-7 col-md-7 text-right xt-center" *ngIf="!formOnLoadError">
      </div>
    </div> -->
    <div class="alert alert-danger" *ngIf="formOnLoadError">{{formOnLoadErrorMsg}}</div>
    <div *ngIf="!formOnLoadError">
      <div class="clearfix bi-reponsive" [ngClass]="{'display-border' : displayBorder}">
        <div class="form-group pb10">
          <div class="col-12  col-sm-3 col-md-3 res-pr-hide" [hidden]="Branch.isHidden()">
            <div class="clr-brown fieldLegend">
              <label class="clr-brown" [ngClass]="{'mandatory': Branch.mandatory}">
                {{ 'CreditCardDetails.Branch' | translate}}
              </label>
            </div>
            <app-text-box #Branch fieldID="Branch" [formCode]="formCode" (blur)="genericOnBlur('Branch', $event)">
            </app-text-box>
          </div>
          <div class="col-12  col-sm-3 col-md-3 res-pr-hide" [hidden]="FrontPageCategory.isHidden()">
            <div class="clr-brown fieldLegend">
              <label class="clr-brown" [ngClass]="{'mandatory': FrontPageCategory.mandatory}">
                {{ 'CreditCardDetails.FrontPageCategory' | translate}}
              </label>
            </div>
            <app-combo-box #FrontPageCategory category="2" fieldID="FrontPageCategory" [formCode]="formCode"
              domainObjectUrl="/MSTGENERALPARAM/{VALUE1}" doServerUrl="/masters" domainObjectCode="MSTGENERALPARAM"
              placeholder="Select" (blur)="genericOnBlur('FrontPageCategory', $event)"></app-combo-box>
          </div>
          <div class="col-12  col-sm-3 col-md-3 res-pr-hide" [hidden]="MaximumCardLimit.isHidden()">
            <div class="clr-brown fieldLegend">
              <label class="clr-brown">
                {{ 'CreditCardDetails.MaximumCardLimit' | translate}}
              </label>
            </div>
            <app-text-box #MaximumCardLimit fieldID="MaximumCardLimit" [formCode]="formCode"
              (blur)="genericOnBlur('MaximumCardLimit', $event)"></app-text-box>
          </div>
          <!-- <div class="col-12  col-sm-3 col-md-3 res-pr-hide"></div> -->
          <div class="col-12  col-sm-3 col-md-3 res-pr-hide" [hidden]="ApprovedLimit.isHidden()">
            <div class="clr-brown fieldLegend">
              <label class="clr-brown" [ngClass]="{'mandatory': ApprovedLimit.mandatory}">
                {{ 'CreditCardDetails.ApprovedLimit' | translate}}
              </label>
            </div>
            <app-text-box #ApprovedLimit fieldID="ApprovedLimit" [formCode]="formCode"
              (blur)="genericOnBlur('ApprovedLimit', $event)"></app-text-box>
          </div>
          <div class="col-12  col-sm-3 col-md-3 res-pr-hide" [hidden]="PaymentOption.isHidden()">
            <div class="clr-brown fieldLegend">
              <label class="clr-brown">
                {{ 'CreditCardDetails.SettlementAccountType' | translate}}
              </label>
            </div>
            <app-combo-box #SettlementAccountType category="2" fieldID="SettlementAccountType" [formCode]="formCode"
              domainObjectUrl="/MSTGENERALPARAM/{VALUE1}" doServerUrl="/masters" domainObjectCode="MSTGENERALPARAM"
              placeholder="Select" (blur)="genericOnBlur('SettlementAccountType', $event)"></app-combo-box>
          </div>
          <div class="col-12  col-sm-3 col-md-3 res-pr-hide" [hidden]="SettlementAccountNo.isHidden()">
            <div class="clr-brown fieldLegend">
              <label class="clr-brown">
                {{ 'CreditCardDetails.SettlementAccountNo' | translate}}
              </label>
            </div>
            <app-text-box #SettlementAccountNo fieldID="SettlementAccountNo" [formCode]="formCode"
              (blur)="genericOnBlur('SettlementAccountNo', $event)"></app-text-box>
          </div>
          <!-- <div class="col-12  col-sm-3 col-md-3 res-pr-hide"></div> -->
          <div class="col-12  col-sm-3 col-md-3 res-pr-hide" [hidden]="PaymentOption.isHidden()">
            <div class="clr-brown fieldLegend">
              <label class="clr-brown">
                {{ 'CreditCardDetails.PaymentOption' | translate}}
              </label>
            </div>
            <app-combo-box #PaymentOption category="2" fieldID="PaymentOption" [formCode]="formCode"
              domainObjectUrl="/MSTGENERALPARAM/{VALUE1}" doServerUrl="/masters" domainObjectCode="MSTGENERALPARAM"
              placeholder="Select" (blur)="genericOnBlur('PaymentOption', $event)"></app-combo-box>
          </div>
          <div class="col-12  col-sm-3 col-md-3 res-pr-hide" [hidden]="StmtDispatchMode.isHidden()">
            <div class="clr-brown fieldLegend">
              <label class="clr-brown" [ngClass]="{'mandatory': StmtDispatchMode.mandatory}">
                {{ 'CreditCardDetails.StmtDispatchMode' | translate}}
              </label>
            </div>
            <app-combo-box #StmtDispatchMode category="2" fieldID="StmtDispatchMode" [formCode]="formCode"
              domainObjectUrl="/MSTGENERALPARAM/{VALUE1}" doServerUrl="/masters" domainObjectCode="MSTGENERALPARAM"
              placeholder="Select" (blur)="genericOnBlur('StmtDispatchMode', $event)"></app-combo-box>
          </div>
          <div class="col-12  col-sm-3 col-md-3 res-pr-hide" [hidden]="ExistingCreditCard.isHidden()">
            <div class="clr-brown fieldLegend">
              <label class="clr-brown">
                {{ 'CreditCardDetails.ExistingCreditCard' | translate}}
              </label>
            </div>
            <app-combo-box #ExistingCreditCard category="2" fieldID="ExistingCreditCard" [formCode]="formCode"
              domainObjectUrl="/MSTGENERALPARAM/{VALUE1}" doServerUrl="/masters" domainObjectCode="MSTGENERALPARAM"
              placeholder="Select" (blur)="genericOnBlur('ExistingCreditCard', $event)"></app-combo-box>
          </div>
          <!-- <div class="col-12  col-sm-3 col-md-3 res-pr-hide"></div> -->
          <div class="col-12  col-sm-3 col-md-3 res-pr-hide" [hidden]="CardDispatchMode.isHidden()">
            <div class="clr-brown fieldLegend">
              <label class="clr-brown">
                {{ 'CreditCardDetails.CardDispatchMode' | translate}}
              </label>
            </div>
            <app-combo-box #CardDispatchMode category="2" fieldID="CardDispatchMode" [formCode]="formCode"
              domainObjectUrl="/MSTGENERALPARAM/{VALUE1}" doServerUrl="/masters" domainObjectCode="MSTGENERALPARAM"
              placeholder="Select" (blur)="genericOnBlur('CardDispatchMode', $event)"></app-combo-box>
          </div>
          <!-- <div class="col-12  col-sm-3 col-md-3 res-pr-hide"></div> -->
          <div class="col-12  col-sm-3 col-md-3 res-pr-hide"></div>
          <ng-container *ngIf="!readOnly">
            <div class="col-12  col-sm-1 col-md-1 res-pr-hide" [hidden]="CCD_Save.isHidden()">
              <app-button #CCD_Save fieldName="{{ 'CreditCardDetails.CCD_Save' | translate}}" fieldID="CCD_Save"
                [formCode]="formCode" customClass="btn btn-primary btn-sm" (buttonClick)="CCD_Save_click($event)">
              </app-button>
            </div>
            <div class="col-12  col-sm-1 col-md-1 res-pr-hide" [hidden]="CCD_Clear.isHidden()">
              <app-button #CCD_Clear fieldName="{{ 'CreditCardDetails.CCD_Clear' | translate}}" fieldID="CCD_Clear"
                [formCode]="formCode" (buttonClick)="CCD_Clear_click($event)" customClass="btn-warning-outline">
              </app-button>
            </div>
          </ng-container>
          <div class="col-12  col-sm-3 col-md-3 res-pr-hide">
            <app-creditcard-handler #Handler [MainComponent]="this"></app-creditcard-handler>
          </div>
        </div>
        <app-hidden #hidCreditSeq fieldID="hidCreditSeq"></app-hidden>
        <app-hidden #hidCatgory fieldID="hidCatgory"></app-hidden>
        <app-hidden #hidAccType fieldID="hidAccType"></app-hidden>
        <app-hidden #hidPaymentOption fieldID="hidPaymentOption"></app-hidden>
        <app-hidden #hidStatementDispatch fieldID="hidStatementDispatch"></app-hidden>
        <app-hidden #hidExisitingCard fieldID="hidExisitingCard"></app-hidden>
        <app-hidden #hidCardDispatch fieldID="hidCardDispatch"></app-hidden>
        <app-hidden #hidAppId fieldID="hidAppId"></app-hidden>
      </div>
    </div>
  </div>
</form>