<form class="MakeRelative">
<div class="ShowLoading " *ngIf="loadSpinner">
 <div class="lds-roller MakeItMiddle">
<div></div>
<div></div>
<div></div>
<div></div>
<div></div>
<div></div>
<div></div>
<div></div>
</div>
</div>
<div class="clearfix content">
<div class="row" [ngStyle]="{'display' : displayTitle ? 'block': 'none'}">
<div class="col-sm-5 col-md-5">
<h4 class="FormTitle">
{{ 'CreditCardDetails.FormTitle' | translate }}
</h4>
</div>
<div class="col-sm-7 col-md-7 text-right xt-center" *ngIf="!formOnLoadError">
</div>
</div>
<div class="alert alert-danger" *ngIf="formOnLoadError">{{formOnLoadErrorMsg}}</div>
<div *ngIf="!formOnLoadError">
<div class="clearfix bi-reponsive" [ngClass]="{'display-border' : displayBorder}">
<div class="form-group pb10">
<div class="col-12  col-sm-4 col-md-4 res-pr-hide" [hidden]="CCD_Branch.isHidden()">
<div class="clr-brown fieldLegend">
<label class="clr-brown">
{{ 'CreditCardDetails.CCD_Branch' | translate}}
</label>
</div>
<app-text-box #CCD_Branch fieldID="CCD_Branch" [formCode]="formCode" (blur)="genericOnBlur('CCD_Branch', $event)"></app-text-box>
</div>
<div class="col-12  col-sm-4 col-md-4 res-pr-hide" [hidden]="CCD_CategoryOnPage.isHidden()">
<div class="clr-brown fieldLegend">
<label class="clr-brown">
{{ 'CreditCardDetails.CCD_CategoryOnPage' | translate}}
</label>
</div>
<app-combo-box #CCD_CategoryOnPage category="2" fieldID="CCD_CategoryOnPage" [formCode]="formCode" placeholder="Select" (blur)="genericOnBlur('CCD_CategoryOnPage', $event)"></app-combo-box>
</div>
<div class="col-12  col-sm-4 col-md-4 res-pr-hide" [hidden]="CCD_Approved_Limit.isHidden()">
<div class="clr-brown fieldLegend">
<label class="clr-brown">
{{ 'CreditCardDetails.CCD_Approved_Limit' | translate}}
</label>
</div>
<app-text-box #CCD_Approved_Limit fieldID="CCD_Approved_Limit" [formCode]="formCode" (blur)="genericOnBlur('CCD_Approved_Limit', $event)"></app-text-box>
</div>
<div class="col-12  col-sm-4 col-md-4 res-pr-hide" [hidden]="CCD_Name_on_Card.isHidden()">
<div class="clr-brown fieldLegend">
<label class="clr-brown">
{{ 'CreditCardDetails.CCD_Name_on_Card' | translate}}
</label>
</div>
<app-text-box #CCD_Name_on_Card fieldID="CCD_Name_on_Card" [formCode]="formCode" placeholder="Placeholder" (blur)="genericOnBlur('CCD_Name_on_Card', $event)"></app-text-box>
</div>
<div class="col-12  col-sm-4 col-md-4 res-pr-hide" [hidden]="CCD_Settlement_Account_Type.isHidden()">
<div class="clr-brown fieldLegend">
<label class="clr-brown">
{{ 'CreditCardDetails.CCD_Settlement_Account_Type' | translate}}
</label>
</div>
<app-text-box #CCD_Settlement_Account_Type fieldID="CCD_Settlement_Account_Type" [formCode]="formCode" (blur)="genericOnBlur('CCD_Settlement_Account_Type', $event)"></app-text-box>
</div>
<div class="col-12  col-sm-4 col-md-4 res-pr-hide" [hidden]="CCD_Settle_Account_No.isHidden()">
<div class="clr-brown fieldLegend">
<label class="clr-brown">
{{ 'CreditCardDetails.CCD_Settle_Account_No' | translate}}
</label>
</div>
<app-text-box #CCD_Settle_Account_No fieldID="CCD_Settle_Account_No" [formCode]="formCode" placeholder="Placeholder" (blur)="genericOnBlur('CCD_Settle_Account_No', $event)"></app-text-box>
</div>
<div class="col-12  col-sm-4 col-md-4 res-pr-hide" [hidden]="CCD_Payment_Option.isHidden()">
<div class="clr-brown fieldLegend">
<label class="clr-brown">
{{ 'CreditCardDetails.CCD_Payment_Option' | translate}}
</label>
</div>
<app-combo-box #CCD_Payment_Option category="2" fieldID="CCD_Payment_Option" [formCode]="formCode" placeholder="Select" (blur)="genericOnBlur('CCD_Payment_Option', $event)"></app-combo-box>
</div>
<div class="col-12  col-sm-4 col-md-4 res-pr-hide" [hidden]="CCD_Statement_Dispatch_Mode.isHidden()">
<div class="clr-brown fieldLegend">
<label class="clr-brown">
{{ 'CreditCardDetails.CCD_Statement_Dispatch_Mode' | translate}}
</label>
</div>
<app-combo-box #CCD_Statement_Dispatch_Mode category="2" fieldID="CCD_Statement_Dispatch_Mode" [formCode]="formCode" placeholder="Select" (blur)="genericOnBlur('CCD_Statement_Dispatch_Mode', $event)"></app-combo-box>
</div>
<div class="col-12  col-sm-4 col-md-4 res-pr-hide" [hidden]="CCD_Existing_Credit_Card.isHidden()">
<div class="clr-brown fieldLegend">
<label class="clr-brown">
{{ 'CreditCardDetails.CCD_Existing_Credit_Card' | translate}}
</label>
</div>
<app-combo-box #CCD_Existing_Credit_Card category="2" fieldID="CCD_Existing_Credit_Card" [formCode]="formCode" placeholder="Select" (blur)="genericOnBlur('CCD_Existing_Credit_Card', $event)"></app-combo-box>
</div>
<div class="col-12  col-sm-12 col-md-12 res-pr-hide">
<app-label #Add_On_Details parentCompCode="CreditCardDetails" fieldID="Add_On_Details" [formCode]="formCode" fontFamily="sans-serif" fontColor="#555" fontStyle="normal" fontSize="16px" fontWeight="400"></app-label>
</div>
<div class="col-12  col-sm-4 col-md-4 res-pr-hide" [hidden]="CCD_Add_On_Required.isHidden()">
<div class="clr-brown fieldLegend">
<label class="clr-brown">
{{ 'CreditCardDetails.CCD_Add_On_Required' | translate}}
</label>
</div>
<app-combo-box #CCD_Add_On_Required category="2" fieldID="CCD_Add_On_Required" [formCode]="formCode" placeholder="Select" (blur)="genericOnBlur('CCD_Add_On_Required', $event)"></app-combo-box>
</div>
<div class="col-12  col-sm-4 col-md-4 res-pr-hide" [hidden]="CCD_Name.isHidden()">
<div class="clr-brown fieldLegend">
<label class="clr-brown">
{{ 'CreditCardDetails.CCD_Name' | translate}}
</label>
</div>
<app-text-box #CCD_Name fieldID="CCD_Name" [formCode]="formCode" (blur)="genericOnBlur('CCD_Name', $event)"></app-text-box>
</div>
<div class="col-12  col-sm-4 col-md-4 res-pr-hide" [hidden]="CCD_Date_Of_Birth.isHidden()">
<div class="clr-brown fieldLegend">
<label class="clr-brown">
{{ 'CreditCardDetails.CCD_Date_Of_Birth' | translate}}
</label>
</div>
<app-date #CCD_Date_Of_Birth fieldID="CCD_Date_Of_Birth" [formCode]="formCode" (blur)="genericOnBlur('CCD_Date_Of_Birth', $event)"></app-date>
</div>
<div style="min-height: 0px;height: 0px;" class="col-12 col-sm-12 col-md-12"></div>
<div class="col-12  col-sm-4 col-md-4 res-pr-hide" [hidden]="CCD_CID_No.isHidden()">
<div class="clr-brown fieldLegend">
<label class="clr-brown">
{{ 'CreditCardDetails.CCD_CID_No' | translate}}
</label>
</div>
<app-text-box #CCD_CID_No fieldID="CCD_CID_No" [formCode]="formCode" (blur)="genericOnBlur('CCD_CID_No', $event)"></app-text-box>
</div>
<div class="col-12  col-sm-4 col-md-4 res-pr-hide" [hidden]="CCD_Relationship.isHidden()">
<div class="clr-brown fieldLegend">
<label class="clr-brown">
{{ 'CreditCardDetails.CCD_Relationship' | translate}}
</label>
</div>
<app-combo-box #CCD_Relationship category="2" fieldID="CCD_Relationship" [formCode]="formCode" placeholder="Select" (blur)="genericOnBlur('CCD_Relationship', $event)"></app-combo-box>
</div>
<div class="col-12  col-sm-1 col-md-1 res-pr-hide" [hidden]="CCD_Save.isHidden()">
<app-button #CCD_Save fieldName="{{ 'CreditCardDetails.CCD_Save' | translate}}" fieldID="CCD_Save" [formCode]="formCode" customClass="btn btn-primary "></app-button>
</div>
<div class="col-12  col-sm-1 col-md-1 res-pr-hide" [hidden]="CCD_Clear.isHidden()">
<app-button #CCD_Clear fieldName="{{ 'CreditCardDetails.CCD_Clear' | translate}}" fieldID="CCD_Clear" [formCode]="formCode" customClass="btn-warning-outline"></app-button>
</div>
<div style="min-height: 0px;height: 0px;" class="col-12 col-sm-12 col-md-12"></div>
<div class="col-12  col-sm-12 col-md-12 res-pr-hide" [hidden]="FieldId_31.isHidden()">
<app-CreditCardDetailsGrid #FieldId_31 fieldID="FieldId_31" [formCode]="formCode"></app-CreditCardDetailsGrid>
</div>
</div>
</div>
</div>
</div>
</form>
