<div class="MakeRelative"><div class="ShowLoading " *ngIf="loadSpinner">
 <div class="lds-roller MakeItMiddle">
<div></div>
<div></div>
<div></div>
<div></div>
<div></div>
<div></div>
<div></div>
<div></div>
</div>
</div>
<div class="row reference-div">
<!-- <div class="col-xs-12 col-sm-5">
<h4 *ngIf="displayTitle">{{'GoldDetailsGrid.GridTitle' | translate}}</h4>
</div> -->
<div *ngIf="displayToolbar" class="col-xs-12 col-sm-7 inside-micons pending-page">
<ul class="list-inline list-unstyled handle-items text-right">
</ul>
</div>
</div>
<app-readonly-grid #readonlyGrid (gridSizeChanged)="onGridSizeChanged()" [formCode]="formCode" [gridConsts]="gridConsts"></app-readonly-grid>
</div>
