<form class="MakeRelative">
  <!-- <div class="ShowLoading " *ngIf="loadSpinner">
    <div class="lds-roller MakeItMiddle">
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </div>
  </div> -->
  <div class="clearfix content">
    <!-- <div class="row" [ngStyle]="{'display' : displayTitle ? 'block': 'none'}">
      <div class="col-sm-5 col-md-5">
        <h4 class="FormTitle">
          {{ 'EducationLoanDetails.FormTitle' | translate }}
        </h4>
      </div>
      <div class="col-sm-7 col-md-7 text-right xt-center" *ngIf="!formOnLoadError">
      </div>
    </div> -->
    <div class="alert alert-danger" *ngIf="formOnLoadError">{{formOnLoadErrorMsg}}</div>
    <div *ngIf="!formOnLoadError">
      <div class="clearfix bi-reponsive" [ngClass]="{'display-border' : displayBorder}">
        <div class="form-group pb10">
          <div class="col-12  col-sm-12 col-md-12 group-default">
            <div #FieldId_1 id="FieldId_1">
              <div class="form-group pb10 ">
                <div class="col-12  col-sm-12 col-md-12 res-pr-hide">
                  <app-label #PastEducationDtls parentCompCode="EducationLoanDetails" fieldID="PastEducationDtls"
                    [formCode]="formCode" fontFamily="sans-serif" fontColor="#555" fontStyle="normal" fontSize="12px"
                    fontWeight="900"></app-label>
                </div>
                <div class="col-12  col-sm-4 col-md-4 res-pr-hide" [hidden]="PEExamPassed.isHidden()">
                  <div class="clr-brown fieldLegend">
                    <label class="clr-brown" [ngClass]="{'mandatory': PEExamPassed.mandatory}">
                      {{ 'EducationLoanDetails.PEExamPassed' | translate}}

                    </label>
                  </div>
                  <app-combo-box #PEExamPassed category="2" fieldID="PEExamPassed" [formCode]="formCode"
                  domainObjectUrl="/MSTGENERALPARAM/{VALUE1}" doServerUrl="/masters" domainObjectCode="MSTGENERALPARAM"
                    placeholder="select" (blur)="genericOnBlur('PEExamPassed', $event)">
                  </app-combo-box>
                </div>
                <div class="col-12  col-sm-4 col-md-4 res-pr-hide" [hidden]="PEInstitution.isHidden()">
                  <div class="clr-brown fieldLegend">
                    <label class="clr-brown" [ngClass]="{'mandatory': PEInstitution.mandatory}">
                      {{ 'EducationLoanDetails.PEInstitution' | translate}}

                    </label>
                  </div>
                  <app-combo-box #PEInstitution category="2" fieldID="PEInstitution" [formCode]="formCode"
                  domainObjectUrl="/MstInstitution/{InstituteCode}" doServerUrl="/masters" domainObjectCode="MstInstitution"
                    placeholder="Select" (blur)="genericOnBlur('PEInstitution', $event)">
                  </app-combo-box>
                </div>
                <div class="col-12  col-sm-4 col-md-4 res-pr-hide" [hidden]="PEYearOfPassing.isHidden()">
                  <div class="clr-brown fieldLegend">
                    <label class="clr-brown" [ngClass]="{'mandatory': PEYearOfPassing.mandatory}">
                      {{ 'EducationLoanDetails.PEYearOfPassing' | translate}}

                    </label>
                  </div>
                  <app-text-box #PEYearOfPassing category="2" fieldID="PEYearOfPassing" [formCode]="formCode"
                     (blur)="genericOnBlur('PEYearOfPassing', $event)">
                  </app-text-box>
                </div>
                <div class="col-12  col-sm-4 col-md-4 res-pr-hide" [hidden]="PEMarksPercent.isHidden()">
                  <div class="clr-brown fieldLegend">
                    <label class="clr-brown">
                      {{ 'EducationLoanDetails.PEMarksPercent' | translate}}

                    </label>
                  </div>
                  <app-text-box #PEMarksPercent category="2" fieldID="PEMarksPercent" [formCode]="formCode"
                    placeholder="Select" (blur)="genericOnBlur('PEMarksPercent', $event)">
                  </app-text-box>
                </div>
                <div class="col-12  col-sm-4 col-md-4 res-pr-hide" [hidden]="PEClassObtained.isHidden()">
                  <div class="clr-brown fieldLegend">
                    <label class="clr-brown">
                      {{ 'EducationLoanDetails.PEClassObtained' | translate}}
                    </label>
                  </div>
                  <app-combo-box #PEClassObtained category="2" fieldID="PEClassObtained" [formCode]="formCode"
                  domainObjectUrl="/MSTGENERALPARAM/{VALUE1}" doServerUrl="/masters" domainObjectCode="MSTGENERALPARAM"
                  placeholder="select" (blur)="genericOnBlur('PEClassObtained', $event)"></app-combo-box>
                </div>
                <div class="col-12  col-sm-4 col-md-4 res-pr-hide" [hidden]="PEPrizes.isHidden()">
                  <div class="clr-brown fieldLegend">
                    <label class="clr-brown">
                      {{ 'EducationLoanDetails.PEPrizes' | translate}}
                    </label>
                  </div>
                  <app-text-box #PEPrizes fieldID="PEPrizes" [formCode]="formCode" 
                    (blur)="genericOnBlur('PEPrizes', $event)"></app-text-box>
                </div>
                <div class="col-12  col-sm-6 col-md-6 res-pr-hide"></div>
                <div class="col-12  col-sm-3 col-md-3 res-pr-hide" *ngIf="!readOnly">
                  <app-button #PE_CLEAR_BTN fieldName="{{ 'AddressDetails.PE_CLEAR_BTN' | translate}}" fieldID="PE_CLEAR_BTN"
                    [formCode]="formCode" imagePath="./assets/icons/refresh-form.svg" [type]="2" customClass="icon-button"
                    (buttonClick)="PE_CLEAR_BTN_click($event)"></app-button>
      
                  <app-button #PE_SAVE_BTN fieldName="{{ 'AddressDetails.PE_SAVE_BTN' | translate}}"
                    fieldID="PE_SAVE_BTN" [formCode]="formCode" imagePath="./assets/icons/plus.svg" [type]="2"
                    customClass="icon-button" (buttonClick)="PE_SAVE_BTN_click($event)"></app-button>
                </div>
                <div class="col-12  col-sm-12 col-md-12 res-pr-hide" [hidden]="PastEducationGrid.isHidden()">
                  <app-PastEducationDtlsGrid #PastEducationGrid fieldID="PastEducationGrid" [formCode]="formCode"
                    [displayTitle]="false"
                    (modifyPastEducation)="loadPastEducation($event)"></app-PastEducationDtlsGrid>
                </div>
              </div>

            </div>
          </div>
          <div class="col-12  col-sm-12 col-md-12 group-default">
            <div #FieldId_3 id="FieldId_3">
              <div class="form-group pb10 ">
                <div class="col-12  col-sm-12 col-md-12 res-pr-hide">
                  <app-label #CourseDetails parentCompCode="EducationLoanDetails" fieldID="CourseDetails"
                    [formCode]="formCode" fontFamily="sans-serif" fontColor="#555" fontStyle="normal" fontSize="12px"
                    fontWeight="900"></app-label>
                </div>
                <div class="col-12  col-sm-4 col-md-4 res-pr-hide" [hidden]="PCCountry.isHidden()">
                  <div class="clr-brown fieldLegend">
                    <label class="clr-brown" [ngClass]="{'mandatory': PCCountry.mandatory}">
                      {{ 'EducationLoanDetails.PCCountry' | translate}}

                    </label>
                  </div>
                  <app-combo-box #PCCountry category="2" fieldID="PCCountry" [formCode]="formCode" placeholder="Select"
                  domainObjectUrl="/MstCountryDetails/{CountryCd}" doServerUrl="/masters" domainObjectCode="MSTGENERALPARAM"
                   (blur)="genericOnBlur('PCCountry', $event)"></app-combo-box>
                </div>
                <div class="col-12  col-sm-4 col-md-4 res-pr-hide" [hidden]="PCPinCode.isHidden()">
                  <div class="clr-brown fieldLegend">
                    <label class="clr-brown" [ngClass]="{'mandatory': PCPinCode.mandatory}">
                      {{ 'EducationLoanDetails.PCPinCode' | translate}}

                    </label>
                  </div>
                  <app-text-box #PCPinCode fieldID="PCPinCode" [formCode]="formCode" 
                   (blur)="genericOnBlur('PCPinCode', $event)"></app-text-box>
                </div>
                <div class="col-12  col-sm-4 col-md-4 res-pr-hide" [hidden]="PCInstitutionName.isHidden()">
                  <div class="clr-brown fieldLegend">
                    <label class="clr-brown" [ngClass]="{'mandatory': PCInstitutionName.mandatory}">
                      {{ 'EducationLoanDetails.PCInstitutionName' | translate}}

                    </label>
                  </div>
                  <app-combo-box #PCInstitutionName category="2" fieldID="PCInstitutionName" [formCode]="formCode"
                  domainObjectUrl="/MstInstitution/{InstituteCode}" doServerUrl="/masters" domainObjectCode="MstInstitution"
                    placeholder="Select" (blur)="genericOnBlur('PCInstitutionName', $event)">
                  </app-combo-box>
                </div>
                <div class="col-12  col-sm-4 col-md-4 res-pr-hide" [hidden]="PCInstituteAddress.isHidden()">
                  <div class="clr-brown fieldLegend">
                    <label class="clr-brown" [ngClass]="{'mandatory': PCInstituteAddress.mandatory}">
                      {{ 'EducationLoanDetails.PCInstituteAddress' | translate}}

                    </label>
                  </div>
                  <app-text-box #PCInstituteAddress fieldID="PCInstituteAddress" [formCode]="formCode"
                     (blur)="genericOnBlur('PCInstituteAddress', $event)">
                  </app-text-box>
                  
                </div>

                <div class="col-12  col-sm-4 col-md-4 res-pr-hide" [hidden]="PCRegion.isHidden()">
                  <div class="clr-brown fieldLegend">
                    <label class="clr-brown">
                      {{ 'EducationLoanDetails.PCRegion' | translate}}
                    </label>
                  </div>
                  <app-text-box #PCRegion fieldID="PCRegion" [formCode]="formCode" 
                    (blur)="genericOnBlur('PCRegion', $event)"></app-text-box>
                </div>
                <div class="col-12  col-sm-4 col-md-4 res-pr-hide" [hidden]="PCCity.isHidden()">
                  <div class="clr-brown fieldLegend">
                    <label class="clr-brown">
                      {{ 'EducationLoanDetails.PCCity' | translate}}
                    </label>
                  </div>
                  <app-text-box #PCCity fieldID="PCCity" [formCode]="formCode" 
                    (blur)="genericOnBlur('PCCity', $event)"></app-text-box>
                </div>
                <div class="col-12  col-sm-4 col-md-4 res-pr-hide" [hidden]="PCState.isHidden()">
                  <div class="clr-brown fieldLegend">
                    <label class="clr-brown">
                      {{ 'EducationLoanDetails.PCState' | translate}}
                    </label>
                  </div>
                  <app-text-box #PCState fieldID="PCState" [formCode]="formCode" 
                    (blur)="genericOnBlur('PCState', $event)"></app-text-box>
                </div>
                <div class="col-12  col-sm-4 col-md-4 res-pr-hide" [hidden]="PCAdmissionStatus.isHidden()">
                  <div class="clr-brown fieldLegend">
                    <label class="clr-brown" [ngClass]="{'mandatory': PCAdmissionStatus.mandatory}">
                      {{ 'EducationLoanDetails.PCAdmissionStatus' | translate}}

                    </label>
                  </div>
                  <app-combo-box #PCAdmissionStatus category="2" fieldID="PCAdmissionStatus" [formCode]="formCode"
                  domainObjectUrl="/MSTGENERALPARAM/{VALUE1}" doServerUrl="/masters" domainObjectCode="MSTGENERALPARAM"
                  placeholder="select" (blur)="genericOnBlur('PCAdmissionStatus', $event)">
                  </app-combo-box>
                </div>
                <div class="col-12  col-sm-4 col-md-4 res-pr-hide" [hidden]="RecognizedAuthority.isHidden()">
                  <div class="clr-brown fieldLegend">
                    <label class="clr-brown">
                      {{ 'EducationLoanDetails.RecognizedAuthority' | translate}}

                    </label>
                  </div>
                  <app-text-box #RecognizedAuthority fieldID="RecognizedAuthority" [formCode]="formCode"
                     (blur)="genericOnBlur('RecognizedAuthority', $event)">
                  </app-text-box>
                </div>
                <div class="col-12  col-sm-4 col-md-4 res-pr-hide" [hidden]="PCContactPerson.isHidden()">
                  <div class="clr-brown fieldLegend">
                    <label class="clr-brown">
                      {{ 'EducationLoanDetails.PCContactPerson' | translate}}

                    </label>
                  </div>
                  <app-text-box #PCContactPerson fieldID="PCContactPerson" [formCode]="formCode"
                     (blur)="genericOnBlur('PCContactPerson', $event)">
                  </app-text-box>
                </div>
                <div class="col-12  col-sm-4 col-md-4 res-pr-hide" [hidden]="PCAppliedFor.isHidden()">
                  <div class="clr-brown fieldLegend">
                    <label class="clr-brown">
                      {{ 'EducationLoanDetails.PCAppliedFor' | translate}}
                    </label>
                  </div>
                  <app-combo-box #PCAppliedFor category="2" fieldID="PCAppliedFor" [formCode]="formCode" 
                  domainObjectUrl="/MSTGENERALPARAM/{VALUE1}" doServerUrl="/masters" domainObjectCode="MSTGENERALPARAM" 
                  placeholder="select" (blur)="genericOnBlur('PCAppliedFor', $event)"></app-combo-box>
                </div>
                <div class="col-12  col-sm-4 col-md-4 res-pr-hide" [hidden]="PCName.isHidden()">
                  <div class="clr-brown fieldLegend">
                    <label class="clr-brown" [ngClass]="{'mandatory': PCName.mandatory}">
                      {{ 'EducationLoanDetails.PCName' | translate}}

                    </label>
                  </div>
                  <app-text-box #PCName fieldID="PCName" [formCode]="formCode" 
                   (blur)="genericOnBlur('PCName', $event)"></app-text-box>
                </div>
                <div class="col-12  col-sm-4 col-md-4 res-pr-hide" [hidden]="PCAdmitionThrough.isHidden()">
                  <div class="clr-brown fieldLegend">
                    <label class="clr-brown">
                      {{ 'EducationLoanDetails.PCAdmitionThrough' | translate}}

                    </label>
                  </div>
                  <app-combo-box #PCAdmitionThrough category="2" fieldID="PCAdmitionThrough" [formCode]="formCode"
                  domainObjectUrl="/MSTGENERALPARAM/{VALUE1}" doServerUrl="/masters" domainObjectCode="MSTGENERALPARAM"
                  placeholder="select" (blur)="genericOnBlur('PCAdmitionThrough', $event)">
                  </app-combo-box>
                </div>
                <div class="col-12  col-sm-4 col-md-4 res-pr-hide" [hidden]="PCCategory.isHidden()">
                  <div class="clr-brown fieldLegend">
                    <label class="clr-brown" [ngClass]="{'mandatory': PCCategory.mandatory}">
                      {{ 'EducationLoanDetails.PCCategory' | translate}}

                    </label>
                  </div>
                  <app-combo-box #PCCategory category="2" fieldID="PCCategory" [formCode]="formCode"
                  domainObjectUrl="/MSTGENERALPARAM/{VALUE1}" doServerUrl="/masters" domainObjectCode="MSTGENERALPARAM"
                  placeholder="select"  (blur)="genericOnBlur('PCCategory', $event)">
                  </app-combo-box>
                </div>
                <div class="col-12  col-sm-4 col-md-4 res-pr-hide" [hidden]="PCCourseType.isHidden()">
                  <div class="clr-brown fieldLegend">
                    <label class="clr-brown" [ngClass]="{'mandatory': PCCourseType.mandatory}">
                      {{ 'EducationLoanDetails.PCCourseType' | translate}}

                    </label>
                  </div>
                  <app-combo-box #PCCourseType category="2" fieldID="PCCourseType" [formCode]="formCode"
                  domainObjectUrl="/MSTGENERALPARAM/{VALUE1}" doServerUrl="/masters" domainObjectCode="MSTGENERALPARAM"
                  placeholder="select" (blur)="genericOnBlur('PCCourseType', $event)">
                  </app-combo-box>
                </div>
                <div class="col-12  col-sm-4 col-md-4 res-pr-hide" [hidden]="PCStartDate.isHidden()">
                  <div class="clr-brown fieldLegend">
                    <label class="clr-brown" [ngClass]="{'mandatory': PCStartDate.mandatory}">
                      {{ 'EducationLoanDetails.PCStartDate' | translate}}

                    </label>
                  </div>
                  <app-date #PCStartDate fieldID="PCStartDate" [formCode]="formCode" 
                   (blur)="genericOnBlur('PCStartDate', $event)"></app-date>
                </div>
                <div class="col-12  col-sm-4 col-md-4 res-pr-hide" [hidden]="PCEndDate.isHidden()">
                  <div class="clr-brown fieldLegend">
                    <label class="clr-brown" [ngClass]="{'mandatory': PCEndDate.mandatory}">
                      {{ 'EducationLoanDetails.PCEndDate' | translate}}

                    </label>
                  </div>
                  <app-date #PCEndDate fieldID="PCEndDate" [formCode]="formCode" 
                   (blur)="genericOnBlur('PCEndDate', $event)"></app-date>
                </div>
                <div class="col-12  col-sm-4 col-md-4 res-pr-hide" [hidden]="PCRanking.isHidden()">
                  <div class="clr-brown fieldLegend">
                    <label class="clr-brown">
                      {{ 'EducationLoanDetails.PCRanking' | translate}}

                    </label>
                  </div>
                  <app-text-box #PCRanking fieldID="PCRanking" [formCode]="formCode" 
                   (blur)="genericOnBlur('PCRanking', $event)"></app-text-box>
                </div>
                <div class="col-12  col-sm-4 col-md-4 res-pr-hide" [hidden]="PCIsAttending.isHidden()"
                  [ngClass]="'checkboxLeft'">
                  <div class="clr-brown fieldLegend">
                    <label class="clr-brown">
                      {{ 'EducationLoanDetails.PCIsAttending' | translate}}
                    </label>
                  </div>
                  <app-check-box #PCIsAttending fieldID="PCIsAttending" [formCode]="formCode" 
                    (blur)="genericOnBlur('PCIsAttending', $event)" (change)="PCIsAttending_change($event)"></app-check-box>
                </div>
                <div class="col-12  col-sm-4 col-md-4 res-pr-hide" [hidden]="PCCollegeName.isHidden()">
                  <div class="clr-brown fieldLegend">
                    <label class="clr-brown" [ngClass]="{'mandatory': PCCollegeName.mandatory}">
                      {{ 'EducationLoanDetails.PCCollegeName' | translate}}
                    </label>
                  </div>
                  <app-text-box #PCCollegeName fieldID="PCCollegeName" [formCode]="formCode" 
                    (blur)="genericOnBlur('PCCollegeName', $event)"></app-text-box>
                </div>
                <div class="col-12  col-sm-4 col-md-4 res-pr-hide" [hidden]="PCCollegeAddress.isHidden()">
                  <div class="clr-brown fieldLegend">
                    <label class="clr-brown" [ngClass]="{'mandatory': PCCollegeAddress.mandatory}">
                      {{ 'EducationLoanDetails.PCCollegeAddress' | translate}}
                    </label>
                  </div>
                  <app-text-box #PCCollegeAddress fieldID="PCCollegeAddress" [formCode]="formCode" 
                    (blur)="genericOnBlur('PCCollegeAddress', $event)"></app-text-box>
                </div>
                <div class="col-12  col-sm-4 col-md-4 res-pr-hide" [hidden]="PCName2.isHidden()">
                  <div class="clr-brown fieldLegend">
                    <label class="clr-brown">
                      {{ 'EducationLoanDetails.PCName2' | translate}}
                    </label>
                  </div>
                  <app-text-box #PCName2 fieldID="PCName2" [formCode]="formCode" 
                    (blur)="genericOnBlur('PCName2', $event)"></app-text-box>
                </div>
                <div class="col-12  col-sm-4 col-md-4 res-pr-hide" [hidden]="PCCompeteDate.isHidden()">
                  <div class="clr-brown fieldLegend">
                    <label class="clr-brown" [ngClass]="{'mandatory': PCCompeteDate.mandatory}">
                      {{ 'EducationLoanDetails.PCCompeteDate' | translate}}
                    </label>
                  </div>
                  <app-date #PCCompeteDate fieldID="PCCompeteDate" [formCode]="formCode" 
                    (blur)="genericOnBlur('PCCompeteDate', $event)"></app-date>
                </div>
              </div>

            </div>
          </div>
          <div class="col-12  col-sm-12 col-md-12 group-default">
            <div #FieldId_6 id="FieldId_6">
              <div class="form-group pb10 ">
                <div class="col-12  col-sm-12 col-md-12 res-pr-hide">
                  <app-label #LoanDetails parentCompCode="EducationLoanDetails" fieldID="LoanDetails"
                    [formCode]="formCode" fontFamily="sans-serif" fontColor="#555" fontStyle="normal" fontSize="12px"
                    fontWeight="900"></app-label>
                </div>
                <div class="col-12  col-sm-4 col-md-4 res-pr-hide" [hidden]="LCurrency.isHidden()">
                  <div class="clr-brown fieldLegend">
                    <label class="clr-brown" [ngClass]="{'mandatory': LCurrency.mandatory}">
                      {{ 'EducationLoanDetails.LCurrency' | translate}}

                    </label>
                  </div>
                  <app-combo-box #LCurrency category="2" fieldID="LCurrency" [formCode]="formCode" placeholder="Select"
              domainObjectUrl="/MstCurrencyDetails/{CurrencySrc}" doServerUrl="/masters"
              domainObjectCode="MstCurrencyDetails" (blur)="genericOnBlur('LCurrency', $event)">
            </app-combo-box>
                </div>

                <div class="col-12  col-sm-4 col-md-4 res-pr-hide"></div>
                <div class="col-12  col-sm-6 col-md-6 res-pr-hide" [hidden]="CostOfCourseGrid.isHidden()">
                  <app-CostOfCourseGrid #CostOfCourseGrid fieldID="CostOfCourseGrid" [formCode]="formCode"
                    [displayTitle]="false"></app-CostOfCourseGrid>
                </div>
                <div class="col-12  col-sm-6 col-md-6 res-pr-hide" [hidden]="FundsAvailableGrid.isHidden()">
                  <app-FundsAvailableGrid #FundsAvailableGrid fieldID="FundsAvailableGrid" [formCode]="formCode"
                    [displayTitle]="false"></app-FundsAvailableGrid>
                </div>
                <div class="col-12  col-sm-4 col-md-4 res-pr-hide" [hidden]="LoanRequied.isHidden()">
                  <div class="clr-brown fieldLegend">
                    <label class="clr-brown">
                      {{ 'EducationLoanDetails.LoanRequied' | translate}}

                    </label>
                  </div>
                  <app-text-box #LoanRequied fieldID="LoanRequied" [formCode]="formCode" 
                   (blur)="genericOnBlur('LoanRequied', $event)"></app-text-box>
                </div>
                <div class="col-12  col-sm-4 col-md-4 res-pr-hide" [hidden]="LMoratoriumDurCoursePeriod.isHidden()">
                  <div class="clr-brown fieldLegend">
                    <label class="clr-brown">
                      {{ 'EducationLoanDetails.LMoratoriumDurCoursePeriod' | translate}}

                    </label>
                  </div>
                  <app-text-box #LMoratoriumDurCoursePeriod category="2" fieldID="LMoratoriumDurCoursePeriod"
                    [formCode]="formCode" 
                    (blur)="genericOnBlur('LMoratoriumDurCoursePeriod', $event)">
                  </app-text-box>
                </div>
                <div class="col-12  col-sm-4 col-md-4 res-pr-hide" [hidden]="LMoratoriumPostCoursePeriod.isHidden()">
                  <div class="clr-brown fieldLegend">
                    <label class="clr-brown">
                      {{ 'EducationLoanDetails.LMoratoriumPostCoursePeriod' | translate}}

                    </label>
                  </div>
                  <app-text-box #LMoratoriumPostCoursePeriod category="2" fieldID="LMoratoriumPostCoursePeriod"
                    [formCode]="formCode"
                    (blur)="genericOnBlur('LMoratoriumPostCoursePeriod', $event)">
                  </app-text-box>
                </div>
                <div class="col-12  col-sm-4 col-md-4 res-pr-hide" [hidden]="LTotMoratorium.isHidden()">
                  <div class="clr-brown fieldLegend">
                    <label class="clr-brown">
                      {{ 'EducationLoanDetails.LTotMoratorium' | translate}}

                    </label>
                  </div>
                  <app-text-box #LTotMoratorium fieldID="LTotMoratorium" [formCode]="formCode" 
                   (blur)="genericOnBlur('LTotMoratorium', $event)"></app-text-box>
                </div>
                <div class="col-12  col-sm-4 col-md-4 res-pr-hide" [hidden]="LEMIPeriod.isHidden()">
                  <div class="clr-brown fieldLegend">
                    <label class="clr-brown">
                      {{ 'EducationLoanDetails.LEMIPeriod' | translate}}
                    </label>
                  </div>
                  <app-text-box #LEMIPeriod fieldID="LEMIPeriod" [formCode]="formCode" 
                  (blur)="genericOnBlur('LEMIPeriod', $event)"></app-text-box>
                </div>
                <div class="col-12  col-sm-4 col-md-4 res-pr-hide" [hidden]="LTotLoanPeriod.isHidden()">
                  <div class="clr-brown fieldLegend">
                    <label class="clr-brown">
                      {{ 'EducationLoanDetails.LTotLoanPeriod' | translate}}

                    </label>
                  </div>
                  <app-text-box #LTotLoanPeriod fieldID="LTotLoanPeriod" [formCode]="formCode" 
                   (blur)="genericOnBlur('LTotLoanPeriod', $event)"></app-text-box>
                </div>
                <div class="col-12  col-sm-4 col-md-4 res-pr-hide" [hidden]="LIsInterestCaptalized.isHidden()"
                  [ngClass]="'checkboxLeft'">
                  <div class="clr-brown fieldLegend">
                    <label class="clr-brown">
                      {{ 'EducationLoanDetails.LIsInterestCaptalized' | translate}}
                    </label>
                  </div>
                  <app-check-box #LIsInterestCaptalized fieldID="LIsInterestCaptalized" [formCode]="formCode"
                     (blur)="genericOnBlur('LIsInterestCaptalized', $event)"></app-check-box>
                </div>
                <div class="col-12 col-sm-9 col-md-9"></div>
                <ng-container *ngIf="!readOnly">
                  <div class="save-btn-container col-12  col-sm-1 col-md-1 res-pr-hide">
                    <app-button #ED_SAVE_BTN fieldName="{{ 'EducationLoanDetails.ED_SAVE_BTN' | translate}}" fieldID="ED_SAVE_BTN"
                      [formCode]="formCode" customClass="btn btn-primary" (buttonClick)="ED_SAVE_BTN_click($event)">
                    </app-button>
                  </div>
                  <div class="clr-btn-container col-12  col-sm-1 col-md-1 res-pr-hide">
                    <app-button #ED_CLEAR_BTN fieldName="{{ 'EducationLoanDetails.ED_CLEAR_BTN' | translate}}"
                      fieldID="ED_CLEAR_BTN" [formCode]="formCode" customClass="btn-warning-outline"
                      (buttonClick)="ED_CLEAR_BTN_click($event)">
                    </app-button>
                  </div>
                </ng-container>
                <div class="col-12  col-sm-4 col-md-4 res-pr-hide">
                  <app-education-loan-handler #Handler [MainComponent]="this"></app-education-loan-handler>
                  <!-- <app-education-loan-handler #FieldId_20></app-education-loan-handler> -->
                </div>
              </div>

            </div>
          </div>
          <app-hidden #hidExchangeRate fieldID="hidExchangeRate"></app-hidden>
          <app-hidden #hidExamPassed fieldID="hidExamPassed"></app-hidden>
          <app-hidden #hidInstitute fieldID="hidInstitute"></app-hidden>
          <app-hidden #hidPassingYear fieldID="hidPassingYear"></app-hidden>
          <app-hidden #hidClassObtained fieldID="hidClassObtained"></app-hidden>
          <app-hidden #hidCountry fieldID="hidCountry"></app-hidden>
          <app-hidden #hidAdmissionStatus fieldID="hidAdmissionStatus"></app-hidden>
          <app-hidden #hidAdmissionThrough fieldID="hidAdmissionThrough"></app-hidden>
          <app-hidden #hidCourseCategory fieldID="hidCourseCategory"></app-hidden>
          <app-hidden #hidCourseType fieldID="hidCourseType"></app-hidden>
          <app-hidden #hidCourseField fieldID="hidCourseField"></app-hidden>
          <app-hidden #hidAppId fieldID="hidAppId"></app-hidden>
          
        </div>
      </div>
    </div>
  </div>
</form>
