<form class="MakeRelative">
  <!-- <div class="ShowLoading " *ngIf="loadSpinner">
    <div class="lds-roller MakeItMiddle">
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </div>
  </div> -->
  <div class="clearfix content">
    <!-- <div class="row" [ngStyle]="{'display' : displayTitle ? 'block': 'none'}">
      <div class="col-sm-5 col-md-5">
        <h4 class="FormTitle">
          {{ 'EducationLoanDetails.FormTitle' | translate }}
        </h4>
      </div>
      <div class="col-sm-7 col-md-7 text-right xt-center" *ngIf="!formOnLoadError">
      </div>
    </div> -->
    <div class="alert alert-danger" *ngIf="formOnLoadError">{{formOnLoadErrorMsg}}</div>
    <div *ngIf="!formOnLoadError">
      <div class="clearfix bi-reponsive" [ngClass]="{'display-border' : displayBorder}">
        <div class="form-group pb10">
          <div class="col-12  col-sm-12 col-md-12 group-default">
            <div #FieldId_1 id="FieldId_1">
              <div class="form-group pb10 ">
                <div class="col-12  col-sm-12 col-md-12 res-pr-hide">
                  <app-label #PastEducationDtls parentCompCode="EducationLoanDetails" fieldID="PastEducationDtls"
                    [formCode]="formCode" fontFamily="sans-serif" fontColor="#555" fontStyle="normal" fontSize="12px"
                    fontWeight="900"></app-label>
                </div>
                <div class="col-12  col-sm-4 col-md-4 res-pr-hide" [hidden]="PEExamPassed.isHidden()">
                  <div class="clr-brown fieldLegend">
                    <label class="clr-brown" [ngClass]="{'mandatory': PEExamPassed.mandatory}">
                      {{ 'EducationLoanDetails.PEExamPassed' | translate}}

                    </label>
                  </div>
                  <app-combo-box #PEExamPassed category="2" fieldID="PEExamPassed" [formCode]="formCode"
                    placeholder="select" (blur)="genericOnBlur('PEExamPassed', $event)">
                  </app-combo-box>
                </div>
                <div class="col-12  col-sm-4 col-md-4 res-pr-hide" [hidden]="PEInstitution.isHidden()">
                  <div class="clr-brown fieldLegend">
                    <label class="clr-brown" [ngClass]="{'mandatory': PEInstitution.mandatory}">
                      {{ 'EducationLoanDetails.PEInstitution' | translate}}

                    </label>
                  </div>
                  <app-combo-box #PEInstitution category="2" fieldID="PEInstitution" [formCode]="formCode"
                    placeholder="Placeholder" (blur)="genericOnBlur('PEInstitution', $event)">
                  </app-combo-box>
                </div>
                <div class="col-12  col-sm-4 col-md-4 res-pr-hide" [hidden]="PEYearOfPassing.isHidden()">
                  <div class="clr-brown fieldLegend">
                    <label class="clr-brown" [ngClass]="{'mandatory': PEYearOfPassing.mandatory}">
                      {{ 'EducationLoanDetails.PEYearOfPassing' | translate}}

                    </label>
                  </div>
                  <app-combo-box #PEYearOfPassing category="2" fieldID="PEYearOfPassing" [formCode]="formCode"
                    placeholder="Placeholder" (blur)="genericOnBlur('PEYearOfPassing', $event)">
                  </app-combo-box>
                </div>
                <div class="col-12  col-sm-4 col-md-4 res-pr-hide" [hidden]="PEMarksPercent.isHidden()">
                  <div class="clr-brown fieldLegend">
                    <label class="clr-brown">
                      {{ 'EducationLoanDetails.PEMarksPercent' | translate}}

                    </label>
                  </div>
                  <app-combo-box #PEMarksPercent category="2" fieldID="PEMarksPercent" [formCode]="formCode"
                    placeholder="Select" (blur)="genericOnBlur('PEMarksPercent', $event)">
                  </app-combo-box>
                </div>
                <div class="col-12  col-sm-4 col-md-4 res-pr-hide" [hidden]="PEClassObtained.isHidden()">
                  <div class="clr-brown fieldLegend">
                    <label class="clr-brown">
                      {{ 'EducationLoanDetails.PEClassObtained' | translate}}
                    </label>
                  </div>
                  <app-combo-box #PEClassObtained category="2" fieldID="PEClassObtained" [formCode]="formCode"
                    placeholder="Placeholder" (blur)="genericOnBlur('PEClassObtained', $event)"></app-combo-box>
                </div>
                <div class="col-12  col-sm-4 col-md-4 res-pr-hide" [hidden]="PEPrizes.isHidden()">
                  <div class="clr-brown fieldLegend">
                    <label class="clr-brown">
                      {{ 'EducationLoanDetails.PEPrizes' | translate}}
                    </label>
                  </div>
                  <app-text-box #PEPrizes fieldID="PEPrizes" [formCode]="formCode" placeholder="Placeholder"
                    (blur)="genericOnBlur('PEPrizes', $event)"></app-text-box>
                </div>
                <div class="col-12  col-sm-12 col-md-12 res-pr-hide" [hidden]="PastEducationGrid.isHidden()">
                  <app-PastEducationDtlsGrid #PastEducationGrid fieldID="PastEducationGrid" [formCode]="formCode"
                    [displayTitle]="false"></app-PastEducationDtlsGrid>
                </div>
              </div>

            </div>
          </div>
          <div class="col-12  col-sm-12 col-md-12 group-default">
            <div #FieldId_3 id="FieldId_3">
              <div class="form-group pb10 ">
                <div class="col-12  col-sm-12 col-md-12 res-pr-hide">
                  <app-label #CourseDetails parentCompCode="EducationLoanDetails" fieldID="CourseDetails"
                    [formCode]="formCode" fontFamily="sans-serif" fontColor="#555" fontStyle="normal" fontSize="12px"
                    fontWeight="900"></app-label>
                </div>
                <div class="col-12  col-sm-4 col-md-4 res-pr-hide" [hidden]="PCCountry.isHidden()">
                  <div class="clr-brown fieldLegend">
                    <label class="clr-brown" [ngClass]="{'mandatory': PCCountry.mandatory}">
                      {{ 'EducationLoanDetails.PCCountry' | translate}}

                    </label>
                  </div>
                  <app-combo-box #PCCountry category="2" fieldID="PCCountry" [formCode]="formCode" placeholder="Select"
                   (blur)="genericOnBlur('PCCountry', $event)"></app-combo-box>
                </div>
                <div class="col-12  col-sm-4 col-md-4 res-pr-hide" [hidden]="PCPinCode.isHidden()">
                  <div class="clr-brown fieldLegend">
                    <label class="clr-brown" [ngClass]="{'mandatory': PCPinCode.mandatory}">
                      {{ 'EducationLoanDetails.PCPinCode' | translate}}

                    </label>
                  </div>
                  <app-text-box #PCPinCode fieldID="PCPinCode" [formCode]="formCode" placeholder="Placeholder"
                   (blur)="genericOnBlur('PCPinCode', $event)"></app-text-box>
                </div>
                <div class="col-12  col-sm-4 col-md-4 res-pr-hide" [hidden]="PCInstitutionName.isHidden()">
                  <div class="clr-brown fieldLegend">
                    <label class="clr-brown" [ngClass]="{'mandatory': PCInstitutionName.mandatory}">
                      {{ 'EducationLoanDetails.PCInstitutionName' | translate}}

                    </label>
                  </div>
                  <app-text-box #PCInstitutionName fieldID="PCInstitutionName" [formCode]="formCode"
                    placeholder="Placeholder" (blur)="genericOnBlur('PCInstitutionName', $event)">
                  </app-text-box>
                </div>
                <div class="col-12  col-sm-4 col-md-4 res-pr-hide" [hidden]="PCInstituteAddress.isHidden()">
                  <div class="clr-brown fieldLegend">
                    <label class="clr-brown" [ngClass]="{'mandatory': PCInstituteAddress.mandatory}">
                      {{ 'EducationLoanDetails.PCInstituteAddress' | translate}}

                    </label>
                  </div>
                  <app-text-box #PCInstituteAddress fieldID="PCInstituteAddress" [formCode]="formCode"
                    placeholder="Placeholder" (blur)="genericOnBlur('PCInstituteAddress', $event)">
                  </app-text-box>
                </div>

                <div class="col-12  col-sm-4 col-md-4 res-pr-hide" [hidden]="PCRegion.isHidden()">
                  <div class="clr-brown fieldLegend">
                    <label class="clr-brown">
                      {{ 'EducationLoanDetails.PCRegion' | translate}}
                    </label>
                  </div>
                  <app-text-box #PCRegion fieldID="PCRegion" [formCode]="formCode" placeholder="Placeholder"
                    (blur)="genericOnBlur('PCRegion', $event)"></app-text-box>
                </div>
                <div class="col-12  col-sm-4 col-md-4 res-pr-hide" [hidden]="PCCity.isHidden()">
                  <div class="clr-brown fieldLegend">
                    <label class="clr-brown">
                      {{ 'EducationLoanDetails.PCCity' | translate}}
                    </label>
                  </div>
                  <app-text-box #PCCity fieldID="PCCity" [formCode]="formCode" placeholder="Placeholder"
                    (blur)="genericOnBlur('PCCity', $event)"></app-text-box>
                </div>
                <div class="col-12  col-sm-4 col-md-4 res-pr-hide" [hidden]="PCState.isHidden()">
                  <div class="clr-brown fieldLegend">
                    <label class="clr-brown">
                      {{ 'EducationLoanDetails.PCState' | translate}}
                    </label>
                  </div>
                  <app-text-box #PCState fieldID="PCState" [formCode]="formCode" placeholder="Placeholder"
                    (blur)="genericOnBlur('PCState', $event)"></app-text-box>
                </div>
                <div class="col-12  col-sm-4 col-md-4 res-pr-hide" [hidden]="PCAdmissionStatus.isHidden()">
                  <div class="clr-brown fieldLegend">
                    <label class="clr-brown" [ngClass]="{'mandatory': PCAdmissionStatus.mandatory}">
                      {{ 'EducationLoanDetails.PCAdmissionStatus' | translate}}

                    </label>
                  </div>
                  <app-combo-box #PCAdmissionStatus category="2" fieldID="PCAdmissionStatus" [formCode]="formCode"
                    placeholder="Placeholder" (blur)="genericOnBlur('PCAdmissionStatus', $event)">
                  </app-combo-box>
                </div>
                <div class="col-12  col-sm-4 col-md-4 res-pr-hide" [hidden]="PCUnivercityName.isHidden()">
                  <div class="clr-brown fieldLegend">
                    <label class="clr-brown">
                      {{ 'EducationLoanDetails.PCUnivercityName' | translate}}

                    </label>
                  </div>
                  <app-text-box #PCUnivercityName fieldID="PCUnivercityName" [formCode]="formCode"
                    placeholder="Placeholder" (blur)="genericOnBlur('PCUnivercityName', $event)">
                  </app-text-box>
                </div>
                <div class="col-12  col-sm-4 col-md-4 res-pr-hide" [hidden]="PCContactPerson.isHidden()">
                  <div class="clr-brown fieldLegend">
                    <label class="clr-brown">
                      {{ 'EducationLoanDetails.PCContactPerson' | translate}}

                    </label>
                  </div>
                  <app-text-box #PCContactPerson fieldID="PCContactPerson" [formCode]="formCode"
                    placeholder="Placeholder" (blur)="genericOnBlur('PCContactPerson', $event)">
                  </app-text-box>
                </div>
                <div class="col-12  col-sm-4 col-md-4 res-pr-hide" [hidden]="PCAppliedFor.isHidden()">
                  <div class="clr-brown fieldLegend">
                    <label class="clr-brown">
                      {{ 'EducationLoanDetails.PCAppliedFor' | translate}}

                    </label>
                  </div>
                  <app-text-box #PCAppliedFor fieldID="PCAppliedFor" [formCode]="formCode" placeholder="Placeholder"
                   (blur)="genericOnBlur('PCAppliedFor', $event)"></app-text-box>
                </div>
                <div class="col-12  col-sm-4 col-md-4 res-pr-hide" [hidden]="PCName.isHidden()">
                  <div class="clr-brown fieldLegend">
                    <label class="clr-brown" [ngClass]="{'mandatory': PCName.mandatory}">
                      {{ 'EducationLoanDetails.PCName' | translate}}

                    </label>
                  </div>
                  <app-text-box #PCName fieldID="PCName" [formCode]="formCode" placeholder="Placeholder"
                   (blur)="genericOnBlur('PCName', $event)"></app-text-box>
                </div>
                <div class="col-12  col-sm-4 col-md-4 res-pr-hide" [hidden]="PCAdmitionThrough.isHidden()">
                  <div class="clr-brown fieldLegend">
                    <label class="clr-brown">
                      {{ 'EducationLoanDetails.PCAdmitionThrough' | translate}}

                    </label>
                  </div>
                  <app-combo-box #PCAdmitionThrough category="2" fieldID="PCAdmitionThrough" [formCode]="formCode"
                    placeholder="Placeholder" (blur)="genericOnBlur('PCAdmitionThrough', $event)">
                  </app-combo-box>
                </div>
                <div class="col-12  col-sm-4 col-md-4 res-pr-hide" [hidden]="PCCategory.isHidden()">
                  <div class="clr-brown fieldLegend">
                    <label class="clr-brown" [ngClass]="{'mandatory': PCCategory.mandatory}">
                      {{ 'EducationLoanDetails.PCCategory' | translate}}

                    </label>
                  </div>
                  <app-combo-box #PCCategory category="2" fieldID="PCCategory" [formCode]="formCode"
                    placeholder="Placeholder" (blur)="genericOnBlur('PCCategory', $event)">
                  </app-combo-box>
                </div>
                <div class="col-12  col-sm-4 col-md-4 res-pr-hide" [hidden]="PCCourseType.isHidden()">
                  <div class="clr-brown fieldLegend">
                    <label class="clr-brown" [ngClass]="{'mandatory': PCCourseType.mandatory}">
                      {{ 'EducationLoanDetails.PCCourseType' | translate}}

                    </label>
                  </div>
                  <app-combo-box #PCCourseType category="2" fieldID="PCCourseType" [formCode]="formCode"
                    placeholder="Placeholder" (blur)="genericOnBlur('PCCourseType', $event)">
                  </app-combo-box>
                </div>
                <div class="col-12  col-sm-4 col-md-4 res-pr-hide" [hidden]="PCStartDate.isHidden()">
                  <div class="clr-brown fieldLegend">
                    <label class="clr-brown" [ngClass]="{'mandatory': PCStartDate.mandatory}">
                      {{ 'EducationLoanDetails.PCStartDate' | translate}}

                    </label>
                  </div>
                  <app-date #PCStartDate fieldID="PCStartDate" [formCode]="formCode" placeholder="Placeholder"
                   (blur)="genericOnBlur('PCStartDate', $event)"></app-date>
                </div>
                <div class="col-12  col-sm-4 col-md-4 res-pr-hide" [hidden]="PCEndDate.isHidden()">
                  <div class="clr-brown fieldLegend">
                    <label class="clr-brown" [ngClass]="{'mandatory': PCEndDate.mandatory}">
                      {{ 'EducationLoanDetails.PCEndDate' | translate}}

                    </label>
                  </div>
                  <app-date #PCEndDate fieldID="PCEndDate" [formCode]="formCode" placeholder="Placeholder"
                   (blur)="genericOnBlur('PCEndDate', $event)"></app-date>
                </div>
                <div class="col-12  col-sm-4 col-md-4 res-pr-hide" [hidden]="PCRanking.isHidden()">
                  <div class="clr-brown fieldLegend">
                    <label class="clr-brown">
                      {{ 'EducationLoanDetails.PCRanking' | translate}}

                    </label>
                  </div>
                  <app-text-box #PCRanking fieldID="PCRanking" [formCode]="formCode" placeholder="Placeholder"
                   (blur)="genericOnBlur('PCRanking', $event)"></app-text-box>
                </div>
                <div class="col-12  col-sm-4 col-md-4 res-pr-hide" [hidden]="PCIsAttending.isHidden()"
                  [ngClass]="'checkboxLeft'">
                  <div class="clr-brown fieldLegend">
                    <label class="clr-brown">
                      {{ 'EducationLoanDetails.PCIsAttending' | translate}}
                    </label>
                  </div>
                  <app-check-box #PCIsAttending fieldID="PCIsAttending" [formCode]="formCode" placeholder="Placeholder"
                    (blur)="genericOnBlur('PCIsAttending', $event)"></app-check-box>
                </div>
                <div class="col-12  col-sm-4 col-md-4 res-pr-hide" [hidden]="PCCollegeName.isHidden()">
                  <div class="clr-brown fieldLegend">
                    <label class="clr-brown" [ngClass]="{'mandatory': PCCollegeName.mandatory}">
                      {{ 'EducationLoanDetails.PCCollegeName' | translate}}
                    </label>
                  </div>
                  <app-text-box #PCCollegeName fieldID="PCCollegeName" [formCode]="formCode" placeholder="Placeholder"
                    (blur)="genericOnBlur('PCCollegeName', $event)"></app-text-box>
                </div>
                <div class="col-12  col-sm-4 col-md-4 res-pr-hide" [hidden]="PCName2.isHidden()">
                  <div class="clr-brown fieldLegend">
                    <label class="clr-brown">
                      {{ 'EducationLoanDetails.PCName2' | translate}}
                    </label>
                  </div>
                  <app-text-box #PCName2 fieldID="PCName2" [formCode]="formCode" placeholder="Placeholder"
                    (blur)="genericOnBlur('PCName2', $event)"></app-text-box>
                </div>
                <div class="col-12  col-sm-4 col-md-4 res-pr-hide" [hidden]="PCCompeteDate.isHidden()">
                  <div class="clr-brown fieldLegend">
                    <label class="clr-brown" [ngClass]="{'mandatory': PCCompeteDate.mandatory}">
                      {{ 'EducationLoanDetails.PCCompeteDate' | translate}}
                    </label>
                  </div>
                  <app-date #PCCompeteDate fieldID="PCCompeteDate" [formCode]="formCode" placeholder="Placeholder"
                    (blur)="genericOnBlur('PCCompeteDate', $event)"></app-date>
                </div>
              </div>

            </div>
          </div>
          <div class="col-12  col-sm-12 col-md-12 group-default">
            <div #FieldId_6 id="FieldId_6">
              <div class="form-group pb10 ">
                <div class="col-12  col-sm-12 col-md-12 res-pr-hide">
                  <app-label #LoanDetails parentCompCode="EducationLoanDetails" fieldID="LoanDetails"
                    [formCode]="formCode" fontFamily="sans-serif" fontColor="#555" fontStyle="normal" fontSize="12px"
                    fontWeight="900"></app-label>
                </div>
                <div class="col-12  col-sm-4 col-md-4 res-pr-hide" [hidden]="LCurrency.isHidden()">
                  <div class="clr-brown fieldLegend">
                    <label class="clr-brown" [ngClass]="{'mandatory': LCurrency.mandatory}">
                      {{ 'EducationLoanDetails.LCurrency' | translate}}

                    </label>
                  </div>
                  <!-- <app-combo-box #LCurrency category="2" fieldID="LCurrency" [formCode]="formCode"
                    placeholder="Select" (blur)="genericOnBlur('LCurrency', $event)">
                  </app-combo-box> -->
                  <app-combo-box #LCurrency category="2" fieldID="LCurrency" [formCode]="formCode" placeholder="Select"
              domainObjectUrl="/MstCurrencyDetails/{CurrencySrc}" doServerUrl="/masters"
              domainObjectCode="MstCurrencyDetails" (blur)="genericOnBlur('LCurrency', $event)">
            </app-combo-box>
                </div>

                <div class="col-12  col-sm-4 col-md-4 res-pr-hide"></div>
                <div class="col-12  col-sm-6 col-md-6 res-pr-hide" [hidden]="CostOfCourseGrid.isHidden()">
                  <app-CostOfCourseGrid #CostOfCourseGrid fieldID="CostOfCourseGrid" [formCode]="formCode"
                    [displayTitle]="false"></app-CostOfCourseGrid>
                </div>
                <div class="col-12  col-sm-6 col-md-6 res-pr-hide" [hidden]="FundsAvailableGrid.isHidden()">
                  <app-FundsAvailableGrid #FundsAvailableGrid fieldID="FundsAvailableGrid" [formCode]="formCode"
                    [displayTitle]="false"></app-FundsAvailableGrid>
                </div>
                <div class="col-12  col-sm-4 col-md-4 res-pr-hide" [hidden]="LoanRequied.isHidden()">
                  <div class="clr-brown fieldLegend">
                    <label class="clr-brown">
                      {{ 'EducationLoanDetails.LoanRequied' | translate}}

                    </label>
                  </div>
                  <app-text-box #LoanRequied fieldID="LoanRequied" [formCode]="formCode" placeholder="Placeholder"
                   (blur)="genericOnBlur('LoanRequied', $event)"></app-text-box>
                </div>
                <div class="col-12  col-sm-4 col-md-4 res-pr-hide" [hidden]="LMoratoriumDurCoursePeriod.isHidden()">
                  <div class="clr-brown fieldLegend">
                    <label class="clr-brown">
                      {{ 'EducationLoanDetails.LMoratoriumDurCoursePeriod' | translate}}

                    </label>
                  </div>
                  <app-combo-box #LMoratoriumDurCoursePeriod category="2" fieldID="LMoratoriumDurCoursePeriod"
                    [formCode]="formCode" placeholder="Placeholder"
                    (blur)="genericOnBlur('LMoratoriumDurCoursePeriod', $event)">
                  </app-combo-box>
                </div>
                <div class="col-12  col-sm-4 col-md-4 res-pr-hide" [hidden]="LMoratoriumPostCoursePeriod.isHidden()">
                  <div class="clr-brown fieldLegend">
                    <label class="clr-brown">
                      {{ 'EducationLoanDetails.LMoratoriumPostCoursePeriod' | translate}}

                    </label>
                  </div>
                  <app-combo-box #LMoratoriumPostCoursePeriod category="2" fieldID="LMoratoriumPostCoursePeriod"
                    [formCode]="formCode" placeholder="Placeholder"
                    (blur)="genericOnBlur('LMoratoriumPostCoursePeriod', $event)">
                  </app-combo-box>
                </div>
                <div class="col-12  col-sm-4 col-md-4 res-pr-hide" [hidden]="LTotMoratorium.isHidden()">
                  <div class="clr-brown fieldLegend">
                    <label class="clr-brown">
                      {{ 'EducationLoanDetails.LTotMoratorium' | translate}}

                    </label>
                  </div>
                  <app-text-box #LTotMoratorium fieldID="LTotMoratorium" [formCode]="formCode" placeholder="Placeholder"
                   (blur)="genericOnBlur('LTotMoratorium', $event)"></app-text-box>
                </div>
                <div class="col-12  col-sm-4 col-md-4 res-pr-hide" [hidden]="LEMIPeriod.isHidden()">
                  <div class="clr-brown fieldLegend">
                    <label class="clr-brown">
                      {{ 'EducationLoanDetails.LEMIPeriod' | translate}}

                    </label>
                  </div>
                  <app-combo-box #LEMIPeriod category="2" fieldID="LEMIPeriod" [formCode]="formCode"
                    placeholder="Placeholder" (blur)="genericOnBlur('LEMIPeriod', $event)">
                  </app-combo-box>
                </div>
                <div class="col-12  col-sm-4 col-md-4 res-pr-hide" [hidden]="LTotLoanPeriod.isHidden()">
                  <div class="clr-brown fieldLegend">
                    <label class="clr-brown">
                      {{ 'EducationLoanDetails.LTotLoanPeriod' | translate}}

                    </label>
                  </div>
                  <app-text-box #LTotLoanPeriod fieldID="LTotLoanPeriod" [formCode]="formCode" placeholder="Placeholder"
                   (blur)="genericOnBlur('LTotLoanPeriod', $event)"></app-text-box>
                </div>
                <div class="col-12  col-sm-4 col-md-4 res-pr-hide" [hidden]="LIsInterestCaptalized.isHidden()"
                  [ngClass]="'checkboxLeft'">
                  <div class="clr-brown fieldLegend">
                    <label class="clr-brown">
                      {{ 'EducationLoanDetails.LIsInterestCaptalized' | translate}}
                    </label>
                  </div>
                  <app-check-box #LIsInterestCaptalized fieldID="LIsInterestCaptalized" [formCode]="formCode"
                    placeholder="Placeholder" (blur)="genericOnBlur('LIsInterestCaptalized', $event)"></app-check-box>
                </div>
                <div class="col-12  col-sm-4 col-md-4 res-pr-hide">
                  <app-education-loan-handler #Handler [MainComponent]="this"></app-education-loan-handler>
                  <!-- <app-education-loan-handler #FieldId_20></app-education-loan-handler> -->
                </div>
              </div>

            </div>
          </div>
          <app-hidden #hidExchangeRate fieldID="hidExchangeRate"></app-hidden>
        </div>
      </div>
    </div>
  </div>
</form>
