.navbar-default {
  background-color: #002538;
  border-color: #002538;
  border-bottom: 1px solid #000;
  color: #fff;
}
.nav.navbar-nav, .navbar-header {
  min-height: 55px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 55px;
  margin: 0 5px;
}

.navbar-account {
  border-right: 1px solid #7d7d7d;
  float: right;
  padding: 10px 25px 10px 10px;
  margin-right: 5em;
}

.navbar-account span {
  display: block;
}

.navbar-img-link {
  height: 24px;
}

span#loggedInUser {
  text-transform: uppercase;
  letter-spacing: .5px;
}

ul.dropdown-menu {
  background: #41464a;
}

.dropdown-menu li a {
  padding: 5px 15px;
  font-weight: 300;
  display: block;
  clear: both;
  line-height: 1.428571429;
  color: #fff;
}

.dropdown-menu li a:hover {
  background-color: #7d7d7d;
}