<!-- Topbar -->
<nav style="border: 0px;padding: .5rem 1rem .5rem 0rem;"
	class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

	<a class="sidebar-brand d-flex align-items-center justify-content-center mainMenuHeader"
		style="cursor: auto; background: #47586f;    padding: 9px 11px 8px 11px; min-width: 104px;">

		<div class="sidebar-brand-icon" (click)="openPage('LANDING')" style="cursor: pointer;padding: 3px;">
			<img src="assets/images/OTTOLogo.png" height="28" width="50" alt="OF" />
		</div>
		<div id="MenuHeaderName" style=" display: flex;align-items: center;">
			<div class="sidebar-brand-text headerClass" (click)="openPage('LANDING')">
				RLO
			</div>
			<!-- <div style="cursor: pointer;">
				<i class="fas fa-toggle-on toggleIcon" *ngIf="dataService.showMenu"
					(click)="dataService.showMenu=false"></i>
				<i class="fas fa-toggle-off toggleIcon" *ngIf="!dataService.showMenu"
					(click)="dataService.showMenu=true"></i>
			</div> -->
		</div>
	</a>
	<!-- Sidebar Toggle (Topbar) -->
	<!-- <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3"
		(click)="userLanding.isSideBarToggled ? userLanding.isSideBarToggled = false : userLanding.isSideBarToggled = true">
		<i class="fa fa-bars"></i>
	</button> -->

	<!-- Topbar Search -->
	<div class="navBarSelecter">
		{{services.http.navBarMessage}}
	</div>
	<!-- <div class="d-none d-sm-inline-block rounded form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search slide-in-right"
		*ngIf="navbarSearchOpen">
		<div class="input-group">
			<div class="input-group-prepend">
				<button class="btn bg-transparent focus-shadow-none" type="button" (click)="navbarSearchOpen=false">
					<i class="fas fa-times fa-sm"></i>
				</button>
			</div>
			<input type="text" class="form-control bg-transparent border-0 small focus-shadow-none"
				placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2">
			<div class="input-group-append">
				<button class="btn bg-transparent focus-shadow-none" type="button">
					<i class="fas fa-search fa-sm"></i>
				</button>
			</div>
		</div>
	</div> -->
	<!-- Topbar Navbar -->

	

</nav>
<!-- End of Topbar -->