<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <!-- <img class="navbar-logo" [src]="logoPath" alt="Intellect Logo" /> -->
            <!-- <span class="navbar-logo"></span> -->
         
			<img src="assets/icons/menu.svg" alt="RLO" />
        </div>
        <!-- <li>
            <a href="javascript:void(0)" [ngClass]="{'fill-data-btn' : btnck==true }" (click)="getTray()"><img
                    class="navbar-img-link" src="assets/icons/folder-open-line.svg" alt="My Tray" /></a>
            <span class="badge" *ngIf="!isMytrayAvilable">{{myTrayCountsRecords}}</span>
        </li> -->
        <!-- START - LOGO  -->
        <div class="navbar-header">
            <!-- <img class="navbar-logo" [src]="logoPath" alt="Intellect Logo" /> -->
            <!-- <span class="navbar-logo"></span> -->
            <a href="javascript:void(0)"  (click) = "navigateToHome()" >
			<img src="assets/icons/intellect.png" height="28" width="50" alt="RLO" /></a>
        </div>

        <!-- <li>
                <a href="javascript:void(0)" [ngClass]="{'fill-data-btn' : btnckd==true }">
                    <img class="navbar-img-link" src="assets/icons/logout-svgrepo-com.svg"
                        alt="Logout" /></a>
            </li> -->
        <!-- END - LOGO  -->

        <!--/.navbar-header-->
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a class="dropdown-toggle-workflow" data-toggle="dropdown">Workflow<span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" *ngFor="let menu of menuList">
                        <li *ngFor="let listElems of menu.MenuList"><a href="javascript:void(0)"
                                (click)="redirect(listElems.id)">{{listElems.text}}</a></li>
                    </ul>
                </li>            

            </ul>

            <!-- START - NAVBAR RIGHT -->

            <ul class="nav navbar-nav navbar-right">

                <!-- START - Logged in user details. -->
                <li class="vertical-center">
                    <div class="navbar-img-user">
                        <span></span>
                    </div>
                    <div class="navbar-account">
                        <!-- <span id="loggedInUser">{{fullName}}, {{USER_ROLES}}</span> -->
                        <span id="loggedInUser">{{fullName}}</span>
                        <span id="todaysdate">{{today | date:'dd-MMM-yyyy' }}</span>
                    </div>
                </li>
                <!-- END - Logged in user details. -->

                <li style="visibility: hidden">
                    <a href="javascript:void(0)" [ngClass]="{'fill-data-btn' : btnck==true }" (click)="getTray()"><img
                            class="navbar-img-link" src="assets/icons/folder-open-line.svg" alt="My Tray" /></a>
                    <span class="badge" *ngIf="!isMytrayAvilable">{{myTrayCountsRecords}}</span>
                </li>

                <li style="visibility: hidden">
                    <a href="javascript:void(0)" [ngClass]="{'fill-data-btn' : btnckd==true }"
                        (click)="getHistory()"><img class="navbar-img-link" src="assets/icons/history-line.svg"
                            alt="History" /></a>
                            <span class="badge" *ngIf="isMytrayAvilable">{{myTrayCountsRecords}}</span>
                </li>
                <li class="dropdown" style="visibility: hidden">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="">
                        <img class="navbar-img-link" src="assets/icons/settings.svg" alt="Settings" />
                        <span class="caret"></span>
                    </a>
                    <!-- <ul class="dropdown-menu">
                        <li><a href="javascript:void(0)" (click)="showTenantConfig=true;">{{getLabel('TENANT_CONFIGURATION')}}</a></li>
                        <li><a href="javascript:void(0)" (click)="showAboutProduct=true;">{{getLabel('ABOUT')}}</a></li>
                        <li><a href="#" (click)="logout()">{{getLabel('LOGOUT')}}</a></li>
                    </ul> -->
                </li>
                <li style="visibility: hidden">
                    <a href="javascript:void(0)" [ngClass]="{'fill-data-btn' : btnckd==true }" (click)="logout()" >
                        <img class="navbar-img-link" src="assets/icons/logout.svg"
                            alt="Logout" /></a>
                </li>
               
            </ul>

            <!-- END - NAVBAR RIGHT -->
        </div>
        <!--/.navbar-collapse-->

    </div>
</nav>
