<ng-container *ngIf="!showCustomerCardSection; else customerCardsDetails">
    <div class="wgt-customer-search" *ngIf="!showCustomerCardSection">
        <div class="title">Who would you like to create the application for?</div>
        <div class="field-container">
            <div class="row fluid-row d-none">
                <div class="search-type-section col-12  col-sm-3 col-md-3 res-pr-hide">
                    <div class="clr-brown fieldLegend">
                        <label class="clr-brown">
                            Search Type
                        </label>
                    </div>
                    <rlo-ui-radio #search_Type fieldID="search_Type" [emittedOptions]="searchOptionsList"
                        defaultValue="Internal" (change)="onDecisionChange($event)"></rlo-ui-radio>
                </div>
            </div>

            <div class="row fluid-row" *ngIf="searchType === '001'">
                <ng-container *ngFor="let field of fieldData; let i = index">
                    <ng-container *ngTemplateOutlet="fields;context:{field:field}"></ng-container>
                </ng-container>
                <div class="col-md-3 col-xs-12 col-sm-6 search-submit-container">
                    <!-- <button class="btn-secondary" (click)="searchCustomers()">{{getLabel("SEARCH")}}</button>
                <button class="btn-warning-outline" (click)="clearData()">{{getLabel("CLEAR")}}</button> -->
                    <button (click)="searchCustomers()" type="button" class="btn btn-primary">
                        <i class="fa fa-search"></i>{{getLabel('SEARCH')}}</button>
                    <button (click)="clearData()" type="button" class="btn-secondary">{{getLabel('CLEAR')}}</button>
                </div>
            </div>
        </div>

        <div>
            <app-SearchCustomerGrid #SearchFormGrid fieldID="SearchFormGrid" [formCode]="'SearchForm'"
                [displayToolbar]="false" [displayTitle]="false" (selectedCustomer)="selectedCustomer($event)">
            </app-SearchCustomerGrid>
        </div>
    </div>
</ng-container>

<ng-template #customerCardsDetails>
    <div>
        <div class="back-container">
            <span class="go-back icon-arrow-back" (click)="gotoPreviousView()" data-toggle="tooltip"
                data-placement="bottom" title="Back"></span>
        </div>
        <app-customer-avaliable-cards #CustomerAvaliableCards [parentData]="customerCardDetails"></app-customer-avaliable-cards>
    </div>
</ng-template>

<ng-template #fields let-field="field">
    <!-- START - Date fields -->
    <div class="col-md-3 col-xs-12 col-sm-6 input-fields" *ngIf="field.fieldType === 'D'">
        <div class="form-group">
            <label title="{{field['fieldName']}}"
                [ngClass]="{ 'mandatory': isMandatory(field['attributeName']) }">{{field['fieldName']}}

            </label>
            <igcb-datepicker dateFormat="dd-MMM-yyyy" id="{{field['attributeName']}}" name="{{field['attributeName']}}"
                attr.name="{{field['attributeName']}}" [(ngModel)]="searchParameters[field['attributeName']]"
                (blur)="validateDateField(searchParameters[field['attributeName']], field, null, null, true)">
            </igcb-datepicker>
        </div>
    </div>
    <!-- END - Date fields -->

    <!-- START - Text fields -->
    <div class="col-md-3 col-xs-12 col-sm-6 input-fields" *ngIf="field.fieldType === 'T'">
        <div class="form-group">
            <label title="{{field['fieldName']}}"
                [ngClass]="{ 'mandatory': isMandatory(field['attributeName']) }">{{field['fieldName']}}
            </label>
            <input type="text" class="form-control" autocomplete="off"
                maxlength="{{field['maxLength'] ? field['maxLength'] : null}}" id="{{field['attributeName']}}"
                name="{{field['attributeName']}}" [(ngModel)]="searchParameters[field['attributeName']]"
                attr.name="{{field['attributeName']}}"
                (blur)="validateField(searchParameters[field['attributeName']], field['attributeName'])" />
        </div>
    </div>
    <!-- END - Text fields -->
</ng-template>