<form class="MakeRelative">
<div class="clearfix content">
<div class="row" [ngStyle]="{'display' : displayTitle ? 'block': 'none'}">
<div class="col-sm-12 col-md-12">
<h4 class="FormTitle">
{{ 'SearchForm.FormTitle' | translate }}
</h4>
</div>
</div>
<div class="alert alert-danger" *ngIf="formOnLoadError">{{formOnLoadErrorMsg}}</div>
<div *ngIf="!formOnLoadError">
<div class="clearfix bi-reponsive" [ngClass]="{'display-border' : displayBorder}">
<div class="form-group pb10">
<div class="col-12  col-sm-12 col-md-12 res-pr-hide" [hidden]="SearchFormGrid.isHidden()">
<app-SearchCustomerGrid #SearchFormGrid fieldID="SearchFormGrid" [formCode]="formCode" [displayToolbar]="false" [displayTitle]="false"></app-SearchCustomerGrid>
</div>
</div>
</div>
</div>
</div>
</form>
